{% extends 'base.html' %}
{% load static %}

{% block css_app %}
    <link href="{% static 'dist/css/datatables/buttons.bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'dist/css/datatables/responsive.foundation.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'dist/css/datatables/dataTables.bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'dist/css/datatables/scroller.bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'static_turno/paciente/css/custom.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <div class="col-md-12 col-sm-12 col-xs-12 bg-white panel-body">
        <form method="post">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-primary" value="Guardar">
            <a href="{% url 'turno:pac_listar' %}" class="text-black btn btn-default">Cancelar</a>
        </form>
    </div>
{% endblock %}

{% block js_app %}
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/input-mask/jquery.inputmask.js' %}"></script>
    <script src="{% static 'plugins/input-mask/jquery.inputmask.date.extensions.js' %}"></script>
    <script src="{% static 'plugins/input-mask/jquery.inputmask.extensions.js' %}"></script>
    <script src="{% static 'bower_components/moment/min/moment.min.js' %}"></script>



    <script>
        $('#id_fecnac').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
        $('#id_obrasocial').addClass('form-control');
        let atribute = "data-inputmask=\"'alias': 'dd/mm/yyyy'\" data-mask";
        $('#id_fecnac').addClass(atribute);
        $("#id_pais").change(function () {
            var paisId = $(this).val();
            $("#id_provincia").html('<option value="">---------</option>');
            $("#id_departamento").html('<option value="">---------</option>');
            $("#id_localidad").html('<option value="">---------</option>');
            $.ajax({
                url: "{% url 'turno:correr_prov' %}",
                data: {
                    'pais': paisId
                },
                success: function (data) {
                    $("#id_provincia").html(data);
                }
            });
        });

        $("#id_provincia").change(function () {
            $("#id_departamento").html('<option value="">---------</option>');
            $("#id_localidad").html('<option value="">---------</option>');
            var provinId = $(this).val();

            $.ajax({
                url: "{% url 'turno:correr_dpto' %}",
                data: {
                    'provincia': provinId
                },
                success: function (data) {
                    $("#id_departamento").html(data);
                }
            });
        });

        $("#id_departamento").change(function () {
            $("#id_localidad").html('<option value="">---------</option>');
            var deptoId = $(this).val();

            $.ajax({
                url: "{% url 'turno:correr_loc' %}",
                data: {
                    'departamento': deptoId
                },
                success: function (data) {
                    $("#id_localidad").html(data);
                }
            });
        });
    </script>
{% endblock %}
