{% extends 'base.html' %}
{% load static %}

{% block css_app %}
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/DataTables-1.10.20/css/dataTables.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/Buttons-1.6.1/css/buttons.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/Responsive-2.2.3/css/responsive.foundation.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/Select-1.3.1/css/select.bootstrap.min.css' %}">
    <link href="{% static 'static_turno/paciente/css/custom.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <div id="popup_corregir_paciente" class="modal fade"  role="dialog" data-backdrop="static" data-keyboard="false"></div>

    <div id='panel-table' class="col-md-12 col-sm-12 col-xs-12  panel" style="opacity: 0">
        <br>
        <div class="box" style="overflow-x:auto;">
            <table style="width: 100%" id="data-table-full" class="table table-striped table-bordered table-hover table-condensed table-responsive" >
                <h3>Corrección de pacientes</h3>
                <style> h3 {text-align: center;}</style>
                <style> h3 {
                    color: #31708f;;
                }</style>
                <thead>
                <tr>
                    <th class="text center">Corregido</th>
                    <th class="text-center">Apellido</th>
                    <th class="text-center">Nombre</th>
                    <th class="text-center">Tipo ID</th>
                    <th class="text-center">Número ID</th>
                    <th class="text-center">Observaciones</th>
                    <th class="text-center">Modificar</th>
                </tr>
                </thead>
                <tbody>
                {% if object_list %}
                    {% for pac in object_list %}
                        <tr>
                            <td class="text-center">
                    <span class="input-group-btn">
                        <a id="buttonCheck_{{ pac.pk }}" type="button" class="btn-sm btn-warning" onclick="toastCorregido('{{pac.pk}}')">
                            <i id="iconoCheck_{{ pac.pk }}" class="fa fa-user-check"></i>
                        </a>
                    </span>
                            </td>
                            <td class="text-center">{{pac.apellido}}</td>
                            <td class="text-center">{{pac.nombre}}</td>
                            <td class="text-center">{{pac.identificacion_tipo}}</td>
                            <td class="text-center">{{pac.identificacion_numero}}</td>
                            <td class="text-center">{{pac.corregir_texto}}</td>
                            <td class="text-center">
                                <a class="btn-sm btn-warning" onclick="return abrir_modal_actualizarpaciente('{% url 'turno:turnopaciente_crear2' %}', '{{ pac.identificacion_numero }}', '{{ pac.identificacion_tipo }}')">
                                    <i class="fa fa-edit"></i>
                                </a>

                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
        <div id="popup_actualizarpaciente" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false"> </div>

    </div>
{% endblock %}

{% block js_app %}
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/responsive.bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.select.min.js' %}"></script>
    <script src="{% static 'static_turno/paciente/js/datatables_pac_Acorregir.init.js' %}"></script>

    <script>
        window.onload = function () { document.getElementById("panel-table").style["opacity"] = "1";}
    </script>


    <script>
        function toastCorregido(paciente_id) {
            iziToast.question({
                timeout: 20000,
                close: false,
                overlay: true,
                displayMode: 'once',
                id: 'question',
                zindex: 999,
                title: '¿Desea marcar el paciente como corregido?',
                position: 'center',
                color: 'green',
                buttons: [
                    ['<button><b>SI</b></button>', function (instance, toast) {
                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                        marcarCorregido(paciente_id);
                        let icono = document.getElementById('iconoCheck_' + paciente_id.toLocaleString());
                        icono.classList.remove("fa-user-check");
                        icono.classList.add("fa-check");
                        let button = document.getElementById('buttonCheck_'+ paciente_id.toLocaleString());
                        button.classList.remove("btn-warning");
                        button.classList.add("btn-success");
                    }, true],
                    ['<button>NO</button>', function (instance, toast) {
                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                    }],
                ],
            });
        }

    </script>

    <script>
        function marcarCorregido(paciente_id){
            $.ajax({
                type: 'get',
                url: "{% url 'turno:pac_marcar_corregido' %}",
                data: {
                    'paciente_id': paciente_id,
                },
                success: function (data) {
                    alert("Paciente corregido");
                },
                error: function (data) {
                    alert("Error en la validacion");
                }
            });
        }
    </script>
    <script>
        function cerrar_modal_actualizarpaciente()
        {
            $('#popup_actualizarpaciente').modal('hide')

            return false;
        }

        function abrir_modal_actualizarpaciente(url, paciente_nroid, paciente_tipoid)
        {
            $('#popup_actualizarpaciente').load(url, function()
            {
                $(this).modal('show');
                $('#id_identificacion_tipo').trigger('focus');
                $('#id_identificacion_tipo').val(paciente_nroid);
                $('#id_identificacion_numero').val(paciente_tipoid);
                buscarpaciente_datos(paciente_nroid, paciente_tipoid);
            });
            return false;
        }
    </script>
{% endblock %}
