{% extends 'base.html' %}
{% load static %}

{% block css_app %}
    <link href="{% static 'dist/css/datatables/buttons.bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'dist/css/datatables/responsive.foundation.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'dist/css/datatables/dataTables.bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'dist/css/datatables/scroller.bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'static_turno/paciente/css/custom.css' %}" rel="stylesheet" type="text/css" />

{% endblock %}
{% block content %}

    <div id='panel-table' class="col-md-12 col-sm-12 col-xs-12  panel" style="opacity: 0">
        <div class="pull-right col-sm-3 form-group">
            <div class="form-group " style="margin: 0px; padding: 0px">
                <label>
                    <input id="tipoid_du" type="radio" name="r2" class="minimal" checked > DU&nbsp;
                </label>
                <label>
                    <input id="tipoid_ci" type="radio" name="r2" class="minimal"> CI&nbsp;
                </label>
                <label>
                    <input id="tipoid_le" type="radio" name="r2" class="minimal"> LE&nbsp;
                </label>
                <label>
                    <input id="tipoid_lc" type="radio" name="r2" class="minimal"> LC&nbsp;
                </label>
                <label>
                    <input id="tipoid_pa" type="radio" name="r2" class="minimal"> PA
                </label>
                <label>
                    <input id="tipoid_nn" type="radio" name="r2" class="minimal"> NN
                </label>
            </div>

            <div class="input-group">
                <input type="text" class="form-control" id="paciente_busqueda"  placeholder="Buscar pacientes por DNI">
                <span class="input-group-btn">
                <button type="button" class="btn btn-info btn-flat" onclick="buscarPaciente()">
                    <i id="iconoSpin" class="fas fa-search"></i>
                </button>
            </span>

            </div>
        </div>
        <br>
        <div class="box" style="overflow-x:auto;">
            <table id="data-table-full" class="table table-striped table-bordered table-hover table-condensed table-responsive" >
                <thead>
                <tr>
                    <th class="text-center">Apellido</th>
                    <th class="text-center">Nombre</th>
                    <th class="text-center">Tipo ID</th>
                    <th class="text-center">Número ID</th>
                    <th class="text-center">Domicilio</th>
                    <th class="text-center">Paciente NN</th>
                    <th class="text-center">Sexo</th>
                    <th class="text-center">Fecha de nacimiento</th>
                    <th class="text-center">Acción</th>
                    <th class="text-center none">País</th>
                    <th class="text-center none">Provincia</th>
                    <th class="text-center none">Departamento</th>
                    <th class="text-center none">Localidad</th>
                    <th class="text-center none">Barrio</th>
                    <th class="text-center none">Tel.</th>
                    <th class="text-center none">Obra social</th>
                    <th class="text-center none">Observaciones</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

        </div>
    </div>
{% endblock %}

{% block js_app %}
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/vfs_fonts.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.keyTable.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/responsive.bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.scroller.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/buttons.colVis.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.select.min.js' %}"></script>
    <script src="{% static 'static_turno/paciente/js/datatables.init.js' %}"></script>
    <script>
        window.onload = function () { document.getElementById("panel-table").style["opacity"] = "1";}
    </script>

    <script>
        function buscarPaciente() {
            let paciente_dni = $('#paciente_busqueda').val();
            let paciente_tipo_dni = 'DU';
            let tabla_listadopacientes = $('#data-table-full').DataTable();
            tabla_listadopacientes.clear().draw();
            let tipodni_v;

            if (document.getElementById('tipoid_du').checked) {
                tipodni_v = 'DU'
            }
            if (document.getElementById('tipoid_ci').checked) {
                tipodni_v = 'CI'
            }
            if (document.getElementById('tipoid_le').checked) {
                tipodni_v = 'LE'
            }
            if (document.getElementById('tipoid_lc').checked) {
                tipodni_v = 'LC'
            }
            if (document.getElementById('tipoid_pa').checked) {
                tipodni_v = 'PA'
            }
            if (document.getElementById('tipoid_nn').checked) {
                tipodni_v = 'NN'
            }
            let el = document.getElementById('iconoSpin');
            el.classList.remove("fa-search");
            el.classList.add("fa-sync");
            el.classList.add("fa-spin");

            $.ajax({
                type: 'get',
                url: "{% url 'turno:buscar_paciente_dni' %}",
                data: {
                    'dni_buscar': paciente_dni,
                    'tipodni' : tipodni_v
                },
                success: function (data) {
                    if (data['error_404'] !== '404') {
                        let apellido, nombre, tipo_dni, dni, domicilio, pac_nn, sexo, fech_nac, pais, provincia, departamento,
                            localidad, barrio, tel, obraSocial, obs;

                        apellido = data['paciente_apellido'];
                        nombre = data['paciente_nombre'];
                        tipo_dni = data['paciente_tipoid'];
                        dni = data['paciente_id'];
                        domicilio = data['paciente_domicilio'];
                        pac_nn = data['paciente_nn'];
                        sexo = data['paciente_sexo'];
                        fech_nac = data['paciente_fecnac'];
                        pais = data['paciente_pais'];
                        provincia = data['paciente_provincia'];
                        departamento = data['paciente_departamento'];
                        localidad = data['paciente_localidad'];
                        barrio = data['paciente_barrio'];
                        tel = data['paciente_tel'];
                        obraSocial = data['paciente_obraSocial'];
                        obs = data['paciente_obs'];

                        let pacnn = pac_nn ? 'Si' : 'no';
                        let idPaciente = data['paciente_id'];
                        let urlactualizarpaciente = "../pacienteactualizar/" + idPaciente;
                        let btn_accion = '<div> <a href="' + urlactualizarpaciente + '" class="btn-sm btn-warning"><i class="fa fa-edit"></i></a> </div>';

                        tabla_listadopacientes.row.add([
                            apellido,
                            nombre,
                            tipo_dni,
                            paciente_dni,
                            domicilio,
                            pacnn,
                            sexo,
                            fech_nac,
                            btn_accion,
                            pais,
                            provincia,
                            departamento,
                            localidad,
                            barrio,
                            tel,
                            obraSocial,
                            obs
                        ]).draw(false);
                        el.classList.remove("fa-sync");
                        el.classList.remove("fa-spin");
                        el.classList.add("fa-search");
                    } else {
                        alert("No se encuentra paciente que coincida con la búsqueda");
                        el.classList.remove("fa-sync");
                        el.classList.remove("fa-spin");
                        el.classList.add("fa-search");
                    }
                },
                error: function (data) {
                    alert("Error en la validacion");
                }
            });
        };
        function paciente_autocomplete(e){
            var inputvalor =  $('#paciente_dni').val();
            if (e.keyCode === 112 && inputvalor === '') {
                $('#paciente_dni').autocomplete( "search", "*" );}

            else if (e.keyCode === 13 && inputvalor !== '') {

            }
            return false;
        }
    </script>

    <script>
        $("#paciente_busqueda").keypress(function(event) {
            if ((event.keyCode === 13)){
                buscarPaciente();
            }
        });
        $("#paciente_busqueda").keydown(function(event) {
            if ((event.keyCode === 9)){
                buscarPaciente();
            }
        });
    </script>
{% endblock %}
