<div class="modal-dialog modal-xlg">
    <div class="modal-content modal-form">
        <form id="form-crearpaciente" role="form" method="post" autocomplete="off">
            <div class="modal-header">
                <div class="pull-right">&nbsp;
                    <a class="btn btn-danger"  data-dismiss="modal" onclick="cerrar_modal_actualizarpaciente()" title="Cerrar" style="margin-left: 10px"><i class="fas fa-times"></i></a>
                </div>
                <h4 class="modal-title" id="myModalLabel"><label class="text-info">Modificar datos del Paciente</label></h4>
            </div>
            <div class="modal-body">
                {% csrf_token %}
                <div class="row">
                    <div class="col-xs-1" style="padding-right: 0px">
                        <div class="form-group">
                            <label>Tipo ID</label><a class="text-danger">*</a>
                            <div>
                                {{ form.identificacion_tipo }}
                                <input class="hidden" id="paciente_id" name="paciente_id" value="">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label>Número ID</label><a class="text-danger">*</a>
                            <div>
                                {{ form.identificacion_numero }}
                            </div>
                        </div>
                    </div>
                    <div id='div_pacienteapellido' class="col-xs-4" style="padding-right: 0px">
                        <div class="form-group">
                            <label>Apellido</label><a class="text-danger">*</a>
                            <div>
                                {{ form.apellido }}
                            </div>
                        </div>
                    </div>
                    <div id='div_pacientenombre' class="col-xs-5">
                        <div class="form-group">
                            <label>Nombre</label><a class="text-danger">*</a>
                            <div>
                                {{ form.nombre }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hidden" id="row_pacientenn">
                    <div  id='div_edadpaciente' class="col-xs-3">
                        <div class="form-group">
                            <label id="paciente-labeledad">Edad</label><a class="text-danger">*</a>
                            <div>
                                <select name="s_edadpaciente" class="form-control input-bg-color select" id="s_edadpaciente" onchange="pacientennlabel_create()">
                                    <option value="" selected="">---------</option>
                                    <option value="No Identificado">No Identificado</option>
                                    <option value="Niño">Niño</option>
                                    <option value="Adulto">Adulto</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div id='div_pacientennlabel' class="col-xs-9">
                        <div class="form-group">
                            <label>Identificación paciente NN</label><a class="text-danger">*</a>
                            <div>
                                <input class="form-control input-bg-color" id="i_nnlabel" name="i_nnlabel" readonly >
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label id="paciente-labelsexo">Sexo</label><a class="text-danger">*</a>
                            <div>
                                {{ form.sexo }}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label>Fecha Nacimiento</label><a class="text-danger">*</a>
                            <div>
                                {{ form.fecnac }}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-7">
                        <div class="form-group">
                            <label>Teléfono</label><a class="text-danger">*</a>
                            <div>
                                {{ form.telefono }}
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label>Domicilio</label><a class="text-danger">*</a>
                            <div>
                                {{ form.domicilio }}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label>Barrio</label><a class="text-danger">*</a>
                            <div>
                                <div class="input-group">
                                    <div class="input-group-addon" style="padding: 0 1px">
                                        <input id='barriocod' size="1" style="height: 2em" onfocusout="barriochangecod()">
                                    </div>
                                    {{ form.barrio }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label>País</label><a class="text-danger">*</a>
                            <div>
                                <div class="input-group">
                                    <div class="input-group-addon" style="padding: 0px 1px">
                                        <input id='paiscod' size="1" style="height: 2em" onfocusout="paischangecod()">
                                    </div>
                                    {{ form.pais }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label>Provincia</label><a class="text-danger">*</a>
                            <div>
                                <div class="input-group">
                                    <div class="input-group-addon" style="padding: 0px 1px">
                                        <input id="provcod" size="1" style="height: 2em"  onfocusout="provchangecod()">
                                    </div>
                                    {{ form.provincia }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label>Departamento</label><a class="text-danger">*</a>
                            <div>
                                <div class="input-group">
                                    <div class="input-group-addon" style="padding: 0px 1px">
                                        <input id='deptocod' size="1" style="height: 2em"  onfocusout="deptochangecod()">
                                    </div>
                                    {{ form.departamento }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label>Localidad</label><a class="text-danger">*</a>
                            <div>
                                <div class="input-group">
                                    <div class="input-group-addon" style="padding: 0px 1px">
                                        <input id="loccod" size="1" style="height: 2em"  onfocusout="locchangecod()">
                                    </div>
                                    {{ form.localidad }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>Observaciones</label>
                            {{ form.observaciones }}
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <span class="pull-left text-warning">*Los Datos de Nombre, Apellido y Sexo NO se modificaran si el Paciente ya registró al menos un Informe</span>
                <a  class="btn btn-success waves-effect waves-light"  onclick="return crear_paciente()">
                    <b>Guardar</b>
                </a>
            </div>

        </form>

    </div>
</div>
<script>
    $("#id_provincia").html('<option value="">---------</option>');
    $("#id_departamento").html('<option value="">---------</option>');
    $("#id_localidad").html('<option value="">---------</option>');
    function paischange(input_paisid, provid)
    {
        let paisId;
        if(input_paisid === undefined){
            paisId = $('#id_pais').val();

            $("#id_departamento").html('<option value="">---------</option>');
            $("#id_localidad").html('<option value="">---------</option>');
            $('#provcod').val('');
            $('#deptocod').val('');
            $('#loccod').val('');
        }
        else {
            paisId = input_paisid;
        }

        $('#paiscod').val(paisId);
        $.ajax({
            url: "{% url 'turno:correr_prov' %}",
            data: {
                'pais_codigo': paisId
            },
            //funcion async para la carga de las provincias en el select
            success: async function (data) {
                $("#id_provincia").html(data['provincias']);
                await ($('#id_provincia').val(provid));
            }
        });
    }

    function provinciachange (input_provid, deptoid)
    {
        let provinId;

        if(input_provid === undefined){
            provinId = $('#id_provincia').val();
            $("#id_localidad").html('<option value="">---------</option>');
            $('#deptocod').val('');
            $('#loccod').val('');

        }else {
            provinId = input_provid
        }
        $('#provcod').val(provinId);

        $.ajax({
            url: "{% url 'turno:correr_dpto' %}",
            data: {
                'provincia_codigo': provinId
            },
            success: async function (data) {
                $("#id_departamento").html(data['departamentos']);
                await ($('#id_departamento').val(deptoid));

            }
        });
    }

    function  deptochange (input_depto, locid)
    {
        let depto;
        if(input_depto === undefined){
            depto = $('#id_departamento').val();
            $('#loccod').val('');

        }else {
            depto = input_depto
        }
        $('#deptocod').val(depto);
        let prov_cod = $('#provcod').val();
        let pais_cod = $('#paiscod').val();
        $.ajax({
            url: "{% url 'turno:correr_loc' %}",
            data: {
                'departamento_codigo': depto,
                'provincia_codigo': prov_cod,
                'pais_codigo': pais_cod
            },
            success: async function (data) {
                $("#id_localidad").html(data['localidades']);
                await ($('#id_localidad').val(locid));

            }
        });
    }

    function  locachange ()
    {
        $('#loccod').val($('#id_localidad').val())
    }
    $("#id_pais").change(function ()
    {
        paischange();
    });

    $("#id_provincia").change(function ()
    {
        provinciachange()
    });

    $("#id_departamento").change(function ()
    {
        deptochange()
    });

    $("#id_localidad").change(function ()
    {
        locachange()
    });
    $("#id_barrio").change(function ()
    {
        $('#barriocod').val($("#id_barrio").val())
    });

    function paischangecod()
    {
        $("#id_departamento").html('<option value="">---------</option>');
        $("#id_localidad").html('<option value="">---------</option>');
        let pais_codigo = $('#paiscod').val();
        $.ajax({
            url: "{% url 'turno:correr_prov' %}",
            data: {
                'pais_codigo': pais_codigo
            },
            success: async function (data) {
                $("#id_pais").val(pais_codigo);
                $("#id_provincia").html(data['provincias']);
            }
        });
    }

    function provchangecod()
    {
        let provincia_codigo = $('#provcod').val();
        $('#id_provincia').val(provincia_codigo);
        $("#id_departamento").html('<option value="">---------</option>');
        $("#id_localidad").html('<option value="">---------</option>');
        $.ajax({
            url: "{% url 'turno:correr_dpto' %}",
            data: {
                'provincia_codigo': provincia_codigo
            },
            success: async function (data) {
                $("#id_departamento").html(data['departamentos']);
            }
        });
    }

    function deptochangecod()
    {
        let departamento_codigo = $('#deptocod').val();
        $('#id_departamento').val(departamento_codigo);
        $("#id_localidad").html('<option value="">---------</option>');
        let prov_cod = $('#provcod').val();
        let pais_cod = $('#paiscod').val();
        $.ajax({
            url: "{% url 'turno:correr_loc' %}",
            data: {
                'departamento_codigo': departamento_codigo,
                'provincia_codigo': prov_cod,
                'pais_codigo': pais_cod
            },
            success: async function (data) {
                $("#id_localidad").html(data['localidades']);
            }
        });
    }

    function locchangecod()
    {
        let cod = $('#loccod').val();
        $('#id_localidad').val(cod);
    }
    function barriochangecod()
    {
        let cod = $('#barriocod').val();
        $('#id_barrio').val(cod);
    }

    function crear_paciente()
    {
        let formcrearpaciente = document.forms['form-crearpaciente'];
        $('#id_barrio').attr('required', false);
        $('#id_pais').attr('required', false);
        $('#id_provincia').attr('required', false);
        $('#id_departamento').attr('required', false);
        $('#id_localidad').attr('required', false);

        formcrearpaciente.reportValidity();
        if(formcrearpaciente.reportValidity()){
            $.ajax({
                type: 'get',
                url: "{% url 'turno:turnopaciente_actualizar_ajax' %}",
                data: {
                    'pais': $('#id_pais').val(),
                    'provincia': $('#id_provincia').val(),
                    'departamento': $('#id_departamento').val(),
                    'localidad': $('#id_localidad').val(),
                    'barrio': $('#id_barrio').val(),
                    'domicilio': $('#id_domicilio').val(),
                    'apellido': $('#id_apellido').val(),
                    'nombre': $('#id_nombre').val(),
                    'identificacion_tipo': $('#id_identificacion_tipo').val(),
                    'identificacion_numero': $('#id_identificacion_numero').val(),
                    'sexo': $('#id_sexo').val(),
                    'fecnac': $('#id_fecnac').val(),
                    'telefono': $('#id_telefono').val(),
                    'observaciones': $('#id_observaciones').val(),
                    'i_nnlabel': $('#i_nnlabel').val(),
                    'paciente_id': $('#paciente_id').val(),

                },
                success: function (data)
                {
                    if(data['crearpaciente_exito']){
                        cerrar_modal_actualizarpaciente();
                    }
                    else{
                        iziToast.show({
                            timeout: 0,
                            close: true,
                            overlay: true,
                            displayMode: 'once',
                            id: 'error',
                            zindex: 99999,
                            title:  'Error al conectarse al servidor',
                            position: 'center',
                            color: 'yelloe', // red, green,yellow, blue
                        });
                    }
                },
                error: function (data) {
                    alert("Error al crear paciente");
                }
            })
        }
        return false;
    }

    function buscarpaciente_datos(paciente_nroid, paciente_tipoid)
    {

        if(paciente_nroid !== '' && paciente_tipoid !== '')
        {
            $.ajax({
                type: 'get',
                url: "{% url 'turno:buscar_paciente_datos' %}",
                data:
                    {
                        'dni_buscar': paciente_nroid,
                        'tipodni': paciente_tipoid
                    },
                success: function (data) {
                    if(data['error_404'] === '')
                    {
                        $('#paciente_id').val( data['paciente_id']);
                        $('#id_domicilio').val( data['paciente_domicilio']);
                        $('#id_apellido').val(data['paciente_apellido']);
                        $('#id_nombre').val( data['paciente_nombre']);
                        $('#id_identificacion_tipo').val( data['paciente_identificacion_tipo']);
                        $('#id_identificacion_numero').val( paciente_nroid );
                        $('#id_sexo').val(data['paciente_sexo']);
                        $('#id_fecnac').val(data['paciente_fecnac']);
                        $('#id_telefono').val( data['paciente_telefono']);
                        $('#id_observaciones').val(data['paciente_observaciones']);
                        $('#id_pais').val(data['paciente_pais']);
                        if (!data['paciente_nn']){
                            $('#id_identificacion_tipo').attr('readonly', true);
                            $('#id_identificacion_tipo').css({'pointer-events':'none'});
                            $('#id_identificacion_numero').attr('readonly', true);
                        }
                        paischange(data['paciente_pais'],data['paciente_provincia'] );
                        provinciachange(data['paciente_provincia' ],data['paciente_departamento'] );
                        deptochange(data['paciente_departamento'], data['paciente_localidad']);
                        $('#loccod').val(data['paciente_localidad']);
                        $('#id_localidad').val(data['paciente_localidad']);
                        $('#id_barrio').val(data['paciente_barrio']);
                        $('#barriocod').val(data['paciente_barrio'])
                    }
                    else
                    {
                        $('#paciente_id').val('');
                        $('#id_barrio').val('');
                        $('#id_domicilio').val( '');
                        $('#id_apellido').val('');
                        $('#id_nombre').val( '');
                        $('#id_sexo').val('');
                        $('#id_fecnac').val('');
                        $('#id_telefono').val('');
                        $('#id_observaciones').val('');
                        $('#id_pais').val('');
                        $('#id_provincia').val('');
                        $('#id_departamento').val('');
                        $('#id_localidad').val('');
                        $('#paiscod').val('');
                        $('#provcod').val('');
                        $('#deptocod').val('');
                        $('#loccod').val('');
                    }
                    paciente_existe = data['error_404'] !== '404';
                },
                error: function () {
                    alert("Error al buscar los datos del paciente");
                }
            });
        }

    }

    $("#id_identificacion_tipo, #id_identificacion_numero, #id_apellido, #id_nombre, #id_sexo, #id_fecnac, #id_telefono, #id_domicilio, #id_barrio, #id_pais, #id_provincia, #id_localidad, #id_departamento, #id_observaciones").change(function (){
        pacientecrear_modificacion = true
    });
</script>

<script>
    (function () {
        let today = new Date();
        let dd = today.getDate();
        let mm = today.getMonth()+1;
        let yyyy = today.getFullYear();
        if(dd<10){
            dd='0'+dd
        }
        if(mm<10){
            mm='0'+mm
        }
        today = yyyy+'-'+mm+'-'+dd;
        document.getElementById("id_fecnac").setAttribute("max", today);
    })();
</script>