<div class="modal-dialog">
    <div class="modal-content modal-form">
        <form method="post" action="{% url 'turno:pac_corregir_popup' object.pk %}">
            <div class="modal-header">
                <a class="btn btn-danger pull-right"  data-dismiss="modal" title="Cerrar" style="margin-left: 10px"><i class="fas fa-times"></i></a>
                <h3><strong>Paciente</strong> {{ object.apellido }}, {{ object.nombre }}</h3>
            </div>
            {% csrf_token %}
            <div class="table container">
                <div class="row">
                    <div class="col-xs-12">
                        {{ form.as_p }}
                        <a href="{% url 'turno:pac_corregir' %}" class="btn btn-danger pull-right">Cancelar</a>
                        <input type="submit" class="btn btn-success pull-right" style="margin-right: 10px" value="Guardar">
                    </div>
                    <div class="col-xs-6"></div>
                </div>
            </div>
        </form>

        <script>
            $('#id_fecnac').inputmask('dd/mm/yyyy', {
                'placeholder': 'dd/mm/yyyy'
            })
            $('#id_obrasocial').addClass('form-control');
            let atribute = "data-inputmask=\"'alias': 'dd/mm/yyyy'\" data-mask";
            $('#id_fecnac').addClass(atribute);
            $("#id_pais").change(function () {
                var paisId = $(this).val();
                $("#id_provincia").html('<option value="">---------</option>');
                $("#id_departamento").html('<option value="">---------</option>');
                $("#id_localidad").html('<option value="">---------</option>');

                $.ajax({
                    url: "{% url 'turno:correr_prov' %}",
                    data: {
                        'pais': paisId
                    },
                    success: function (data) {
                        $("#id_provincia").html(data);
                    }
                });
            });

            $("#id_provincia").change(function () {
                $("#id_departamento").html('<option value="">---------</option>');
                $("#id_localidad").html('<option value="">---------</option>');
                var provinId = $(this).val();

                $.ajax({
                    url: "{% url 'turno:correr_dpto' %}",
                    data: {
                        'provincia': provinId
                    },
                    success: function (data) {
                        $("#id_departamento").html(data);
                    }
                });
            });

            $("#id_departamento").change(function () {
                $("#id_localidad").html('<option value="">---------</option>');
                var deptoId = $(this).val();
                $.ajax({
                    url: "{% url 'turno:correr_loc' %}",
                    data: {
                        'departamento': deptoId
                    },
                    success: function (data) {
                        $("#id_localidad").html(data);
                    }
                });
            });
        </script>
    </div>
</div>
