{% extends 'base.html' %}+
{% load static %}
{% block css_app %}
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/DataTables-1.10.20/css/dataTables.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/Buttons-1.6.1/css/buttons.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/Responsive-2.2.3/css/responsive.foundation.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/Select-1.3.1/css/select.bootstrap.min.css' %}">
    <link href="{% static 'static_turno/paciente/css/custom.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <div class="col-md-6 col-sm-6 col-xs-6 bg-white panel-body">
        <form method="post" action="{% url 'turno:pac_actualizar' object.pk %}">
            {% csrf_token %}
            <div class="table container">
                <div class="row">
                    <div class="col-xs-12">
                        {{ form.as_p }}
                        <a href="{% url 'turno:turno_listar' %}" class="btn btn-danger pull-right">Cancelar</a>
                        <input type="submit" class="btn btn-success pull-right" style="margin-right: 10px" value="Guardar">
                    </div>
                    <div class="col-xs-6"></div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}

{% block js_app %}
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/input-mask/jquery.inputmask.js' %}"></script>
    <script src="{% static 'plugins/input-mask/jquery.inputmask.date.extensions.js' %}"></script>
    <script src="{% static 'plugins/input-mask/jquery.inputmask.extensions.js' %}"></script>
    <script src="{% static 'bower_components/moment/min/moment.min.js' %}"></script>

    <script>
        $('#id_fecnac').inputmask('dd/mm/yyyy', {
            'placeholder': 'dd/mm/yyyy'
        })

        $('#id_obrasocial').addClass('form-control');
        let atribute = "data-inputmask=\"'alias': 'dd/mm/yyyy'\" data-mask";
        $('#id_fecnac').addClass(atribute);
        $("#id_pais").change(function () {
            var paisId = $(this).val();
            $("#id_provincia").html('<option value="">---------</option>');
            $("#id_departamento").html('<option value="">---------</option>');
            $("#id_localidad").html('<option value="">---------</option>');

            $.ajax({
                url: "{% url 'turno:correr_prov' %}",
                data: {
                    'pais': paisId
                },
                success: function (data) {
                    $("#id_provincia").html(data);
                }
            });

        });

        $("#id_provincia").change(function () {
            $("#id_departamento").html('<option value="">---------</option>');
            $("#id_localidad").html('<option value="">---------</option>');
            var provinId = $(this).val();

            $.ajax({
                url: "{% url 'turno:correr_dpto' %}",
                data: {
                    'provincia': provinId
                },
                success: function (data) {
                    $("#id_departamento").html(data);
                }
            });

        });

        $("#id_departamento").change(function () {
            $("#id_localidad").html('<option value="">---------</option>');
            var deptoId = $(this).val();

            $.ajax({
                url: "{% url 'turno:correr_loc' %}",
                data: {
                    'departamento': deptoId
                },
                success: function (data) {
                    $("#id_localidad").html(data);
                }
            });
        });
    </script>
{% endblock %}