{% extends 'base.html' %}+
{% load static %}
{% block css_app %}
    <link href="{% static 'static_turno/paciente/css/custom.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <h4 >¿Desea Eliminar al paciente: <b>{{ object.apellido }}, {{object.nombre}}</b>?</h4>
    <div class="col-md-12 col-sm-12 col-xs-12 bg-white panel-body">
        <form method="post" >
            {% csrf_token %}
            <div class="form-group">
                <label>Identificación</label>
                <div class="input-bg-color" style="padding: 10px 10px;">
                    {{ object.identificacion_tipo }}: {{object.identificacion_numero}}
                </div>
            </div>
            <input type="submit" class="btn btn-primary" value="Eliminar">
            <a href="{% url 'turno:pac_listar' %}" class="text-black btn btn-default">Cancelar</a>
        </form>
    </div>

{% endblock %}
