{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="col-sm-4">
        <div class="box ">
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped" >
                    <caption>Cantidad de régiones informadas por medico: {{ mes_estadistica }}</caption>
                        <thead>
                        <tr>
                            <th>Médico</th>
                            <th>Régiones Asignadas</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for medico in medicos %}
                            <tr>
                                <td>{{ medico.user.last_name }}, {{ medico.user.first_name }}</td>
                                <td>{{ medico.cantidad_regiones }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
