{% extends "base.html" %}
{% load static %}

{% block css_app %}
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/DataTables-1.10.20/css/dataTables.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/Responsive-2.2.3/css/responsive.foundation.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/Select-1.3.1/css/select.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/Buttons-1.6.1/css/buttons.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'bower_components/daterangepicker/daterangepicker.css' %}">
{% endblock %}

{% block content %}
    <div class="box" style="padding: 10px; margin-bottom: 25px">
        <div>
            <h4 class="text-navy">Reporte por servicio</h4>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="servicio-tomografoboedo">
                                Tomografo Boedo
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="servicio-resonadorboedo">
                                Resonador Boedo
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="servicio-materno">
                                Tomografo Hosp. Materno Inf.
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="servicio-tartagal">
                                Tomografo Tartagal
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="servicio-oran">
                                Tomografo Óran
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="servicio-embarcacion">
                                Tomografo Embarcación
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="servicio-rosariof">
                                Tomografo Rosario Front.
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="servicio-cafayate">
                                Tomografo Cafayate
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="servicio-rosariofm">
                                Mamografo Rosario Front.
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="servicio-embarcacionm">
                                Mamografo Embarcación
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="servicio-tomografoexterno">
                                Tomografo Externo
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="servicio-resonadorexteno">
                                Resonador Externo
                            </label>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Seleccionar fechas:</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-right" id="date-range"/>
                        </div>
                    </div>
                </div>
            </div>
            <a class="btn btn-success" onclick="generar_estadisticas()"><span class="glyphicon glyphicon-stats" id="icon-generar-reporte"> </span> <strong>Generar Reporte</strong></a>
        </div>
    </div>
    <div class="box">
        <div class="box-body">
            <div class="table-responsive">
                <table id="tabla-reporte" class="table table-bordered table-striped text-center table-condensed table-small-font" style="width: 100%">
                    <caption> Reporte Generado:
                        {% if request.GET.fechaini and request.GET.fechafin %}
                            {{ request.GET.fechaini }} - {{ request.GET.fechafin }}
                            {% if 'resonadorboedo' in request.GET %} Resonador Boedo, {% endif %}{% if 'tomografoboedo' in request.GET %} Tomografo Boedo, {% endif %}{% if 'materno' in request.GET %} Tomografo Hosp. Materno Inf., {% endif %}{% if 'oran' in request.GET %} Tomografo Óran, {% endif %}{% if 'tartagal' in request.GET %} Tomografo Tartagal, {% endif %}{% if 'embarcacion' in request.GET %} Tomografo Embarcación, {% endif %}{% if 'cafayate' in request.GET %} Tomografo Cafayate {% endif %}{% if 'rosariof' in request.GET %} Tomografo Rosario de la Front., {% endif %}
                        {% else %}
                            ---
                        {% endif %}
                    </caption>
                    <thead>
                    <tr>
                        <th>Nº Orden</th>
                        <th>Nº Servicio</th>
                        <th>Servicio</th>
                        <th>Nº Informe</th>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Documento</th>
                        <th>Paciente</th>
                        <th>Protocolo</th>
                        <th>Nº protocolo</th>
                        <th>Prestación</th>
                        <th>Cantidad</th>
                        <th>Obra Social</th>
                        <th>Est. Derivador</th>
                        <th>Dr. Solicitante</th>
                        <th>Dr. Informante</th>
                        <th>Técnico</th>
                        <th>Técnico Matrícula</th>
                        <th>Fecha Ingreso</th>
                        <th>Hora Ingreso</th>
                        <th>Tipo Turno</th>
                        <th>Tipo Guardia</th>
                        <th>Estado</th>
                        <th>Contraste</th>
                        <th>Contraste Oral</th>
                        <th>Anestesia</th>
                        <th>Anestesia Còdigo</th>
                        <th>Tipeo</th>
                        <th>Facturación Fecha</th>
                        <th>Email Paciente</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div id="popup" class="modal fade" role="dialog"></div>
{% endblock %}

{% block js_app %}
    <script src="{% static 'plugins/datatables-actualizado/DataTables-1.10.20/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/DataTables-1.10.20/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/Responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/Responsive-2.2.3/js/responsive.bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/Select-1.3.1/js/dataTables.select.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/Buttons-1.6.1/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/Buttons-1.6.1/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/pdfmake-0.1.36/pdfmake.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/pdfmake-0.1.36/vfs_fonts.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/JSZip-2.5.0/jszip.min.js' %}"></script>
    <script src="{% static 'bower_components/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'plugins/input-mask/jquery.inputmask.js' %}"></script>
    <script src="{% static 'plugins/input-mask/jquery.inputmask.date.extensions.js' %}"></script>
    <script src="{% static 'plugins/input-mask/jquery.inputmask.extensions.js' %}"></script>

    <script>
        $('#date-range').inputmask("d/m/y - d/m/y", { 'placeholder': 'dd/mm/yyyy - dd/mm/yyyy' });
        var datepick_range = $('#date-range').daterangepicker({
            opens: 'left',
            linkedCalendars: false,
            showDropdowns: true,
            autoApply: true,
            locale: {
                "format": "DD/MM/YYYY",
                "separator": " - ",
                "applyLabel": "Confirmar Fechas",
                "cancelLabel": "Cancelar",
                "fromLabel": "Desde",
                "toLabel": "a",
                "customRangeLabel": "Custom",

                "daysOfWeek": [
                    "Do",
                    "Lu",
                    "Ma",
                    "Mi",
                    "Ju",
                    "Vi",
                    "Sa"
                ],
                "monthNames": [
                    "Enero",
                    "Febrero",
                    "Marzo",
                    "Abril",
                    "Mayo",
                    "Junio",
                    "Julio",
                    "Agosto",
                    "Septiembre",
                    "Octubre",
                    "Noviembre",
                    "Diciembre"
                ],
                "firstDay": 1
            }})

        $(function () {
            $('#tabla-reporte').DataTable({
                columns: [
                    { data: 'turnoid' },
                    { data: 'serviciocod' },
                    { data: 'servicio' },
                    { data: 'nroinforme' },
                    { data: 'fecha' },
                    { data: 'hora' },
                    { data: 'dni' },
                    { data: 'paciente' },
                    { data: 'protocolo' },
                    { data: 'nroprotocolo' },
                    { data: 'prestacion' },
                    { data: 'cantidad' },
                    { data: 'obrasocial' },
                    { data: 'estder' },
                    { data: 'medicoder' },
                    { data: 'informante' },
                    { data: 'tecnico' },
                    { data: 'tecnico_matricula' },
                    { data: 'fecha2' },
                    { data: 'hora2' },
                    { data: 'tipoturno' },
                    { data: 'tipo_guardia' },
                    { data: 'estado' },
                    { data: 'contraste' },
                    { data: 'contraste_oral' },
                    { data: 'anestesia' },
                    { data: 'anestesia_codigo' },
                    { data: 'tipeo' },
                    { data: 'facturacion_fecha' },
                    { data: 'email' },

                ],
                responsive: true,
                columnDefs: [
                    { responsivePriority: 1, targets: [0,2,3,4,5,6,7,8,10,15,22,26,27] },
                ],
                data: JSON.parse('{{ turnos | escapejs }}'),
                deferRender: true,
                pageLength: 25,
                dom:    "<'row'<'col-sm-4'B><'col-sm-5'<'toolbar'>><'col-sm-3'f>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                responsive: {
                    details: {
                        type: 'inline',
                        target: 1
                    }
                },
                language: {
                    "sProcessing":     "Procesando...",
                    "sLengthMenu":     "Ver: _MENU_",
                    "sZeroRecords":    "No se encontraron resultados",
                    "sEmptyTable":     "---",
                    "sInfoPostFix":    "",
                    "sSearch":         "",
                    'searchPlaceholder': "Buscar...",
                    "sInfo": "Total de resultados: _TOTAL_",
                    "sInfoFiltered": " - Filtrado de _MAX_ resultados",
                    "infoEmpty":      "",
                    paginate: {
                        previous: '‹',
                        next:     '›'
                    },
                    select: {
                        rows: ""
                    }
                },
                select: true,
                buttons: [
                    {
                        extend: 'excelHtml5',
                        title: 'Reporte General Tomografia Computada SE',
                        text: 'Descargar Excel',
                    },

                    {
                        extend: 'pdfHtml5',
                        title: 'Reporte Resumen Tomografia Computada SE',
                        text: 'Descargar PDF (Resumen)',
                        exportOptions: {
                            columns: [ 0, 20, 2, 3, 4, 6, 7]
                        }
                    },
                ]
            })
        })

        function generar_estadisticas() {
            $('#icon-generar-reporte').removeClass()
            $('#icon-generar-reporte').addClass('fas fa-circle-notch fa-spin ')
            let servicios_checked = '?'
            servicios_checked += $('#servicio-tomografoboedo').is(":checked") ? 'tomografoboedo&' : ''
            servicios_checked += $('#servicio-resonadorboedo').is(":checked") ? 'resonadorboedo&' : ''
            servicios_checked += $('#servicio-oran').is(":checked") ? 'oran&' : ''
            servicios_checked += $('#servicio-embarcacion').is(":checked") ? 'embarcacion&' : ''
            servicios_checked += $('#servicio-tartagal').is(":checked") ? 'tartagal&' : ''
            servicios_checked += $('#servicio-materno').is(":checked") ? 'materno&' : ''
            servicios_checked += $('#servicio-rosariof').is(":checked") ? 'rosariof&' : ''
            servicios_checked += $('#servicio-cafayate').is(":checked") ? 'cafayate&' : ''
            servicios_checked += $('#servicio-rosariofm').is(":checked") ? 'rosariofm&' : ''
            servicios_checked += $('#servicio-embarcacionm').is(":checked") ? 'embarcacionm&' : ''
            servicios_checked += $('#servicio-tomografoexterno').is(":checked") ? 'tomografoexterno&' : ''
            servicios_checked += $('#servicio-resonadorexterno').is(":checked") ? 'resonadorexterno&' : ''
            const fechasrango = $('#date-range').val()
            const fechaini = fechasrango.split(" - ")[0]
            const fechafin = fechasrango.split(" - ")[1]
            let stardate = datepick_range.data('daterangepicker').startDate;
            stardate = stardate.format('DD-MM-YYYY')
            let enddate = datepick_range.data('daterangepicker').endDate;
            enddate = enddate.format('DD-MM-YYYY')
            const url = '{% url 'informe:estadisticas_excel' %}' + servicios_checked + 'fechaini=' +stardate + '&fechafin=' + enddate
            window.location.href = url ;
        }
    </script>
{% endblock %}
