{% extends "base.html" %}
{% load static %}
{% block css_app %}
<link rel="stylesheet" href="{% static 'bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables/datatables-select.css' %}">
{% endblock %}
{% block content %}
<div class="box">
    <h3 class="text-center text-blue">
        <strong style="padding-left: 15px">LISTADO GRAL. INSUMOS</strong>
    </h3>
  <div class="box-header">
        <a onclick="return abrir_modal('{% url 'tecnico:insumo_crear' %}')" class="btn btn-success"><i class="fa fa-plus" style="color: white"></i> Agregar Insumo</a>
        <a  class="btn btn-primary" onclick="reporte()"><i class="fa fa-print" style="color: white" ></i> Imprimir Listado Gral.</a>

        <a href="{% url 'tecnico:insumo_lotes_imprimir' %}" class="btn btn-primary" target="_blank"><i class="fa fa-print" style="color: white" ></i> Imprimir Existencias por Lote</a>
 
  </div>
  <div class="box-header">
     <div class="col-xs-2" >
        <label>Fecha Fin Reporte</label>
        <input type="date"
               class="form-control input-sm insumo-codigo"
               value=""
               id="fecha-reporte">
    </div>  
</div>
  <div class="box-body">
    <div class="table-responsive">
      <table id="tabla-insumos" class="table table-bordered text-center table-condensed table-small-font">
      <thead class="bg-light-blue-active">
      <tr >
        <th >ID</th>
        <th >Código</th>
        <th >Insumo</th>
        <th >Grupo</th>
        <th >Abreviatura</th>
        <th >Unidad</th>
        <th >Unidad Tipo</th>
        <th >Marca</th>
        <th >Habilitado</th>
        <th >Stock Almacén</th>
        <th >Modificar</th>
      </tr>
      </thead>
      <tbody>
          {% for insumo in insumos %}
        <tr {% if not insumo.habilitado %}class="bg-danger"{% endif %}>
            <td>{{insumo.id}}</td>
            <td>{{insumo.codigo}}</td>
            <td>{{insumo.nombre}}</td>
            <td>
                {% if insumo.grupo == '1' %}
                    0001 - Placas Radiologicas
                {% elif insumo.grupo == '2' %}
                    0002 - Reveladores
                {% elif insumo.grupo == '3' %}
                    0003 - Medios de Contraste
                {% elif insumo.grupo == '4' %}
                    0004 - Medicamentos
                {% elif insumo.grupo == '5' %}
                    0005 - Anestesicos
                {% elif insumo.grupo == '6' %}
                    0006 - Accesorios y Descartables
                {% else %}
                    0000 - Sin Grupo
                {% endif %}
            </td>
            <td>{{insumo.abreviatura|default_if_none:"---"}}</td>
            <td>{{insumo.unidad|default_if_none:"Sin def."}}</td>
            <td>{{insumo.unidad_tipo|default_if_none:"Sin def."}}</td>
            <td>{{insumo.marca|default_if_none:"Sin marca"|default:"Sin marca"}}</td>
            <td>{% if insumo.habilitado %} Si {% else %} No {% endif %}</td>
            <td>{{insumo.stock_almacen|default_if_none:"---"}}
            <td><a class="btn-sm btn-warning text-white"
                   onclick="abrir_modal('{% url 'tecnico:insumo_mod' insumo.id %}')"><i class="fa fa-edit "></i></a></td>
        </tr>
          {% endfor %}
      </tbody>

    </table>
    </div>
  </div>
</div>
<div id="popup" class="modal fade" role="dialog"></div>
{% endblock %}

{% block js_app %}
<script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/datatables/dataTables.select.min.js' %}"></script>

<script>
  $(function () {
    $('#tabla-insumos').DataTable({
        ordering: false,
        select: 'single',
        dom:    "<'row pull-left'<'col-sm-4'f><'col-sm-5'<'toolbar'>><'col-sm-3'>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-5'i><'col-sm-7'p>>",
        pageLength: 25,
        language: {
            "sProcessing":     "Procesando...",
            "sLengthMenu":     "Ver: _MENU_",
            "sZeroRecords":    "No se encontraron resultados",
            "sEmptyTable":     "Sin registros pendientes",
            "sInfoPostFix":    "",
            "sSearch":         "",
            'searchPlaceholder': "Buscar...",
            "sInfo": "Total de resultados: _TOTAL_",
            "sInfoFiltered": " - Filtrado de _MAX_ resultados",
            "infoEmpty":      "",
            paginate: {
                previous: '‹',
                next:     '›'
            },
            select: {
                rows: ""
            }
        },
    })

  })
</script>

<script type="text/javascript">
function abrir_modal(url)
    {
        $('#popup').load(url, function()
        {
                $(this).modal('show');
        });
        return false;
    }

function cerrar_modal()
    {
        $('#popup').modal('hide');
        return false;
    }


    function reporte() {
        let fechafin = $('#fecha-reporte').val();
        if (fechafin == '') {
            alert('Debe ingresar una fecha de fin para el reporte');
            return false;
        }
        const url = "{% url 'tecnico:insumo_listadogral_imprimir' %}" + "?fechafin=" + fechafin;
        window.open(url, '_blank');
        };
</script>
{% endblock %}
