<div class="modal-dialog modal-lg">
    <div class="modal-content">
        {% if object %}
            <form role="form" action="{% url 'tecnico:insumo_mod' object.pk %}" method="post">
            <div class="modal-header">
                <div class="pull-right">
                    <a class="btn btn-danger"  data-dismiss="modal" title="Cerrar" style="margin-left: 10px"><i class="fas fa-times"></i></a>
                </div>
                <h4>Editar Insumo</h4>
            </div>
        {% else %}
            <form role="form" action="{% url 'tecnico:insumo_crear' %}" method="post">
            <div class="modal-header">
                <div class="pull-right">
                    <a class="btn btn-danger"  data-dismiss="modal" title="Cerrar" style="margin-left: 10px"><i class="fas fa-times"></i></a>
                </div>
                <h4>Nuevo Insumo</h4>
            </div>
        {% endif %}

        <div class="modal-body">
            {% csrf_token %}
            <table style="border-spacing: 10px;border-collapse: separate;">
                {{ form.as_table }}
            </table>
        </div>
        <div class="modal-footer">
            <button  type="submit" class="btn btn-success waves-effect waves-light" >
                <b>Guardar</b>
            </button>
        </div>
        </form>

        <script>
            document.getElementById('id_descripcion').style.resize = 'none';
        </script>

    </div>
</div>
