<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<h1>Borrar Insumo</h1>
<p>¿Esta Seguro de borrar el insumo ID? {{ insumo }}?</p>
<form action="" method="POST">
    {% csrf_token %}
    <input type="submit" action="" value="Si, Borrar Insumo" />
</form>
</body>
</html>