{% extends "base.html" %}
{% load static %}

{% block css_app %}
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/DataTables-1.10.20/css/dataTables.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/Buttons-1.6.1/css/buttons.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/Responsive-2.2.3/css/responsive.foundation.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/Select-1.3.1/css/select.bootstrap.min.css' %}">
{% endblock %}

{% block content %}
    <div class="box">
        <h3 class="text-center text-blue">
            <strong style="padding-left: 15px">INSUMO AJUSTE - SERVICIOS</strong>
        </h3>
        <div class="box-header">
            <div class="row">
                {% if request.session.location == 'Default' %}
                    <div class="col-sm-2">
                        <select class="form-control" id="select-servicios">
                        {% if 'Stock' in request.user.userprofile.perfil or 'Administrador' in request.user.userprofile.perfil or request.user.userprofile.user_jefe_tecnico%}
                            <option value="1" {% if not tecnico_selected %}selected="selected" {% endif %}>Seleccione un servicio</option>
                            {% for servicio in servicios %}
                                <option value="{{ servicio.id }}" {% if servicio_selected.id == servicio.id %} selected {% endif %}> - {{ servicio.nombre|upper }}</option>
                            {% endfor %}
                        {% else %}
                                <option value="{{ request.GET.servicioid }}" selected="selected" >---</option>
                        {% endif %}
                        </select>
                    </div>
                    {% else %}
                    <div class="col-sm-2">
                    {% if 'Stock' in request.user.userprofile.perfil or 'Administrador' in request.user.userprofile.perfil or request.user.userprofile.user_jefe_tecnico%}
                            <select class="form-control" id="select-servicios">

                            <option value="0" {% if not tecnico_selected %}selected="selected" {% endif %}>Seleccione un servicio</option>
                            {% for servicio in servicios %}
                                <option value="{{ servicio.id }}" {% if servicio_selected.id == servicio.id %} selected {% endif %}> - {{ servicio.nombre|upper }}</option>
                            {% endfor %}
                        {% else %}
                            <select class="form-control" id="select-servicios" style="display: none">

                            <option value="{{ request.GET.servicioid }}" selected="selected" >---</option>
                        {% endif %}
                        </select>
                    </div>
                {% endif %}
                <div class="col-sm-5">

                    <a onclick="imprimir_detalle()" class="btn btn-primary"><i class="fa fa-print" style="color: white"></i> Impr. Detalle Existencias</a>

                {% if 'Stock' in request.user.userprofile.perfil or request.user.userprofile.user_jefe_stock %}
                    <a onclick="abrirmodal_ajustarinsumo()" class="btn btn-warning"><i class="fa fa-eraser" style="color: white"></i> Ajustar Stock Servicio</a>
                {% endif %}
                </div>

            </div>
        </div>

        <div class="box-body">
            <div class="table-responsive">
                <table id="tabla-insumoservicio" class="table table-bordered table-striped text-center table-condensed table-small-font">
                    <thead class="bg-light-blue-active">
                    <tr>
                        <th>Servicio</th>
                        <th>Insumo código</th>
                        <th>Insumo</th>
                        <th>Unidad Tipo</th>
                        <th>Stock Actual</th>
                        <th>Detalle Mov.</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in servicio_insumo %}
                        <tr>
                            <td>{{item.servicio.nombre}}</td>
                            <td>{{item.insumo.codigo}}</td>
                            <td>{{item.insumo.nombre}}</td>
                            <td>{{item.insumo.unidad_tipo}}</td>
                            <td class="{% if item.stock < 0 %}text-danger{% endif %}">{{item.stock|floatformat:'2'}}</td>
                            <td>
                                <a class="btn btn-sm btn-primary"
                                   href="{% url 'tecnico:servicio_ins_detalle'%}?servicioid={{ item.servicio.id }}&insumoid={{ item.insumo.id }}"><i class="fas fa-th-list"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="popup_entregarinsumo" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content modal-form">
                <div class="modal-header">
                    <div class="pull-right">&nbsp;
                        <a class="btn btn-danger"  data-dismiss="modal" title="Cerrar" style="margin-left: 10px"><i class="fas fa-times"></i></a>
                    </div>
                    <h4 class="modal-title" ><label class="text-info">Ajustar Stock Servicio
                    </label></h4>
                </div>

                <div class="modal-body">
                    <form id="formInsumos">
                        <div class="row">
                            <div class="col-xs-2" style="padding-right: 10px">
                                <label>Código Serv.</label>
                                <input class="form-control input-sm" value="" id="servicio-codigo"  type="text" required/>
                                <input class="hidden" id="servicio-id" name="servicio-id">
                            </div>
                            <div class="col-xs-4" >
                                <label>Servicio </label>
                                <select class="form-control input-sm" id="select-servicios-entregar" >
                                    <option value="1" selected="selected" disabled>---</option>
                                    {% for servicio in servicios %}
                                        <option value="{{ servicio.codigo_sistema_ant }}" data-id="{{ servicio.id }}"> - {{ servicio.nombre|upper }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <label>Observaciones</label>
                                <input class="form-control input-sm" type="text" id="entrega-obs" name="entrega-obs">
                            </div>
                        </div>
                        <hr>
                        <div id="listado-insumos">
                        </div>
                        <input id="cantidad-total-insumos" name="cantidad-total-insumos" value="0" class="hidden">
                    </form>
                    <a onclick="nuevoinsumo()">+ Agregar insumo</a>
                </div>
                <div class="modal-footer">
                    <p class="pull-left text-warning">*El tipo de unidad para el ajuste es en unidades de consumo del Técnico/Servicio.</p>

                    <a  class="btn btn-success waves-effect waves-light"  onclick="ajustar_insumo()">
                        <b>Registrar Ajuste Stock Servicio</b>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_app %}
    <script src="{% static 'plugins/datatables-actualizado/DataTables-1.10.20/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/DataTables-1.10.20/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/Responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/Responsive-2.2.3/js/responsive.bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/Select-1.3.1/js/dataTables.select.min.js' %}"></script>
    <script>
        $(function () {
            $('#tabla-insumoservicio').DataTable({
                columnDefs: [
                    { className: "text-center", targets: "_all" },
                ],
                dom:    "<'row'<'col-sm-4'B><'col-sm-5'<'toolbar'>><'col-sm-3'>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-5'><'col-sm-7'p>>",
                pageLength: 20,
                language: {
                    "sProcessing":     "Procesando...",
                    "sLengthMenu":     "Ver: _MENU_",
                    "sZeroRecords":    "No se encontraron resultados",
                    "sEmptyTable":     "---",
                    "sInfoPostFix":    "",
                    "sSearch":         "",
                    'searchPlaceholder': "Buscar...",
                    "sInfo": "Total de resultados: _TOTAL_",
                    "sInfoFiltered": " - Filtrado de _MAX_ resultados",
                    "infoEmpty":      "",
                    paginate: {
                        previous: '‹',
                        next:     '›'
                    },
                    select: {
                        rows: ""
                    }
                },
            })
        })
    </script>

    <script>
        $('#select-servicios').on('change', function() {
            window.location.href = "{% url 'tecnico:insumo_servicio_ajuste' %}?ajuste=1&servicioid=" + this.value ;
        });
    </script>

    <script>
        let cantidadinsumos;
        function imprimir_detalle() {
            const servicio_id = $('#select-servicios').val();
            if (servicio_id === '0')
            {
                alert('Seleccione un servicio para imprimir el detalle.')
            }
            else
            {
                window.open("{% url 'tecnico:detalle_insumos_serv_imprimir' %}?servicioid=" + servicio_id, '_blank', "resizable=yes,top=100,left=100,width=850,height=800");
            }
        }

        function abrirmodal_ajustarinsumo() {
            $('#popup_entregarinsumo').modal('show');
            cantidadinsumos = 1;
            const insumoFirstRow =
                `<div class="row" id="insumo-row-1">
                     <div class="col-xs-2" style="padding-right: 0px">
                         <label>Código Insumo</label>
                         <input onchange="cambiarinsumo_input(this.value,1)" class="form-control input-sm"  value="" id="insumo-1" name="insumo-1" required/>
                     </div>
                     <div class="col-xs-3" style="padding-right: 0px; padding-left: 0px">
                         <label>Insumo</label>
                         <select class="form-control input-sm" id="select-insumos-1" onchange="cambiarinsumo_select(this.value, 1)">
                             <option value="1" selected="selected" disabled>---</option>
                             {% for ins in insumos %}
                                     <option value="{{ ins.codigo }}" >{{ ins.nombre }} - {{ ins.unidad_tipo }}</option>
                                 {% endfor %}
                         </select>
                     </div>
                     <div class="col-xs-2" style="padding-right: 0px; padding-left: 0px">
                         <label>Stock Actual</label>
                         <input class="form-control input-sm" type="number" step="0.01" min="0" value="" id="cantidad-1" name="cantidad-1" required/>
                     </div>
                      <div class="col-xs-1"  style="padding-left: 0px">
                        <label class="text-white">------</label>
                        <a class="btn btn-sm text-red" onclick="delete_row(1)"><i class="fas fa-times"></i> </a>
                     </div>
                </div>`

            $('#listado-insumos').html(insumoFirstRow)

            $("#insumo-1").autocomplete({
                source: "{% url 'tecnico:insumo_listar' %}",
                maxShowItems: 15,
                autoFocus: true,
                delay: 0,
            });
        }

        function ajustar_insumo() {
            const form_remito = document.forms['formInsumos'];
            if (!form_remito.reportValidity())
            {
                form_remito.reportValidity();
            }
            else
            {
                $('#cantidad-total-insumos').val(cantidadinsumos)
                $.ajax({
                    type: 'get',
                    url:  '{% url 'tecnico:servicio_ins_ajustar' %}',
                    data: $('#formInsumos').serialize(),
                    success: function (data) {
                        if(data['success']){
                            $('#popup_entregarinsumo').modal('hide')
                            alert('Se registró el Ajuste con Exito')
                            window.location.reload()
                        }else{
                            alert('Error: No se pudo completar la operación')
                        }
                    },
                    error: function(data) {
                    }
                });
            }
        }


        function cambiarinsumo_select(insumoCodigo, nroOrden) {
            $('#insumo-'+nroOrden).val(insumoCodigo)
        }

        function cambiarinsumo_input(insumoCodigo, nroOrden) {
            $('#select-insumos-'+nroOrden).val(insumoCodigo)
        }


        $('#select-servicios-entregar').on('change', function() {
            $('#servicio-codigo').val(this.value);
            $('#servicio-id').val($('#select-servicios-entregar').find(':selected').data('id'));
        });

        $('#servicio-codigo').on('change', function() {
            $('#select-servicios-entregar').val(this.value);
            $('#servicio-id').val($('#select-servicios-entregar').find(':selected').data('id'),);

        });

        function nuevoinsumo() {
            cantidadinsumos += 1
            const insumoRow =
                `<div class="row" id="insumo-row-` + cantidadinsumos + `">
                     <div class="col-xs-2" style="padding-right: 0px">
                         <input required onchange="cambiarinsumo_input(this.value,` + cantidadinsumos + `)" class="form-control input-sm"  value="" id="insumo-` + cantidadinsumos + `" name="insumo-` + cantidadinsumos + `"/>
                     </div>
                     <div class="col-xs-3" style="padding-right: 0px; padding-left: 0px">
                         <select class="form-control input-sm" id="select-insumos-` + cantidadinsumos + `" onchange="cambiarinsumo_select(this.value, ` + cantidadinsumos + `)">
                             <option value="` + cantidadinsumos + `" selected="selected" disabled>---</option>
                             {% for ins in insumos %}
                                     <option value="{{ ins.codigo }}" >{{ ins.nombre }}</option>
                                 {% endfor %}
                         </select>
                     </div>
                     <div class="col-xs-2" style="padding-right: 0px; padding-left: 0px">
                         <input required class="form-control input-sm" type="number" step="0.01" min="0" value="" id="cantidad-` + cantidadinsumos + `" name="cantidad-` + cantidadinsumos + `"/>
                     </div>
                    <div class="col-xs-1"  style="padding-left: 0px">
                        <a class="btn btn-sm text-red" onclick="delete_row(` + cantidadinsumos + `)"><i class="fas fa-times"></i> </a>
                     </div>
                </div>`

            $('#listado-insumos').append(insumoRow)

            $("#insumo-" + cantidadinsumos).autocomplete({
                source: "{% url 'tecnico:insumo_listar' %}",
                maxShowItems: 15,
                autoFocus: true,
                delay: 0,
            });
        }

        function delete_row(rowNumber) {
            $('#insumo-row-' + rowNumber).remove()
        }
    </script>

{% endblock %}
