{% extends "base.html" %}
{% load static %}

{% block css_app %}
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/DataTables-1.10.20/css/dataTables.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/Buttons-1.6.1/css/buttons.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/Responsive-2.2.3/css/responsive.foundation.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/Select-1.3.1/css/select.bootstrap.min.css' %}">
{% endblock %}

{% block content %}
    <div class="box">
        <div class="box-body">
            <h4>
                <strong>
      <span class="text-navy">
          {% if tecnico %}
              {{ tecnico.last_name|upper }}, {{ tecnico.first_name|upper }}
          {% elif servicio %}
              {{ servicio.nombre|upper }}
          {% endif %}
        </span> - <span class="text-yellow">{{ insumo.nombre }} - {{ insumo.codigo }} - (ID:{{ insumo_detalle_id }})</span>
                </strong>
            </h4>

            <div class="table-responsive">
                <table id="tabla-insumodetalle" class="table table-bordered table-striped text-center table-condensed table-small-font">
                    <thead>
                    <tr>
                        <th>Nº Operacióna</th>
                        <th>Fecha</th>
                        <th>Comprob. turno</th>
                        <th>Origen/Destino</th>
                        <th>Ingresos</th>
                        <th>Egresos</th>
                        <th>Existencia</th>
                        <th>Impr. Comprob.</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for det in detalle_stock %}
                        <tr>
                            <td data-order="{{ forloop.counter }}">{{ det.id }}</td>
                            <td>{{ det.fechahora|date:'d/m/Y H:i' }}</td>
                            <td>{{ det.comprobante|default:'---' }}</td>
                            <td>{{ det.observaciones }}</td>
                            <td>{{ det.ingreso|floatformat:2 }}</td>
                            <td>{{ det.egreso|floatformat:2 }}</td>
                            <td class="{% if det.existencia < 0 %}text-danger{% endif %}">{{ det.existencia|floatformat:2 }}</td>
                            <td>
                                {% if det.insumo_remito_entrega %}
                                    <a class="btn btn-sm btn-primary"
                                       href="{% url 'tecnico:remito_entrega_insumos'%}?remitoentregaid={{ det.insumo_remito_entrega.remito_entrega.id }}"
                                       target="_blank"><i class="fas fa-print"></i></a>
                                {% elif det.insumo_remito_entrega_serv %}
                                    <a class="btn btn-sm btn-primary"
                                       href="{% url 'tecnico:remito_entrega_insumos_serv'%}?remitoentregaid={{ det.insumo_remito_entrega_serv.remito_entrega_servicio.id }}"
                                       target="_blank"><i class="fas fa-print"></i></a>
                                {% else %}
                                    {% if det.comprobante %}
                                        <a class="btn-sm bg-gray-light"
                                           title="Imprimir informe técnico del paciente "
                                           href="{% url 'tecnico:imprimir_ficha' %}?turnoid={{ det.comprobante }}" target=_blank><i class="fas fa-file-invoice" style="font-size: medium"></i>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="popup" class="modal fade" role="dialog">

    </div>
{% endblock %}

{% block js_app %}
    <script src="{% static 'plugins/datatables-actualizado/DataTables-1.10.20/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/DataTables-1.10.20/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/Responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/Responsive-2.2.3/js/responsive.bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/Select-1.3.1/js/dataTables.select.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/Buttons-1.6.1/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/Buttons-1.6.1/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/pdfmake-0.1.36/vfs_fonts.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/JSZip-2.5.0/jszip.min.js' %}"></script>
    <script>
        $(function () {
            $('#tabla-insumodetalle').DataTable({
                select: 'single',
                dom:    "<'row pull-left'<'col-sm-4'f><'col-sm-5'<'toolbar'>><'col-sm-3'B>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                pageLength: 20,
                language: {
                    "sProcessing":     "Procesando...",
                    "sLengthMenu":     "Ver: _MENU_",
                    "sZeroRecords":    "No se encontraron resultados",
                    "sEmptyTable":     "Sin registros pendientes",
                    "sInfoPostFix":    "",
                    "sSearch":         "",
                    'searchPlaceholder': "Buscar..",
                    "sInfo": "Total de resultados: _TOTAL_",
                    "sInfoFiltered": " - Filtrado de _MAX_ resultados",
                    "infoEmpty":      "",
                    paginate: {
                        previous: '‹',
                        next:     '›'
                    },
                    select: {
                        rows: ""
                    }
                },
                buttons: [
                    {
                        extend: 'excelHtml5',
                        text: 'Descargar Excel',
                        title: '',
                        messageTop: '{% if tecnico %}{{ tecnico.last_name|upper }}, {{ tecnico.first_name|upper }} {% elif servicio %} {{ servicio.nombre|upper }}{% endif %} - {{ insumo.nombre }} - {{ insumo.codigo }}',
                        exportOptions: {
                            columns: [ 0, 1, 2, 3, 4, 5, 6]
                        }
                    },
                ]
            })
        })
    </script>
{% endblock %}
