{% extends 'base.html' %}
{% load static %}
{% block css_app %}
{% endblock %}
{% block titulo %}
{% endblock %}
{% block content %}
    <div class="col-md-6">
        <div class="box">
            <div class="box-header">
                <h4>Modificar cantidad de stock</h4>
            </div>
            <form method="post">
                <div class="box-body">
                    {% csrf_token %}
                    <p><b>Nombre del Tecnico:</b> {{tecnico.get_full_name}}</p>
                    <p><b>Usuario:</b>  {{tecnico.username}}
                    <p><b>Cantidad Anterior:</b>  {{tecins.stock}}
                    <p><b>Nueva Cantidad:</b>
                        <input class="form-control" type="number" step=1
                               style="display:inline; width:50%" min=0 max="{{max}}"
                               id="nuevo_stock" name="nuevo_stock" value={{tecins.stock}}>
                    </p>
                    <div class="col-lg-12 text-right">
                        <input type="submit" class="btn btn-primary" name="submit" value="Guardar">
                        <a class="btn btn-default" href="{% url 'tecnico:index_tecxins' %}">
                            Cancelar
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block js_app %}
{% endblock %}
