{% extends "base.html" %}
{% load static %}
{% block css_app %}
    <link rel="stylesheet" href="{% static 'bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
{% endblock %}

{% block content %}
    <div class="box">
        <form method="POST" id="tecxins" name="tecxins">
            {% csrf_token %}
            <div class="box-body">
                <div name="tecnicos" class="table-responsive">
                    <table id="tecnicos" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th style="text-align: center;">Seleccionar</th>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for tecnico in tecnicos %}
                            <tr>
                                <td style="text-align: center;"><input type="radio" name="sele_tec" value="{{tecnico.id}}" onclick="insumos(this.value)"></td>
                                <td>{{tecnico.id}}</td>
                                <td>{{tecnico.first_name}}</td>
                                <td>{{tecnico.last_name}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <br>
            </div>
            <div id="insumos" hidden>
                <div class="box-header">
                    <p class="text-info">Seleccione los insumos y cantidad a asignar al usuario elegido</p>
                </div>
                <div class="box-body">
                    <div class="table-responsive">
                        <table id="tabla_insumos" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th style="text-align: center;">Seleccionar</th>
                                <th>Cantidad</th>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Abreviatura</th>
                                <th>Descripcion</th>
                                <th>Stock</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for insumo in insumos %}
                                <tr>
                                    <td style="text-align: center;"><input type="checkbox" name="ins_{{insumo.id}}" id="ins_{{insumo.id}}"></td>
                                    <td><input type="number" name="cant_ins_{{insumo.id}}" value="1" max="{{insumo.stock_almacen}}" min="1">
                                    <td>{{insumo.id}}</td>
                                    <td>{{insumo.nombre}}</td>
                                    <td>{{insumo.abreviatura}}</td>
                                    <td>{{insumo.descripcion}}</td>
                                    <td>{{insumo.stock_almacen}}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="text-right">
                    <input class="btn btn-primary" type="submit" name="submit" value="Guardar">
                    <a class="btn btn-default" href="{% url 'tecnico:index_tecxins'%}">Cancelar</a>
                </div>
            </div>
        </form>
    </div>

{% endblock %}

{% block js_app %}
    <!-- DataTables -->
    <script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>

    <script>
        $(function () {
            $('#tecnicos').DataTable({
                select: 'single',
                dom: ''
            })
            $('#tabla_insumos').DataTable({
                select: 'single',
                dom: ''
            })
        })
    </script>

    <script type="text/javascript">
        function insumos(valor){
            $("#insumos").show();
            $('input[type="checkbox"]').prop('checked', false);
            {% for ti in tecins %}
                var str = '#ins_'+{{ti.insumo_id}}
                if ({{ti.tecnico_id}}==valor){
                $(str).prop('disabled', true);
            }else{
                $(str).prop('disabled', false);
            }

            {% endfor %}
        }
    </script>

    <script type="text/javascript">
        $( document ).ready(function() {
            $('input[type="checkbox"]').prop('checked', false);
            $('input[type="radio"]').prop('checked', false);
        });
    </script>

    <script>
        function logSubmit(event) {
            var b = true;
            $(':checkbox').each(function () {
                if ($(this).prop('checked')){
                    b = false;
                }
            });
            if (b){
                alert("No hay ningun insumo seleccionado");
                event.preventDefault();
            }
        }
        const form = document.getElementById('tecxins');
        const log = document.getElementById('log');
        form.addEventListener('submit', logSubmit);

    </script>
{% endblock %}
