{% extends 'base.html' %}
{% load static %}
{% block css_app %}
{% endblock %}
{% block titulo %}
{% endblock %}
{% block content %}
    <div class="box">
        <div class="box-header">
            <h3>Eliminar cantidad de stock al tecnico {{tecnico.get_full_name}}</h3>
        </div>
        <form method="post">
            <div class="box-body">
                {% csrf_token %}
                <p> Se desvinculara el insumo "{{insumo.nombre}}" al tecnico "{{tecnico.get_full_name}}"</p>
                <p> Los {{cantidad}} unidades de este insumo se sumaran al deposito</p>
                <p><b><u>Nombre del Tecnico:</u></b> {{tecnico.get_full_name}}</p>
                <p><b><u>Usuario:</u></b>  {{tecnico.username}}
                <p><b><u>Insumo:</u></b>  {{insumo.nombre}}
                <p class="text-danger"><b>
                    Esta accion es inrreversible, si esta seguro de continuar, precione el siguiente Boton
                </b></p>
                <div class="col-lg-12 text-right">
                    <input type="submit" class="btn btn-primary" name="submit" value="Borrar">
                    <a class="btn btn-default" href="{% url 'tecnico:index_tecxins' %}">
                        Cancelar
                    </a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block js_app %}
{% endblock %}
