{% extends 'base.html' %}
{% load static %}
{% block css_app %}
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock %}
{% block content %}
    <strong>La sesión actual terminará en 40 minutos de <span class="text-warning">inactividad</span>, recuerde guardar todos los cambios, para evitar pérdidas de información.</strong>
    <form method="post" autocomplete="off" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="box container" style="margin-bottom: 0">
            <div class="row">
                {% if turno.informe_finalizado or turno.informe_firmadopdf %}
                    <div class="bg-success disabled color-palette padding-rightleft-5px"> <strong><i class="fas fa-lock"></i> Informe solo lectura: Finalizado por médico.</strong> </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-md-3">
                    <h3>Nº Orden: {{ turno.id }}</h3>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-6" style="margin-top: 20px;">
                    <div class="btn-group pull-right" >
                        {% if turno.informe_finalizado and  request.user == turno.usuario_medico  %}
                            <a onclick="abrir_modal_corregir()" class="btn bg-teal-active color-palette margin-r-5"><strong>REVISIÓN<br>INFORME</strong></a>
                            <a href=" {% url 'informe:inf_informegenerar' %}?turnoid={{ turno.id }}" class="btn bg-orange-active color-palette margin-r-5"><strong>DESCARGAR<br>INFORME</strong></a>
                        {% else %}
                            <a class="btn btn-success margin-r-5" onclick="toastFinalizar()"><strong><i class="fas fa-check-circle"></i> FINALIZAR <br> INFORME</strong></a>
                        {% endif %}

                        {% if not turno.informe_firmadodigital and turno.informe_finalizado%}
                            <a onclick="abrir_modal('{% url 'informe:inf_subirfirmado' turno.id %}')" class="hidden btn bg-teal-active color-palette margin-r-5"><strong>AGREGAR<br>INF. FIRMADO</strong></a>
                        {% else %}
                            <a class="btn btn-danger margin-r-5" onclick="toastTecnico()"><strong><i class="fas fa-file-export"></i> CORREGIR<br>TÉCNICO</strong></a>
                            <a class="btn btn-primary margin-r-5" onclick="toastTipeo()"><strong><i class="fas fa-file-export"></i> PASAR<br>A TIPEO</strong></a>
                            <a class="btn btn-default margin-r-5" onclick="toastBorrador()"><strong><i class="fas fa-save"></i> GUARDAR<br>BORRADOR</strong></a>
                        {% endif %}

                        {% if not turno.informe_finalizado  %}
                            <a href="{% url 'informe:inf_listarmedico' %}" class=" btn btn-danger margin-r-5"><strong><i class="fas fa-times-circle"></i> CANCELAR<br>SIN GUARDAR</strong> </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row" >
                <div class="col-md-6">
                    <div class="box-body" style="text-align: left;">
                        <dl class="dl-horizontal">
                            <dt style="text-align: left;">Fecha del Estudio</dt>
                            <dd style="text-align: left; margin-left: 0;">{{ turno.fechahora_inicio|date:"d/m/Y H:i" }}</dd>
                            <dt style="text-align: left;">Nº Identificación</dt>
                            <dd style="text-align: left; margin-left: 0;">({{ turno.paciente.identificacion_tipo }}) {{ turno.paciente.identificacion_numero }}</dd>
                            <dt style="text-align: left;">Paciente</dt>
                            <dd style="text-align: left; margin-left: 0;">
                                {% if turno.paciente.paciente_nn %}
                                    <span class="text-danger"> {{ turno.paciente.paciente_nnlabel }} </span>
                                {% else %}
                                    {{ turno.paciente.apellido }}, {{ turno.paciente.nombre }}
                                {% endif %}
                            </dd>
                            <dt style="text-align: left;">Sexo</dt>
                            <dd style="text-align: left; margin-left: 0;">{{ turno.paciente.sexo }}</dd>
                            <dt style="text-align: left;">Fecha Nacimiento</dt>
                            <dd style="text-align: left; margin-left: 0;">{{ turno.paciente.fecnac|date:"d/m/Y"|default:'--' }}</dd>
                            <dt style="text-align: left;">Edad</dt>
                            <dd style="text-align: left; margin-left: 0;">{% if edad_year or  edad_months or edad_days %} Años: {{ edad_year }} - Meses: {{ edad_months }} - Días: {{ edad_days }}{% else %}---{% endif %}</dd>
                            <dt style="text-align: left;">Contraste Ev.</dt>
                            <dd style="text-align: left; margin-left: 0;">
                                {% if turno.contrasteev %}
                                    SI
                                {% else %}
                                    NO
                                {% endif %}
                            </dd>
                            <dt style="text-align: left;">Contraste Oral</dt>
                            <dd style="text-align: left; margin-left: 0;">
                                {% if turno.contrastevo %}
                                    SI
                                {% else %}
                                    NO
                                {% endif %}
                            </dd>
                            <dt style="text-align: left;">Médico Solicitante</dt>
                            <dd style="text-align: left; margin-left: 0;">{{ turno.medico_derivante.apellido }}</dd>
                            <dt style="text-align: left;">Servicio</dt>
                            <dd style="text-align: left; margin-left: 0;">{{ turno.servicio.nombre }}</dd>

                            <dt style="text-align: left;">Informe de Audio</dt>
                            <dd style="text-align: left; margin-left: 0;">{{ turno.informe_fecha_finalizacion_a|date:"d/m/Y h:i"|default:'Sin audio' }}</dd>

                            <dt style="text-align: left;">Médico Informante</dt>
                            <dd style="text-align: left; margin-left: 0;">
                                {% if turno.usuario_medico %}
                                    {{ turno.usuario_medico.last_name }}, {{ turno.usuario_medico.first_name }}
                                {% else %}
                                    <strong class="text-red">SIN MÉDICO ASIGNADO</strong>
                                {% endif %}
                            </dd>
                            <dt style="text-align: left;">Estado</dt>
                            {% if turno.informe_finalizado and not turno.informe_firmadodigital %}
                                <dd style="text-align: left; margin-left: 0;"><strong class="text-success">FINALIZADO SIN FIRMA DIGITAL</strong></dd>
                            {% elif turno.informe_finalizado and turno.informe_firmadodigital %}
                                <dd style="text-align: left; margin-left: 0;"><strong class="text-success">FINALIZADO</strong></dd>
                            {% elif turno.informe_tec_corregir %}
                                <dd style="text-align: left; margin-left: 0;"><strong class="text-danger">CORREGIR TÉCNICO</strong></dd>
                            {% elif turno.informe_tec_corregir_completo%}
                                <dd style="text-align: left; margin-left: 0;"><strong class="text-warning">TÉCNICO CORREGIDO</strong></dd>
                            {% elif turno.informe_para_tipear and not turno.informe_finalizado_tipeo %}
                                <dd style="text-align: left; margin-left: 0;"><strong class="text-primary">EN PROCESO DE TIPEO</strong></dd>
                            {% elif turno.informe_finalizado_tipeo %}
                                <dd style="text-align: left; margin-left: 0;"><strong class="text-warning">FINALIZADO TIPEO</strong></dd>
                            {% else %}
                                <dd style="text-align: left; margin-left: 0;"><strong class="text-muted">SIN INFORMAR</strong></dd>
                            {% endif %}
                            <dt style="text-align: left;">Fecha corregir inicio</dt>
                            <dd style="text-align: left; margin-left: 0;">{{ turno.informe_tec_corregir_ini|date:"d/m/Y h:i"|default:'---' }}</dd>
                            <dt style="text-align: left;">Fecha corregido</dt>
                            <dd style="text-align: left; margin-left: 0;">{{ turno.informe_tec_corregir_fin|date:"d/m/Y h:i"|default:'---' }}</dd>
                            <dt style="text-align: left;">Foto Pédido Médico: </dt>
                            <dd style="text-align: left; margin-left: 0;">
                                <a class=" btn btn-sm {% if turno.foto_pedidomedico %} bg-olive {% else %} btn-default {% endif %}"
                                   {% if turno.foto_pedidomedico %}href="{{ turno.foto_pedidomedico.url }}" disabled {% endif %} target="_blank">
                                    <i class="{% if not turno.foto_pedidomedico %} fas fa-times text-danger {% else %}far fa-file-image  {% endif %}"></i> Ped. Médico
                                </a>
                            </dd>
                            <dt style="text-align: left;">Estudios Realizados</dt>
                            <dd style="text-align: left; margin-left: 0;">{{ codigos_realizados }}</dd>
                            {% for turnoid, codigos_url in urls_imagenes.items %}
                                <dt class="text-navy" style="text-align: left;">Imágen: {{ turnoid }}</dt>
                                <dd style="text-align: left; margin-left: 0;">
                                    <a class="btn btn-sm margin-r-5 text-orange"
                                       style="background: rgba(18,96,114,0.93);  border: 1px solid white;" href="{{ codigos_url.1 }}"
                                       target="_blank">
                                        <strong><i class="fas fa-external-link-square-alt"></i> {{ codigos_url.2 }}</strong>
                                    </a>
                                </dd>
                            {% endfor %}
                        </dl>
                    </div>
                </div>
                <div class="col-md-6 pull-right" style="  padding-top: 10px; padding-bottom: 10px">
                    <div class="box-body" style="  height: 240px;  overflow: auto;" >
                        <table class="text-center table table-bordered table-small-font "
                               style="background: #D4E6F1 ;  border-radius: 15px; border: 2px solid  #d4e6f1;">
                            <thead>
                            <tr>
                                <th colspan="4">
                                    HISTORIAL DEL PACIENTE ( No Incluye datos SISHOS )
                                </th>

                            </tr>
                            <tr style="color: #6f6f72">
                                <th >Fecha</th>
                                <th >Estudios Solicitados</th>
                                <th>Informe</th>
                                <th>Imágenes</th>
                            </tr>

                            </thead>
                            <tbody>
                            {% if turnos_anteriores %}
                                {% for tur in turnos_anteriores %}
                                    <tr>
                                        <td>
                                            {{ tur.fechahora_inicio|date:'d/m/y' }}
                                        </td>
                                        <td>
                                            {{tur.codigos_solicitados_todos}}
                                        </td>
                                        <td>
                                            {% if tur.servicio.is_servicio_externo and tur.informe_firmadopdf %}
                                                <a href="{{ tur.informe_firmadopdf.url }}" class="btn-sm btn-info" target="_blank"><i class="far fa-file-alt"></i></a>
                                            {% else %}
                                                <a class="btn-sm btn-info" onclick="abririnforme({{ tur.id }})"><i class="far fa-file-alt"></i></a>
                                            {% endif %}
                                        <td >
                                            {% if tur.link_imagenes %}
                                                {% for link in tur.link_imagenes %}
                                                    <a class="text-navy small pull-left"
                                                       href="{% if tur.is_request_local %}{{ link.estudio_imagenes_url }}{% else %} {{ link.estudio_imagenes_url_externa }}{% endif %}"
                                                       target="_blank"><i class="fas fa-external-link-alt"></i>
                                                        {{ link.descripcion }} </a> <br>
                                                {% endfor %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="4">Sin estudios previos registrados.</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="div col-sm-4">
                    <label>Observaciones para el Técnico: <span class="text-warning">{{ turno.usuario_tecnico.last_name }}, {{ turno.usuario_tecnico.first_name }}</span></label>
                    {{form.informe_observaciones }}
                </div>
                <div class="div col-sm-4">
                    <label>Observaciones para Tipeo: <span class="text-warning">{% if turno.informe_finalizado_tipeo %} Tipeado por {{ turno.usuario_tipeo }}{% endif %}</span></label>
                    {{form.informe_observaciones_tipeo }}
                </div>
                <div class="div col-sm-4">
                    <label>Observaciones del técnico para el médico Informante</label>
                    <textarea  class="form-control" rows="3"  style="width: 100%;-webkit-box-sizing: border-box; resize: none;" readonly disabled>{{ obs_tecnico|default:'---' }}</textarea>
                </div>
            </div>
        </div>
        <div id='panel-table' class="panel" style="opacity: 0">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-8">
                        <br>
                        {{ form.informe_texto }}
                    </div>
                    <div class="col-sm-4" {% if turno.usuario_medico.userprofile.user_guardia %}style="display: none"{% endif %}>
                        <br>
                        <label class="text-info">Grabar Audio</label>
                        <div class="row" id="controls">
                            <div class="col-sm-3">
                                <button class="btn btn-app" id="recordButton"><i class="fa  fa-microphone"> </i></button>
                                <button class="btn btn-app hidden" id="pauseButton" disabled><i class="fa fa-pause"></i></button>
                                <button class="btn btn-app" id="stopButton" disabled><i class="fa fa-stop"> </i></button>
                            </div>
                            <div class="col-sm-9">
                                {% if turno.informe_audio %}
                                    <audio controls="" src="{{turno.informe_audio.url}}"></audio>
                                {% endif %}
                            </div>
                        </div>
                        <div id="formats"></div>
                        <hr>
                        <label>Audios Temporales Generados</label>
                        <p class="text-red">*Antes de pasar a Tipeo, verifique que se hayan guardado los audios, tiene que aparecer un texto que dice "Audio Guardado", eso confirma que se guardo correctamente.</p>
                        <ol id="recordingsList"></ol>
                    </div>
                    <div>
                    </div>
                </div>
                <br>
            </div>
            <div class="hidden">
                <input class="hidden" id="audio1" name="audio1">
                {{ form.usuario_creacion }}
                {{ form.paciente }}
                {{ form.obrasocial }}
                {{ form.medico_derivante }}
                {{ form.fechahora_inicio }}
                <input id="submitted_password" name="submitted_password" value="">
                <input id="submittipo" name="submittipo" value="0">
                <input id="audios-guardados" value="0">
            </div>
        </div>
    </form>
    <div id="popup_plantillas" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" style="z-index: 1052">
        <div class="modal-dialog modal-xlg">
            <div class="modal-content modal-form">
                <div class="modal-header">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-3 pull-right ">&nbsp;
                                <a class="btn btn-danger pull-right"  data-dismiss="modal" title="Cerrar" style="margin-left: 10px"><i class="fas fa-times"></i></a>
                            </div>
                            <div class="col-sm-3" style="padding-left: 0">
                                <select class="form-control" id="select-plantillas">
                                    <option value="0" selected="selected" disabled>Seleccione un médico</option>
                                    {% for key, med in medicos.items %}
                                        <option value="{{ key }}">{{ med }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body" style="height: 580px;width: 100%; overflow-y: auto;">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group" id ='tabla_plantilla_wrapper'>
                                <table id="tabla_plantilla" class="table table-bordered table-striped">
                                    <thead>
                                    <th class="hidden"> Plantillas</th>
                                    <th class="hidden"> Mostrar</th>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="popup" class="modal fade" role="dialog"> </div>
    <div id="popup_informe_correccion" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" style="z-index: 1051">
        <div class="modal-dialog modal-xlg">
            <div class="modal-content modal-form">
                <div class="modal-header">
                    <a class="btn btn-danger pull-right"  data-dismiss="modal" title="Cerrar" style="margin-left: 10px"><i class="fas fa-times"></i></a>
                    <h4><strong>Agregar Revisión de Informe</strong></h4>
                </div>
                <div class="table container">
                    <div class="row">
                        <div class="col-xs-12">
                            <textarea id="informe_texto_corregir"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <span class="text-danger pull-left">Nota: La revisión se adjunta al final del Informe.</span>
                    <a class="btn btn-success pull-right" style="margin-right: 10px" onclick="confirmar_finalizar(true)"><strong>Confirmar Revisión del Informe</strong></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_app %}
    <script type="text/javascript">var urlgrabaraudio ="{% url 'informe:ajaxgrabaraudio' %}";</script>
    <script type="text/javascript" src="{% static 'plugins/audiorecorder/js/recorder.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/audiorecorder/js/app.js' %}"></script>
    <script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.select.min.js' %}"></script>
    <script>
        window.onload = function ()
        {
            document.getElementById("panel-table").style["opacity"] = "1";
        }
    </script>
    <script>
        var editor = CKEDITOR.replace('informe_texto',  {
            'width': '100%',
            'height': 480,
            'toolbar': 'Custom',
            'toolbar_Custom': [
                [ 'SuperButton', '-', 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ],
                [ 'Find', 'SelectAll', '-', 'Scayt' ],
                ['Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', 'TextColor', 'BGColor' ,],
                [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', ] ,
                ['PageBreak', 'Maximize'],
            ],
            enterMode : CKEDITOR.ENTER_BR,
            {% if turno.informe_finalizado or turno.informe_firmadopdf %}
                'readOnly':true
            {% endif %}
        });
        editor.addCommand("getPlanillas", {
            exec: function(edt) {
                abrir_modal_plantillas();
            }
        });
        editor.ui.addButton('SuperButton', {
            label: "Plantillas Predefinidas",
            command: 'getPlanillas',
            toolbar: 'Custom',
            icon: '/static/static_informe/ckeditor/pngwave.png'
        });
        var csrftoken = '{{csrf_token}}';
        var turnoid = '{{turno.id}}';
    </script>
    <script>
        var editor_corregir = CKEDITOR.replace('informe_texto_corregir',  {
            'width': '100%',
            'height': 480,
            'toolbar': 'Custom',
            'toolbar_Custom': [
                [ 'SuperButton', '-', 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ],
                [ 'Find', 'SelectAll', '-', 'Scayt' ],
                ['Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', 'TextColor', 'BGColor' ,],
                [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', ] ,
                ['PageBreak', 'Maximize'],
            ],
            enterMode : CKEDITOR.ENTER_BR,
        });
        editor_corregir.addCommand("getPlanillas", {
            exec: function(edt) {
                abrir_modal_plantillas();
            }
        });

        editor_corregir.ui.addButton('SuperButton', {
            label: "Plantillas Predefinidas",
            command: 'getPlanillas',
            toolbar: 'Custom',
            icon: '/static/static_informe/ckeditor/pngwave.png'
        });
    </script>
    <script>
        function submitform(tipo, userpass='') {
            $('#submittipo').val(tipo);
            let msg_fin;
            if (tipo === 1) {
                msg_fin = 'INFORME FINALIZADO'
            } else if (tipo === 2)
            {
                msg_fin = 'INFORME PASADO A TIPEO'
            } else {
                msg_fin = 'INFORME GUARDADO'
            }
            let form = document.querySelector('form');
            if (!form.checkValidity()) {
                form.reportValidity();
            } else {
                try {
                    $('#submitted_password').val(userpass)
                    document.getElementsByTagName("form")[0].submit();
                } catch (err) {
                    alert('Error: No se pudo completar la operación')
                }
            }
        }
    </script>
    <script>
        function toastFinalizar()
        {
            const texto_informe = editor.document.getBody().getText()
            if (texto_informe.length <= 1) {
                iziToast.show({
                    timeout: 0,
                    close: true,
                    overlay: true,
                    displayMode: 'once',
                    id: 'error',
                    zindex: 999,
                    title:  'No se puede finalizar un informe sin texto',
                    position: 'center',
                    color: 'red',
                });

            } else {
                iziToast.question({
                    timeout: 20000,
                    close: false,
                    overlay: true,
                    displayMode: 'once',
                    id: 'question',
                    zindex: 999,
                    title: '¿Dar por finalizado el Informe?',
                    position: 'center',
                    color: 'green',
                    buttons: [
                        ['<button><b>SI</b></button>', function (instance, toast)
                        {
                            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                            confirmar_finalizar()
                        }, true],
                        ['<button>NO</button>', function (instance, toast)
                        {
                            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                        }],
                    ],
                });
            }
        }

        function toastTipeo()
        {
            const texto_informe = editor.document.getBody().getText()
            const countAudiosGuardados = $('#audios-guardados').val() * 1

            if (countAudiosGuardados === 0 && texto_informe.length <= 1) {
                iziToast.show({
                    timeout: 0,
                    close: true,
                    overlay: true,
                    displayMode: 'once',
                    id: 'error',
                    zindex: 999,
                    title:  'No se guardo ningún audio o texto',
                    position: 'center',
                    color: 'red',
                });

            } else {
                const texto_alert = '<span class="text-blue">Audios Guardados en esta sesión: ' + countAudiosGuardados + '</span>'
                iziToast.question({
                    timeout: 20000,
                    close: false,
                    overlay: true,
                    displayMode: 'once',
                    id: 'question',
                    zindex: 999,
                    title: '¿Pasar informe a Tipeo?',
                    position: 'center',
                    color: 'blue',
                    buttons: [
                        ['<button><b>SI, ' + texto_alert + '</b></button>', function (instance, toast) {
                            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                            submitform(2)
                        }],
                        ['<button>NO</button>', function (instance, toast) {
                            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                        }, true],
                    ],
                });
            }
        }
        function toastTecnico()
        {
            iziToast.question({
                timeout: 20000,
                close: false,
                overlay: true,
                displayMode: 'once',
                id: 'question',
                zindex: 999,
                title: '¿Marcar para corregir por el Técnico?',
                position: 'center',
                color: 'red',
                buttons: [
                    ['<button><b>SI</b></button>', function (instance, toast) {
                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                        submitform(3)
                    }],
                    ['<button>NO</button>', function (instance, toast) {
                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                    }, true],
                ],
            });
        }
        function toastBorrador()
        {
            iziToast.question({
                timeout: 20000,
                close: false,
                overlay: true,
                displayMode: 'once',
                id: 'question',
                zindex: 999,
                title: '¿Desea guardar informe actual como borrador?',
                position: 'center',
                color: 'gray',
                buttons: [
                    ['<button><b>SI</b></button>', function (instance, toast) {
                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                        submitform(4)
                    }, true],
                    ['<button>NO</button>', function (instance, toast) {
                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                    }],
                ],
            });
        }
    </script>
    <script>
        function abrir_modal_plantillas()
        {
            $('#popup_plantillas').modal('show');

        }
        function abrir_modal(url)
        {
            $('#popup').load(url, function()
            {
                $(this).modal('show');
            });
            return false;
        }
        function abrir_modal_corregir()
        {
            $('#popup_informe_correccion').modal('show');
        }
    </script>
    <script>
        function mostrarplantilla(key)
        {
            let table_plantilla = $('#plantilla_'+key)
            let btn_mostrarplanilla = $('#btn_mostrarplanillas_'+key)
            if (table_plantilla. is(":hidden")){
                table_plantilla.removeClass('hidden')
                btn_mostrarplanilla.removeClass('btn-info')
                btn_mostrarplanilla.addClass('btn-danger')
                btn_mostrarplanilla.html('<i class="fas fa-minus"></i>')
            }
            else{
                table_plantilla.addClass('hidden')
                btn_mostrarplanilla.addClass('btn-info')
                btn_mostrarplanilla.removeClass('btn-danger')
                btn_mostrarplanilla.html('<i class="fas fa-plus"></i>')

            }
        }
        function agregartexto(codigo, plantilla_id)
        {
            let texto = $('#t_cod_'+codigo+'_'+plantilla_id).attr("data-text");
            {% if turno.informe_finalizado %}
                editor_corregir.insertHtml(texto);
            {% else %}
                editor.insertHtml(texto);
            {% endif %}
            iziToast.show({
                title: 'Plantilla agregada!',
                color: 'blue',
                position: 'center',
                timeout: 800,
                progressBar: false,
                close: false,

            });
        }
    </script>
    <script>
        var table_plantillas = $('#tabla_plantilla').DataTable(
            {
                'paging'      : false,
                'lengthChange': false,
                'searching'   : true,
                'ordering'    : false,
                'info'        : true,
                'autoWidth'   : false,
                "pageLength": 10,
                dom: "f",
                "language":
                    {
                        "emptyTable": " ",
                        "search":"",
                        "searchPlaceholder": "Buscar Plantilla por código",

                    }
            });
        if($('#tabla_plantilla tbody .dataTables_empty').length){
            $('#tabla_plantilla_wrapper').hide()
        }
        $('#select-plantillas').on('change', function() {

            cargar_plantillas(this.value);
        });
        function cargar_plantillas(medicoid)
        {
            $.ajax({
                type: 'get',
                url: "{% url 'informe:consultar_plantillas' %}",
                data: {
                    'medicoid': medicoid,
                    'servicioid': '{{ turno.servicio.id }}'
                },
                success: function (data) {
                    table_plantillas.clear();
                    for (const plantilla_grupo in data['plantillas']){
                        let plantilla_grupo_format = plantilla_grupo.replace(/(.{2})/g,"$1.").replace(/.$/,"")
                        const btnVerPlantilla =
                            '<td class="col-md-1">' +
                            '<a id="btn_mostrarplanillas_' + plantilla_grupo +
                            '" class="btn btn-info pull-right" onclick="mostrarplantilla(\'' + plantilla_grupo +
                            '\')"><i class="fas fa-plus"></i> </a></td>'

                        const textCodigoPlantilla = '<td class="col-md-11"><strong>&bull; ' + plantilla_grupo_format +'</strong>' +
                            '<table id="plantilla_' + plantilla_grupo + '" class="hidden table-bordered" style="background: #EAFAF1;">' +
                            '<tbody id="plantillabody_' + plantilla_grupo + '"></body></table></td>'

                        table_plantillas.row.add([
                            textCodigoPlantilla,
                            btnVerPlantilla
                        ]).draw(false);

                        for (const plantilla_nro in data['plantillas'][plantilla_grupo])
                        {
                            const plantilla_text = data['plantillas'][plantilla_grupo][plantilla_nro][1]
                            const plantilla_index_nro = data['plantillas'][plantilla_grupo][plantilla_nro][0]
                            const plantilla_index_id = data['plantillas'][plantilla_grupo][plantilla_nro][2]

                            const plantilla_text_linebreaks = plantilla_text.replace(/(?:\r\n|\r|\n)/g, '<br>');
                            const row_plantilla =
                                '<tr style="border: 3px solid lightblue">' +
                                '<td>' +
                                '<a class="btn-sm btn-success" onclick="agregartexto(\'' + plantilla_grupo + '\', \'' + plantilla_index_id + '\')">' + plantilla_index_nro + '</a>' +
                                '</td>' +
                                '<td>' +
                                '<span id="t_cod_' + plantilla_grupo + '_' + plantilla_index_id + '" data-text="' + plantilla_text_linebreaks +'">' + plantilla_text_linebreaks +'</span>' +
                                '</td>' +
                                '</tr>'
                            $('#plantillabody_'+plantilla_grupo).append(row_plantilla)
                        }
                    }
                    if($('#tabla_plantilla tbody .dataTables_empty').length){
                        $('#tabla_plantilla_wrapper').hide()
                    }
                    else{
                        $('#tabla_plantilla_wrapper').show()
                    }
                },
                error: function (data) {
                    alert("Error en la validacion");
                }
            });
        }
    </script>
    <script >
        $('#recordButton').on('click', function () {
            const elem_grabando = '<i class="fa fa-spinner fa-spin text-danger"></i><strong class="text-red">Grabando</strong>'
            const elem_stop = '<i class="fa  fa-stop text-blue"></i><strong class="text-blue">Parar</strong>'
            $('#recordButton').html( elem_grabando)
            $('#stopButton').html(elem_stop)
        });
        $('#stopButton').on('click', function () {
            const elem_no_grabando = '<i class="fa  fa-microphone"></i>'
            const elem_stop = '<i class="fa fa-stop "></i><strong></strong>'
            $('#recordButton').html(elem_no_grabando)
            $('#stopButton').html(elem_stop)
        });
    </script>
    <script>
        function  abririnforme(turnoid)
        {
            window.open("{% url 'informe:inf_informegenerar' %}?turnoid=" + turnoid + "&openpdf=1", "_blank", "resizable=yes,top=100,left=100,width=850,height=800");
        }
    </script>
    <script>
        var perfEntries = performance.getEntriesByType("navigation");
        if (perfEntries[0].type === "back_forward") {
            location.reload(true);
        }
    </script>
    <script>
        function agregar_revision(user_pass) {
            iziToast.destroy();
            const text_corregir = editor_corregir.getData();
            if (text_corregir !== '') {
                $.ajax({
                    type: 'post',
                    url:  '{% url 'informe:informe_corregir' %}',
                    data: {
                        'turnoid' : '{{ turno.id }}',
                        'texto_corregir': text_corregir,
                        'submitted_password': user_pass
                    },
                    headers:{'X-CSRFToken':'{{ csrf_token }}'},
                    dataType: 'json',
                    success: function (data) {
                        if (data['success']) {
                            location.reload();
                        } else {
                            if (data['password_error']) {
                                alerta_error('No se pudo agregar la revisión al informe, Contraseña Incorrecta.')
                            } else {
                                alerta_error('No se pudo agregar la revisión al informe.')
                            }
                        }
                    },
                    error: function(data) {
                        alerta_error('No se pudo agregar la revisión al informe.')
                    }
                });
            } else {
                alerta_error('Error: No se puede agregar una revisión con texto vacio.')
            }
            function alerta_error(msg){
                iziToast.show({
                    timeout: 0,
                    close: true,
                    overlay: true,
                    displayMode: 'once',
                    id: 'error',
                    zindex: 9999,
                    title:  msg,
                    position: 'center',
                    color: 'red',
                });
            }
        }
        function confirmar_finalizar(is_revision=false) {
            let user_pass = ''
            iziToast.question({
                timeout: 0,
                drag: false,
                close: true,
                overlay: true,
                color: 'green',
                zindex: 99999,
                title: 'Ingresar contraseña' ,
                position: 'center',
                inputs: [
                    ['<input type="password" autocomplete="one-time-code">', 'change', function (instance, toast, input, e) {
                        user_pass = input.value;
                    }, true],
                ],
                buttons: [
                    ['<button><b>Confirmar</b></button>', function (instance, toast)
                    {
                        if (is_revision) {
                            agregar_revision(user_pass)
                        } else {
                            submitform(1, user_pass)
                        }
                    }],
                ],
            });
        }
    </script>
    <script>
        let msg_type, msg_color
        {% for msg in messages %}
            msg_type = '{{ msg.tags }}';
            msg_color = msg_type === 'error' ? 'red' : 'green';
            iziToast.show({
                title: '{{ msg }}',
                color: msg_color,
                position: 'center',
                timeout: 2500,
                progressBar: false,
                close: true,
            });
        {% endfor %}
    </script>
{% endblock %}
