{% extends 'base.html' %}
{% load static %}
{% block css_app %}
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/DataTables-1.10.20/css/dataTables.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/Responsive-2.2.3/css/responsive.foundation.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/Select-1.3.1/css/select.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/Buttons-1.6.1/css/buttons.dataTables.min.css' %}">
    <link href="{% static 'static_informe/informe/css/custom.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div id='panel-table' class="box" style="opacity: 0">
                    <div class="box-body">
                        <a class="bg-blue btn" onclick=" window.location.href = '{% url 'informe:inf_listarmedico' %}?modovista=informesyo';"><i class="far fa-file-alt"></i> Mis Informes</a>
                        <a class="bg-olive btn" onclick=" window.location.href = '{% url 'informe:inf_listarmedico' %}?modovista=normal';"><i class="fas fa-user-md"></i> Mis Pendientes</a>
                        <a class="btn-warning btn" onclick="window.location.href = '{% url 'informe:inf_listarmedico' %}?modovista=todos';"> <i class="fas fa-users"></i> Pendientes Todos</a>
                        <a class="btn-danger btn" onclick="window.location.href = '{% url 'informe:inf_listarmedico' %}?modovista=guardia';"> <i class="fas fa-first-aid"></i> Guardia</a>
                        <a class="btn-default btn text-green pull-right" onclick="window.location.reload();">
                            <strong>
                                <i class="fas fa-sync"></i> Actualizar {% if request.session.modo_vista != 'informesyo' %}(<span id="time">05:00</span>){% endif %}
                            </strong>
                        </a>
                        <div class="table-responsive ">
                            <br>
                            <table id="tabla-medicos"
                                   class="table table-bordered table-striped text-center table-condensed table-small-font" style="width: 100%">
                                <thead>
                                <tr>
                                    <th class="text-center all">Nº Orden</th>
                                    {% if request.session.modo_vista == 'informestodos' or  request.session.modo_vista == 'informesyo'%}
                                        <th class="text-center all">Informante</th>
                                    {% endif %}
                                    <th class="text-center all">Fecha</th>
                                    <th class="text-center ">Hora</th>
                                    <th class="text-center all">Documento</th>
                                    <th class="text-center all">Apellido, Nombre</th>
                                    <th class="text-center ">Servicio</th>
                                    <th class="text-center all">Atención</th>
                                    <th class="text-center ">Estado</th>
                                    <th class="text-center all">Acción</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for tur in list_pendientes%}
                                    <tr id="informe_row_{{ tur.id }}"
                                            {% if tur.informe_finalizado and not tur.informe_firmadodigital %}
                                        style="background-color: rgba(92,167,59,0.36)"
                                            {% endif %}
                                    >
                                        <td class="text-center" data-order="{{ forloop.counter }}"> {{ tur.id }}</td>
                                        {% if request.session.modo_vista == 'informestodos' or  request.session.modo_vista == 'informesyo'%}
                                            <td class="text-center"> {{ tur.usuario_medico.last_name }}, {{ tur.usuario_medico.first_name }}</td>
                                        {% endif %}
                                        <td class="text-center"> {{ tur.fechahora_inicio|date:'d/m/y' }}</td>
                                        <td class="text-center"> {{ tur.fechahora_inicio|date:'H:i' }}</td>
                                        <td class="text-center"> {{ tur.paciente.identificacion_numero }}</td>
                                        <td class="text-center">
                                            {% if tur.paciente.nombre or tur.paciente.apellido %}
                                                {{tur.paciente.apellido}} {{tur.paciente.nombre}}
                                            {% else %}
                                                {{ tur.paciente.paciente_nnlabel|default:'---' }}
                                            {% endif %}
                                        </td>
                                        <td class="text-center">{{ tur.servicio.nombre }}</td>
                                        <td class="text-center">
                                            {% if tur.urgencia %}
                                                <strong class="text-red">Urgencia</strong>
                                            {% elif tur.internado %}
                                                <strong class="text-yellow">Internado</strong>
                                            {% else %}
                                                <strong>Programado</strong>
                                            {% endif %}
                                        </td>
                                        <td class="text-center" style="vertical-align: middle"  id="informe_estado_{{ tur.id }}">
                                            {% if tur.informe_finalizado and not tur.informe_firmadodigital  %}
                                                <span class="label label-success">INFORMADO</span>
                                            {% elif tur.informe_tec_corregir  %}
                                                <span class="label label-danger">CORREGIR TÉCNICO </span>
                                            {% elif tur.informe_tec_corregir_completo  %}
                                                <span class="label label-warning">TÉCNICO CORREGIDO</span>
                                            {% elif tur.informe_audio and not tur.informe_finalizado_tipeo %}
                                                <span class="label label-info">INFORME DE AUDIO SIN TIPEAR</span>
                                            {% elif tur.informe_audio and tur.informe_finalizado_tipeo %}
                                                <span class="label label-info">INFORME DE AUDIO <span style="color: #123d04">TIPEADO</span></span>
                                            {% elif tur.informe_finalizado_tipeo %}
                                                <span class="label label-primary">TIPEADO</span></span>
                                            {% elif tur.informe_para_tipear %}
                                                <span class="label label-primary">EN PROCESO DE TIPEO</span></span>
                                            {% else %}
                                                <span class="label label-default">SIN INFORMAR</span>
                                            {% endif %}
                                        </td>
                                        <td class="text-center">
                                            {% if not tur.informe_finalizado %}
                                                <a href=" {% url 'informe:inf_crearmedico' pk=tur.pk %}" class="btn-sm btn-primary"><strong><i class="fas fa-plus"></i> Informar</strong></a>
                                            {% else %}
                                                {% if tur.usuario_medico == medico and not tur.servicio.is_servicio_externo%}
                                                    <a href=" {% url 'informe:inf_crearmedico' pk=tur.pk %}" class="btn-sm btn-primary"><strong>
                                                        Expediente</strong></a>
                                                {% endif %}
                                                {% if tur.servicio.is_servicio_externo and tur.informe_firmadopdf %}
                                                    <a href="{{ tur.informe_firmadopdf.url }}" class="btn-sm btn-primary" target="_blank"><i class="far fa-file-alt"></i> Informe</a>
                                                {% else %}
                                                    <a onclick="abririnforme('{{ tur.id }}')" class="btn-sm btn-primary"><i class="far fa-file-pdf"></i> Informe</a>
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="popup" class="modal fade" role="dialog"> </div>
{% endblock %}

{% block js_app %}
    <script src="{% static 'plugins/datatables-actualizado/DataTables-1.10.20/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/DataTables-1.10.20/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/Responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/Responsive-2.2.3/js/responsive.bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/Select-1.3.1/js/dataTables.select.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/Buttons-1.6.1/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/Buttons-1.6.1/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/JSZip-2.5.0/jszip.min.js' %}"></script>
    <script src="{% static 'plugins/reconnect-websocket/reconnecting-websocket.min.js' %}"></script>
    <script>
        function  abririnforme(turnoid)
        {
            window.open("{% url 'informe:inf_informegenerar' %}?turnoid=" + turnoid + "&openpdf=1", "_blank", "resizable=yes,top=100,left=100,width=850,height=800");
        }
    </script>
    <script>
        let tabla_medicos = $('#tabla-medicos').DataTable({
            columnDefs: [
                { className: "text-center", targets: "_all" },
            ],
            dom:    "<'row'<'col-sm-4'B><'col-sm-5'<'toolbar'>><'col-sm-3'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-5'i><'col-sm-7'p>>",

            pageLength: 20,
            language: {
                "sProcessing":     "Procesando...",
                "sLengthMenu":     "Ver: _MENU_",
                "sZeroRecords":    "No se encontraron resultados",
                "sEmptyTable":     "Sin registros pendientes",
                "sInfoPostFix":    "",
                "sSearch":         "",
                'searchPlaceholder': "Buscar...",
                "sInfo": "Total de resultados: _TOTAL_",
                "sInfoFiltered": " - Filtrado de _MAX_ resultados",
                "infoEmpty":      "",
                paginate: {
                    previous: '‹',
                    next:     '›'
                },
                select: {
                    rows: ""
                }
            },
            buttons: [
                {% if request.session.modo_vista == 'informesyo' %}
                    {
                        text: "<i class=\"fas fa-copy\"></i> Ver todos los informes registrados (Puede demorar)",
                        className: 'btn btn-default  text-blue',
                        action: function ( e, dt, node, config ) {
                            window.location.href = '{% url 'informe:inf_listarmedico' %}?modovista=informestodos';
                        }
                    },
                {% endif %}

            ],
            select: true
        });
        const urlTodosInformes = "{% url 'informe:inf_listarmedico' %}?modovista=informetodos"
        const btnTodosInformes ='<a class="btn-danger btn" href="' + urlTodosInformes +'"> <i class="fas fa-first-aid"></i> Ver Informes de todos los médicos</a>'
        const modovista =

            {% if request.session.modo_vista == 'normal'%}
                '<strong class="text-info">LISTADO DE ESTUDIOS PENDIENTES DE INFORME: <span class="text-green">ASIGNADOS A {{ request.user.username|upper }} </span></strong>'
            {% elif request.session.modo_vista == 'guardia' %}
                '<strong class="text-info">LISTADO DE ESTUDIOS PENDIENTES DE INFORME: <span class="text-red">GUARDIA </span></strong>'
            {% elif request.session.modo_vista == 'todos' %}
                '<strong class="text-info">LISTADO DE ESTUDIOS PENDIENTES DE INFORME: <span class="text-orange">SIN MÉDICO ASIGNADO </span> </strong>'
            {% elif request.session.modo_vista == 'informesyo' %}
                '<strong><span class="text-blue">LISTADO DE LOS INFORMES REALIZADOS POR {{ request.user.username|upper }}</span></strong>'
            {% elif request.session.modo_vista == 'informestodos' %}
                '<strong><span class="text-blue">LISTADO DE TODOS LOS INFORMES REGISTRADOS EN EL SISTEMA</span></strong>'
            {% else %}
                ''
            {% endif %}

        $("div.toolbar").html(modovista);
        let roomName = 'informes';
        let ws_scheme = window.location.protocol === "https:" ? "wss" : "ws";
        let chatSocket = new ReconnectingWebSocket( ws_scheme + '://' + window.location.host + '/ws/turno/' + roomName + '/');
        chatSocket.onmessage = function(e)
        {
            let data = JSON.parse(e.data);
            let turno_id = data['turno_id'];
            if ( data['tipo_actualizacion'] === 'tipeo_finalizado')
            {
                if (data['tipeo_finalizado_tipo'] === 'audio') {
                    $('#informe_estado_'+turno_id).html('<span class="label label-info">INFORME DE AUDIO <span style="color: #123d04">TIPEADO</span></span>')
                } else {
                    $('#informe_estado_'+turno_id).html('<span class="label label-info"><span style="color: #103eff">TIPEADO</span></span>')
                }
            }
            else if (data['tipo_actualizacion'] === 'asigna_medico')
            {
                let medicoactual_matricula = '{{ medico_matricula }}';
                const vista_mis_pendientes = '{{ request.session.modo_vista  }}'
                if (medicoactual_matricula === data['medico_matricula'] && vista_mis_pendientes === 'normal')
                {
                    let turno_row = $('#informe_row_' + turno_id);
                    if (!turno_row.length)
                    {
                        const servicio = data['servicio'];
                        const nombre = data['apellido_nombre'];
                        const fecha = data['fecha'].split(" ");
                        const id_numero = data['identificacion_numero'];
                        const atencion = data['atencion'];
                        const url = '/informe/informe_crearmedico/' + turno_id + '/';
                        const row_id = 'informe_row_' + turno_id;
                        const td_id = 'informe_estado_' + turno_id;

                        tabla_medicos.row.add($('<tr id="' + row_id + '">' +
                            '<td data-order=0>'+ turno_id + '</td>' +
                            '<td >'+fecha[0] + '</td>' +
                            '<td >'+fecha[1] + '</td>' +
                            '<td >'+id_numero + '</td>' +
                            '<td >'+nombre + '</td>' +
                            '<td >'+servicio + '</td>' +
                            '<td >'+atencion + '</td>' +
                            '<td id="' + td_id + '" ><span class="label label-default">SIN INFORMAR</span></td>' +
                            `<td ><a href="` + url + `" class="btn-sm btn-primary"><strong>Informar</strong></a></td>` +
                            '</tr>'
                        ) ).draw();
                    }
                }
                else if (vista_mis_pendientes === 'todos')
                {
                    let medicoactual_matricula = '{{ medico_matricula }}';
                    if (medicoactual_matricula === data['medico_matricula'])
                    {
                        let turno_row = $('#informe_row_' + turno_id);
                        if (turno_row.length)
                        {
                            tabla_medicos.row(turno_row).remove().draw();
                        }
                    }
                }
            }
            else if (data['tipo_actualizacion'] === 'remover_medico')
            {
                let medicoactual_matricula = '{{ medico_matricula }}';
                const vista_mis_pendientes = '{{ request.session.modo_vista  }}'
                if (medicoactual_matricula === data['medico_matricula'] && vista_mis_pendientes === 'normal')
                {
                    if (medicoactual_matricula === data['medico_matricula'])
                    {
                        let turno_row = $('#informe_row_' + turno_id);
                        if (turno_row.length)
                        {
                            tabla_medicos.row(turno_row).remove().draw();
                        }
                    }
                }
                else if (vista_mis_pendientes === 'todos'){
                    let turno_row = $('#informe_row_' + turno_id);
                    if (!turno_row.length)
                    {
                        let servicio = data['servicio'];
                        let nombre = data['apellido_nombre'];
                        let fecha = data['fecha'].split(" ");
                        let id_numero = data['identificacion_numero'];
                        let atencion = data['atencion'];
                        let url = '/informe/informe_crearmedico/' + turno_id + '/';
                        let new_row = tabla_medicos.row.add([
                            turno_id,
                            fecha[0],
                            fecha[1],
                            id_numero,
                            nombre,
                            servicio,
                            atencion,
                            '<span class="label label-default">SIN INFORMAR</span>',
                            `<a href="` + url + `" class="btn-sm btn-primary"><strong>Informar</strong></a>`,
                        ]).draw().node();
                        let row_id = 'informe_row_' + turno_id;
                        $(new_row).attr('id', row_id)
                        let td_id = 'informe_estado_' + turno_id;
                        $('td:eq(7)', new_row).attr('id', td_id);
                    }
                }
            }
        };
    </script>
    <script>
        window.onload = function ()
        {
            document.getElementById("panel-table").style["opacity"] = "1";
        }
    </script>
    <script>
        function abrir_modal(url)
        {
            $('#popup').load(url, function()
            {
                $(this).modal('show');
            });
            return false;
        }
    </script>
    <script>
        {% if  request.GET.error == "nofirmado" %}
            iziToast.question({
                timeout: 4000,
                close: false,
                overlay: true,
                displayMode: 'once',
                id: 'question',
                zindex: 999,
                title: 'Nombre de informe subido incorrecto. Verificar por favor que termine en _firmado',
                position: 'center',
                color: 'red',

            });
        {% endif %}
        {% if request.GET.exito == "correcto" %}
            iziToast.info({
                timeout: 4000,
                close: false,
                overlay: true,
                displayMode: 'once',
                id: 'info',
                zindex: 999,
                title: 'Informe guardado exitosamente',
                position: 'center',
                color: 'green',
            });
        {% endif %}
    </script>
    <script>
        function startTimer(duration, display) {
            let timer = duration, minutes, seconds;
            setInterval(function () {
                minutes = parseInt(timer / 60, 10);
                seconds = parseInt(timer % 60, 10);
                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;
                display.textContent = minutes + ":" + seconds;
                if (--timer === 0) {
                    window.location.reload()
                }
            }, 1000);
        }
        {% if request.session.modo_vista != 'informesyo' %}
            startTimer(60*5, document.querySelector('#time'));
        {% endif %}
    </script>
{% endblock %}
