<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form role="form" action="{% url 'informe:inf_subirfirmado' object.pk %}" method="post" enctype="multipart/form-data">
            <div class="modal-header">
                <div class="pull-right">&nbsp;
                    <a class="btn btn-danger"  data-dismiss="modal" title="Cerrar" style="margin-left: 10px"><i class="fas fa-times"></i></a>
                </div>
                <h4>Informe Servicio Externo</h4>
            </div>
            <div class="modal-body">
                <h5 class="bg-warning">
                    <strong>
                        <i class="fas fa-exclamation-triangle text-red"></i>
                        Verificar que el informe agregado corresponda al expediente/paciente actual. El sistema no realiza ningún tipo de validación sobre el archivo.
                    </strong>
                </h5>
                <h5 class="bg-warning">
                    <strong class="text-danger">
                        Formato de archivo permitido: PDF de tamaño hasta 2.5 MB
                    </strong>
                </h5>
                {% csrf_token %}
                {{ form }}
            </div>
            <div class="modal-footer">
                <div class="col-lg-12 text-right">
                    <input type="submit" class="btn btn-success" name="submit" value="Guardar">
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $('#id_informe_firmadopdf').attr('accept', '.pdf');
</script>