{% extends 'base.html' %}
{% load static %}
{% block css_app %}
    <link href="{% static 'dist/css/datatables/buttons.bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'dist/css/datatables/responsive.foundation.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'dist/css/datatables/dataTables.bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'dist/css/datatables/scroller.bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'static_informe/informe/css/custom.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div id='panel-table' class="box" style="opacity: 0">
                    <div class="box-body">
                        <div class="table-responsive">
                            <table id="data-table-full"
                                   class="table table-striped table-bordered table-hover table-condensed table-responsive table-small-font">
                                <thead>
                                <tr>
                                    <th class="text-center all">Numero Expediente</th>
                                    <th class="text-center all">Fecha</th>
                                    <th class="text-center all">Hora</th>
                                    <th class="text-center all">Documento</th>
                                    <th class="text-center all">Nombre y Apellido</th>
                                    <th class="text-center all">Servicio</th>
                                    <th class="text-center all">Atencion</th>
                                    <th class="text-center all">Estado</th>
                                    <th class="text-center all">Descargar Informe para firmar</th>
                                    <th class="text-center all">Subir informe Firmado</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for tur in object_list %}
                                    <tr>
                                        <td class="text-center"> {{ tur.id }}</td>
                                        <td class="text-center"> {{ tur.fechahora_inicio|date:'d/m/y' }}</td>
                                        <td class="text-center"> {{ tur.fechahora_inicio|date:'H:i' }}</td>
                                        <td class="text-center"> {{ tur.paciente.identificacion_numero }}</td>
                                        <td class="text-center">{{tur.paciente.apellido}} {{tur.paciente.nombre}}</td>
                                        <td class="text-center">{{ tur.servicio.nombre }}</td>
                                        <td class="text-center"> {% if tur.urgencia %}Urgente{% else %}Programada{% endif %}</td>
                                        <td class="text-center"> <span class="label label-warning">Finalizado sin firmar</span></td>
                                        <td class="text-center"><a href=" {% url 'informe:inf_informegenerar' %}?turnoid={{ tur.id }}" class="btn-sm btn-info"><i class="far fa-file-alt"></i></a></td>
                                        <td class="text-center"><a onclick="abrir_modal('{% url 'informe:inf_subirfirmado' tur.id %}')"><i class="fas fa-file-upload" style="font-size: x-large"></i></a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="popup" class="modal fade" role="dialog"> </div>

{% endblock %}

{% block js_app %}
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/jszip.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/pdfmake.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/vfs_fonts.js' %}"></script>
    <script src="{% static 'plugins/datatables/buttons.html5.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/buttons.print.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.keyTable.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/responsive.bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.scroller.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/buttons.colVis.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.select.min.js' %}"></script>
    <script src="{% static 'static_informe/informe/js/datatables.init.js' %}"></script>
    <script>
        window.onload = function () {
            document.getElementById("panel-table").style["opacity"] = "1";
        }
    </script>
    <script>
        function abrir_modal(url)
        {
            $('#popup').load(url, function()
            {
                $(this).modal('show');
            });
            return false;
        }
    </script>
    <script>
        {% if  request.GET.error == "nofirmado" %}
            alert("Nombre de informe subido incorrecto. Verificar por favor que termine en _firmado")
        {% endif %}
    </script>
{% endblock %}
