{% extends "base.html" %}
{% load static %}
{% block css_app %}
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/DataTables-1.10.20/css/dataTables.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/Buttons-1.6.1/css/buttons.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/Responsive-2.2.3/css/responsive.foundation.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/Select-1.3.1/css/select.bootstrap.min.css' %}">
    <style>
        @media (min-width: 768px) {
            .modal-xxl {
                width: 90%;
                max-width:1300px;
            }
        }
    </style>
{% endblock %}

{% block content %}
    <div class="box">
            <h3 class="text-center text-blue">
            <strong style="padding-left: 15px">REMITO - INGRESOS</strong>
        </h3>
        <div class="box-header">
            <div class="row">
                <div class="col-sm-5">
                    <a onclick="modal_remito_ingreso()" class="btn btn-success"><i class="fa fa-plus" style="color: white"></i> Ingreso Insumo</a>
                </div>
            </div>
        </div>
        <div class="box-body">
            <div class="table-responsive">
                <table id="tabla-insumotecnico" class="table table-bordered table-striped text-center table-condensed table-small-font">
                    <thead class="bg-light-blue-active">
                    <tr>
                        <th>Remito Nº</th>
                        <th>Fecha</th>
                        <th>Tipo</th>
                        <th>Nº Orden Comp.</th>
                        <th>Proveedor</th>
                        <th>Observaciones</th>
                        <th>Detalle</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for remito in remitos %}
                        <tr>
                            <td data-order="{{ forloop.counter }}">{{remito.id}}</td>
                            <td>{{remito.fecha|date:"d-m-Y"}}</td>
                            <td>{{remito.tipo_ingreso}}</td>
                            <td>{{remito.orden_compra_numero|default:'---'}}</td>
                            <td>{{remito.proveedor.nombre|default:'---'}}</td>
                            <td>{{remito.observaciones|default:'---'}}</td>
                            <td>
                                <a class="btn btn-sm btn-primary" href="{% url 'tecnico:remito_ingreso_proveedor_detalle'%}?remitoid={{ remito.id }}" target="_blank"><i class="fas fa-print"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="popup_remito_ingreso" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-xxl">
            <div class="modal-content modal-form">
                <div class="modal-header">
                    <div class="pull-right">&nbsp;
                        <a class="btn btn-danger"  data-dismiss="modal" title="Cerrar" style="margin-left: 10px"><i class="fas fa-times"></i></a>
                    </div>
                    <h4 class="modal-title" ><label class="text-info">Registrar - Remito de Ingreso Insumo
                    </label></h4>
                </div>

                <div class="modal-body">
                    <form id="formInsumos">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-xs-2">
                                <label>Remito Fecha</label>
                                <input class="form-control control input-sm" type="date" value="" id="remitoingreso-fecha" name="remitoingreso-fecha" required />
                            </div>

                            <div class="col-xs-3">
                                <label>Tipo de Ingreso</label>
                                <select class="form-control input-sm" id="select-tipoingreso" name="select-tipoingreso" onchange="tipoingreso()">
                                    <option value="Orden de Compra" >Orden de Compra</option>
                                    <option value="Reposición">Reposición Servicios</option>
                                    <option value="Reposición-t">Reposición Técnicos</option>
                                </select>
                            </div>
                            <div class="col-xs-3">
                                <label>Servicio Reposición</label>
                                <select class="form-control input-sm" id="select-servicios" name="select-servicios"></select>
                                <input type="hidden" id="select-tipo" name="select-tipo" value="">
                            </div>
                            <div class="col-xs-3">
                                <label>Nº Orden Compra </label>
                                <input class="form-control input-sm" value=""  type="text" id="ordencompra-numero" name="ordencompra-numero"/>
                            </div>
                        </div>
                        <div class="row " style="padding-top: 5px">
                            <div class="col-xs-1">
                                <label>Código Prov.</label>
                                <input class="form-control input-sm" value="" onfocusout="buscar_proveedor()"  onkeydown="proveedor_autocomplete(event)" id="proveedor-codigo" name="proveedor-codigo" required />
                            </div>
                            <div class="col-xs-4">
                                <label>Proveedor - Razón Social</label>
                                <input class="form-control input-sm" value="" id="proveedor" readonly/>
                            </div>
                            <div class="col-xs-3">
                                <label> Nº Remito Prov.</label>
                                <input class="form-control input-sm" value=""  id="proveedor-remito-numero" name="proveedor-remito-numero"/>
                            </div>
                            <div class="col-xs-2">
                                <label>Prov. Remito Fecha</label>
                                <input class="form-control input-sm" value=""  type="date" id="proveedor-remito-fecha" name="proveedor-remito-fecha"/>
                            </div>
                        </div>
                        <div class="row " style="padding-top: 5px">
                            <div class="col-xs-5">
                                <label>Observaciones</label>
                                <input class="form-control input-sm" value=""  type="text" id="remito-obs" name="remito-obs"/>
                            </div>
                            <div class="col-xs-3">
                                <label>Nº Factura</label>
                                <input class="form-control input-sm" value=""  id="factura-numero" name="factura-numero"/>
                            </div>
                            <div class="col-xs-2">
                                <label>Fact. Fecha</label>
                                <input class="form-control input-sm" value=""  type="date" id="factura-fecha" name="factura-fecha" />
                            </div>
                            <div class="col-xs-2">
                                <label>Fact. Importe</label>
                                <input class="form-control input-sm number-decimal" id="factura-importe" name="factura-importe" type="number" min="0.00" step="0.01" placeholder="00.00"/>
                            </div>
                        </div>
                        <hr>
                        <div id="listado-insumos">
                        </div>
                        <input id="cantidad-total-insumos" name="cantidad-total-insumos" value="0" class="hidden">
                    </form>

                    <a class="text-green" onclick="nuevoitem()"><u>+ Agregar Item</u></a>
                </div>
                <div class="modal-footer">
                    <a  class="btn btn-success waves-effect waves-light"  onclick="nuevo_remito()">
                        <b>Registrar Remito</b>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_app %}
    <script src="{% static 'plugins/datatables-actualizado/DataTables-1.10.20/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/DataTables-1.10.20/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/Responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/Responsive-2.2.3/js/responsive.bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/Select-1.3.1/js/dataTables.select.min.js' %}"></script>
    <script>
        $(function () {
            $('#tabla-insumotecnico').DataTable({
            columnDefs: [
                { className: "text-center", targets: "_all" },
                {
                   'searchable'    : false,
                   'targets'       : [1,2,3,4,5,6]
                },
            ],
            dom:    "<'row pull-left'<'col-sm-4'f><'col-sm-5'<'toolbar'>><'col-sm-3'>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-5'i><'col-sm-7'p>>",
            pageLength: 20,
            language: {
                "sProcessing":     "Procesando...",
                "sLengthMenu":     "Ver: _MENU_",
                "sZeroRecords":    "No se encontraron resultados",
                "sEmptyTable":     "Sin registros pendientes",
                "sInfoPostFix":    "",
                "sSearch":         "",
                'searchPlaceholder': "Buscar por Nº de Comprob.",
                "sInfo": "Total de resultados: _TOTAL_",
                "sInfoFiltered": " - Filtrado de _MAX_ resultados",
                "infoEmpty":      "",
                paginate: {
                    previous: '‹',
                    next:     '›'
                },
                select: {
                    rows: ""
                }
            },
            })
        })
    </script>

    <script>
        var cantidadinsumos_remito_ingreso = 0;
        function modal_remito_ingreso() {
            $('#popup_remito_ingreso').modal('show');
            cantidadinsumos_remito_ingreso = 1;
            const item1 = `
                            <div class="row" id="insumo-row-1">
                            <div class="col-xs-4" style="padding: 0 0 0 15px ">
                                <div class="col-xs-2" style="padding:0 ">
                                    <label>Cód. Ins.</label>
                                    <input onchange="cambiarinsumo_input(this.value,1)" class="form-control input-sm insumo-codigo" value="" id="insumo-1" name="insumo-1" required>
                                </div>
                                <div class="col-xs-7" style="padding:0 ">
                                    <label>Insumo</label>
                                    <select class="form-control input-sm" onchange="cambiarinsumo_select(this.value,1)" id="select-insumos-1">
                                        <option value="1" selected="selected" disabled>---</option>
                                        {% for ins in insumos %}
                                            <option value="{{ ins.codigo }}" data-pres="{{ ins.unidad_tipo }}">{{ ins.nombre }} - {{ ins.unidad_tipo }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-xs-3" style="padding:0 ">
                                    <label>Pres.</label>
                                    <input class="form-control input-sm" id="insumo-presentacion-1" readonly>
                                </div>
                            </div>
                            <div class="col-xs-3"  style="padding:0 ">
                                <div class="col-xs-3" style="padding:0 ">
                                    <label>Unid.</label>
                                    <input class="form-control input-sm" type="number" step="1" min="0" required onchange="calcular_importe(1)" id="insumo-cantidad-1" name="insumo-cantidad-1">
                                </div>
                                <div class="col-xs-4" style="padding:0 ">
                                    <label>C/Unt.</label>
                                    <input class="form-control input-sm number-decimal" required onchange="calcular_importe(1)" id="insumo-costounit-1" name="insumo-costounit-1" type="number" min="0.00" step="0.01" placeholder="00.00">
                                </div>
                                <div class="col-xs-5" style="padding:0 ">
                                    <label>Importe</label>
                                    <input class="form-control input-sm" readonly id="insumo-importe-1" name="insumo-importe-1">
                                </div>
                            </div>
                            <div class="col-xs-5"  style="padding:0 15px 0 0 ">
                                <div class="col-xs-3" style="padding:0 ">
                                    <label>Lote </label>
                                    <input class="form-control input-sm" id="insumo-lote-1" name="insumo-lote-1">
                                </div>
                                <div class="col-xs-3" style="padding:0 ">
                                    <label>Lote Venc.</label>
                                    <input class="form-control input-sm" id="insumo-lotevencimiento-1" name="insumo-lotevencimiento-1" placeholder="dd/mm/yyyy">
                                </div>
                                <div class="col-xs-3" style="padding:0 ">
                                    <label>Laboratorio</label>
                                    <input class="form-control input-sm" id="insumo-laboratorio-1" name="insumo-laboratorio-1">
                                </div>
                                <div class="col-xs-2" style="padding:0 ">
                                    <label>Nom. Comerc.</label>
                                    <input class="form-control input-sm" value="" id="insumo-nombrecomercial-1" name="insumo-nombrecomercial-1">
                                </div>
                                <div class="col-xs-1"  style="padding-left: 0px">
                                    <label class="text-white">------</label>
                                    <a class="btn btn-sm text-red" onclick="delete_row(1)"><i class="fas fa-times"></i> </a>
                                 </div>
                            </div>
                        </div>
    `
            $('#listado-insumos').html(item1)
            $('#insumo-lotevencimiento-1').inputmask('dd/mm/yyyy', {
                'placeholder': 'dd/mm/yyyy'
            })

            $("#insumo-1").autocomplete({
                source: "{% url 'tecnico:insumo_listar' %}",
                maxShowItems: 15,
                autoFocus: true,
                delay: 0,
            });
        }

        function nuevoitem() {
            cantidadinsumos_remito_ingreso += 1
            const divInsumos = $('#listado-insumos');

            const new_item = `
                        <div class="row" id="insumo-row-` + cantidadinsumos_remito_ingreso  + `">
                            <div class="col-xs-4" style="padding: 0 0 0 15px ">
                                <div class="col-xs-2" style="padding:0 ">
                                    <input onchange="cambiarinsumo_input(this.value,` + cantidadinsumos_remito_ingreso  + `)" class="form-control input-sm insumo-codigo" value="" id="insumo-` + cantidadinsumos_remito_ingreso  + `" name="insumo-` + cantidadinsumos_remito_ingreso  + `">
                                </div>
                                <div class="col-xs-7" style="padding:0 ">
                                    <select class="form-control input-sm" onchange="cambiarinsumo_select(this.value,` + cantidadinsumos_remito_ingreso + `)" id="select-insumos-` + cantidadinsumos_remito_ingreso + `">
                                        <option value="1" selected="selected" disabled>---</option>
                                        {% for ins in insumos %}
                                            <option value="{{ ins.codigo }}" data-pres="{{ ins.unidad_tipo }}">{{ ins.nombre }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-xs-3" style="padding:0 ">
                                    <input class="form-control input-sm" id="insumo-presentacion-` + cantidadinsumos_remito_ingreso  + `" readonly>
                                </div>
                            </div>
                            <div class="col-xs-3"  style="padding:0 ">
                                <div class="col-xs-3" style="padding:0 ">
                                    <input class="form-control input-sm" type="number" required onchange="calcular_importe(` + cantidadinsumos_remito_ingreso + `)" id="insumo-cantidad-` + cantidadinsumos_remito_ingreso  + `" name="insumo-cantidad-` + cantidadinsumos_remito_ingreso  + `">
                                </div>
                                <div class="col-xs-4" style="padding:0 ">
                                    <input class="form-control input-sm" required  onchange="calcular_importe(` + cantidadinsumos_remito_ingreso + `)" id="insumo-costounit-` + cantidadinsumos_remito_ingreso  + `" name="insumo-costounit-` + cantidadinsumos_remito_ingreso  + `" placeholder="00.00">
                                </div>
                                <div class="col-xs-5" style="padding:0 ">
                                    <input class="form-control input-sm" readonly id="insumo-importe-` + cantidadinsumos_remito_ingreso  + `" name="insumo-importe-` + cantidadinsumos_remito_ingreso  + `">
                                </div>
                            </div>
                            <div class="col-xs-5"  style="padding:0 15px 0 0 ">
                                <div class="col-xs-3" style="padding:0 ">
                                    <input class="form-control input-sm" id="insumo-lote-` + cantidadinsumos_remito_ingreso  + `" name="insumo-lote-` + cantidadinsumos_remito_ingreso  + `">
                                </div>
                                <div class="col-xs-3" style="padding:0 ">
                                    <input class="form-control input-sm" id="insumo-lotevencimiento-` + cantidadinsumos_remito_ingreso  + `" name="insumo-lotevencimiento-` + cantidadinsumos_remito_ingreso  + `" placeholder="dd/mm/yyyy">
                                </div>
                                <div class="col-xs-3" style="padding:0 ">
                                    <input class="form-control input-sm" id="insumo-laboratorio-` + cantidadinsumos_remito_ingreso  + `" name="insumo-laboratorio-` + cantidadinsumos_remito_ingreso  + `">
                                </div>
                                <div class="col-xs-2" style="padding:0 ">
                                    <input class="form-control input-sm" value="" id="insumo-nombrecomercial-` + cantidadinsumos_remito_ingreso  + `" name="insumo-nombrecomercial-` + cantidadinsumos_remito_ingreso  + `">
                                </div>
                                <div class="col-xs-1"  style="padding-left: 0px">
                                    <a class="btn btn-sm text-red" onclick="delete_row(` + cantidadinsumos_remito_ingreso + `)"><i class="fas fa-times"></i> </a>
                                 </div>
                            </div>
                        </div>
    `

            divInsumos.append(new_item)
            $('#insumo-lotevencimiento-' + cantidadinsumos_remito_ingreso ).inputmask('dd/mm/yyyy', {'placeholder': 'dd/mm/yyyy'})

            let inputInsumoCodido =  $("#insumo-" + cantidadinsumos_remito_ingreso);
            inputInsumoCodido.autocomplete({
                source: "{% url 'tecnico:insumo_listar' %}",
                maxShowItems: 15,
                autoFocus: true,
                delay: 0,
            });
        }

        function cambiarinsumo_select(insumoCodigo, nroOrden) {
            $('#insumo-'+nroOrden).val(insumoCodigo)
            $('#insumo-presentacion-'+nroOrden).val($('#select-insumos-'+nroOrden).find(':selected').data('pres'))
        }
        function cambiarinsumo_input(insumoCodigo, nroOrden) {
            $('#select-insumos-'+nroOrden).val(insumoCodigo)
            $('#insumo-presentacion-'+nroOrden).val($('#select-insumos-'+nroOrden).find(':selected').data('pres'))
        }

        function nuevo_remito()
        {
            const form_remito = document.forms['formInsumos'];
            if (!form_remito.reportValidity())
            {
                form_remito.reportValidity();
            }
            else
            {
                $('#cantidad-total-insumos').val(cantidadinsumos_remito_ingreso)
                $.ajax({
                    type: 'post',
                    url:  '{% url 'tecnico:remito_ingreso_nuevo' %}',
                    data: $('#formInsumos').serialize(),
                    success: function (data) {
                        if(data['success'])
                        {
                            location.reload();
                        }
                        else
                        {
                            alert('Error: No se pudo completar la operación')
                        }
                    },
                    error: function(data) {
                    }
                });
            }
        }

        function calcular_importe(row) {
            const cantidad = $('#insumo-cantidad-' + row).val()
            const costo_unit = $('#insumo-costounit-' + row).val()
            $('#insumo-importe-' + row).val(cantidad * costo_unit)
        }

    </script>
    <script>
        var numberElement = document.querySelector('.number-decimal');
        numberElement.addEventListener('change',alterNumber);

        function alterNumber(event) {
            var el = event.target;
            var elValue = el.value;
            el.value = parseFloat(elValue).toFixed(2);

        }
    </script>

    <script>
        let inputProveedor =  $("#proveedor-codigo");
        $(function () {
            inputProveedor.autocomplete({
                source: "{% url 'tecnico:proveedor_listar' %}",
                maxShowItems: 15,
                autoFocus: true,
                delay: 0,
            });
        });
        function proveedor_autocomplete(e){
            if (e.keyCode === 66 && e.ctrlKey)
            {
                inputProveedor.autocomplete( "search", "*" );
            }
        }

        function buscar_proveedor()
        {
            $.ajax({
                type: 'get',
                url: "{% url 'tecnico:proveedor_buscar' %}",
                data: {
                    'codigo': $('#proveedor-codigo').val(),
                },
                success: function (data) {
                    if(data['success']) {
                        $('#proveedor').val(data['proveedor_nombre']);
                    }
                    else {
                        $('#proveedor').val('');
                        $('#proveedor-codigo').val('');
                    }
                },
                error: function () {
                    alert("Error: No se pudo completar la operación");
                }
            });
        }

        function delete_row(rowNumber) {
            $('#insumo-row-' + rowNumber).remove()
        }
    </script>

    <script>
        function tipoingreso()  {
            const tipoingreso = $('#select-tipoingreso').val();
            const selectservicios = document.getElementById('select-servicios');
            let opt;
            if (tipoingreso === 'Reposición') {
                selectservicios.innerText = null;
                {% for servicio in servicios %}
                    opt = document.createElement('option');
                    opt.value = '{{ servicio.id }}';
                    opt.innerHTML = '{{ servicio.nombre }}';
                    selectservicios.appendChild(opt);
                    document.getElementById("proveedor-codigo").required = false;
                    document.getElementById("select-servicios").required = true;
                    document.getElementById("select-tipo").value = 'servicio';

                {% endfor %}
            } else if (tipoingreso === 'Reposición-t') {
                selectservicios.innerText = null;
                {% for tecnico in tecnicos %}
                    opt = document.createElement('option');
                    opt.value = '{{ tecnico.user.id }}';
                    opt.innerHTML = '{{ tecnico.user.last_name|upper }}, {{ tecnico.user.first_name|upper }}';

                    selectservicios.appendChild(opt);
                    document.getElementById("select-tipo").value = 'tecnico';
                    document.getElementById("proveedor-codigo").required = false;
                    document.getElementById("select-servicios").required = true;
                {% endfor %}
            } else {
               let i, L = selectservicios.options.length - 1;
               for(i = L; i >= 0; i--) {
                  selectservicios.remove(i);
               }
                document.getElementById("proveedor-codigo").required = true;
               document.getElementById("select-servicios").required = false;
            }
        }
    </script>
{% endblock %}
