{% extends "base.html" %}
{% load static %}

{% block css_app %}
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/DataTables-1.10.20/css/dataTables.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/Buttons-1.6.1/css/buttons.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/Responsive-2.2.3/css/responsive.foundation.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/Select-1.3.1/css/select.bootstrap.min.css' %}">
    <style>
        @media (min-width: 768px) {
            .modal-xxl {
                width: 90%;
                max-width:1300px;
            }
        }
    </style>
{% endblock %}

{% block content %}
    <div class="box">
        <h3 class="text-center text-blue">
            <strong style="padding-left: 15px">REMITO - EGRESOS</strong>
        </h3>
        <div class="box-body">
            <div class="table-responsive">
                <table id="tabla-insumotecnico" class="table table-bordered table-striped text-center table-condensed table-small-font">
                    <thead class="bg-light-blue-active">
                    <tr>
                        <th>Comprobante Nº</th>
                        <th>Fecha</th>
                        <th>Concepto</th>
                        <th>Servicio/Tecnico</th>
                        <th>Observaciones</th>
                        <th>Impr. Comprob.</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for remito in remitos_egreso_servicio %}
                        <tr>
                            <td data-order="{{ remito.comprobante_numero }}">{{remito.comprobante_numero}}</td>
                            <td>{{remito.fecha|date:"d-m-Y"}}</td>
                            <td>Entrega Insumos Servicio</td>
                            <td>{{remito.servicio.nombre}}</td>
                            <td>{{remito.observaciones|default:'---'}}</td>
                            <td>
                                <a class="btn btn-sm btn-primary"
                                   href="{% url 'tecnico:remito_entrega_insumos_serv'%}?remitoentregaid={{ remito.id }}"
                                   target="_blank"><i class="fas fa-print"></i></a>
                            </td>
                        </tr>
                    {% endfor %}

                    {% for remito in remitos_egreso_tecnico %}
                        <tr>
                            <td data-order="{{ remito.comprobante_numero }}">{{remito.comprobante_numero}}</td>
                            <td>{{remito.fecha|date:"d-m-Y"}}</td>
                            <td>Entrega Insumos Tecnico</td>
                            <td>{{remito.tecnico.first_name}}, {{remito.tecnico.last_name}}</td>
                            <td>{{remito.observaciones|default:'---'}}</td>
                            <td>
                                <a class="btn btn-sm btn-primary"
                                   href="{% url 'tecnico:remito_entrega_insumos'%}?remitoentregaid={{ remito.id }}"
                                   target="_blank"><i class="fas fa-print"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_app %}
    <script src="{% static 'plugins/datatables-actualizado/DataTables-1.10.20/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/DataTables-1.10.20/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/Responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/Responsive-2.2.3/js/responsive.bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/Select-1.3.1/js/dataTables.select.min.js' %}"></script>

    <script>
        $(function () {
            $('#tabla-insumotecnico').DataTable({
                order: [[ 0, "desc" ]],
                columnDefs: [
                    { className: "text-center", targets: "_all" },
                    {
                        'searchable'    : false,
                        'targets'       : [1,2,3,4,5]
                    },
                ],
                dom:    "<'row pull-left'<'col-sm-4'f><'col-sm-5'<'toolbar'>><'col-sm-3'>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                pageLength: 20,
                language: {
                    "sProcessing":     "Procesando...",
                    "sLengthMenu":     "Ver: _MENU_",
                    "sZeroRecords":    "No se encontraron resultados",
                    "sEmptyTable":     "Sin registros pendientes",
                    "sInfoPostFix":    "",
                    "sSearch":         "",
                    'searchPlaceholder': "Buscar por Nº de Comprob.",
                    "sInfo": "Total de resultados: _TOTAL_",
                    "sInfoFiltered": " - Filtrado de _MAX_ resultados",
                    "infoEmpty":      "",
                    paginate: {
                        previous: '‹',
                        next:     '›'
                    },
                    select: {
                        rows: ""
                    }
                },
            })
        })
    </script>
{% endblock %}
