{% extends 'base.html' %}
{% load static %}
{% block content %}
    <form method="post" onsubmit="return confirm('¿DESEA CAMBIAR LA CONTRASEÑA?');">
      {% csrf_token %}
      {{ form }}
      <button type="submit">Confirmar</button>
    </form>
{% endblock %}
