{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tomografia Computada Sociedad del Estado</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bower_components/font-awesome-updated/css/all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'static_core/vendor/animate/animate.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'static_core/vendor/css-hamburgers/hamburgers.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'static_core/vendor/animsition/css/animsition.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'static_core/vendor/select2/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'static_core/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'static_core/css/main.css' %}">
</head>
<body>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form p-l-55 p-r-55 p-t-178" method="post">
                {% csrf_token %}
                <span class="login100-form-title" style="background-color: #2c6f97;">
						Tomografia Computada S.E.
					</span>
                <label>Usuario:</label>
                <div class="wrap-input100 validate-input m-b-16" data-validate="Ingrese un usuario">
                    {{ form.username }}
                    <span class="focus-input100"></span>
                </div>
                <label>Contraseña:</label>
                <div class="wrap-input100 validate-input" data-validate="Ingrese una contraseña">
                    {{ form.password }}
                    <span class="focus-input100"></span>
                </div>
                {% if form.errors %}
                    <p class="login-box-msg text-center" style="color:red">Usuario y/o contraseña incorrectos</p>
                {% endif %}
                <div class="text-right p-t-13 p-b-23">
                    <span class="txt1"></span>
                </div>

                <div class="container-login100-form-btn" >
                    <button  type="submit"  class="login100-form-btn" style="background-color: #2c6f97;">
                        Entrar
                    </button>
                </div>
                <div class="flex-col-c p-t-170 p-b-40">
                    <a href="http://www.tomografodelestado.com.ar" class="txt3" style="color: #2c6f97;">
                        www.tomografodelestado.com.ar
                    </a>
                    <span class="txt1 p-b-9">
                            <a  href="http://www.tomografodelestado.com.ar:2084"><u> Ir al WebMail </u></a>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="{% static 'bower_components/jquery/dist/jquery341.min.js' %}"></script>
<script src="{% static 'bower_components/jquery/dist/jquerymigrate.min.js' %}"></script>
<script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'static_core/vendor/animsition/js/animsition.min.js' %}"></script>
<script src="{% static 'static_core/vendor/select2/select2.min.js' %}"></script>
<script src="{% static 'static_core/js/main.js' %}"></script>

<script>
$('#id_username').addClass("input100");
$('#id_password').addClass('input100');
</script>

</body>
</html>