{% extends 'base.html' %}+
{% load static %}
{% block css_app %}
    <link href="{% static 'static_turno/med_der/css/custom.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <h4 >¿Desea eliminar al médico: <b>{{ object.name }}</b>?</h4>
    <div class="col-md-12 col-sm-12 col-xs-12 bg-white panel-body">
        <form method="post" >
            {% csrf_token %}

            <div class="form-group">
                <label>Apellido</label>
                <div class="input-bg-color" style="padding: 10px 10px;">
                    {{ object.apellido }}
                </div>
            </div>
            <div class="form-group">
                <label>Nombre</label>
                <div class="input-bg-color" style="padding: 10px 10px;">
                    {{ object.nombre }}
                </div>
            </div>
            <div class="form-group">
                <label>Matrícula</label>
                <div class="input-bg-color" style="padding: 10px 10px;">
                    {{ object.matricula }}
                </div>
            </div>
            <input type="submit" class="btn btn-primary" value="Eliminar">
            <a href="{% url 'turno:med_listar' %}" class="text-black btn btn-default">Cancelar</a>
        </form>
    </div>

{% endblock %}
