<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form method="post" action="{% url 'turno:med_actualizar' object.pk %}">
            <div class="modal-header">
                <a class="btn btn-danger pull-right"  data-dismiss="modal" title="Cerrar" style="margin-left: 10px"><i class="fas fa-times"></i></a>
                <h3>Modificar Médico</h3>
            </div>
            <div class="modal-body">
                {% csrf_token %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ form.as_p }}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-lg-12 text-right">
                    <button type="submit" class="btn btn-success pull-right " style="margin-right: 10px" > <strong>Guardar</strong></button>
                </div>
            </div>
        </form>
    </div>
</div>

