{% extends 'base.html' %}
{% load static %}

{% block css_app %}
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/DataTables-1.10.20/css/dataTables.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/Buttons-1.6.1/css/buttons.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/Responsive-2.2.3/css/responsive.foundation.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/Select-1.3.1/css/select.bootstrap.min.css' %}">
    <link href="{% static 'static_turno/med_der/css/custom.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <div id='panel-table' class="col-md-12 col-sm-12 col-xs-12  panel" style="opacity: 0">
        <br>

        <div class="box-body">
            <div class="table-responsive">
                <a onclick="return abrir_modal('{% url 'turno:med_crear' %}')" class="btn btn-success"><i class="fa fa-plus" style="color: white"></i></a>
                <table style="width: 100%" id="data-table-full" class="table table-bordered table-striped text-center table-condensed table-small-font" >
                    <h3>Listado de médicos</h3>
                    <style> h3 {text-align: center;}</style>
                    <style> h3 {
                        color: #31708f;;
                    }</style>
                    <thead>
                    <tr>
                        <th class="text-center all">Matrícula</th>
                        <th class="text-center all">Apellido y Nombre</th>
                        <th class="text-center all">Email</th>
                        <th class="text-center all">Teléfono</th>
                        <th class="text-center all">Modificar</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if object_list %}
                        {% for med in object_list %}
                            <tr>
                                <td class="text-center">{{med.matricula}}</td>
                                <td class="text-center">{{med.apellido}}</td>
                                <td class="text-center">{{med.observacion|default_if_none:"---"}}</td>
                                <td class="text-center">{{med.telefono|default_if_none:"---"}}</td>
                                <td class="text-center">
                                    <div >
                                        <a onclick="return abrir_modal('{% url 'turno:med_actualizar' med.id %}')" class="btn-sm btn-warning"><i class="fa fa-edit"></i></a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="ventana_modal" class="modal fade" role="dialog"></div>
{% endblock %}

{% block js_app %}
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/vfs_fonts.js' %}"></script>
    <script src="{% static 'plugins/datatables/buttons.html5.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/buttons.print.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.keyTable.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/responsive.bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.scroller.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.select.min.js' %}"></script>
    <script src="{% static 'static_turno/med_der/js/datatables.init.js' %}"></script>
    <script>
        window.onload = function () { document.getElementById("panel-table").style["opacity"] = "1";}
    </script>

    <script>
        function abrir_modal(url)
        {
            $('#ventana_modal').load(url, function()

            {
                $(this).modal({
                    backdrop: 'static',
                    keyboard: false
                });
                $(this).modal('show');
            });
            return false;
        }

        function cerrar_modal()
        {
            $('#ventana_modal').modal('hide');
            return false;
        }
    </script>
    <script>
        {% if  request.GET.error == "matricula" %}
            iziToast.question({
                timeout: 3000,
                close: false,
                overlay: true,
                displayMode: 'once',
                id: 'question',
                zindex: 999,
                title: 'No se pudo crear o editar médico. Matrícula repetida',
                position: 'center',
                color: 'red',
            });
        {% endif %}
    </script>
{% endblock %}
