{% extends 'base.html' %}+
{% load static %}
{% block css_app %}
    <link href="{% static 'static_turno/obrasocial/css/custom.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <h4 >¿Desea Eliminar Obra Social: <b>{{ object.name }}</b>?</h4>
    <div class="col-md-12 col-sm-12 col-xs-12 bg-white panel-body">
        <form method="post" >
            {% csrf_token %}
            <div class="form-group">
                <label>Nombre - Razón Social</label>
                <div class="input-bg-color" style="padding: 10px 10px;">
                    {{ object.nombre }}
                </div>
            </div>
            <div class="form-group">
                <label>Código</label>
                <div class="input-bg-color" style="padding: 10px 10px;">
                    {{ object.codigo }}
                </div>
            </div>
            <div class="form-group">
                <label>Abreviatura</label>
                <div class="input-bg-color" style="padding: 10px 10px;">
                    {{ object.abreviatura }}
                </div>
            </div>
            <div class="form-group">
                <label>Dirección</label>
                <div class="input-bg-color" style="padding: 10px 10px;">
                    {{ object.direccion }}
                </div>
            </div>
            <div class="form-group">
                <label>Estado</label>
                <div class="input-bg-color" style="padding: 10px 10px;">
                    {{ object.habilitada }}
                </div>
            </div>
            <div class="form-group">
                <label>Descripción</label>
                <div class="input-bg-color" style="padding: 10px 10px;">
                    {{ object.observacion }}
                </div>
            </div>
            <div class="form-group">
                <label>Información de Contacto</label>
                <div class="input-bg-color" style="padding: 10px 10px;">
                    {{ object.informacion_contacto}}
                </div>
            </div>

            <input type="submit" class="btn btn-primary" value="Eliminar">
            <a href="{% url 'turno:obrasocial_listar' %}" class="text-black btn btn-default">Cancelar</a>
        </form>
    </div>

{% endblock %}