{% extends 'base.html' %}+
{% load static %}
{% block css_app %}
    <link href="{% static 'dist/css/datatables/buttons.bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'dist/css/datatables/responsive.foundation.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'dist/css/datatables/dataTables.bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'dist/css/datatables/scroller.bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'static_turno/obrasocial/css/custom.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
    <div class="col-md-10 col-sm-10 col-xs-10 bg-white panel-body">
        <h3 class="text-center text-blue">Modificar Obra Social</h3>
        <form method="post" action="{% url 'turno:obrasocial_actualizar' object.pk %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success pull-right" > <strong><i class="far fa-save"></i> Guardar Cambios</strong></button>
        </form>
    </div>

{% endblock %}