{% extends 'base.html' %}
{% load static %}

{% block css_app %}
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/DataTables-1.10.20/css/dataTables.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/Buttons-1.6.1/css/buttons.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/Responsive-2.2.3/css/responsive.foundation.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/Select-1.3.1/css/select.bootstrap.min.css' %}">
    <link href="{% static 'static_turno/obrasocial/css/custom.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}

    <div id='panel-table' class="col-md-12 col-sm-12 col-xs-12  panel" style="opacity: 0">
        <div class="">
            {% if request.user.userprofile.user_jefe_facturacion %}
                <a href="{% url 'turno:obrasocial_crear' %}" class="pull-left btn btn-success"><strong><i class="fas fa-plus"></i> Nueva Obra Social</strong></a>
            {% endif %}

            <table style="width: 100%" id="data-table-full" class="table table-bordered table-hover table-condensed table-responsive" >
                <h3>Listado de Obras Sociales</h3>
                <style> h3 {text-align: center;}</style>
                <style> h3 {
                    color: #31708f;;
                }</style>
                <thead>
                <tr>
                    <th class="all">Código</th>
                    <th class="all">Obra Social</th>
                    <th class="all">Estado</th>
                    <th class="all">Activa</th>
                    <th class="all">Dirección</th>
                    <th class="none">Información de Contacto</th>
                    <th class="none">Abreviación</th>
                    <th class="none">Descripción:</th>
                    {% if request.user.userprofile.user_jefe_facturacion %}
                        <th class="all">Editar</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% if object_list %}
                    {% for obrasocial in object_list %}
                        <tr {% if not obrasocial.habilitada %} class="bg-danger" {% endif %}>
                            <td class="text-center">{{obrasocial.codigo}}</td>
                            <td class="text-center">{{obrasocial.nombre}}</td>
                            {% if obrasocial.habilitada %}<td class="text-center">Habiliitado</td>{% else %}<td class="text-center">Deshabilitado</td>{% endif %}
                            <td class="text-center">{% if obrasocial.activa %}SI{% else %}NO{% endif %}</td>
                            <td class="text-center">{{obrasocial.direccion}}</td>
                            <td class="text-center">{{obrasocial.informacion_contacto}}</td>
                            <td class="text-center">{{obrasocial.abreviatura}}</td>
                            <td class="text-center">{% if obrasocial.observacion %}{{obrasocial.observacion}}{% else %} --- {% endif %}</td>
                            {% if request.user.userprofile.user_jefe_facturacion %}
                                <td >
                                    <a href="{% url 'turno:obrasocial_actualizar' obrasocial.id %}" class="btn-sm btn-warning"><i class="fa fa-edit"></i></a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block js_app %}
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/responsive.bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.select.min.js' %}"></script>
    <script src="{% static 'static_turno/obrasocial/js/datatables.init.js' %}"></script>
    <script>
        window.onload = function () { document.getElementById("panel-table").style["opacity"] = "1";}
    </script>
{% endblock %}

