{% extends 'base.html' %}

{% block titulo %}
    <h1 class="page-header"></h1>
{% endblock %}

{% block content %}
    <p class="lead"></p>
    <div  class="col-md-4">
        {% if 'Recepcion' in request.user.userprofile.perfil or 'Tecnico' in request.user.userprofile.perfil or 'Administrador' in request.user.userprofile.perfil %}
            {% if request.session.location == 'Default' %}
                <div class="box col-sm-3 ">
                    <div class="box-header">
                        <h3 class="box-title">Seleccione una opción para continuar. </h3>
                    </div>
                    <div class="box-body">
                        {% if  request.user.userprofile.perfil == 'Tecnico' %}
                            <a class="btn btn-block btn-social btn-bitbucket"  href="{% url 'core:home' %}?location=boedotomografo">
                                <i class="fa fa-bitbucket"></i> TOMOGRAFO BOEDO SALTA
                            </a>
                            <a class="btn btn-block btn-social bg-green"  href="{% url 'core:home' %}?location=boedoresonador">
                                <i class="fa fa-bitbucket"></i> RESONADOR BOEDO SALTA
                            </a>
                        {% else %}
                            {% if 'Tecnico' in request.user.userprofile.perfil %}
                                <a class="btn btn-block btn-social bg-blue"  href="{% url 'core:home' %}?location=boedotomografo">
                                    <i class="fa fa-bitbucket"></i> SUCURSAL BOEDO SALTA TOMOGRAFO
                                </a>
                                <a class="btn btn-block btn-social bg-gray"  href="{% url 'core:home' %}?location=boedoresonador">
                                    <i class="fa fa-bitbucket"></i> SUCURSAL BOEDO SALTA RESONADOR
                                </a>
                                <a class="btn btn-block btn-social btn-bitbucket"  href="{% url 'core:home' %}?location=materno">
                                    <i class="fa fa-bitbucket"></i> SUCURSAL HOSP. MATERNO INF. SALTA
                                </a>
                                <hr>
                            {% elif request.user.userprofile.perfil  == 'Recepcion' or request.user.userprofile.perfil == 'Administrador'  %}
                                <a class="btn btn-block btn-social btn-bitbucket"  href="{% url 'core:home' %}?location=boedo">
                                    <i class="fa fa-bitbucket"></i> SUCURSAL BOEDO SALTA
                                </a>
                            {% endif %}
                            <a class="btn btn-block btn-social bg-orange" href="{% url 'core:home' %}?location=oran">
                                <i class="fa fa-dropbox"></i>  SUCURSAL ORÁN
                            </a>
                            <a class="btn btn-block btn-social bg-green" href="{% url 'core:home' %}?location=tartagal">
                                <i class="fa fa-facebook"></i> SUCURSAL TARTAGAL
                            </a>
                            <a class="btn btn-block btn-social btn-foursquare" href="{% url 'core:home' %}?location=embarcacion">
                                <i class="fa fa-flickr"></i> TOMOG. EMBARCACIÓN
                            </a>
                            <a class="btn btn-block btn-social text-white" style="background-color: #800000" href="{% url 'core:home' %}?location=embarcacionm">
                                <i class="fa fa-flickr"></i> MAMOG. EMBARCACIÓN
                            </a>
                            <a class="btn btn-block btn-social bg-aqua" href="{% url 'core:home' %}?location=cafayate">
                                <i class="fa fa-foursquare"></i> SUCURSAL CAFAYATE
                            </a>
                            <a class="btn btn-block btn-social btn-github" href="{% url 'core:home' %}?location=rosariof">
                                <i class="fa fa-github"></i> TOMOG. ROSARIO DEL LA FRONT.
                            </a>
                            <a class="btn btn-block btn-social bg-purple" href="{% url 'core:home' %}?location=rosariofm">
                                <i class="fa fa-github"></i> MAMOG. ROSARIO DEL LA FRONT.
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}