/*.input-bg-color {*/

/*  background-color : #F3F4F4; !important*/

/*}*/

/*.bg-white{*/
/*    background-color: #ffffff;*/
/*}*/

/*tr.selected{*/
/*    background-color: #D9E3FD !important;*/
/*    font-weight: bold !important;*/
/*}*/

/*!*dt center text*!*/
/*th.dt-center, td.dt-center { text-align: center; }*/

/*fix scroll focus multiples modals */
.modal { overflow: auto !important; }


/*autocomplete vertical scroll*/
.ui-autocomplete {
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}
/*datatables center align empty text*/
.dataTables_empty{
   text-align: center;
}

/*remove before */
.fc-time.no-before:before {
    content:none!important;
}