{% extends 'base.html' %}
{% load static %}

{% block css_app %}
    <link href="{% static 'dist/css/datatables/buttons.bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'dist/css/datatables/responsive.foundation.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'dist/css/datatables/dataTables.bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'dist/css/dataeventeventtables/scroller.bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'static_turno/paciente/css/custom.css' %}" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
    <link href="{% static 'static_informe/ckeditor/css/custom_ckeditor.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div id='panel-table' class="col-md-12 col-sm-12 col-xs-12  panel" style="opacity: 0">
        <h2>Editar Informe</h2>
        <div class="container">
            <div class="row text-center">
                <div class="col-md-2">
                    <a onclick="ajaxTraerTexto('1')" class="btn btn-info"><b>Texto 1</b></a>
                </div>
                <div class="col-md-2">
                    <a onclick="ajaxTraerTexto('2')" class="btn btn-info"><b>Texto 2</b></a>
                </div>
                <div class="col-md-2">
                    <a onclick="ajaxTraerTexto('3')" class="btn btn-info"><b>Texto 3</b></a>
                </div>
                <div class="col-md-2">
                    <a onclick="ajaxTraerTexto('4')" class="btn btn-info"><b>Texto 4</b></a>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
        <div class=Container>
            <div class="row">
                <div class="col-md-9 mx-auto">
                    <form method="post">{% csrf_token %}
                        <br>
                        {{ form.as_p }}
                        <input type="submit" class="btn btn-primary" name="editar" value="Editar">
                        <a href="{% url 'informe:inf_listar' %}" class="text-black btn btn-default">Cancelar</a>
                        <input type="submit" class="btn btn-danger" name="finalizar" value="Finalizar">
                    </form>
                </div>

            </div>
            <br>
        </div>

    </div>
{% endblock %}

{% block js_app %}
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/jszip.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/pdfmake.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/vfs_fonts.js' %}"></script>
    <script src="{% static 'plugins/datatables/buttons.html5.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/buttons.print.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.keyTable.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/responsive.bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.scroller.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/buttons.colVis.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.select.min.js' %}"></script>
    <script src="{% static 'static_turno/paciente/js/datatables.init.js' %}"></script>
    <script>
        window.onload = function () {
            document.getElementById("panel-table").style["opacity"] = "1";
        }
    </script>

    <script>
        function ajaxTraerTexto(numero) {
            $.ajax({
                url: "{% url 'informe:ajaxTraerTexto' %}",
                data: {
                    'numero': numero,
                },
                success: function (data) {
                    CKEDITOR.instances.id_texto.insertHtml(data['texto']);
                }

            })
        }
    </script>

{% endblock %}
