{% extends 'base.html' %}
{% load static %}
{% block css_app %}
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/DataTables-1.10.20/css/dataTables.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/Buttons-1.6.1/css/buttons.bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/Responsive-2.2.3/css/responsive.foundation.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/Responsive-2.2.3/css/responsive.foundation.min.css' %}">
    <link href="{% static 'static_informe/informe/css/custom.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-2"
                 style="padding-left: 0px;padding-right: 0px">
                {% for servicio in servicios %}
                    <a href="{% url 'informe:inf_listar' %}?q_servicio={{ servicio.id }}{% if 'facturacion' in request.GET %}&facturacion=true{% endif %}">
                        <div style="margin-bottom: 5px;padding-left: 8px;padding-right: 5px;border: 2px solid white; border-radius: 5px;" class="{% if servicio.atrasados_count == 0 %}bg-green{% elif 2 >= servicio.atrasados_count and servicio.atrasados_count > 0 %} bg-yellow {% else %} bg-red{% endif %}">
                        <span class="small">
                            <i class="{% if servicio.atrasados_count == 0 %}fa fa-check-circle{% elif 2 >= servicio.atrasados_count and servicio.atrasados_count > 0 %}fas fa-exclamation-circle {% else %}fas fa-radiation-alt{% endif %}"></i>
                            <strong >{{servicio.nombre_completo|slice:":15"|upper }}</strong>
                        </span>
                            <div>
                                <span class="info-box-number"> Pendientes: {{servicio.pendientes_todos_count}}</span>
                                <span class="small">
                              Atrasados: {{ servicio.atrasados_count }}
                                <span class="pull-right">En el dia: {{servicio.vencehoy_count}}</span>
                                <br>
                              Posteriores: {{servicio.vencedespues_count}}
                              </span>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
            <div class="col-md-10 col-sm-10 col-xs-10">
                <div class="row">
                    <div id='panel-table' class="col-md-12 col-sm-12 col-xs-12  panel" style="opacity: 0;padding-right: 0px; padding-left: 0px">
                        <div class="box-body">
                            <div class="table-responsive" style="width: 100%">
                                <table style="width: 100%" id="tabla-tipeo" class="table table-bordered table-striped text-center table-condensed table-small-font" style="width: 100%">
                                    <thead>
                                    <tr >
                                        <th class="text-center all" style="vertical-align: middle">Nº Orden</th>
                                        <th class="text-center all" style="vertical-align: middle">Fecha</th>
                                        <th class="text-center " style="vertical-align: middle">Hora</th>
                                        <th class="text-center " style="vertical-align: middle">Documento</th>
                                        <th class="text-center all" style="vertical-align: middle">Apellido y Nombre</th>
                                        <th class="text-center all" style="vertical-align: middle">Servicio</th>
                                        <th class="text-center " style="vertical-align: middle">Atención</th>
                                        <th class="text-center all" style="vertical-align: middle">Estado</th>
                                        <th class="text-center " style="vertical-align: middle">Informante</th>
                                        <th class="text-center " style="vertical-align: middle">Audio</th>
                                        <th class="text-center " style="vertical-align: middle">Tipeado</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for serv in servicios %}
                                        {% if serv.id == servicio_select_num|add:0 or servicio_select_num == ''%}
                                            {% for tur in serv.list_atrasados %}
                                                <tr class="turnoid{{ tur.id }}"
                                                        {% if tur.informe_finalizado and not tur.informe_firmadodigital %}
                                                    style="background-color: rgba(92,167,59,0.36)"
                                                        {% endif %}
                                                >
                                                    <td class="text-center" style="vertical-align: middle">
                                                        <a href=" {% url 'informe:inf_preinforme' pk=tur.pk %}?tipo=1"
                                                           class="btn-sm btn-primary margin">
                                                            <strong>{{ tur.id }}</strong></a>
                                                    </td>
                                                    <td class="text-center" style="vertical-align: middle" data-sort="{{ tur.fechahora_inicio|date:'YmdHi' }}"> {{ tur.fechahora_inicio|date:'d/m/y' }}</td>
                                                    <td class="text-center" style="vertical-align: middle"> {{ tur.fechahora_inicio|date:'H:i' }}</td>
                                                    <td class="text-center" style="vertical-align: middle"> {{ tur.paciente.identificacion_numero }}</td>
                                                    <td class="text-center" style="vertical-align: middle">
                                                        {% if tur.paciente.nombre or tur.paciente.apellido %}
                                                            {{tur.paciente.apellido}} {{tur.paciente.nombre}}
                                                        {% else %}
                                                            {{ tur.paciente.paciente_nnlabel|default:'---' }}
                                                        {% endif %}
                                                    </td>
                                                    <td class="text-center" style="vertical-align: middle"> {{tur.servicio}}</td>
                                                    <td class="text-center" style="vertical-align: middle"> {% if tur.urgencia %}<strong class="text-red">URG.</strong>{% else %}Prog.{% endif %}</td>
                                                        {% if tur.informe_finalizado %}
                                                            <td class="text-center" style="vertical-align: middle" data-sort="0">
                                                            <span class="label label-success">Finalizado</span>
                                                        {% else %}
                                                            <td class="text-center" style="vertical-align: middle" data-sort="{{ tur.horas_atraso|floatformat:'2' }}">
                                                            <span class="label label-danger">A: {{tur.tiempo_atraso}}</span>
                                                        {% endif %}
                                                    </td>
                                                    <td class="text-center" style="vertical-align: middle">
                                                        {% if tur.usuario_medico %}
                                                            <span id="medico_iniciales_{{ tur.id }}" class="badge bg-gray " >
                                                            {{ tur.usuario_medico.userprofile.iniciales }}
                                                        </span>
                                                        {% else %}
                                                            <span id="medico_iniciales_{{ tur.id }}" class="hidden badge bg-gray " >
                                                            {{ tur.usuario_medico.userprofile.iniciales }}
                                                        </span>
                                                        {% endif %}
                                                        <input id="input_matriculamedico_{{ tur.id }}"
                                                               value="{% if tur.informe_medicomatricula %}{{ tur.informe_medicomatricula }}{% endif %}"
                                                               size="1" onfocusout="medicomatricula(this,{{ tur.id }})">
                                                    </td>
                                                    <td class="text-center turnoid{{ tur.id }}" style="vertical-align: middle" id="audio_finalizado_{{ tur.id }}">
                                                        {% if tur.informe_audio %}
                                                            <strong><i class="fas fa-check"></i></strong>
                                                        {% else %}
                                                            -
                                                        {% endif %}
                                                    </td>
                                                    <td class="text-center" style="vertical-align: middle"
                                                        id="tipeo_finalizado_{{ tur.id }}">
                                                        {% if tur.informe_finalizado_tipeo %}
                                                            <strong><i class="fas fa-check"></i></strong>
                                                        {% else %}
                                                            -
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}

                                            {% for tur in serv.list_pendientes %}
                                                <tr class="turnoid{{ tur.id }}"
                                                        {% if tur.informe_finalizado and not tur.informe_firmadodigital %}
                                                    style="background-color: rgba(92,167,59,0.36)"
                                                        {% endif %}
                                                >
                                                    <td class="text-center">
                                                        <a href=" {% url 'informe:inf_preinforme' pk=tur.pk %}?tipo=1"
                                                           class="btn-sm btn-primary margin">
                                                            <strong>{{ tur.id }}</strong></a>
                                                    </td>
                                                    <td class="text-center" style="vertical-align: middle" data-sort="{{ tur.fechahora_inicio|date:'YmdHi' }}"> {{ tur.fechahora_inicio|date:'d/m/y' }}</td>
                                                    <td class="text-center" style="vertical-align: middle"> {{ tur.fechahora_inicio|date:'H:i' }}</td>
                                                    <td class="text-center" style="vertical-align: middle"> {{ tur.paciente.identificacion_numero }}</td>
                                                    <td class="text-center" style="vertical-align: middle">
                                                        {% if tur.paciente.nombre or tur.paciente.apellido %}
                                                            {{tur.paciente.apellido}} {{tur.paciente.nombre}}
                                                        {% else %}
                                                            {{ tur.paciente.paciente_nnlabel|default:'---' }}
                                                        {% endif %}
                                                    </td>
                                                    <td class="text-center" style="vertical-align: middle"> {{tur.servicio}}</td>
                                                    <td class="text-center" style="vertical-align: middle">
                                                        {% if tur.urgencia %}
                                                            <strong class="text-red">URG.</strong>
                                                        {% else %}Prog.
                                                        {% endif %}
                                                    </td>
                                                        {% if tur.informe_finalizado %}
                                                            <td class="text-center" style="vertical-align: middle" data-sort="0">
                                                            <span class="label label-success">Finalizado</span>
                                                        {% elif tur.vence_hoy %}
                                                            <td class="text-center" style="vertical-align: middle" data-sort="0.02">
                                                            <span class="label label-warning">P: Entrega Hoy</span>
                                                        {% else %}
                                                            <td class="text-center" style="vertical-align: middle" data-sort="0.01">
                                                            <span class="label label-warning">Pendiente</span>
                                                        {% endif %}
                                                    </td>
                                                    <td class="text-center" style="vertical-align: middle; padding-right: 0;padding-left: 0">
                                                        {% if tur.usuario_medico %}
                                                            <span id="medico_iniciales_{{ tur.id }}" class="badge bg-gray" >
                                                            {{ tur.usuario_medico.userprofile.iniciales }}
                                                        </span>
                                                        {% else %}
                                                            <span id="medico_iniciales_{{ tur.id }}" class="hidden badge bg-gray" >
                                                            {{ tur.usuario_medico.userprofile.iniciales }}
                                                        </span>
                                                        {% endif %}
                                                        <input id="input_matriculamedico_{{ tur.id }}"
                                                               value="{% if tur.informe_medicomatricula %}{{ tur.informe_medicomatricula }}{% endif %}"
                                                               size="1" onfocusout="medicomatricula(this,{{ tur.id }})">
                                                    </td>
                                                    <td class="text-center" style="vertical-align: middle" id="audio_finalizado_{{ tur.id }}">
                                                        {% if tur.informe_audio %}
                                                            <strong><i class="fas fa-check"></i></strong>
                                                        {% else %}
                                                            -
                                                        {% endif %}
                                                    </td>
                                                    <td class="text-center" style="vertical-align: middle" id="tipeo_finalizado_{{ tur.id }}">
                                                        {% if tur.informe_finalizado_tipeo %}
                                                            <strong><i class="fas fa-check"></i></strong>
                                                        {% else %}
                                                            -
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js_app %}
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'static_informe/informe/js/datatables.init.js' %}"></script>
    <script src="{% static 'plugins/reconnect-websocket/reconnecting-websocket.min.js' %}"></script>
    <script>
        let tabla_tipeo = $('#tabla-tipeo').DataTable({
            responsive: {
                details: {
                    type: 'inline',
                    target: 1
                }
            },
            columnDefs: [
                { className: "text-center", targets: "_all" },
            ],
            dom:    "<'row'<'col-sm-4'B><'col-sm-5'<'toolbar'>><'col-sm-3'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-5'><'col-sm-7'p>>",
            paging: false,
            language: {
                "sProcessing":     "Procesando...",
                "sLengthMenu":     "Ver: _MENU_",
                "sZeroRecords":    "No se encontraron resultados",
                "sEmptyTable":     "Sin registros pendientes",
                "sInfoPostFix":    "",
                "sSearch":         "",
                'searchPlaceholder': "Buscar...",
                "oPaginate": {
                        "sNext":     ">",
                        "sPrevious": "<"
                    },
            },
            buttons: [
                {
                    text: "<i class=\"fas fa-sync\"></i> Actualizar",
                    className: 'btn btn-default  text-green',
                    action: function ( e, dt, node, config ) {
                        window.location.reload();
                    }
                }
            ],
            select: true
        });
        let tableTitle = 'LISTADO DE ESTUDIOS PENDIENTES DE INFORME'
        {% if 'facturacion' in request.GET %}
            tableTitle = 'LISTADO DE ESTUDIOS CON INFORME NO RECIBIDOS FACTURACIÓN'
        {% endif %}
        $("div.toolbar").html(' <strong class="text-info">' + tableTitle + '</strong>');

        let roomName = 'informes';
        let ws_scheme = window.location.protocol === "https:" ? "wss" : "ws";
        let chatSocket = new ReconnectingWebSocket( ws_scheme + '://' + window.location.host + '/ws/turno/' + roomName + '/');
        chatSocket.onmessage = function(e)
        {
            let data = JSON.parse(e.data);
            let turno_id = data['turno_id'];
            if ( data['tipo_actualizacion'] === 'tipeo_finalizado')
            {
                $('#tipeo_finalizado_'+turno_id).html('<strong><i class="fas fa-check"></i></strong>')
            }
            else if (data['tipo_actualizacion'] === 'audio_finalizado')
            {
                $('#audio_finalizado_'+turno_id).html('<strong><i class="fas fa-check"></i></strong>')
            }
            else if (data['tipo_actualizacion'] === 'estudio_tecnico_finalizado')
            {
                let servicio = data['servicio'];
                let servicio_select_nombre = '{{ servicio_select_nombre }}'
                if ([servicio, 'Todos'].includes(servicio_select_nombre))
                {
                    let nombre = data['apellido_nombre'];
                    let fecha = data['fecha'].split(" ");
                    let id_numero = data['identificacion_numero'];
                    let atencion = data['atencion'];
                    let url = '/informe/preinforme/' + turno_id +'/';
                    let atencion_tipo;
                    if ( atencion === 'Urgente'){
                        atencion_tipo = '<strong class="text-red">URG.</strong>';
                    }
                    else
                    {
                        atencion_tipo = '<span>Prog.</span>';
                    }
                    const date_order = moment(fecha[0], "DD/MM/YY").format('YYYYMMDD') + fecha[1].replace(':','');
                    let new_row = tabla_tipeo.row.add( $('<tr>' +
                        '<td>' + `<a href="` + url + `" class="btn-sm btn-primary margin"><strong>` + turno_id +`</strong></a>` + '</td>' +
                        '<td data-sort="' + date_order  + '">' + fecha[0] + '</td>' +
                         '<td>' +fecha[1] + '</td>' +
                         '<td>' +id_numero + '</td>' +
                         '<td>' +nombre + '</td>' +
                        '<td>' + servicio + '</td>' +
                         '<td>' +atencion_tipo + '</td>' +
                        '<td data-sort="' + 0.01  + '">' + '<span class="label label-warning">Pendiente</span>' + '</td>' +
                        '<td>' + '<span id="medico_iniciales_' + turno_id + '" class="hidden badge bg-gray"></span>' +
                        '<input id="input_matriculamedico_' + turno_id + '" value=""  size="1" onfocusout="medicomatricula(this,' + turno_id + ')"></td>' +
                        '<td>' + '-' + '</td>' +
                        '<td>' + '-' + '</td> </tr>')).draw().node();

                    let row_id = 'turnoid' + turno_id;
                    $( new_row ).addClass(row_id)
                    let td_id_audio = 'audio_finalizado_' + turno_id;
                    $('td:eq(9)', new_row).attr( 'id', td_id_audio );
                    let td_id_tipeado = 'tipeo_finalizado_' + turno_id;
                    $('td:eq(10)', new_row).attr( 'id', td_id_tipeado );
                }
            }
            else if (data['tipo_actualizacion'] === 'asigna_medico')
            {
                let med_iniciales = $('#medico_iniciales_' + turno_id);
                med_iniciales.removeClass('hidden');
                med_iniciales.html(data['medico_iniciales']);
                $('#input_matriculamedico_' + turno_id).val(data['medico_matricula']);
            }
            else if (data['tipo_actualizacion'] === 'remover_medico')
            {
                $('#medico_iniciales_' + turno_id).html('');
                $('#input_matriculamedico_' + turno_id).val('');
            }
            else if (data['tipo_actualizacion'] === 'informe_finalizado')
            {
                let turno_row = $('.turnoid' + turno_id);
                if (turno_row.length)
                {
                    turno_row.css({"background-color":" rgba(92,167,59,0.36)"})
                }
            }
        };
    </script>

    <script>
        window.onload = function ()
        {
            document.getElementById("panel-table").style["opacity"] = "1";
        }
    </script>

    <script>
        function medicomatricula(elem,turnoid) {
            let nuevamatricula = elem.value;
            $.ajax(
                {
                    url: "{% url 'informe:ajaxmedicomatricula' %}",
                    data:
                        {
                            'matricula': nuevamatricula,
                            'turnoid': turnoid,
                        },
                    success: async function (data)
                    {
                        if (data['error'] === '')
                        {
                            if(data['limpiar_matricula'])
                            {
                                $('#medico_iniciales_'+turnoid).html('');
                                $('#input_matriculamedico_'+turnoid).val('');
                            }
                            else
                            {
                                let med_iniciales = $('#medico_iniciales_'+turnoid);
                                med_iniciales.removeClass('hidden');
                                med_iniciales.html(data['medico_inciales']);
                            }
                        }
                        else
                        {
                            if(data['informe_finalizado']){
                                $('#input_matriculamedico_'+turnoid).val(data['matricula_actual']);
                                iziToast.show({
                                    timeout: 0,
                                    close: true,
                                    overlay: true,
                                    displayMode: 'once',
                                    id: 'error',
                                    zindex: 999,
                                    title:  'No se pudo cambiar el médico del estudio porque ya se encuentra finalizado el informe y tiene un médico asignado a ese informe',
                                    position: 'center',
                                    color: 'red',
                                });
                            }
                            else{
                                $('#medico_iniciales_'+turnoid).html('');
                                $('#input_matriculamedico_'+turnoid).val('');
                            }
                        }
                    }
                });
        }
    </script>
    <script>
        var perfEntries = performance.getEntriesByType("navigation");
        if (perfEntries[0].type === "back_forward") {
            location.reload(true);
        }
    </script>
{% endblock %}
