{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="div col-sm-12 panel">
        <h3 class="text-center margin-bottom">Finalizar expediente sin informe</h3>
        <div class="row margin pull-right" >
            <input class="input-sm" type="number" min="1" step="1" id="input-turnoid" placeholder="Buscar por Nº de Orden"/>
            <button type="button" class="btn-sm btn-info btn-flat" id="btn-buscarturno">
                <strong>Buscar Expediente</strong>
            </button>
        </div>

        <div class="row margin">
            <table class="table table-small-font table-sm table-bordered"  >
                <thead style="background: #D6EAF8">
                <tr>
                    <th class="text-center" colspan="2">
                            <span id="table-head"> Expediente Nº Orden:
                                <input class="input-sm " size="5" id="turno_id_cerrar_expediente" readonly />
                            </span>
                    </th>
                </tr>
                </thead>
                <tbody >
                <tr>
                    <td><strong>Paciente Nº Identificación</strong></td>
                    <td><span id="pac-id"></span></td>
                </tr>
                <tr>
                    <td><strong>Paciente Apellido/s</strong></td>
                    <td><span id="pac-apellido"></span></td>
                </tr>

                <tr>
                    <td><strong>Paciente Nombre/s</strong></td>
                    <td><span id="pac-nombre"></span></td>
                </tr>
                <tr>
                    <td><strong>Paciente Sexo</strong></td>
                    <td><span id="pac-sexo"></span></td>
                </tr>
                <tr>
                    <td><strong>Fecha del Estudio</strong></td>
                    <td><span id="fechaestudio"></span></td>
                </tr>
                <tr>
                    <td><strong>Estudios Solicitados</strong></td>
                    <td><span id="estudiossol"></span></td>
                </tr>
                <tr>
                    <td><strong>Técnico Radiólogo</strong></td>
                    <td><span id="estudiotecnico"></span></td>
                </tr>
                <tr>
                    <td><strong>Estado (Proceso Técnico)</strong></td>
                    <td><span id="estudioestado"></span></td>
                </tr>
                <tr>
                    <td><strong>Estado (Informe)</strong></td>
                    <td><span id="informeestado"></span></td>
                </tr>
                </tbody>
            </table>
            <div>
                <label class="text-danger">*Motivo para finalizar el expediente sin informe</label>
                <br>
                <input  class="input-sm" id="input-cierre-motivo" type="text" maxlength="999" size="100">
            </div>
            <a class="btn-danger btn margin-bottom pull-right"
               style="margin-top: 20px" id="btn-cerrarexpediente">
                <strong>Finalizar expediente sin Informe</strong>
            </a>
        </div>
    </div>
    </div>
{% endblock %}

{% block js_app %}
    <script>
        $('#btn-buscarturno').on('click', function() {
            const turnoid = 'R' + $('#input-turnoid').val().trim();
            if (turnoid !== 'R') {
                $.ajax({
                    type: 'get',
                    url: "{% url 'turno:buscar_turno' %}",
                    data:
                        {
                            'turno_buscar': turnoid
                        },
                    success: function (data)
                    {
                        if(data['error_404'] === '') {
                            $('#turno_id_cerrar_expediente').val(data['turno_id'])
                            $('#pac-id').text('(' + data['paciente_tipoid'] + ')' + data['paciente_dni'])
                            $('#pac-apellido').text(data['paciente_apellido'])
                            $('#pac-nombre').text(data['paciente_nombre'])
                            $('#pac-sexo').text(data['paciente_sexo'])
                            $('#fechaestudio').text(data['fechaini_string'])
                            $('#estudiossol').text(data['estudios_sol_string'])
                            $('#estudioestado').text(data['estudio_estado'])
                            $('#estudiotecnico').text(data['tecnico'])
                            $('#informeestado').text(data['estado_informe'])
                        }
                        else {
                            alert('No se encontró un expediente relacionado al Nº de Orden solicitado.')
                        }
                    },
                    error: function () {
                        alert("Error: No se pudo completar la operación.");
                    }
                });
            }
        });

        $('#btn-cerrarexpediente').on('click', function() {
            const estado_informe = $('#informeestado').text();
            const estado_estudio = $('#estudioestado').text();

            if (estado_informe=== 'Sin Informe' && estado_estudio !== 'Estudio No Realizado') {
                cerrar_informe()
            } else if (estado_estudio === 'Estudio No Realizado') {
                alert('No se puede completar la acción: El estudio no fue procesado por el Técnico Rad. (Estudio no realizado)')
            } else if (estado_informe === 'Informe Finalizado') {
                alert('No se puede completar la acción: El expediente ya tiene un informe finalizado por el médico')
            } else if (estado_informe=== 'Finalizado sin Informe') {
                alert('El expediente ya se encuentra "Finalizado sin Informe"')
            }

        });

        function cerrar_informe () {
            const turnoid = $('#turno_id_cerrar_expediente').val();
            const motivo_cierre = $('#input-cierre-motivo').val();
            if (turnoid.trim() !== '' && motivo_cierre.trim() !== '') {
                $.ajax({
                    headers:{'X-CSRFToken':'{{ csrf_token }}'},
                    dataType: 'json',
                    type: 'post',
                    url: "{% url 'informe:cerrar_expediente_sin_informe' %}",
                    data:
                        {
                            'turno_id': turnoid,
                            'motivo_cierre': motivo_cierre
                        },
                    success: function (data)
                    {
                        if(data['expediente_cerrado'] === true) {
                            location.replace("{% url 'informe:cerrar_expediente' %}?cerradoexito");
                        }
                        else {
                            alert('Error: No se pudo completar la operación.')
                        }
                    },
                    error: function () {
                        alert("Error: No se pudo completar la operación.");
                    }
                });
            } else {
                alert('Ingrese el Nº de Orden y el motivo para la finalización del expediente.')
            }
        }
        {% if 'cerradoexito' in request.GET %}
            alert('El expediente fue finalizado sin informe.')
        {% endif %}
    </script>
{% endblock %}

