{% extends 'base.html' %}
{% load static %}

{% block css_app %}
    <link href="{% static 'static_turno/paciente/css/custom.css' %}" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
    <link href="{% static 'static_informe/ckeditor/css/custom_ckeditor.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="bg-warning">
        {% if turno.usuario_tipeo_actual and not turno.informe_finalizado_tipeo %}
            <strong><i class="fas fa-user-shield"></i> Usuario TIPEANDO: {{ turno.usuario_tipeo_actual }}</strong>
        {% endif %}
    </div>
    <div class="box container" style="margin-bottom: 0">
        <div class="row">
            {% if turno.informe_finalizado_tipeo and not turno.informe_finalizado %}
                <div class="bg-orange disabled color-palette padding-rightleft-5px">
                    <strong> Infome Finalizado Tipeo: Tipeado por {{ turno.usuario_tipeo }}.</strong>
                </div>
            {% elif turno.informe_finalizado and not turno.informe_firmadopdf%}
                <div class="bg-success disabled color-palette padding-rightleft-5px">
                    <strong><i class="fas fa-lock"></i> Informe solo lectura: Finalizado por médico, sin firma digital.</strong>
                </div>
            {% elif turno.informe_firmadopdf %}
                <div class="bg-orange disabled color-palette padding-rightleft-5px">
                    <strong><i class="fas fa-lock"></i> Informe solo lectura: Finalizado por médico, con firma digital.</strong>
                </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-md-3">
                <h3>Nº Orden: {{ turno.id }}</h3>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-6" style="margin-top: 20px;">
                <div class="btn-group pull-right" style="align-content: center;">
                    {% if not turno.informe_finalizado_tipeo and not turno.informe_finalizado%}
                        <a class="btn btn-success margin-r-5" id="btn_guardarfinalizartipeo">
                            <strong><i class="fas fa-check-circle"></i> FINALIZAR <br> TIPEO</strong>
                        </a>
                        <a class="btn btn-warning margin-r-5" id="btn_marcarenuso" >
                            <strong><i class="fas fa-user-shield"></i>  MARCAR <br> EN USO</strong>
                        </a>
                        <a class="btn btn-primary margin-r-5" id="btn_guardarborrador" >
                            <strong><i class="fas fa-save"></i>  GUARDAR <br> BORRADOR</strong>
                        </a>
                    {% else %}
                        {% if not turno.informe_finalizado %}
                            <a class="btn btn-primary margin-r-5" id="btn_guardarborrador" >
                                <strong><i class="fas fa-save"></i>  GUARDAR <br> CORRECIÓN</strong>
                            </a>
                            <a href="{% url 'informe:inf_preinforme' turno.id %}?tipo=1"
                               class=" btn btn-danger pull-right">
                                <strong><i class="fas fa-times-circle"></i>  CANCELAR<br>SIN GUARDAR</strong>
                            </a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="row" >
            <div class="col-md-6">
                <div class="box-body" style="text-align: left;">
                    <dl class="dl-horizontal">
                        <dt style="text-align: left;">Fecha del Estudio</dt>
                        <dd style="text-align: left; margin-left: 0;">{{ turno.fechahora_inicio|date:"d/m/Y H:i" }}</dd>
                        <dt style="text-align: left;">Nº Identificación</dt>
                        <dd style="text-align: left; margin-left: 0;">({{ turno.paciente.identificacion_tipo }}) {{ turno.paciente.identificacion_numero }}</dd>
                        <dt style="text-align: left;">Paciente</dt>
                        <dd style="text-align: left; margin-left: 0;">
                            {% if turno.paciente.paciente_nn %}
                                <span class="text-danger"> {{ turno.paciente.paciente_nnlabel }} </span>
                            {% else %}
                                {{ turno.paciente.apellido }}, {{ turno.paciente.nombre }}
                            {% endif %}
                        </dd>
                        <dt style="text-align: left;">Sexo</dt>
                        <dd style="text-align: left; margin-left: 0;">{{ turno.paciente.sexo }}</dd>
                        <dt style="text-align: left;">Fecha Nacimiento</dt>
                        <dd style="text-align: left; margin-left: 0;">{{ turno.paciente.fecnac|date:"d/m/Y"|default:'--' }}</dd>
                        <dt style="text-align: left;">Edad</dt>
                        <dd style="text-align: left; margin-left: 0;">{% if edad_year or  edad_months or edad_days %} Años: {{ edad_year }} - Meses: {{ edad_months }} - Días: {{ edad_days }}{% else %}---{% endif %}</dd>
                        <dt style="text-align: left;">Contraste Ev.</dt>
                        <dd style="text-align: left; margin-left: 0;">
                            {% if turno.contrasteev %}
                                SI
                            {% else %}
                                NO
                            {% endif %}
                        </dd>
                        <dt style="text-align: left;">Contraste Oral</dt>
                        <dd style="text-align: left; margin-left: 0;">
                            {% if turno.contrastevo %}
                                SI
                            {% else %}
                                NO
                            {% endif %}
                        </dd>
                        <dt style="text-align: left;">Médico Solicitante</dt>
                        <dd style="text-align: left; margin-left: 0;">{{ turno.medico_derivante.apellido }}</dd>
                        <dt style="text-align: left;">Informe en Audio</dt>
                        <dd style="text-align: left; margin-left: 0;">{{ turno.informe_fecha_finalizacion_a|date:"d/m/Y h:i"|default:'Sin audio' }}</dd>
                        <dt style="text-align: left;">Médico Informante</dt>
                        <dd style="text-align: left; margin-left: 0;">
                            {% if turno.usuario_medico %}
                                {{ turno.usuario_medico.first_name }}, {{ turno.usuario_medico.last_name }}
                            {% else %}
                                <strong class="text-red">SIN MÉDICO ASIGNADO</strong>
                            {% endif %}
                        </dd>
                        <dt style="text-align: left;">Estado</dt>
                        {% if turno.informe_finalizado and not turno.informe_firmadodigital %}
                            <dd style="text-align: left; margin-left: 0;"><strong class="text-success">FINALIZADO SIN FIRMA DIGITAL</strong></dd>
                        {% elif turno.informe_finalizado and turno.informe_firmadodigital %}
                            <dd style="text-align: left; margin-left: 0;"><strong class="text-success">FINALIZADO</strong></dd>
                        {% elif turno.informe_tec_corregir %}
                            <dd style="text-align: left; margin-left: 0;"><strong class="text-danger">CORREGIR TÉCNICO</strong></dd>
                        {% elif turno.informe_tec_corregir_completo%}
                            <dd style="text-align: left; margin-left: 0;"><strong class="text-warning">TÉCNICO CORREGIDO</strong></dd>
                        {% elif turno.informe_para_tipear and not turno.informe_finalizado_tipeo %}
                            <dd style="text-align: left; margin-left: 0;"><strong class="text-primary">EN PROCESO DE TIPEO</strong></dd>
                        {% elif turno.informe_finalizado_tipeo %}
                            <dd style="text-align: left; margin-left: 0;"><strong class="text-warning">FINALIZADO TIPEO</strong></dd>
                        {% else %}
                            <dd style="text-align: left; margin-left: 0;"><strong class="text-muted">SIN INFORMAR</strong></dd>
                        {% endif %}
                        <dt style="text-align: left;">Foto Pédido Médico: </dt>
                        <dd style="text-align: left; margin-left: 0;">
                            <a class=" btn btn-sm {% if turno.foto_pedidomedico %} bg-olive {% else %} btn-default {% endif %}"
                               {% if turno.foto_pedidomedico %}href="{{ turno.foto_pedidomedico.url }}" disabled {% endif %} target="_blank">
                                <i class="{% if not turno.foto_pedidomedico %} fas fa-times text-danger {% else %}far fa-file-image  {% endif %}"></i> Ped. Médico
                            </a>
                        </dd>
                        <dt style="text-align: left;">Fecha corregir inicio</dt>
                        <dd style="text-align: left; margin-left: 0;">{{ turno.informe_tec_corregir_ini|date:"d/m/Y h:i"|default:'---' }}</dd>
                        <dt style="text-align: left;">Fecha corregido</dt>
                        <dd style="text-align: left; margin-left: 0;">{{ turno.informe_tec_corregir_fin|date:"d/m/Y h:i"|default:'---' }}</dd>
                        <dt style="text-align: left;">Estudios Realizados</dt>
                        <dd style="text-align: left; margin-left: 0;">{{ codigos_realizados }}</dd>
                        {% for turnoid, codigos_url in urls_imagenes.items %}
                            <dt class="text-navy" style="text-align: left;">Imágen: {{ turnoid }}</dt>
                            <dd style="text-align: left; margin-left: 0;">
                                <a class="btn btn-sm margin-r-5 text-orange"
                                   style="background: rgba(18,96,114,0.93);  border: 1px solid white;"
                                   href="{{ codigos_url.1 }}"
                                   target="_blank">
                                    <strong><i class="fas fa-external-link-square-alt"></i> {{ codigos_url.2 }}</strong>
                                </a>
                            </dd>
                        {% endfor %}
                    </dl>
                </div>
            </div>
            <div class="col-md-6 pull-right"  style="  padding-top: 10px; padding-bottom: 10px">
                <div class="box-body" style="  height: 240px;  overflow: auto;  ">
                    <table class="text-center table table-bordered table-small-font "
                           style="background: #D4E6F1 ;  border-radius: 15px; border: 2px solid  #d4e6f1;">
                        <thead>
                        <tr>
                            <th colspan="4">
                                HISTORIAL DEL PACIENTE ( No Incluye datos SISHOS )
                            </th>

                        </tr>
                        <tr style="color: #6f6f72">
                            <th >Fecha</th>
                            <th >Estudios Solicitados</th>
                            <th>Informe</th>
                            <th>Imágenes</th>
                        </tr>

                        </thead>
                        <tbody>
                        {% if turnos_anteriores %}
                            {% for tur in turnos_anteriores %}
                                <tr>
                                    <td>
                                        {{ tur.fechahora_inicio|date:'d/m/y' }}
                                    </td>
                                    <td>
                                        {{tur.codigos_solicitados_todos}}
                                    </td>
                                    <td>
                                        <a class="btn-sm btn-info" onclick="abririnforme({{ tur.id }})"><i class="far fa-file-alt"></i></a>
                                    <td >
                                        {% if tur.link_imagenes %}
                                            {% for link in tur.link_imagenes %}
                                                <a class="text-navy small pull-left"
                                                   href="{% if tur.is_request_local %}{{ link.estudio_imagenes_url }}{% else %} {{ link.estudio_imagenes_url_externa }}{% endif %}"
                                                   target="_blank">
                                                    <i class="fas fa-external-link-alt"></i>
                                                    {{ link.descripcion }} </a> <br>
                                            {% endfor %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="4">Sin estudios previos registrados.</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="div col-sm-6">
                <label>Observaciones del médico</label>
                <textarea rows="4"  style="width: 100%;-webkit-box-sizing: border-box; resize: none;" readonly disabled >
                    {{ turno.informe_observaciones_tipeo|default:'---' }}
                </textarea>
            </div>
            <div class="div col-sm-6">
                <label>Observaciones del técnico para el médico Informante</label>
                <textarea rows="4"  style="width: 100%;-webkit-box-sizing: border-box; resize: none;" readonly disabled>{{ obs_tecnico|default:'---' }}</textarea>
            </div>
        </div>
    </div>

    <div id='panel-table' class=" panel" style="opacity: 0">
        <form id='forminforme' method="post" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-8">
                        <br>
                        <div class="hidden">{{ form.informe_observaciones }}</div>
                        <div style="min-width:100%">{{ form.informe_texto }}</div>
                    </div>
                    <div class="col-sm-4 ">
                        <br>
                        <div id="formats"></div>
                        {% if turno.informe_audio %}
                            <label>Informe en audio</label>
                        {% endif %}
                        <br>
                        <div id="controls">
                            <div class="hidden">
                                <button  id="recordButton"></button>
                                <button  id="pauseButton" disabled></button>
                                <button  id="stopButton" disabled></button>
                            </div>
                            {% if turno.informe_audio %}
                                <audio controls id="audio">
                                    <source src="" id='audioSource' type="audio/mp3">
                                </audio>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <input class="hidden" id="audio1" name="audio1">
        </form>
    </div>
    <div id="popup_plantillas" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-xlg">
            <div class="modal-content modal-form">
                <div class="modal-header">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-3 pull-right ">&nbsp;
                                <a class="btn btn-danger pull-right"
                                   data-dismiss="modal"
                                   title="Cerrar"
                                   style="margin-left: 10px">
                                    <i class="fas fa-times"></i>
                                </a>
                            </div>
                            <div class="col-sm-3" style="padding-left: 0">
                                <select class="form-control" id="select-plantillas">
                                    <option value="0" selected="selected" disabled>Seleccione un médico</option>
                                    {% for key, med in medicos.items %}
                                        <option value="{{ key }}">{{ med }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body" style="height: 580px;width: 100%; overflow-y: auto;">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group" id ='tabla_plantilla_wrapper'>
                                <table id="tabla_plantilla" class="table table-bordered table-striped">
                                    <thead>
                                    <th class="hidden"> Plantillas</th>
                                    <th class="hidden"> Mostrar</th>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_app %}
    <script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.select.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/audiorecorder/js/recorder.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/audiorecorder/js/app.js' %}"></script>
    <script>
        window.onload = function ()
        {
            document.getElementById("panel-table").style["opacity"] = "1";
            {% if turno.informe_audio %}
                let audio = document.getElementById('audio');
                let source = document.getElementById('audioSource');
                source.src = '{{turno.informe_audio.url}}';
                audio.load();
            {% endif %}
        }
    </script>


    <script>
        $("#btn_guardarfinalizartipeo").on("click", function(e)
        {
            e.preventDefault();
            iziToast.question({
                timeout: 20000,
                close: false,
                overlay: true,
                displayMode: 'once',
                id: 'question',
                zindex: 999,
                title: '¿Dar por finalizado el tipeo?',
                position: 'center',
                color: 'green',
                buttons: [
                    ['<button><b>SI</b></button>', function (instance, toast) {
                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                        let form = document.querySelector('#forminforme');
                        if (!form.checkValidity()) {
                            form.reportValidity();
                        }
                        else {
                            $('#forminforme').attr('action', "{% url 'informe:inf_crear' turno.id %}?finalizartipeo=1").submit();}
                    }, true],
                    ['<button>NO</button>', function (instance, toast) {
                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                    }],
                ],
            });

        });
    </script>
    <script>
        $("#btn_guardarborrador").on("click", function(e){
            let msgborrarodr =' {% if not turno.informe_finalizado_tipeo %}¿Guardar el trabajo actual en borrador?{% else %}¿Guardar correciones sobre el infome ya tipeado?{% endif %}'

            e.preventDefault();
            iziToast.question({
                timeout: 20000,
                close: false,
                overlay: true,
                displayMode: 'once',
                id: 'question',
                zindex: 999,
                title: msgborrarodr,
                position: 'center',
                color: 'blue',
                buttons: [
                    ['<button><b>SI</b></button>', function (instance, toast) {
                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                        // codigo para que guarde
                        let form = document.querySelector('#forminforme');
                        if (!form.checkValidity()) {
                            form.reportValidity();
                        }
                        else {
                            $('#forminforme').attr('action', "{% url 'informe:inf_crear' turno.id %}?finalizartipeo=0").submit();}
                    }, true],
                    ['<button>NO</button>', function (instance, toast) {
                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                    }],
                ],
            });

        });
    </script>
    <script>
        var editor = CKEDITOR.replace('informe_texto',  {
            'width': '100%',
            'height': 480,
            'toolbar': 'Custom',
            'toolbar_Custom': [
                [ 'SuperButton', '-', 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ],
                [ 'Find', 'SelectAll', '-', 'Scayt' ],
                ['Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', 'TextColor', 'BGColor' , ],
                [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', ] ,
                ['PageBreak', 'Maximize'],
            ],
            enterMode : CKEDITOR.ENTER_BR,
            {% if turno.informe_finalizado or turno.informe_firmadopdf %}
                'readOnly':true
            {% endif %}
        });
        editor.addCommand("getPlanillas", {
            exec: function(edt) {
                abrir_modal_plantillas();
            }
        });
        editor.ui.addButton('SuperButton', {
            label: "Plantillas Predefinidas",
            command: 'getPlanillas',
            toolbar: 'Custom',
            icon: '/static/static_informe/ckeditor/pngwave.png'
        });
    </script>

    <script>
        function abrir_modal_plantillas()
        {
            $('#popup_plantillas').modal('show');
        }
    </script>
    <script>
        function mostrarplantilla(key)
        {
            let table_plantilla = $('#plantilla_'+key)
            let btn_mostrarplanilla = $('#btn_mostrarplanillas_'+key)
            if (table_plantilla. is(":hidden")){
                table_plantilla.removeClass('hidden')
                btn_mostrarplanilla.removeClass('btn-info')
                btn_mostrarplanilla.addClass('btn-danger')
                btn_mostrarplanilla.html('<i class="fas fa-minus"></i>')
            }
            else{
                table_plantilla.addClass('hidden')
                btn_mostrarplanilla.addClass('btn-info')
                btn_mostrarplanilla.removeClass('btn-danger')
                btn_mostrarplanilla.html('<i class="fas fa-plus"></i>')

            }
        }
        function agregartexto(codigo, plantilla_id)
        {
            let texto = $('#t_cod_'+codigo+'_'+plantilla_id).attr("data-text");
            editor.insertHtml(texto);
            iziToast.show({
                title: 'Plantilla agregada!',
                color: 'blue',
                position: 'center',
                timeout: 800,
                progressBar: false,
                close: false,
            });
        }
    </script>

    <script>
        var table_plantillas = $('#tabla_plantilla').DataTable(
            {
                'paging'      : false,
                'lengthChange': false,
                'searching'   : true,
                'ordering'    : false,
                'info'        : true,
                'autoWidth'   : false,
                "pageLength": 10,
                dom: "f",
                "language":
                    {
                        "emptyTable": " ",
                        "search":"",
                        "searchPlaceholder": "Buscar Plantilla por código",

                    }
            });
        if($('#tabla_plantilla tbody .dataTables_empty').length){
            $('#tabla_plantilla_wrapper').hide()
        }

        $('#select-plantillas').on('change', function() {

            cargar_plantillas(this.value);
        });

        function cargar_plantillas(medicoid)
        {
            $.ajax({
                type: 'get',
                url: "{% url 'informe:consultar_plantillas' %}",
                data: {
                    'medicoid': medicoid,
                    'servicioid': '{{ turno.servicio.id }}'
                },
                success: function (data) {
                    table_plantillas.clear();
                    for (const plantilla_grupo in data['plantillas']){
                        let plantilla_grupo_format = plantilla_grupo.replace(/(.{2})/g,"$1.").replace(/.$/,"")
                        const btnVerPlantilla =
                            '<td class="col-md-1">' +
                            '<a id="btn_mostrarplanillas_' + plantilla_grupo +
                            '" class="btn btn-info pull-right" onclick="mostrarplantilla(\'' + plantilla_grupo +
                            '\')"><i class="fas fa-plus"></i> </a></td>'

                        const textCodigoPlantilla = '<td class="col-md-11"><strong>&bull; ' + plantilla_grupo_format +'</strong>' +
                            '<table id="plantilla_' + plantilla_grupo + '" class="hidden table-bordered" style="background: #EAFAF1;">' +
                            '<tbody id="plantillabody_' + plantilla_grupo + '"></body></table></td>'

                        table_plantillas.row.add([
                            textCodigoPlantilla,
                            btnVerPlantilla
                        ]).draw(false);

                        for (const plantilla_nro in data['plantillas'][plantilla_grupo])
                        {
                            const plantilla_text = data['plantillas'][plantilla_grupo][plantilla_nro][1]
                            const plantilla_index_nro = data['plantillas'][plantilla_grupo][plantilla_nro][0]
                            const plantilla_index_id = data['plantillas'][plantilla_grupo][plantilla_nro][2]

                            const plantilla_text_linebreaks = plantilla_text.replace(/(?:\r\n|\r|\n)/g, '<br>');
                            const row_plantilla =
                                '<tr style="border: 3px solid lightblue">' +
                                '<td>' +
                                '<a class="btn-sm btn-success" onclick="agregartexto(\'' + plantilla_grupo + '\', \'' + plantilla_index_id + '\')">' + plantilla_index_nro + '</a>' +
                                '</td>' +
                                '<td>' +
                                '<span id="t_cod_' + plantilla_grupo + '_' + plantilla_index_id + '" data-text="' + plantilla_text_linebreaks +'">' + plantilla_text_linebreaks +'</span>' +
                                '</td>' +
                                '</tr>'
                            $('#plantillabody_'+plantilla_grupo).append(row_plantilla)
                        }
                    }

                    if($('#tabla_plantilla tbody .dataTables_empty').length){
                        $('#tabla_plantilla_wrapper').hide()
                    }
                    else{
                        $('#tabla_plantilla_wrapper').show()
                    }
                },
                error: function (data) {
                    alert("Error en la validacion");
                }
            });
        }
    </script>

    <script>
        $(document).keydown(function(e) {
            var audio = $("audio")[0];
            let unicode = e.charCode ? e.charCode : e.keyCode;
            if (unicode === 39) {
                e.preventDefault()
                audio.pause();
                audio.currentTime += 1;
                audio.play()
            } else if (unicode === 37) {
                e.preventDefault()
                audio.pause();
                audio.currentTime -= 1;
                audio.play()
            } else if (unicode === 32) {
                e.preventDefault()
                if (audio.paused){
                    audio.play()
                }
                else{
                    audio.pause();
                }
            }
        });
    </script>

    <script>
        function abririnforme(turnoid)
        {
            window.open("{% url 'informe:inf_informegenerar' %}?turnoid=" + turnoid + "&tipeo=1&openpdf=1", "_blank", "resizable=yes,top=100,left=100,width=850,height=800");
        }
    </script>

    <script>
        var perfEntries = performance.getEntriesByType("navigation");
        if (perfEntries[0].type === "back_forward") {
            location.reload(true);
        }
    </script>

    <script>
        $( "#btn_marcarenuso" ).click(function() {
            $.ajax({
                headers:{'X-CSRFToken':'{{ csrf_token }}'},
                type: 'post',
                url:  '{% url "informe:tipeo_en_uso" %}',
                data: {
                    "turnoid":'{{ turno.id }}',
                },
                success: function (data) {
                    if(data['success']) {
                        location.reload();
                    } else {
                        alert('No se pudo completar la operación')
                    }
                },
                error: function(data) {
                    alert('No se pudo completar la operación')
                }
            });
        });
    </script>
{% endblock %}
