{% extends "base.html" %}
{% load static %}
{% block css_app %}
    <style>
        table.tablaEstudio.dataTable thead {background-color:lightblue}
        table.tablaInsumos.dataTable thead {background-color:darkseagreen}
        .custom-gutter > [class*='col-'] {
            padding-right:5px;
            padding-left:5px;
        }
    </style>
    <link rel="stylesheet" href="{% static 'bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables/datatables-select.css' %}">
    <link href="{% static 'bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'plugins/timepicker/bootstrap-timepicker.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block titulo %}
{% endblock %}

{% block content %}
    <div id="popup_corregirpaciente" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content modal-form">
                <div class="modal-header">
                    <div class="pull-right">&nbsp;
                        <a class="btn btn-danger"  data-dismiss="modal" title="Cerrar" style="margin-left: 10px"><i class="fas fa-times"></i></a>
                    </div>
                    <h4 class="modal-title" id="myModalLabel"><label class="text-info">Indicar datos a corregir del Paciente</label></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label>Descripción de los datos a corregir</label>
                                <textarea cols="50" rows="5" class="form-control input-bg-color" style="resize: none;"
                                          maxlength="240" id="paciente_corregir_texto"
                                          value="{{ turno.paciente.corregir_texto }}" ></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a  class="btn btn-success waves-effect waves-light"
                        onclick="guardarCorregir('{{ turno.paciente.id}}')">
                        <b>Guardar</b>
                    </a>
                </div>
            </div>
        </div>

    </div>

    <div id="popup_corregirestudio" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content modal-form">
                <div class="modal-header">
                    <div class="pull-right">&nbsp;
                        <a class="btn btn-danger"
                           data-dismiss="modal"
                           title="Cerrar"
                           style="margin-left: 10px"><i class="fas fa-times"></i>
                        </a>
                    </div>
                    <h4 class="modal-title">
                        <label class="text-info">Indicar datos a corregir del Estudio</label>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label>Descripción de los datos a corregir</label>
                                <textarea cols="50" rows="5" class="form-control input-bg-color" style="resize: none;"
                                          maxlength="240" id="estudio_corregir_texto"
                                          value="{{ turno.estudio_corregir_texto }}" ></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <a  class="btn btn-success waves-effect waves-light"
                        onclick="guardarCorregirEstudio('{{ turno.id}}')">
                        <b>Guardar</b>
                    </a>
                </div>

            </div>
        </div>

    </div>

    <form method="post" id="form" role="form" action="{% url 'informe:inf_preinforme' turno.id %}" autocomplete="off">
        {% csrf_token %}
        <div class="col-md-12">
            {% if turno.informe_tec_corregir %}
                <div class="bg-danger padding-rightleft-5px">
                    <strong class="text-red">
                        <i class="fas fa-exclamation-triangle"></i>
                        Marcado para corregir por: {{ turno.usuario_medico|upper }} - {{ turno.informe_observaciones }}
                    </strong>
                </div>
            {% endif %}
            {% if turno.usuario_tipeo_actual and not turno.informe_finalizado_tipeo %}
                <div class="bg-warning padding-rightleft-5px">
                    <strong><i class="fas fa-user-shield"></i> Usuario MARCA EN USO: {{ turno.usuario_tipeo_actual }}</strong>
                </div>
            {% endif %}
            <div class="box container">
                <div class="row">
                    {% if turno_en_partes and not turno.estudio_partes_finalizado%}
                        <div class="bg-gray disabled color-palette padding-rightleft-5px">
                            <strong><i class="fas fa-lock"></i> No se completaron todas las partes del Estudio.</strong>
                        </div>
                    {% elif turno.informe_finalizado and not turno.informe_firmadopdf%}
                        <div class="bg-success disabled color-palette padding-rightleft-5px">
                            <strong><i class="fas fa-lock"></i> Informe solo lectura: Finalizado por médico, sin firma digital.</strong>
                        </div>
                    {% elif turno.informe_firmadopdf %}
                        <div class="bg-success disabled color-palette padding-rightleft-5px">
                            <strong><i class="fas fa-file-pdf"></i> Infome Servicio Externo. Ubicación del archivo en el Servidor : {{ turno.informe_firmadopdf.name }}  </strong>
                        </div>
                    {% endif %}
                    {% if turno.informe_finalizado_tipeo %}
                        <div class="bg-orange disabled color-palette padding-rightleft-5px">
                            <strong><i class="fas fa-lock"></i> Infome Tipeo Finalizado por {{ turno.usuario_tipeo|upper }}.</strong>
                        </div>
                    {% endif %}
                </div>
                <div class="row" style="padding: 10px">
                    <span class="h3">
                        Nº Orden: {{ turno.id }} {% if turno.informe_finalizado %} -  <span class="text-navy">Informe: Nº {{ turno.informe_numero }} </span>{% endif %}
                    </span>
                    <div class="pull-right">
                        {% if turno_en_partes and not turno.estudio_partes_finalizado %}
                            <a class="btn btn-danger" ><strong><i class="far fa-address-card"></i> ESTUDIO SIN FINALIZAR TODAS LAS PARTES </strong></a>
                        {% else %}
                            {% if not turno_en_partes %}
                                {% if turno.turnolinkimagen_set.all.count == 1 %}
                                    <a class="btn text-orange" onclick="imagenes_entipear()" style="background: rgba(18,96,114,0.93);">
                                    <i class="fas fa-check" ></i><strong> IMAGENES EN PACS</strong>
                                {% elif turno.turnolinkimagen_set.all.count > 1  %}
                                    <a class="btn text-orange" onclick="imagenes_entipear()" style="background: rgba(18,96,114,0.93);">
                                    <i class="fas fa-check"></i><strong> IMAGENES EN PACS</strong>
                                {% else %}
                                    <a class="btn btn-default">
                                    <i class="fas fa-times text-danger"></i><strong> SIN IMAGENES</strong>
                                {% endif %}

                            </a>
                            {% endif %}
                            {% if not turno.servicio.is_servicio_externo %}
                                {% if turno.informe_finalizado or turno.informe_finalizado_tipeo %}
                                    {% if turno.usuario_medico and turno.informe_finalizado%}
                                        <a id='btn-estado-imprinforme' class="btn btn-default"  onclick="abririnforme('{{ turno.id }}')">
                                            <strong>
                                                <i class="fas fa-print text-success"></i> IMPR. INFORME </strong>
                                            </strong>
                                        </a>
                                    {% else %}

                                        <a id='btn-estado-imprinforme' class="btn btn-default" onclick="alerta_imprimir_informe()"  >
                                            <strong>
                                                <i class="fas fa-print text-danger" ></i> IMPR. INFORME </strong>
                                            </strong>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
{#                            <a id='btn-estado-firmadig'#}
{#                               class="btn btn-default {% if turno.informe_finalizado and turno.informe_no_firmadigital %} hidden {% endif %}"#}
{#                               onclick="firmadigital_estado()">#}
{#                                <strong>#}
{#                                    <i class="fas fa-file-export text-success"></i>#}
{#                                    EXPEDIENTE FINALIZADO DE "PEND. DE INFORME"#}
{#                                </strong>#}
{#                            </a>#}
                            <a class="btn btn-info" onclick="imprimir_etiqueta()"><strong><i class="far fa-address-card"></i> IMPR. ETIQUETA</strong></a>
                            {% if  turno.servicio.is_servicio_externo %}
                                <a class="btn btn-primary" onclick="abrir_modal('{% url 'informe:inf_subirfirmado' turno.id %}')">
                                    <i class="fas fa-file-upload" ></i> <strong>INFORME EXTERNO</strong>
                                </a>
                            {% else %}
                                <a class="btn {% if turno.informe_finalizado_tipeo %} btn-default{% else %}btn-warning{% endif %}"
                                   href="{% url 'informe:inf_crear' turno.id %} "> <strong><i class="fas fa-keyboard"></i> TIPEAR</strong></a>
                            {% endif %}
                            <a  class="btn btn-success" onclick="submitform()"><strong><i class="far fa-save"></i> GUARDAR</strong></a>
                            <a class="btn btn-danger" href="{% url 'informe:inf_listar' %}"><strong><i class="far fa-times-circle"></i> CANCELAR</strong></a>
                        {% endif %}
                    </div>

                </div>
                <hr  style="margin-top: 5px; margin-bottom: 5px">
                <div class="row">
                    {% if turno.paciente.corregir %}
                        <span class="label label-danger">A corregir</span>
                    {% endif %}
                </div>

                <div class="box-header ">
                    <h3 class="box-title">Datos del Paciente</h3> {% if turno.paciente.paciente_nn %} <label class="text-danger"> (NN: {{ turno.paciente.paciente_nnlabel }}) </label>{% endif %}
                    <a class="btn btn-default pull-right "
                       onclick="crear_modal_corregir_paciente('{{ turno.paciente.id }}')">
                        <strong  class="text-danger"><i class="fas fa-exclamation-triangle" style="color: #E52B02"></i> Marcar corrección</strong></a>
                </div>

                <div class="row" >
                    <div class="col-md-10">
                        <div class="row custom-gutter" style="padding: 0% 1% 1% 1%">
                            <div class="col-md-2"><label>DNI-LC-CI-PA</label>
                                <input  class="form-control" readonly value="{{ turno.paciente.identificacion_numero }}" name="paciente_dni" id="paciente_dni"></div>
                            <div class="col-md-5" ><label>Apellido</label>
                                <input  class="form-control" readonly value="{{ turno.paciente.apellido }}" name="paciente_apellido" id="paciente_apellido">
                            </div>
                            <div class="col-md-5"><label>Nombre</label>
                                <input  class="form-control" readonly value="{{ turno.paciente.nombre }}" name="paciente_nombre" id="paciente_nombre" >
                            </div>
                        </div>

                        <div class="row custom-gutter" style="padding: 1% 1% 1% 1%">
                            <div class="col-md-2"><label>Sexo</label>
                                <div class="form-group" >
                                    <select class="form-control"  name="paciente_sexo" id="paciente_sexo" readonly>
                                        <option value="Masculino" {% if turno.paciente.sexo == 'Masculino' %}selected="selected"{% endif %}>Masculino</option>
                                        <option value="Femenino" {% if turno.paciente.sexo == 'Femenino' %}selected="selected"{% endif %}>Femenino</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2"><label>Fecha Nacimiento</label>
                                <div class="input-group" >
                                    <div class="input-group-addon">
                                        <i class="fas fa-calendar-alt"></i>
                                    </div>
                                    <input type="text"
                                           class="form-control pull-right"
                                           id="datepicker_fechanacimiento"
                                           name="paciente_fecnac"
                                           data-inputmask="'alias': 'dd/mm/yyyy'"
                                           readonly>
                                </div>
                            </div>
                            <div class="col-md-3"><label>Edad (Años-Meses-Dias)</label>
                                {{ form.edadregistro_manual }}
                            </div>
                            <div class="col-md-5"><label>Obra Social</label>
                                <div class="form-group">
                                    {{ form.obrasocial }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- fotos dni-->
                    <div class="col-md-2">
                        <div class="btn-group-vertical">
                            <label></label>
                            <a class="btn btn-app {% if turno.foto_documento %} bg-olive {% else %} btn-default {% endif %}"
                               {% if turno.foto_documento %}href="{{ turno.foto_documento.url }}"
                               disabled {% endif %}
                               target="_blank">
                                <i class="{% if not turno.foto_documento %} fas fa-times text-danger {% else %}far fa-file-image  {% endif %}"></i> DNI Frente
                            </a>
                            <label></label>
                            <a class="btn btn-app {% if turno.foto_documento2 %} bg-olive {% else %} btn-default {% endif %}"
                               {% if turno.foto_documento2 %}href="{{ turno.foto_documento2.url }}" disabled {% endif %}
                               target="_blank"><i class="{% if not turno.foto_documento2 %} fas fa-times text-danger {% else %}far fa-file-image  {% endif %}"></i> DNI Dorso
                            </a>
                        </div>
                    </div>
                </div>
                <hr style="margin-top:5px;    margin-bottom: 5px">
                <div class="row">
                    {% if turno.estudio_corregir %}
                        <span class="label label-danger">A corregir</span>
                    {% endif %}
                </div>
                <div class="box-header ">
                    <h3 class="box-title">Datos del Estudio</h3>
                    <a class="btn btn-default pull-right "
                       onclick="crear_modal_corregir_estudio('{{ turno.id }}')">
                        <strong class="text-danger">
                            <i class="fas fa-exclamation-triangle"
                               style="color: #E52B02"></i> Marcar corrección</strong>
                    </a>
                </div>
                <div class="row custom-gutter" style="padding: 0% 1% 1% 1%">
                    <div class="col-md-2" >
                        <label>Servicio</label>
                        <input class="form-control" readonly  id="i_servicio" value="{{ turno.servicio.nombre }}" />
                    </div>
                    <div class="col-md-2" ><label>Fecha</label>
                        <input class="form-control" readonly  id="i_fechaturno" value="{{ turno.fechahora_inicio|date:'d-m-Y' }}" />
                    </div>
                    <div class="col-md-1"><label>Turno</label>
                        <input class="form-control" readonly  id="i_horaturno" value="{{ turno.fechahora_inicio|date:'H:i' }}" /></div>
                    <div class="col-md-1" ><label>Ingreso</label>
                        <input class="form-control" readonly  id="i_horaingreso" value="{{ turno.estudio_fechahora_ingreso|date:'H:i' }}" />
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-6"> <label class="disable-select">{{ form.urgencia }} Urgencia</label></div>
                        <div class="col-md-6 " > <label class="disable-select">{{ form.contrasteev }} Contraste Ev</label></div>
                        <div class="col-md-6 "> <label class="disable-select">{{ form.internado }} Internado</label></div>
                        <div class="col-md-6 " ><label class="disable-select">{{ form.contrastevo }} Contraste Oral</label> </div>
                        <div class="col-md-6 " ><label class="disable-select">{{ form.anestesia }} Anestesia</label></div>
                    </div>
                    <div class="col-md-2">
                        <div class="btn-group-vertical" style="padding-left: 20px">
                            <label></label>
                            <a class=" btn btn-app {% if turno.foto_pedidomedico %} bg-olive {% else %} btn-default {% endif %}"
                               {% if turno.foto_pedidomedico %}href="{{ turno.foto_pedidomedico.url }}" disabled {% endif %} target="_blank">
                                <i class="{% if not turno.foto_pedidomedico %} fas fa-times text-danger {% else %}far fa-file-image  {% endif %}"></i> Ped. Médico
                            </a>&nbsp;
                        </div>
                    </div>
                </div>
                <div class="row custom-gutter" style="padding: 0% 1% 1% 1%">
                    <div class="col-md-3 "><label>Técnico</label>
                        <input class="form-control" readonly  value="{{ turno.usuario_tecnico.last_name }}, {{ turno.usuario_tecnico.first_name }}" />
                    </div>
                    <div class="col-md-3 "><label>Prof. Solicitante</label>
                        <div class="form-group">
                            {{ form.medico_derivante }}
                        </div>
                    </div>
                    <div class="col-md-4 "><label>Establecimiento</label>
                        <div class="form-group">
                            {{ form.establecimiento_derivador }}
                        </div>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-sm-6">
                        {% if turno_en_partes %}
                            <table  class="table table-bordered table-striped text-center table-condensed table-small-font">
                                <thead style="background-color: rgba(243,212,98,0.68)">
                                <tr>
                                    <th colspan="4">
                                        Estudio en Partes
                                    </th>
                                </tr>
                                <tr>
                                    <th >Nº Orden</th>
                                    <th >Fecha - Hora</th>
                                    <th >Codigos Realizados</th>
                                    <th> Observaciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for tur in turnos_hijos %}
                                    <tr>
                                        <td>{{ tur.id }} </td>
                                        <td> {{ tur.fechahora_inicio|date:"d/m/Y - H:i" }}</td>
                                        <td> {% if tur.estudio_finalizado %}{{ tur.estudios_solaux|default:'---' }}{% else %}---{% endif %}</td>
                                        <td>{{ tur.estudio_observacion_nota|default:"---" }}</td>

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            {% if turno.servicio.is_servicio_externo %}
                                <button class="btn btn-primary" type="button" id="agregarEstudio" onclick="agregar();">
                                    <i class="glyphicon glyphicon-plus"></i> Agregar estudio
                                </button>
                            {% endif %}
                            <table id="tabla_estudio" class="tablaEstudio table table-bordered table-striped text-center table-condensed table-small-font">
                                <thead >
                                <tr>
                                    <th >Estudio Realizado</th>
                                    <th >Número de Protocolo</th>
                                    {% if request.GET.tipo == 1  or request.GET.tipo == '1' %}<th >Eliminar</th>{% endif %}
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        {% endif %}
                        <br>
                        <table id="tabla_anestesia" class="tablaAnestesia table table-bordered table-striped text-center table-condensed table-small-font"
                               style="background-color: rgba(238,156,101,0.61)">
                            <thead >
                            <tr>
                                <th >Códigos de Anestesia</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <select class="form-control" id="select_anestesia" name="select_anestesia" disabled>
                                        <option value="">---</option>
                                        {% for anestesia in anestesias %}
                                            <option value="{{ anestesia.codigo }}">{{ anestesia.codigo }} - {{ anestesia.nombre }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-6">
                        {% if not turno.servicio.is_servicio_externo %}

                            <table id="tabla_insumo" class="tablaInsumos table table-bordered table-striped text-center table-condensed table-small-font">
                                <thead >
                                <tr>
                                    <th >Código</th>
                                    <th >Nombre</th>
                                    <th >Cantidad</th>
                                </tr>
                                </thead>
                            </table>
                        {% endif %}
                    </div>
                </div>
                <hr style="margin-top:5px;    margin-bottom: 5px">
                <div class="row" style="padding: 1% 1% 1% 1%">
                    <div class="col-sm-12">
                        <label>Observaciones Recepción (Impresa)</label>
                        <input class="form-control"
                               readonly
                               value="{{ turno.observacion|default:'---' }}" />
                    </div>
                    <div class="col-sm-12">
                        <label>Observaciones Recepción (No Impresa)</label>
                        <input class="form-control"
                               readonly
                               value="{{ turno.observacion_noimpresa|default:'---' }}" />
                    </div>
                    <div class="col-sm-12">
                        <label>Observaciones Técnico</label>
                        <input class="form-control"
                               readonly
                               value="{{ turno.estudio_observacion_nota|default:'---' }}" />
                    </div>

                    <div class="col-sm-12">
                        <label>Observaciones Tipeo </label>
                        {{ form.informe_pre_observaciones }}
                    </div>
                </div>
                <br>
            </div>
        </div>
        <div class="hidden">
            <div>{{ form.estudio_fechahora_ingreso }}</div>
            <div>{{ form.fechahora_inicio }}</div>
            {{ form.paciente }}
            <input  value="0" id="editdatospaciente" name="editdatospaciente" >
            <input class="form-control hidden" value="0" id="selectcount" name="selectcount" >
            <input class="form-control hidden" value="0" id="insumocount" name="insumocount" >
            <div id="protocolos" class="">
            </div>
        </div>
    </form>
    <div id="popup" class="modal fade" role="dialog"></div>
{% endblock %}

{% block js_app %}
    <script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.select.min.js' %}"></script>
    <script src="{% static 'bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'plugins/timepicker/bootstrap-timepicker.min.js' %}"></script>
    <script src="{% static 'plugins/input-mask/jquery.inputmask.js' %}"></script>
    <script src="{% static 'plugins/input-mask/jquery.inputmask.extensions.js' %}"></script>
    <script>
        $('[data-mask]').inputmask();
        $(document).ready(function(){
            $('input').iCheck({
                checkboxClass: 'icheckbox_flat-green',
                radioClass: 'iradio_flat-green',
            });
            $('#datepicker_fechanacimiento').datepicker({
                autoclose: true,
                format: 'dd-mm-yyyy'
            });
            $('#datepicker_fechanacimiento').prop('disabled', true);
            let edad = '{{ edadyear }}-{{ edadmonth }}-{{ edadday }}';
            $('#f_edadregistro').val(edad)
        });
        let paciente_fechanac = '{{ turno.paciente.fecnac|date:'d-m-Y' }}';
        $('#datepicker_fechanacimiento').val(paciente_fechanac)
        $('#paciente_sexo').prop('disabled', true);
    </script>

    <script>
        var nroEstudio = 0;
        let selectcounter, protocolo_estudiocounter, selectid_init, select_element, protocolo, protocolo_numero_mostrar;
        let textappend_protocolos = '';
        let elem_divprotocolos = document.getElementById('protocolos');
        let protocolo_basecount = '12';
        let protocolo_prefix ='{{ nro_protocolo_prefix }}';
        var tabla_estudiossolicitados = $('#tabla_estudio').DataTable(
            {
                'dom': '',
                "language": {
                    "emptyTable": "No hay protocolos asignados."
                },
                'paging'      : true,
                'lengthChange': false,
                'searching'   : false,
                'ordering'    : false,
                'info'        : true,
                'autoWidth'   : false
            });
        function agregar()
        {
            nroEstudio++;
            selectcounter = nroEstudio;
            $('#selectcount').val(selectcounter);
            elemento = document.createElement('select');
            elemento.setAttribute("class", "form-control" );
            {% if turno.informe_finalizado and turno.informe_no_firmadigital  %}
                elemento.setAttribute("disabled", true );
            {% elif turno.informe_firmadodigital %}
                elemento.setAttribute("disabled", true );
            {% endif %}
            elemento.id = 'serestudio_'+nroEstudio;
            elemento.name= 'serestudio_'+nroEstudio;
            {% if request.GET.tipo == 2 or request.GET.tipo == '2'  %}
                elemento.disabled = true;
            {% endif %}
            var option;
            var paddingCodEstudio;
            {% for estudio in estudios %}
                option = document.createElement("option");
                option.value = '{{ estudio.id }}';
                paddingCodEstudio = '{{ estudio.codigo }}';
                paddingCodEstudio = paddingCodEstudio.padStart(2,'0');
                option.text = '{{ turno.servicio.protocolo_prefix }}' + paddingCodEstudio + " - " + '{{ estudio.nombre }}';
                elemento.appendChild(option);
            {% endfor %}
            var protocolo = document.createElement('input');
            protocolo.type = "text";
            protocolo.id = "protocolo_" + nroEstudio;
            protocolo.name = "protocolo_" + nroEstudio;
            protocolo.className = 'form-control';
            protocolo.readOnly = true;
            protocolo_estudiocounter = protocolo_basecount + nroEstudio;
            protocolo_estudiocounter = (protocolo_estudiocounter + '').padStart(4, "0");
            {% if turno.estudio_finalizado and not turno.servicio.is_servicio_externo%}
                protocolo_numero_mostrar = {{turno.estudio_protocolocount}} + nroEstudio;
                protocolo_numero_mostrar = '{{ turno.estudio_protocoloprefix }}' + (protocolo_numero_mostrar + '').padStart(4, "0");
                protocolo.setAttribute('value', protocolo_numero_mostrar);
            {% elif turno.servicio.is_servicio_externo %}
                protocolo.setAttribute('value', '---');
            {% else %}
                protocolo.setAttribute('value',protocolo_prefix + protocolo_estudiocounter);
            {% endif %}
            var deleteButton = document.createElement('button');
            deleteButton.type = "button";
            deleteButton.className = "btn btn-danger quitarEstudio";
            deleteButton.innerHTML = "<i class='far fa-trash-alt'> </i>";
            var buttonDisabled = document.createElement('a');
            buttonDisabled.className = "btn btn-danger disabled";
            buttonDisabled.innerHTML = "<i class='far fa-trash-alt'> </i>";
            let tipodealta_protocolo = {{ request.GET.tipo }};
            if (tipodealta_protocolo===1)
            {
                if (elemento.id==="serestudio_1"){
                    tabla_estudiossolicitados.row.add([
                        elemento.outerHTML,
                        protocolo.outerHTML,
                        buttonDisabled.outerHTML,
                    ]).draw();
                }
                else
                {
                    tabla_estudiossolicitados.row.add([
                        elemento.outerHTML,
                        protocolo.outerHTML,
                        deleteButton.outerHTML,
                    ]).draw();
                }
            }
            else if (tipodealta_protocolo===2)
            {
                tabla_estudiossolicitados.row.add([
                    elemento.outerHTML,
                    protocolo.outerHTML,
                ]).draw();
            }
        }
        {% for estudio in  turno.estudiosolicitado_set.all %}
            agregar();
        {% endfor %}
        {% for estudio in  turno.estudiosolicitado_set.all %}
            selectid_init = '#serestudio_' + '{{ forloop.counter }}';
            select_element = $(selectid_init);
            select_element.val({{ estudio.servicio_estudio.id }});
            protocolo = select_element.text();
            textappend_protocolos += `<input class="form-control hidden" value="` + protocolo + `" id="prot` + {{ forloop.counter }} + `" `+ ` name="prot` + {{ forloop.counter }} + `" >`;
        {% endfor %}
        elem_divprotocolos.innerHTML = textappend_protocolos;
        {% if turno.servicio.is_servicio_externo %}
            $('#tabla_estudio tbody').on( 'click', 'button.quitarEstudio', function ()
            {
                tabla_estudiossolicitados
                    .row( $(this).parents('tr') )
                    .remove()
                    .draw();
            });
        {% endif %}
        let insumo_counter = 0;
        let textinput_insumo;
        let tabla_insumos = $('#tabla_insumo').DataTable(
            {
                'paging': false,
                'dom': '',
                "language":
                    {
                        "emptyTable": "Sin insumos asignados."
                    },
                columnDefs: [
                    { className: 'text-center', targets: "_all"},
                    {"width": "10%", "targets": 0},
                    {"width": "40%", "targets": 1},
                    {"width": "45%", "targets": 2},
                ],
            });

        function agregarinsumo(insumo_id, insumo_codigo, insumo_nombre, insumo_cantidad)
        {
            insumo_counter++;
            $('#insumocount').val(insumo_counter);
            let inputcantidad = '<input class="form-control"  readonly step="1" type="number" name="cant_ins_' + insumo_codigo + '" value="' + insumo_cantidad +'"/> ';
            tabla_insumos.row.add([
                insumo_codigo,
                insumo_nombre,
                inputcantidad,
            ]);
            tabla_insumos.draw();
            textinput_insumo = '<input class="form-control hidden" value="'+ insumo_codigo +'" id="insumo'+ insumo_counter+ '" name="insumo'+ insumo_counter + '" >';
            elem_divprotocolos.innerHTML += textinput_insumo;
        }
        {% for insumo in  turno.turnoinsumo_set.all %}
            agregarinsumo({{ insumo.insumo.id }},{{ insumo.insumo.codigo }},'{{ insumo.insumo.nombre }}', {{ insumo.cantidad_usada|floatformat:'0' }});
        {% endfor %}
    </script>
    <script>
        function submitform() {
            let form = document.querySelector('form');
            if (!form.checkValidity()) {
                form.reportValidity();
            } else {
                try {
                    $('#datepicker_fechanacimiento').prop('disabled', false);
                    $('#f_obrasocial').prop('disabled', false);
                    $('#paciente_sexo').prop('disabled', false);
                    $('#f_medico_derivante').prop('disabled', false);
                    $('#f_establecimiento_derivador').prop('disabled', false);
                    $('#f_urgencia').prop('disabled', false);
                    $('#f_internado').prop('disabled', false);
                    $('#f_contrastevo').prop('disabled', false);
                    $('#f_contrasteev').prop('disabled', false);
                    $('#f_anestesia').prop('disabled', false);
                    document.getElementsByTagName("form")[0].submit();
                } catch (err) {
                    alert('Error al registar la ficha de protocolos')
                }
            }
        }
    </script>
    <script>
        function crear_modal_corregir_paciente(pacienteId)
        {
            $('#popup_corregirpaciente').modal('show');
            $.ajax({
                type: 'get',
                url: "{% url 'informe:traertexto' %}",
                data: {
                    'paciente': pacienteId,
                },
                success: function (data)
                {
                    $('#paciente_corregir_texto').val( data['texto_corregir']);
                },
                error: function (data) {
                    alert("Error al guardar la modificación");
                }
            });
            return false;
        }
        function cerrar_modal_corregir_paciente()
        {
            $('#popup_corregirpaciente').modal('hide');
            return false;
        }
    </script>
    <script>
        function guardarCorregir(pacienteId){
            $.ajax({
                type: 'get',
                url: "{% url 'informe:corregirpaciente' %}",
                data: {
                    'observacion': $('#paciente_corregir_texto').val(),
                    'corregir': 1,
                    'paciente': pacienteId,
                },
                success: function (data)
                {
                    iziToast.question({
                        timeout: 2000,
                        close: false,
                        overlay: true,
                        displayMode: 'once',
                        id: 'question',
                        zindex: 999,
                        title: 'Se guardó correctamente la observación a corregir',
                        position: 'center',
                        color: 'blue',
                    });
                    cerrar_modal_corregir_paciente();
                },
                error: function (data) {
                    alert("Error al guardar la modificación");
                }
            })
        }
    </script>
    <script>
        function crear_modal_corregir_estudio(turnoId)
        {
            $('#popup_corregirestudio').modal('show');
            $.ajax({
                type: 'get',
                url: "{% url 'informe:traertextoestudio' %}",
                data: {
                    'turno': turnoId,
                },
                success: function (data)
                {
                    $('#estudio_corregir_texto').val( data['texto_corregir']);
                },
                error: function (data) {
                    alert("Error al guardar la modificación");
                }
            });
            return false;
        }
        function cerrar_modal_corregir_estudio()
        {
            $('#popup_corregirestudio').modal('hide');
            return false;
        }
    </script>
    <script>
        function guardarCorregirEstudio(turnoId){
            $.ajax({
                type: 'get',
                url: "{% url 'informe:corregirestudio' %}",
                data: {
                    'observacion': $('#estudio_corregir_texto').val(),
                    'corregir': 1,
                    'turno': turnoId,
                },
                success: function (data)
                {
                    iziToast.question({
                        timeout: 2000,
                        close: false,
                        overlay: true,
                        displayMode: 'once',
                        id: 'question',
                        zindex: 999,
                        title: 'Se guardó correctamente los datos del estudio a corregir',
                        position: 'center',
                        color: 'blue',

                    });
                    cerrar_modal_corregir_estudio();

                },
                error: function (data) {
                    alert("Error al guardar la modificación");
                }
            })
        }
    </script>
    <script>
        function abrir_modal(url)
        {
            $('#popup').load(url, function()
            {
                $(this).modal('show');
            });
            return false;
        }
        function cerrar_modal()
        {
            $('#popup').modal('hide');
            return false;
        }
    </script>
    <script>
        $('#f_anestesia').on('ifUnChecked', function(){
            $('#tabla_anestesia').addClass('hidden');
            $('#select_anestesia').removeAttr('required')
        });
        $('#f_anestesia').on('ifChecked', function(){
            $('#tabla_anestesia').removeClass('hidden');
            $('#select_anestesia').attr('required', true)
        });
        if(!$('#f_anestesia').is(':checked'))
        {
            $('#tabla_anestesia').addClass('hidden');
            $('#select_anestesia').attr('required', true)
        }
        {% if turno.anestesia and turno.anestesia_codigo %}
            $('#select_anestesia option[value="{{ turno.anestesia_codigo }}"]').attr("selected", "selected");
        {% endif %}
    </script>
    <script>
        function firmadigital_estado() {
            $.ajax({
                type: 'get',
                url: "{% url 'informe:finalizar_sinfirma' %}",
                data: {
                    'turnoid': '{{ turno.id }}',
                },
                success: function (data)
                {
                    if (data['success']){
                        if(data['estado']){
                            iziToast.success({
                                timeout: 0,
                                close: true,
                                overlay: true,
                                displayMode: 'once',
                                id: 'success',
                                zindex: 999,
                                title: data['msg'],
                                position: 'center',
                                color: 'green',
                            });
                        }
                        else{
                            iziToast.error({
                                timeout: 0,
                                close: true,
                                overlay: true,
                                displayMode: 'once',
                                id: 'warning',
                                zindex: 999,
                                title:  data['msg'],
                                position: 'center',
                                color: 'red',
                            });
                        }
                    }
                    else {
                        alert("No se pudo realizar la operación.");
                    }
                },
                error: function (data) {
                    alert("No se pudo realizar la operación.");
                }
            })
        }
    </script>
    <script>
        function  abririnforme(turnoid){
            window.open("{% url 'informe:inf_informegenerar' %}?turnoid=" + turnoid + "&tipeo=1&openpdf=1", "_blank", "resizable=yes,top=100,left=100,width=850,height=800");
        }
    </script>
    <script>
        function imprimir_etiqueta(){
            const msgPrintError = 'Error: No se pudo completar la acción'
            $.ajax({
                type: 'get',
                url:  '{% url 'informe:imprimir_etiqueta' %}',
                data: {'turnoid': '{{ turno.id }}'},
                success: function (data) {
                    if (!data['success']){
                        alert(msgPrintError)
                    }
                },
                error: function(data) {
                    alert(msgPrintError)
                }
            });
        }
    </script>
    <script>
        function imagenes_entipear()
        {
            iziToast.info({
                timeout: 4500,
                close: false,
                overlay: true,
                displayMode: 'once',
                id: 'success',
                zindex: 999,
                title:  'Los links a las imágenes se muestran la opción "TIPEAR"',
                position: 'center',
                color: 'success',
            });
        }
        function alerta_imprimir_informe() {
            iziToast.error({
                timeout: 0,
                close: true,
                overlay: true,
                displayMode: 'once',
                id: 'success',
                zindex: 999,
                title:  'Para imprimir un informe, debe tener un médico asignado y estar finalizado.',
                position: 'center',
                color: 'red',
            });
        }
        {% if messages %}
            {% for message in messages %}
                iziToast.error({
                    timeout: 0,
                    close: true,
                    overlay: true,
                    displayMode: 'once',
                    id: 'success',
                    zindex: 999,
                    title:  '{{ message }}',
                    position: 'center',
                    color: 'red',
                });
            {% endfor %}
        {% endif %}
    </script>
{% endblock %}
