{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="box " style="padding-left: 10px">
        <h3 class="text-center text-blue">
        <strong style="padding-left: 15px">UNIFICAR PACIENTES</strong>
        </h3>
        <h4>INSTRUCCIONES:</h4>
        <ol>
            <li>Ingrese el número <strong>Paciente DB-ID</strong> de los dos Pacientes a unificar (El número se muestra en el Historial de Pacientes/Expedientes o en los listados de Estudios por Servicio)</li>
            <li>Click en "Buscar Pacientes": El sistema buscara todos los Turnos, Estudios, etc. de los pacientes Ingresados y se mostrán en dos columnas</li>
            <li>Verifique cada uno de los Registros si son correctos para la Unificación:
                El Proceso de Unificación transfiere todos los registros del PACIENTE ERRÓNEO al PACIENTE CORRECTO y elimina el PACIENTE ERRÓNEO del sistema.</li>
            <li>Ingrese un motivo de la Unificación y Click en el Botón "Unificar Pacientes", le soicitara confirmar para terminar.</li>
        </ol>
        <strong>Corroborar que el PACIENTE CORRECTO y el PACIENTE ERRÓNEO sean los correctos, porque el ERRÓNEO sera borrado del sistema sin posibilidad de recuperación.</strong>
        <br>
        <div class="row margin" style="padding-bottom: 20px">
            <label class="text-blue">Paciente DB-ID - CORRECTO:</label>
            <input class="input" type="number" min="1" step="1" id="input-paciente-permanece" placeholder=""/>
            <br>
            <label class="text-red">Paciente DB-ID - ERRÓNEO: </label>
            <input class="input" type="number" min="1" step="1" id="input-paciente-borrar" placeholder=""/>
            <br>
            <br>
            <button type="button" class="btn btn-success " id="btn-buscarpacientes">
                <strong>Buscar Pacientes</strong>
            </button>
        </div>
    </div>

    <div class="div col-sm-12 box">

        <br>
        <div class="margin">
            <div class="row">
                <div class="col-sm-6">
                    <table class="table table-condensed"  >
                        <thead style="background: #D6EAF8">
                        <tr>
                            <th class="" colspan="2">
                            <span>Paciente DB-ID - CORRECTO
                                <input class="input-sm disabled" id="paciente-id-permanece" readonly value="{{ paciente_id_permanece }}"/>
                            </span>
                            </th>
                        </tr>
                        </thead>
                        <tbody >
                            <tr>
                                <table class="table table-condensed">
                                    <tbody >
                                    <tr>
                                        <td><strong>Paciente Nº Identificación</strong></td>
                                        <td>{{ paciente_permanece_dni}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Paciente Apellido/s</strong></td>
                                        <td>{{ paciente_permanece_apellidos }}</td>
                                    </tr>

                                    <tr>
                                        <td><strong>Paciente Nombre/s</strong></td>
                                        <td>{{ paciente_permanece_nombres }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Paciente Sexo</strong></td>
                                        <td>{{ paciente_permanece_sexo }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Paciente Fecha Nac.</strong></td>
                                        <td>{{ paciente_permanece_fechanac }}</td>
                                    </tr>

                                    <tr>
                                        <td><strong>Paciente NN Label</strong></td>
                                        <td>{{ paciente_permanece_nnlabel }} </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </tr>

                            <tr>
                                <td><hr></td>
                            </tr>
                            <tr >
                                <td  colspan="2" >
                                    <h3 class="text-blue">
                                        HISTORIAL ESTUDIOS REGISTRADOS: PACIENTE CORRECTO
                                    </h3>
                                </td>
                            </tr>
                        {% for turno in turnos_paciente_permanece %}
                            <tr>
                                <table class="table table-condensed table-bordered table-striped">
                                    <tbody>
                                    <tr class="bg-light-blue" >
                                        <td colspan="2"><strong >Nº Orden - {{ turno.id }}</strong></td>
                                    </tr>
                                    <tr>
                                        <td><strong >Fecha del Estudio</strong></td>
                                        <td>{{ turno.fechahora_inicio|date:'d-m-Y H:i' }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Estudios Solicitados</strong></td>
                                        <td>{{ turno.estudios_solaux|default_if_none:"---" }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Servicio</strong></td>
                                        <td>{{ turno.servicio.nombre }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Fotos</strong></td>
                                        <td>
                                            {% if turno.foto_pedidomedico %}
                                                <a href="{{ turno.foto_pedidomedico.url }}" target="_blank">Foto PM</a> -
                                            {% endif %}
                                            {% if turno.foto_documento %}
                                                <a href="{{ turno.foto_documento.url }}" target="_blank">Foto DOC1</a> -
                                            {% endif %}
                                            {% if turno.foto_documento2 %}
                                                <a href="{{ turno.foto_documento2.url }}" target="_blank">Foto Doc2</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>Técnico Radiólogo</strong></td>
                                        <td>{{ turno.usuario_tecnico|default_if_none:'---' }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Estado (Recepción)</strong></td>
                                        <td>
                                            {% if turno.turno_recepcion_suspendido %}
                                                Turno Suspendido en Recepción
                                            {% else %}
                                                Turno Habilitado
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>Estado (Proceso Técnico)</strong></td>
                                        <td>
                                            {% if turno.estudio_finalizado %}
                                                Estudio Finalizado
                                            {% elif turno.estudio_suspendido_completar or turno.estudio_suspendido_paciente %}
                                                Estudio Suspendido
                                            {% elif turno.estudio_cancelado or turno.estudio_reprograma %}
                                                Estudio Cancelado
                                            {% else %}
                                                Estudio No Realizado
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>Estado (Informe)</strong></td>
                                        <td>
                                            {% if turno.informe_finalizado %}
                                                Informe Finalizado
                                            {% else %}
                                                Informe No Realizado
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>Estado (Facturación)</strong></td>
                                        <td>
                                            {% if turno.informe_facturado %}
                                                Facturado ({{ turno.informe_facturado_fecha|date:'d-m-Y' }})
                                            {% else %}
                                                No Facturado
                                            {% endif %}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-6">
                    <table class="table table-condensed"  >
                        <thead style="background: #ffc4c4">
                        <tr>
                            <th class="" colspan="2">
                                <span>Paciente DB-ID - ERRÓNEO
                                    <input class="input-sm disabled" id="paciente-id-borrar" readonly value="{{ paciente_id_borrar }}"/>
                                </span>
                            </th>
                        </tr>
                        </thead>
                        <tbody >
                            <tr>
                                <table class="table table-condensed">
                                    <tbody >
                                    <tr>
                                        <td><strong>Paciente Nº Identificación</strong></td>
                                        <td>{{ paciente_borrar_dni}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Paciente Apellido/s</strong></td>
                                        <td>{{ paciente_borrar_apellidos }}</td>
                                    </tr>

                                    <tr>
                                        <td><strong>Paciente Nombre/s</strong></td>
                                        <td>{{ paciente_borrar_nombres }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Paciente Sexo</strong></td>
                                        <td>{{ paciente_borrar_sexo }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Paciente Fecha Nac.</strong></td>
                                        <td>{{ paciente_borrar_fechanac }}</td>
                                    </tr>

                                    <tr>
                                        <td><strong>Paciente NN Label</strong></td>
                                        <td>{{ paciente_borrar_nnlabel }} </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </tr>
                            <tr>
                                <td><hr></td>
                            </tr>
                            <tr >
                                <td class="text-blue" colspan="2" >
                                    <h3 class="text-red">
                                        HISTORIAL ESTUDIOS REGISTRADOS: PACIENTE ERRÓNEO
                                    </h3>
                                </td>
                            </tr>
                        {% for turno in turnos_paciente_borrar %}
                            <tr>
                                <table class="table table-condensed table-bordered table-striped">
                                    <tbody>
                                    <tr class="bg-red" >
                                        <td colspan="2"><strong >Nº Orden - {{ turno.id }}</strong></td>
                                    </tr>
                                    <tr>
                                        <td><strong >Fecha del Estudio</strong></td>
                                        <td>{{ turno.fechahora_inicio|date:'d-m-Y H:i' }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Estudios Solicitados</strong></td>
                                        <td>{{ turno.estudios_solaux|default_if_none:"---" }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Servicio</strong></td>
                                        <td>{{ turno.servicio.nombre }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Fotos</strong></td>
                                        <td>
                                            {% if turno.foto_pedidomedico %}
                                                <a href="{{ turno.foto_pedidomedico.url }}" target="_blank">Foto PM</a> -
                                            {% endif %}
                                            {% if turno.foto_documento %}
                                                <a href="{{ turno.foto_documento.url }}" target="_blank">Foto DOC1</a> -
                                            {% endif %}
                                            {% if turno.foto_documento2 %}
                                                <a href="{{ turno.foto_documento2.url }}" target="_blank">Foto Doc2</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>Técnico Radiólogo</strong></td>
                                        <td>{{ turno.usuario_tecnico|default_if_none:'---' }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Estado (Recepción)</strong></td>
                                        <td>
                                            {% if turno.turno_recepcion_suspendido %}
                                                Turno Suspendido en Recepción
                                            {% else %}
                                                Turno Habilitado
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>Estado (Proceso Técnico)</strong></td>
                                        <td>
                                            {% if turno.estudio_finalizado %}
                                                Estudio Finalizado
                                            {% elif turno.estudio_suspendido_completar or turno.estudio_suspendido_paciente %}
                                                Estudio Suspendido
                                            {% elif turno.estudio_cancelado or turno.estudio_reprograma %}
                                                Estudio Cancelado
                                            {% else %}
                                                Estudio No Realizado
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>Estado (Informe)</strong></td>
                                        <td>
                                            {% if turno.informe_finalizado %}
                                                Informe Finalizado
                                            {% else %}
                                                Informe No Realizado
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>Estado (Facturación)</strong></td>
                                        <td>
                                            {% if turno.informe_facturado %}
                                                Facturado ({{ turno.informe_facturado_fecha|date:'d-m-Y' }})
                                            {% else %}
                                                No Facturado
                                            {% endif %}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="div col-sm-12 box">
        <div style="padding-top: 20px">
            <strong class="text-danger" >*IMPORTANTE: Esta acción es Irreversible, solo confirme cuando este seguro que todos los datos sean correctos</strong>

            <p>Se Requiere que detalle el motivo de la Unificación (Eje: Documento duplicado mal tipeado para el paciente XYZ...):</p>
            <input  id="input-motivo" type="text" maxlength="999" size="100">
        </div>
        <button type="button" id="btn-unificar-pacientes" class="btn-danger btn margin-bottom"
                style="margin-top: 20px" onclick="unificar_paciente_confirmacion()">
            <i class="fas fa-exclamation-circle"></i>
            <strong>Unificar Pacientes</strong>
        </button>

    </div>
{% endblock %}

{% block js_app %}
    <script>
        $('#btn-buscarpacientes').on('click', function() {
            const paciente_id_permanece = $('#input-paciente-permanece').val();
            const paciente_id_borrar = $('#input-paciente-borrar').val();
            if (paciente_id_permanece !== '' && paciente_id_borrar !== '') {
                const url =
                    '{% url "informe:unificar_paciente" %}'
                    + '?pacienteIdPermanece=' + paciente_id_permanece
                    + '&pacienteIdBorrar=' + paciente_id_borrar
                window.location.replace(url);
            }
        });

        function unificar_paciente_confirmacion () {
            iziToast.question({
                timeout: 0,
                close: true,
                overlay: true,
                displayMode: 'once',
                id: 'warning',
                zindex: 999,
                title: 'Confirmo la Unificación de Pacientes (Esta acción es Irreversible)',
                position: 'center',
                color: 'red',
                buttons: [
                    ['<button><b>SI</b></button>', function (instance, toast) {
                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                        const motivo = $('#input-motivo').val();
                        const paciente_id_borrar = $('#paciente-id-borrar').val();
                        const paciente_id_permanece = $('#paciente-id-permanece').val();
                        if (motivo !== '' && paciente_id_borrar !== '' && paciente_id_permanece !== '') {
                            unificar_paciente_hc()
                        }
                        else if (paciente_id_borrar === '' || paciente_id_permanece === '') {
                            alert('Debe seleccionar dos pacientes para realizar la Unificación.')
                        }
                        else if (motivo === ''){
                            alert('Para finalizar la Unificación debe escribir el motivo.')
                        }
                        else {
                            alert('Error: No se pudo completar la operación.')
                        }
                    }, true],
                    ['<button>NO</button>', function (instance, toast) {
                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                    }],
                ],
            });
        }

        function unificar_paciente_hc () {
            const paciente_id_borrar = $('#paciente-id-borrar').val();
            const paciente_id_permanece = $('#paciente-id-permanece').val();
            const motivo = $('#input-motivo').val();

            if (paciente_id_permanece !== '' && paciente_id_borrar !== '' && motivo !== '') {
                $('#btn-unificar-pacientes').prop('disabled', true);

                $.ajax({
                    headers:{'X-CSRFToken':'{{ csrf_token }}'},
                    dataType: 'json',
                    type: 'post',
                    url: "{% url 'informe:unificar_paciente_hc' %}",
                    data:
                        {
                            'pacienteIdPermanece': paciente_id_permanece,
                            'pacienteIdBorrar': paciente_id_borrar,
                            'motivo':motivo
                        },
                    success: function (data)
                    {
                        if(data['unificar_finalizado'] === true) {
                            location.replace("{% url 'informe:unificar_paciente' %}?unificadoexito");
                        }
                        else {
                            alert('Error: No se pudo completar la operación.')
                        }
                    },
                    error: function () {
                        alert("Error: No se pudo completar la operación.");
                    }
                });
            } else {
                alert('Error al conectarse al Servidor.')
            }
        }

        {% if 'unificadoexito' in request.GET %}
            alert('Todos los registros de los pacientes fueron unificados con éxito.')
        {% endif %}
    </script>
{% endblock %}

