<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tomografía Computada S.E.</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {% load static %}
    <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bower_components/font-awesome-updated/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'bower_components/Ionicons/css/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/AdminLTE.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/skins/_all-skins.min.css' %}">
    <link href="{% static 'bower_components/jquery-ui/themes/base/jquery-ui.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'plugins/notificaciones-lindas/css/iziToast.min.css' %}">
    <script src="{% static 'bower_components/moment/moment.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bower_components/tooltip/themes/light.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/custom.css' %}">
    <link href="{% static 'plugins/iCheck/all.css' %}" rel="stylesheet"  />
    <link rel="icon" href="data:,">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <link href="{% static 'plugins/pace/pace.min.css' %}" rel="stylesheet" type="text/css" />
    {% block css_app %}{% endblock %}

</head>
<body class="hold-transition skin-blue {% if request.user.userprofile.perfil == 'Recepcion' %} sidebar-collapse {% endif  %}">
<div class="wrapper">
    <header class="main-header">
        <!-- Logo -->
        <a href="#" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>TC</b>SE</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>Tomografía</b>Computada SE</span>
        </a>
        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- User Account Menu -->
                    <li class="dropdown user user-menu">
                        <!-- Menu Toggle Button -->
                        <a  class="dropdown-toggle" data-toggle="dropdown">
                            <img src="https://ui-avatars.com/api/?size=160&bold=true&color=154360&name={{ request.user.last_name|upper|cut:" "}}+{{ request.user.first_name|upper|cut:" " }}" class="user-image" alt="User Image">
                        </a>
                        <ul class="dropdown-menu">
                            <!-- The user image in the menu -->
                            <li class="user-header">
                                <img src="https://ui-avatars.com/api/?size=160&bold=true&color=154360&name={{ request.user.last_name|upper|cut:" "}}+{{ request.user.first_name|upper|cut:" " }}" class="img-circle" alt="User Image">
                                <p>
                                    <span><b>Usuario: {{ request.user|upper }}</b></span>
                                </p>
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div >
                                    <a href="{% url 'core:change_password' %}" class="btn btn-warning btn-block">Cambiar contraseña</a>
                                    <a href="/logout" class="btn btn-default btn-block">SALIR</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel">
                <!-- ejemplo de usuario logeado -->
                <div class="pull-left image">
                    <img src="https://ui-avatars.com/api/?size=160&bold=true&color=154360&name={{ request.user.last_name|upper|cut:" "}}+{{ request.user.first_name|upper|cut:" " }}" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p style="padding-top: 10px">Usuario: {{ request.user|upper }}</p>
                    <span CLASS="text-orange">
                        {% if request.session.location == 'Default' %}
                            <span class="text-white">SUC. SIN DEFINIR</span>
                        {% elif  request.session.location == 'boedo' %}
                            BOEDO SALTA
                        {% elif  request.session.location == 'boedotomografo' %}
                            TOMOGRAFO BOEDO
                        {% elif  request.session.location == 'boedoresonador' %}
                            RESONADOR BOEDO
                        {% elif  request.session.location == 'oran' %}
                            SUC. ORAN
                        {% elif  request.session.location == 'embarcacion' %}
                            TOMOG. EMBARCACIÓN
                        {% elif  request.session.location == 'tartagal' %}
                            SUC. TARTAGAL
                        {% elif  request.session.location == 'cafayate' %}
                            SUC. CAFAYATE
                        {% elif  request.session.location == 'rosariof' %}
                            SUC. ROSARIO FRONT.
                        {% elif  request.session.location == 'materno' %}
                            HOSP. MATERNO INF.
                        {% elif  request.session.location == 'rosariofm' %}
                            MAMOG. ROSARIO FRONT.
                        {% elif  request.session.location == 'embarcacionm' %}
                            MAMOG. EMBARCACIÓN
                        {% endif %}
                    </span>
                </div>
            </div>
            <!-- Sidebar Menu -->
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">MENÚ PRINCIPAL</li>
                {% if 'Recepcion' in request.user.userprofile.perfil or 'Administrador' in request.user.userprofile.perfil %}
                    {% if request.session.location == 'Default' %}
                        <li><a class="text-green" href="{% url 'core:home' %}?cambiarsucursal=1"><i class="fas fa-sync-alt"></i> SELECCIONAR SUCURSAL</a></li>
                    {% else %}
                        <li><a href="{% url 'core:home' %}?cambiarsucursal=1"><i class="fas fa-sync-alt"></i>  CAMBIAR SUCURSAL</a></li>
                    {% endif %}
                    <li class="treeview menu-open">
                        <a href="#">
                            <i class="far fa-calendar-alt"></i> <span>Módulo Recepción</span>
                            <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                        </a>
                        <ul class="treeview-menu" style="display: block">
                            <li class="treeview menu-open">
                                <a href="#"><i class="fas fa-calendar-day"></i> Agenda
                                    <span class="pull-right-container">
                          <i class="fa fa-angle-left pull-right"></i>
                        </span>
                                </a>
                                <ul class="treeview-menu" style="display: block">
                                    {% if request.session.location == 'boedo' %}
                                        <li><a href="{% url 'turno:turno_brightspeed' %}?serviciocod=1&days=15"><i class="fa fa-plus-square text-success"></i>Tomógrafo Boedo</a></li>
                                        <li><a href="{% url 'turno:turno_brightspeed' %}?serviciocod=2"><i class="fa fa-plus-square text-success"></i>Resonador Boedo</a></li>
                                        <li><a href="{% url 'turno:turno_brightspeed' %}?serviciocod=3&days=15"><i class="fa fa-plus-square text-success"></i>Tomógrafo Materno Inf.</a></li>
                                        <li><a href="{% url 'turno:turno_brightspeed' %}?serviciocod=9&days=15"><i class="fa fa-plus-square text-success"></i>Tomógrafo Externo</a></li>
                                        <li><a href="{% url 'turno:turno_brightspeed' %}?serviciocod=10&days=15"><i class="fa fa-plus-square text-success"></i>Resonador Externo</a></li>
                                    {% elif request.session.location == 'materno' %}
                                        <li><a href="{% url 'turno:turno_brightspeed' %}?serviciocod=3&days=15"><i class="fa fa-plus-square text-success"></i>Tomógrafo Materno Inf.</a></li>
                                    {% elif request.session.location == 'oran' %}
                                        <li><a href="{% url 'turno:turno_brightspeed' %}?serviciocod=4&days=15"><i class="fa fa-plus-square text-success"></i>Tomógrafo Orán</a></li>
                                    {% elif request.session.location == 'tartagal' %}
                                        <li><a href="{% url 'turno:turno_brightspeed' %}?serviciocod=5&days=15"><i class="fa fa-plus-square text-success"></i>Tomógrafo Tartagal</a></li>
                                    {% elif request.session.location == 'embarcacion' %}
                                        <li><a href="{% url 'turno:turno_brightspeed' %}?serviciocod=6&days=15"><i class="fa fa-plus-square text-success"></i>Tomógrafo Embarcación</a></li>
                                    {% elif request.session.location == 'embarcacionm' %}
                                        <li><a href="{% url 'turno:turno_brightspeed' %}?serviciocod=11&days=15"><i class="fa fa-plus-square text-success"></i>Mamografo Embarcación</a></li>
                                    {% elif request.session.location == 'cafayate' %}
                                        <li><a href="{% url 'turno:turno_brightspeed' %}?serviciocod=7&days=15"><i class="fa fa-plus-square text-success"></i>Tomógrafo Cafayate</a></li>
                                    {% elif request.session.location == 'rosariof' %}
                                        <li><a href="{% url 'turno:turno_brightspeed' %}?serviciocod=8&days=15"><i class="fa fa-plus-square text-success"></i>Tomógrafo Rosario Front.</a></li>
                                    {% elif request.session.location == 'rosariofm' %}
                                        <li><a href="{% url 'turno:turno_brightspeed' %}?serviciocod=12&days=15"><i class="fa fa-plus-square text-success"></i>Mamografo Rosario Front.</a></li>
                                    {% endif %}

                                </ul>
                            </li>
                            {% if request.user.userprofile.perfil == 'Recepcion' %}
                                <li class="treeview menu-open">
                                    <a href="#"><i class="fas fa-calendar-day"></i> Agenda (6 meses)
                                        <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                                    </a>
                                    <ul class="treeview-menu" style="display: block">
                                        {% if request.session.location == 'boedo' %}
                                            <li><a href="{% url 'turno:turno_brightspeed' %}?serviciocod=1&days=180"><i class="fa fa-plus-square text-success"></i>Tomógrafo Boedo</a></li>
                                            <li><a href="{% url 'turno:turno_brightspeed' %}?serviciocod=2&days=180"><i class="fa fa-plus-square text-success"></i>Resonador Boedo</a></li>
                                            <li><a href="{% url 'turno:turno_brightspeed' %}?serviciocod=3&days=180"><i class="fa fa-plus-square text-success"></i>Tomógrafo Materno Inf.</a></li>

                                        {% elif request.session.location == 'materno' %}
                                            <li><a href="{% url 'turno:turno_brightspeed' %}?serviciocod=3&days=180"><i class="fa fa-plus-square text-success"></i>Tomógrafo Materno Inf.</a></li>
                                        {% elif request.session.location == 'oran' %}
                                            <li><a href="{% url 'turno:turno_brightspeed' %}?serviciocod=4&days=180"><i class="fa fa-plus-square text-success"></i>Tomógrafo Orán</a></li>
                                        {% elif request.session.location == 'tartagal' %}
                                            <li><a href="{% url 'turno:turno_brightspeed' %}?serviciocod=5&days=180"><i class="fa fa-plus-square text-success"></i>Tomógrafo Tartagal</a></li>
                                        {% elif request.session.location == 'embarcacion' %}
                                            <li><a href="{% url 'turno:turno_brightspeed' %}?serviciocod=6&days=180"><i class="fa fa-plus-square text-success"></i>Tomógrafo Embarcación</a></li>
                                        {% elif request.session.location == 'embarcacionm' %}
                                            <li><a href="{% url 'turno:turno_brightspeed' %}?serviciocod=11&days=180"><i class="fa fa-plus-square text-success"></i>Mamografo Embarcación</a></li>
                                        {% elif request.session.location == 'cafayate' %}
                                            <li><a href="{% url 'turno:turno_brightspeed' %}?serviciocod=7&days=180"><i class="fa fa-plus-square text-success"></i>Tomógrafo Cafayate</a></li>
                                        {% elif request.session.location == 'rosariof' %}
                                            <li><a href="{% url 'turno:turno_brightspeed' %}?serviciocod=8&days=180"><i class="fa fa-plus-square text-success"></i>Tomógrafo Rosario Front.</a></li>
                                        {% elif request.session.location == 'rosariofm' %}
                                            <li><a href="{% url 'turno:turno_brightspeed' %}?serviciocod=12&days=180"><i class="fa fa-plus-square text-success"></i>Tomógrafo Rosario Front.</a></li>
                                        {% endif %}

                                    </ul>
                                </li>
                            {% endif %}
                            <li><a href="{% url 'turno:turno_listar' %}"><i class="fas fa-search"></i> <span>Historial de pacientes</span></a></li>
                            <li><a href="{% url 'turno:pac_corregir' %}"><i class="fas fa-user-edit"></i> <span>Corregir paciente</span></a></li>
                            <li><a href="{% url 'turno:obrasocial_list_view' %}"><i class="fas fa-first-aid"></i> <span>Obras Sociales</span></a></li>
                            <li><a href="{% url 'turno:med_listar' %}"><i class="fas fa-user-md"></i> <span>Médicos Derivantes</span></a></li>

                        </ul>

                    </li>
                {% endif %}
                {% if 'Tecnico' in request.user.userprofile.perfil or 'Administrador' in request.user.userprofile.perfil %}
                    {% if request.user.userprofile.perfil == 'Tecnico' %}
                        {% if request.session.location == 'Default'%}
                            <li><a class="text-green" href="{% url 'core:home' %}?cambiarsucursal=1"><i class="fas fa-sync-alt"></i>  SELECCIONAR SUCURSAL</a></li>
                        {% else %}
                            <li><a href="{% url 'core:home' %}?cambiarsucursal=1"><i class="fas fa-sync-alt"></i> CAMBIAR SUCURSAL</a></li>
                        {% endif %}
                    {% endif %}
                    <li class="treeview menu-open">
                        <a href="#"><i class="fab fa-odnoklassniki-square"></i> <span>Módulo Técnicos</span>
                            <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                      </span>
                        </a>
                        <ul class="treeview-menu" style="display: block">
                            {% if  request.session.location == 'boedotomografo' %}
                                <li><a href="{% url 'tecnico:listado_estudiossolicitados' 1 %}"><i class="fa fa-circle"></i>Tomógrafo Boedo</a></li>
                            {% elif request.session.location == 'boedoresonador' %}
                                <li><a href="{% url 'tecnico:listado_estudiossolicitados' 2 %}"><i class="fa fa-circle"></i>Resonador Boedo</a></li>
                            {% elif request.session.location == 'materno' %}
                                <li><a href="{% url 'tecnico:listado_estudiossolicitados' 3 %}"><i class="fa fa-circle"></i>Tomógrafo Materno Inf.</a></li>
                            {% elif request.session.location == 'oran' %}
                                <li><a href="{% url 'tecnico:listado_estudiossolicitados' 4 %}"><i class="fa fa-circle"></i>Tomógrafo Orán</a></li>
                            {% elif request.session.location == 'tartagal' %}
                                <li><a href="{% url 'tecnico:listado_estudiossolicitados' 5 %}"><i class="fa fa-circle"></i>Tomógrafo Tartagal</a></li>
                            {% elif request.session.location == 'embarcacion' %}
                                <li><a href="{% url 'tecnico:listado_estudiossolicitados' 6 %}"><i class="fa fa-circle"></i>Tomógrafo Embarcación</a></li>
                            {% elif request.session.location == 'embarcacionm' %}
                                <li><a href="{% url 'tecnico:listado_estudiossolicitados' 11 %}"><i class="fa fa-circle"></i>Mamografo Embarcación</a></li>
                            {% elif request.session.location == 'cafayate' %}
                                <li><a href="{% url 'tecnico:listado_estudiossolicitados' 7 %}"><i class="fa fa-circle"></i>Tomógrafo Cafayate</a></li>
                            {% elif request.session.location == 'rosariof' %}
                                <li><a href="{% url 'tecnico:listado_estudiossolicitados' 8 %}"><i class="fa fa-circle"></i>Tomografo Rosario Front.</a></li>
                            {% elif request.session.location == 'rosariofm' %}
                                <li><a href="{% url 'tecnico:listado_estudiossolicitados' 12 %}"><i class="fa fa-circle"></i>Mamografo Rosario Front.</a></li>
                            {% elif request.session.location == 'boedo' and request.user.userprofile.perfil == 'Administrador' %}
                                <li><a href="{% url 'tecnico:listado_estudiossolicitados' 1 %}"><i class="fa fa-circle"></i>Tomógrafo Boedo</a></li>
                                <li><a href="{% url 'tecnico:listado_estudiossolicitados' 2 %}"><i class="fa fa-circle"></i>Resonador Boedo</a></li>
                                <li><a href="{% url 'tecnico:listado_estudiossolicitados' 3 %}"><i class="fa fa-circle"></i>Tomógrafo Materno Inf.</a></li>
                            {% endif %}
                            <li><a href="{% url 'tecnico:est_corregir' %}"><i class="fas fa-edit"></i> Estudios a corregir</a></li>
                            {% if request.user.userprofile.registra_stock %}
                                <li><a href="{% url 'tecnico:index_tecxins' %}?tecnicoid={{ request.user.id }}"><i class="fas fa-boxes"></i> Mis Insumos</a></li>
                            {% endif %}

                            {% if request.session.location == 'oran' and request.user.userprofile.user_listado_stock_servicios %}
                                    <li><a href="{% url 'tecnico:insumo_servicio' %}?servicioid=4"><i class="fa fa-circle"></i>Stock Servicios</a></li>
                            {% elif request.session.location == 'tartagal' and request.user.userprofile.user_listado_stock_servicios %}
                                    <li><a href="{% url 'tecnico:insumo_servicio' %}?servicioid=5"><i class="fa fa-circle"></i>Stock Servicios</a></li>
                            {% elif request.session.location == 'embarcacion' and request.user.userprofile.user_listado_stock_servicios %}
                                <li><a href="{% url 'tecnico:insumo_servicio' %}?servicioid=6"><i class="fa fa-circle"></i>Stock Servicios</a></li>
                            {% elif request.session.location == 'cafayate' and request.user.userprofile.user_listado_stock_servicios %}
                                <li><a href="{% url 'tecnico:insumo_servicio' %}?servicioid=8"><i class="fa fa-circle"></i>Stock Servicios</a></li>
                            {% elif request.session.location == 'rosariof' and request.user.userprofile.user_listado_stock_servicios %}
                                <li><a href="{% url 'tecnico:insumo_servicio' %}?servicioid=9"><i class="fa fa-circle"></i>Stock Servicios</a></li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}

                {% if request.user.userprofile.user_jefe_tecnico or request.user.userprofile.user_listado_tecnico_avanzado %}
                    <li class="treeview menu-open">
                        <a href="#"><i class="fab fa-odnoklassniki-square"></i> <span>Mod. Técnico Avanzado</span>
                            <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                      </span>
                        </a>
                        <ul class="treeview-menu" style="display: block">
                            <li><a href="{% url 'tecnico:listado_estudios_corregir' %}"><i class="fas fa-exclamation-triangle"></i> Estudios marcados a corregir</a></li>
                            <li><a href="{% url 'tecnico:listado_estudiossolicitados' 1 %}"><i class="fa fa-circle"></i>Tomógrafo Boedo</a></li>
                            <li><a href="{% url 'tecnico:listado_estudiossolicitados' 2 %}"><i class="fa fa-circle"></i>Resonador Boedo</a></li>
                            <li><a href="{% url 'tecnico:listado_estudiossolicitados' 3 %}"><i class="fa fa-circle"></i>Tomógrafo Materno Inf.</a></li>
                            <li><a href="{% url 'tecnico:listado_estudiossolicitados' 4 %}"><i class="fa fa-circle"></i>Tomógrafo Orán</a></li>
                            <li><a href="{% url 'tecnico:listado_estudiossolicitados' 5 %}"><i class="fa fa-circle"></i>Tomógrafo Tartagal</a></li>
                            <li><a href="{% url 'tecnico:listado_estudiossolicitados' 6 %}"><i class="fa fa-circle"></i>Tomógrafo Embarcación</a></li>
                            <li><a href="{% url 'tecnico:listado_estudiossolicitados' 11 %}"><i class="fa fa-circle"></i>Mamografo Embarcación</a></li>
                            <li><a href="{% url 'tecnico:listado_estudiossolicitados' 7 %}"><i class="fa fa-circle"></i>Tomógrafo Cafayate</a></li>
                            <li><a href="{% url 'tecnico:listado_estudiossolicitados' 8 %}"><i class="fa fa-circle"></i>Tomógrafo Rosario Front.</a></li>
                            <li><a href="{% url 'tecnico:listado_estudiossolicitados' 12 %}"><i class="fa fa-circle"></i>Mamografo Rosario Front.</a></li>
                        </ul>
                    </li>

                    <li class="treeview menu-open">
                        <a href="#"><i class="fa  fa-medkit"></i> <span>Módulo Stock</span>
                            <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                      </span>
                        </a>

                        <ul class="treeview-menu" style="display: block">
                            <li><a href="{% url 'tecnico:insumo_movimientos_farmacia' %}"><i class="fas fa-boxes"></i> Reporte Mov. Insumos</a></li>
                            <li><a href="{% url 'tecnico:index_tecxins' %}"><i class="fa fa-circle"></i>Stock Técnico</a></li>
                            <li><a href="{% url 'tecnico:insumo_servicio' %}"><i class="fa fa-circle"></i>Stock Servicios</a></li>
                        </ul>
                    </li>
                {% endif %}
                {% if 'Stock' in request.user.userprofile.perfil or 'Administrador' in request.user.userprofile.perfil%}

                    <li class="treeview menu-open">
                        <a href="#"><i class="fa  fa-medkit"></i> <span>Módulo Farmacia</span>
                            <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                      </span>
                        </a>

                        <ul class="treeview-menu" style="display: block">
                            <li><a href="{% url 'tecnico:index_insumo' %}"><i class="fas fa-list-ul"></i> Listado Insumos Gral.</a></li>
                            <li><a href="{% url 'tecnico:insumo_movimientos_farmacia' %}"><i class="fas fa-boxes"></i> Reporte Mov. Insumos</a></li>


                            <li class="treeview menu-open">
                                <a href="#"><i class="fas fa-plus-circle"></i> Ingresos
                                    <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i> </span>
                                </a>
                                <ul class="treeview-menu" style="display: block">
                                    <li><a href="{% url 'tecnico:listado_remito_ingreso' %}"><i class="fa fa-circle"></i>Remitos Ingreso</a></li>
                                </ul>
                            </li>
                            <li class="treeview menu-open">
                                <a href="#"><i class="fas fa-minus-circle"></i> Egresos
                                    <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i> </span>
                                </a>
                                <ul class="treeview-menu" style="display: block">
                                    <li><a href="{% url 'tecnico:listado_remito_egreso' %}"><i class="fa fa-circle"></i>Remitos Egreso</a></li>
                                    <li><a href="{% url 'tecnico:index_tecxins' %}"><i class="fa fa-circle"></i>Provisión Técnico</a></li>
                                    <li><a href="{% url 'tecnico:insumo_servicio' %}"><i class="fa fa-circle"></i>Provisión Servicios</a></li>

                                </ul>
                            </li>
                            <li class="treeview menu-open">
                                <a href="#"><i class="fas fa-tasks"></i> Ajustes de Stock
                                    <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i> </span>
                                </a>
                                <ul class="treeview-menu" style="display: block">
                                    <li><a href="{% url 'tecnico:index_tecxins_ajuste' %}?ajuste=1"><i class="fa fa-circle"></i>Ajuste Técnico</a></li>
                                    <li><a href="{% url 'tecnico:insumo_servicio_ajuste' %}?ajuste=1"><i class="fa fa-circle"></i>Ajuste Servicios</a></li>

                                </ul>
                            </li>

                        </ul>
                    </li>
                {% endif %}
                {% if 'Tipeo' in request.user.userprofile.perfil or 'Administrador' in request.user.userprofile.perfil or request.user.userprofile.user_cerrar_informe %}

                    <li class="treeview menu-open">
                        <a href="#"><i class="far fa-file-audio"></i> <span>Módulo Tipeo</span>
                            <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                      </span>
                        </a>
                        <ul class="treeview-menu" style="display: block">
                            {% if 'Tipeo' in request.user.userprofile.perfil or 'Administrador' in request.user.userprofile.perfil %}
                                <li><a href="{% url 'informe:inf_listar' %}"><i class="fas fa-clipboard-list"></i></i> <span>&nbsp; Listado Pendientes</span></a></li>
{#                                <li><a href="{% url 'informe:inf_listar' %}?facturacion=true"><i class="fas fa-clipboard-list"></i></i> <span>&nbsp;Exp. con Informe S/Fact.</span></a></li>#}
                                <li><a href="{% url 'turno:turno_listar' %}"><i class="fas fa-search"></i><span> &nbsp;Consulta Expedientes</span></a></li>
                                <li><a href="/admin/informe/informeplanilla/"><i class="far fa-file-powerpoint"></i>  Plantillas Médicos</a></li>
                                <li><a href="{% url 'informe:estadisticas_excel' %}"><i class="glyphicon glyphicon-stats"></i>Reportes por Servicio </a></li>
                                <li><a href="{% url 'informe:medicos_count_mes' %}"><i class="far fa-list-alt"></i> Regiones por médico</a></li>
                                <li><a href="{% url 'turno:obrasocial_list_view' %}"><i class="fas fa-first-aid"></i> <span>Obras Sociales</span></a></li>
                                <li><a href="{% url 'tecnico:listado_estudios_corregir' %}"><i class="fas fa-exclamation-triangle"></i> Estudios marcados a corregir</a></li>
                                <li><a href="{% url 'tecnico:listado_estudiossolicitados' 1 %}"><i class="fa fa-circle"></i>Tomógrafo Boedo</a></li>
                                <li><a href="{% url 'tecnico:listado_estudiossolicitados' 2 %}"><i class="fa fa-circle"></i>Resonador Boedo</a></li>
                                <li><a href="{% url 'tecnico:listado_estudiossolicitados' 3 %}"><i class="fa fa-circle"></i>Tomógrafo Materno Inf.</a></li>
                                <li><a href="{% url 'tecnico:listado_estudiossolicitados' 4 %}"><i class="fa fa-circle"></i>Tomógrafo Orán</a></li>
                                <li><a href="{% url 'tecnico:listado_estudiossolicitados' 5 %}"><i class="fa fa-circle"></i>Tomógrafo Tartagal</a></li>
                                <li><a href="{% url 'tecnico:listado_estudiossolicitados' 6 %}"><i class="fa fa-circle"></i>Tomógrafo Embarcación</a></li>
                                <li><a href="{% url 'tecnico:listado_estudiossolicitados' 11 %}"><i class="fa fa-circle"></i>Mamografo Embarcación</a></li>
                                <li><a href="{% url 'tecnico:listado_estudiossolicitados' 7 %}"><i class="fa fa-circle"></i>Tomógrafo Cafayate</a></li>
                                <li><a href="{% url 'tecnico:listado_estudiossolicitados' 8 %}"><i class="fa fa-circle"></i>Tomógrafo Rosario Front.</a></li>
                                <li><a href="{% url 'tecnico:listado_estudiossolicitados' 12 %}"><i class="fa fa-circle"></i>Mamografo Rosario Front.</a></li>
                            {% endif %}

                            {% if request.user.userprofile.user_cerrar_informe %}
                                <li><a href="{% url 'informe:cerrar_expediente' %}"><i class="fas fa-folder-minus"></i> Finalizar Exped. sin Informe</a></li>
                            {% endif %}

                            {% if request.user.userprofile.user_unificar_hc %}
                                <li><a href="{% url 'informe:unificar_paciente' %}"><i class="fas fa-folder-minus"></i> Unificar Pacientes</a></li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}

                {% if  'Medico' in request.user.userprofile.perfil or 'Administrador' in request.user.userprofile.perfil %}

                    <li class="treeview menu-open">
                        <a href="#"><i class="fa  fa-user-md"></i> <span>Módulo Médicos</span>
                            <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                      </span>
                        </a>
                        <ul class="treeview-menu" style="display: block">
                            <li><a href="{% url 'informe:inf_listarmedico' %}"><i class="fas fa-file-signature"></i>&nbsp;&nbsp;Estudios a Informar</a></li>
                            <li><a href="{% url 'informe:medicos_count_mes' %}"><i class="far fa-list-alt"></i> Regiones por médico</a></li>
                        </ul>
                    </li>
                {% endif %}


                {% if 'Administrador' in request.user.userprofile.perfil or request.user.userprofile.user_reporte %}
                    <li class="treeview menu-open">
                        <a href="#"><i class="fa  fa-user-md"></i> <span>Módulo Estadisticas</span>
                            <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                      </span>
                        </a>
                        <ul class="treeview-menu" style="display: block">
                            <li><a href="{% url 'informe:estadisticas_excel' %}"><i class="glyphicon glyphicon-stats"></i> Reportes por Servicio</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
            <!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Main content -->
        <section class="content container-fluid">
            {% block content %} {% endblock %}
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer">
    </footer>

</div>
<script src="{% static 'bower_components/jquery/dist/jquery341.min.js' %}"></script>
<script src="{% static 'bower_components/jquery/dist/jquerymigrate.min.js' %}"></script>
<script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
<script src="{% static 'bower_components/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'bower_components/fastclick/lib/fastclick.js' %}"></script>
<script src="{% static 'bower_components/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'plugins/jquery-ui-full/jquery.ui.autocomplete.scroll.min.js' %}"></script>
<script src="{% static 'plugins/cleave/cleave.min.js' %}"></script>
<script src="{% static 'plugins/notificaciones-lindas/js/iziToast.min.js' %}"></script>
<script src="{% static 'bower_components/tooltip/popper.js' %}"></script>
<script src="{% static 'bower_components/tooltip/tippy.js' %}"></script>
<script src="{% static 'plugins/input-mask/jquery.inputmask.js' %}"></script>
<script src="{% static 'plugins/input-mask/jquery.inputmask.date.extensions.js' %}"></script>
<script src="{% static 'plugins/input-mask/jquery.inputmask.extensions.js' %}"></script>
<script src="{% static 'plugins/iCheck/icheck.min.js' %}"></script>
<script src="{% static 'bower_components/moment/min/moment.min.js' %}"></script>
<script src="{% static 'bower_components/PACE/pace.min.js' %}"></script>

{% block js_app %}{% endblock %}
</body>
</html>
