<div class="modal-dialog modal-xlg">
    <div class="modal-content modal-form">
        <form id="form2" role="form" action="{% url 'turno:turno_actualizar' object.pk %}" method="post" autocomplete="off" enctype="multipart/form-data">
            <div class="modal-header" style="padding: 0px 15px 0px 15px">
                <div class="row">
                    {% if turno.estudio_finalizado_sistema and not turno.servicio.is_servicio_externo %}
                        <div class="bg-warning color-palette padding-rightleft-5px"> <strong><i class="fas fa-check-double"></i> Estudio En Partes Origen: Habilitado y Finalizado Por Sistema.</strong> </div>
                    {% endif %}
                    {% if turno.estudio_terminado or turno.estudio_suspendido_paciente or turno.estudio_suspendido_completar %}
                        {% if not turno.servicio.is_servicio_externo %}
                            <div class="bg-gray disabled color-palette padding-rightleft-5px"> <strong><i class="fas fa-lock"></i> Estudio procesado por el técnico, solo se permiten algunas modificaciones.</strong> </div>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="pull-right">
                    <a class="btn btn-danger"  data-dismiss="modal" onclick="cerrar_modal_actualizarturno()" style="margin-left: 10px" title="Cerrar"><i class="fas fa-times"></i></a>
                </div>
                <h4 class="modal-title" id="myModalLabel"><label class="text-info">Modificar Turno - Nº Orden: {{ turno.id }}
                    {% if turnos_hijos %}
                        - <span class="text-yellow">En Partes
                        {% for tur in turnos_hijos %}
                            ({{ tur.fechahora_inicio|date:"d/m/y H:i" }})
                        {% endfor %}
                    </span>
                    {% endif %}
                </label></h4>
            </div>
            <div class="modal-body" style="padding-top: 6px ; padding-bottom: 5px; font-size: small">
                {% csrf_token %}
                <label class="text-requiered-field hidden" id="crearturno-label-turnoenpartes2"></label>
                <div class="row">
                    <div class="col-xs-3" style="padding-right: 0px">
                        <div class="form-group " style="margin: 0px; padding: 0px">
                            <label style="font-size:11px">
                                <input id="tipoid_du2" type="radio" name="r2" class="minimal" checked > DU&nbsp;
                            </label>
                            <label style="font-size:11px">
                                <input id="tipoid_ci2" type="radio" name="r2" class="minimal"> CI&nbsp;
                            </label>
                            <label style="font-size:11px">
                                <input id="tipoid_le2" type="radio" name="r2" class="minimal"> LE&nbsp;
                            </label>
                            <label style="font-size:11px">
                                <input id="tipoid_lc2" type="radio" name="r2" class="minimal"> LC&nbsp;
                            </label>
                            <label style="font-size:11px">
                                <input id="tipoid_pa2" type="radio" name="r2" class="minimal"> PA
                            </label>
                            <label style="font-size:11px;   pointer-events:none;">
                                <input id="tipoid_nn2" type="radio" name="r2" class="minimal"> NN
                            </label>
                        </div>
                        <div class="input-group ">
                            <input type="text"  required class="form-control" id="dni_buscar2" placeholder="Buscar ..." onfocusout="paciente_buscar_dni2()"  onfocus="this.select();" autofocus>
                            <span class="input-group-btn">
                          <a  id='btn-crearpaciente2' class="btn btn-success btn-flat" onclick="crearpaciente_modal2('{% url 'turno:turnopaciente_crear' %}')" title="Registrar-Editar un paciente" ><i class="fas fa-user-plus"></i></a>
                        </span>
                        </div>
                    </div>
                    <div class="col-xs-4" style="padding-right: 0px">
                        <div class="form-group" >
                            <label>Apellido <b id="pacientenn-apellidolabel2" style="color: #e20404"></b></label>
                            <div>
                                <input type="text" class="form-control" readonly id="input_paciente_apellido2" tabindex="-1" >
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <div class="form-group">
                            <label>Nombre</label>
                            <div class="input-group ">
                                <input type="text" class="form-control"  readonly id="input_paciente_nombre2" tabindex="-1">
                                <span class="input-group-btn">
                                    <a  id='btn-pacienteinfo2' class="btn btn-info btn-flat" ><b>+Info.</b></a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label>Codigo O.S.</label>
                            <input type="text"
                                   required
                                   class="form-control"
                                   placeholder="Buscar ..."
                                   id="obrasocial_buscar2"
                                   onfocusout="buscar_obrasocial2()"
                                   onfocus="this.select();"
                                   onkeydown="obrasocial_autocomplete(event)" >
                        </div>
                    </div>
                    <div class="col-xs-10">
                        <div class="form-group">
                            <label>Obra Social</label>
                            <div class="input-group ">
                                <input type="text" class="form-control" readonly id="input_obrasocial_nombre2" tabindex="-1">
                                <span class="input-group-btn">
                                    <a  id='btn-obrasocialinfo2' class="btn btn-info btn-flat" ><b>+Info.</b></a>
                        </span>
                            </div>
                            {{ form.obrasocial }}
                        </div>
                    </div>

                </div>
                <!-- datos del turno -->
                <div class="row">
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label>Fecha</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fas fa-calendar-alt"></i>
                                </div>
                                <input type="text" class="form-control" id="datepicker2" tabindex="-1">
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-2">
                        <div class="bootstrap-timepicker">
                            <div class="form-group">
                                <label>Hora</label>
                                <div class="input-group">
                                    <input type="text" class="form-control"
                                           id='timepicker2' tabindex="-1"
                                           maxlength="4" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                                    <div class="input-group-addon">
                                        <i class="far fa-clock"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group" style="margin-bottom: 0px">
                            <div class="row">
                                <div class="col-xs-3">
                                    <label class="disable-select">
                                        <input type="checkbox" class="flat-red" name="urgencia2" id="urgencia2" tabindex="-1"> Urgencia
                                    </label>
                                </div>
                                <div class="col-xs-3">
                                    <label class="disable-select " id="check2_ce">
                                        <input type="checkbox" class="flat-red"  name="contrasteev2" id="contrasteev2" tabindex="-1"> Co. Ev
                                    </label>
                                </div>
                                <div class="col-xs-3">
                                    <label class="disable-select" id="label-canalizacion2">
                                        <input type="checkbox" class="flat-red"  name="canalizacion2" id="canalizacion2" tabindex="-1"> <b>Canalizac.</b>
                                    </label>
                                </div>
                                <div class="col-xs-3">
                                    <label class="disable-select">
                                        <input type="checkbox" class="flat-red"  name="entregadigital2" id="entregadigital2" tabindex="-1"> <b class="text-success">Inf. Digital</b>
                                    </label>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-xs-3">
                                    <label class="disable-select">
                                        <input type="checkbox" class="flat-red"  name="internado2" id="internado2" tabindex="-1"> Internado
                                    </label>
                                </div>
                                <div class="col-xs-3">
                                    <label class="disable-select" id="check2_co">
                                        <input type="checkbox" class="flat-red"  name="contrastevo2" id="contrastevo2" tabindex="-1"> Co. Oral
                                    </label>
                                </div>

                                <div class="col-xs-3">
                                    <label class="disable-select" id="check2_arm">
                                        <input type="checkbox" class="flat-red"  name="pacientearm2" id="pacientearm2" tabindex="-1"> <b>ARM</b>
                                    </label>
                                </div>
                                <div class="col-xs-3">
                                    <label class="disable-select">
                                        <input type="checkbox" class="flat-red"  name="whatsapp2" id="whatsapp2" tabindex="-1"> <b class="text-success">Whatsapp</b>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3">
                                    <label class="disable-select" id="check2_anestesia">
                                        <input type="checkbox" class="flat-red"  name="anestesia2" id="anestesia2" tabindex="-1" > Anestesia
                                    </label>
                                </div>
                                <div class="col-xs-3">
                                    <label class="disable-select" id="check2_agua">
                                        <input type="checkbox" class="flat-red"  name="tomaagua2" id="tomaagua2" tabindex="-1"> Agua
                                    </label>
                                </div>
                                <div class="col-xs-3">
                                    <label class="disable-select text-danger">
                                        <input type="checkbox" class="flat-red "  name="recepcion_suspendido" id="recepcion_suspendido2" tabindex="-1"> SUSPENDE
                                    </label>
                                </div>
                                <div class="col-xs-3">
                                    <label class="disable-select">
                                        <input type="checkbox" class="flat-red"  name="confirmacion2" id="confirmacion2" tabindex="-1"> <b class="text-info">Confirma</b>
                                    </label>
                                    <label class="disable-select">
                                        <input type="checkbox" class="flat-red"  name="presente2" id="presente2" tabindex="-1"> <b class="text-info">Presente</b>
                                    </label>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div>
                            <div class="btn-group" >
                                <button type="button" class="btn btn-sm btn-default btn-flat text-blue " id='btn_fotopm_actualizarturno' tabindex="-1" onclick="tomarfoto_modal(1)"><i class="fas fa-camera-retro"></i> <b>PM</b></button>
                                <button type="button" class="btn btn-sm btn-default btn-flat text-green" id='subir_pm2' tabindex="-1" onclick="document.getElementById('id_foto_pedidomedico2').click();"><i class="fas fa-upload"></i><b> PM*</b></button>
                            </div>
                        </div>
                        <div>
                            <div class="btn-group" >
                                <button type="button" class="btn btn-sm btn-default btn-flat text-blue" id='btn_fotodni1_actualizarturno' tabindex="-1" onclick="tomarfoto_modal(2)"><i class="fas fa-camera-retro"></i> <b>DF&nbsp;</b></button>
                                <button type="button" class="btn btn-sm btn-default btn-flat text-green" id='subir_doc2' tabindex="-1" onclick="document.getElementById('id_foto_documento2').click();"><i class="fas fa-upload"></i> <b>DF*&nbsp;</b></button>
                            </div>
                            <div class="btn-group" >
                                <button type="button" class="btn btn-sm btn-default btn-flat text-blue" id='btn_fotodni2_actualizarturno' tabindex="-1" onclick="tomarfoto_modal(3)"><i class="fas fa-camera-retro"></i> <b>DD</b></button>
                                <button type="button" class="btn btn-sm btn-default btn-flat text-green" id='subir_doc22' tabindex="-1" onclick="document.getElementById('id_foto_documento22').click();"><i class="fas fa-upload"></i> <b>DD*&nbsp;</b></button>
                            </div>
                        </div>

                        <div class="hidden" id="fotopm_actualizarturno"></div>
                        <div class="hidden" id="fotodni1_actualizarturno"></div>
                        <div class="hidden" id="fotodni2_actualizarturno"></div>
                        <span class="text-green">*Archivo JPG max. 2MB</span>
                    </div>
                </div>
                <div class="row" style="padding-bottom: 10px">
                    <div class="col-xs-2">
                        <label id="label_tipoturno2">Tipo de Turno</label>
                        {{ form.tipomodalidad }}
                    </div>
                    <div class="col-xs-5">
                        <div class="form-group hidden" id="div_emailentregadigital2" style="margin-bottom: 0px">
                            <label>Email al cual se enviara el informe</label>
                            {{ form.email_entregadigital }}
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <div class="form-group hidden" id="div_whatsapp2" style="margin-bottom: 0px">
                            <label>Whatsapp Contacto</label>
                            {{ form.telefono_whatsapp }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {% if turno.estudio_terminado or turno.estudio_suspendido_paciente or turno.estudio_suspendido_completar %}
                            <label style="color: #5e5e5f">Estudios Solicitados: {{ turno.turno_estudios_soli_backup|default:'---' }} </label>
                            <br>
                        {% endif %}
                        <label>Estudios {% if turno.estudio_terminado or turno.estudio_suspendido_paciente or turno.estudio_suspendido_completar %}Realizados{% else %}Solicitados{% endif %}</label>
                    </div>
                    <div class="container2 form-group container-fluid">
                        <div class="col-xs-2" id="div_2est1">
                            <div class="input-group">
                                <div class="input-group-addon"><a id="prefix2_est1"></a></div>
                                <input  required class="form-control" type="text" name="est1" id="2est1" minlength="1" maxlength="2" onkeydown="return event.keyCode !== 69" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
                                <span class="input-group-addon div_servicio_mamografia hidden"><i class="fas fa-times text-red"></i></span>
                                <input class="form-control div_servicio_mamografia hidden" max="2" min="1" step="1" value="2" name="est1_cant"  id="2est1_cant"/>
                            </div>
                        </div>

                        <div class="col-xs-2" id="div_2est2">
                            <div class="input-group">
                                <div class="input-group-addon"><a id="prefix2_est2"></a></div>
                                <input class="form-control" type="text" name="est2"  id="2est2" minlength="1" maxlength="2" onkeydown="return event.keyCode !== 69" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
                                <span class="input-group-addon div_servicio_mamografia hidden"><i class="fas fa-times text-red"></i></span>
                                <input class="form-control div_servicio_mamografia hidden" max="2" min="1" step="1" value="2" name="est2_cant" id="2est2_cant" />
                            </div>
                        </div>

                        <div class="div_servicio_tomografia_resonancia">
                            <div class="col-xs-2">
                                <div class="input-group">
                                    <div class="input-group-addon"><a id="prefix2_est3"></a></div>
                                    <input class="form-control" type="text" name="est3" id="2est3" minlength="1" maxlength="2" min="1" onkeydown="return event.keyCode !== 69" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="input-group">
                                    <div class="input-group-addon"><a id="prefix2_est3"></a></div>
                                    <input tabindex="-1" class="form-control" type="text" name="est4" id="2est4" minlength="1" maxlength="2" min="1" onkeydown="return event.keyCode !== 69" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="input-group">
                                    <div class="input-group-addon"><a id="prefix2_est3"></a></div>
                                    <input tabindex="-1" class="form-control" type="text" name="est5" id="2est5" minlength="1" maxlength="2" min="1" onkeydown="return event.keyCode !== 69" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <a id="btn-agregarestudio2" tabindex="-1" class="form-control add_form_field btn btn-default"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5" style="padding-right: 3px" >
                        <div class="col-xs-3 " style="padding-left: 0px; padding-right: 5px">
                            <div class="form-group">
                                <label>Matrícula</label>
                                <input type="text" required class="form-control" placeholder="Buscar ..." id="medico_buscar2" onfocusout="buscar_medico2()"  onfocus="this.select();" onkeydown="medicoder_autocomplete(event)"  >

                            </div>
                        </div>
                        <div class="col-xs-9 padding-rightleft-5px"  >
                            <div class="form-group">
                                <label>Médico</label>
                                <input type="text" class="form-control" readonly id="input_medico_nombre_apellido2" tabindex="-1">
                                {{ form.medico_derivante }}
                                <a class="text-success" onclick="crear_medico_derivante()"><i class="fas fa-user-plus" style="font-size: small" ></i> <u>Agregar médico solicitante</u></a>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7"  style="padding-left: 3px">
                        <div class="col-xs-2 padding-rightleft-5px">
                            <div class="form-group">
                                <label>Cod. Int.</label>
                                <input type="text" required class="form-control" placeholder="Buscar ..." id="establecimiento_buscar2" onfocusout="buscar_establecimiento2()"  onfocus="this.select();" onkeydown="establecimiento_autocomplete(event)"  >

                            </div>
                        </div>
                        <div class="col-xs-6 padding-rightleft-5px">
                            <div class="form-group">
                                <label>Lugar de Internación</label>
                                <input type="text" class="form-control" readonly  id="establecimiento_nombre2" tabindex="-1">
                                {{ form.establecimiento_derivador }}
                            </div>
                        </div>
                        <div class="col-xs-4 padding-rightleft-5px">
                            <div class="form-group">
                                <label>Servicio Int.</label>
                                {{ form.establecimiento_servicio }}
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-xs-6" style="padding-bottom: 0px">
                        <div class="form-group" style="margin-bottom: 0px">
                            <label>Observaciones (<b class="text-red">NO</b> se imprimen en la constancia de turno)</label>
                            <div>
                                {{ form.observacion_noimpresa}}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6" style="padding-bottom: 0px">
                        <div class="form-group" style="margin-bottom: 0px">
                            <label>Observaciones (<b class="text-green">SI</b> se imprimen en la constancia de turno)</label>
                            <div>
                                {{ form.observacion}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="hidden">
                <input type="text" id="servicio_id_aux2" name="servicio_id_aux2">
                <input type="text" id="fechaold_ini" name="fechaold_ini" value="">
                <input type="text" id="turno_buscar2" onchange="buscar_turno2()">
                {{ form.paciente }}
                {{ form.contrasteev }}
                {{ form.contrastevo }}
                {{ form.tomaagua }}
                {{ form.anestesia }}
                {{ form.urgencia }}
                {{ form.internado }}
                {{ form.habilitado }}
                {{ form.presentefecha}}
                {{ form.turno_relacionado }}
                {{ form.tiporeprogramado }}
                {{ form.turnotrabajo }}
                {{ form.canalizacion }}
                {{ form.paciente_arm }}
                {{ form.paciente_nn }}
                {{ form.presente }}
                {{ form.confirmacion }}
                {{ form.whatsapp }}
                {{ form.entrega_digital }}
                {{ form.turno_enpartes_primero }}
                {{ form.fechahora_inicio }}
                {{ form.fechahora_fin }}
                {{ form.fechahora_inicio2 }}
                {{ form.fechahora_fin2 }}
                {{ form.turno_recepcion_suspendido }}
                <div id="div_fotopm">
                    {{ form.foto_pedidomedico }}
                </div>
                <div id="div_fotodoc">
                    {{ form.foto_documento }}
                </div>
                <div id="div_fotodoc2">
                    {{ form.foto_documento2 }}
                </div>
            </div>

            <div class="modal-footer" style="padding-top: 5px;padding-bottom: 5px">
                <i class="pull-left">
                    Registró <span class="text-info">{{ turno.usuario_creacion }} {{ turno.fecregistro|date:"d/m/y H:i" }}</span>
                    {% if turno.usuario_recepcion_ultimaedicion  %}
                        - Última modificación por <span class="text-info">{{ turno.usuario_recepcion_ultimaedicion }} {{ turno.fecactualizacion|date:"d/m/y H:i" }}</span>
                    {% endif %}
                </i>
                <a class="btn btn-success waves-effect " id="btn_guardareimprimir2">
                    <b>Guardar e Imprimir</b>
                </a>
                <a class="btn btn-success waves-effect " id="submit_button2"  >
                    <b>Guardar</b>
                </a>
            </div>

        </form>

        <script>
            if (($('#servicio_actual_tipo').val() === "MR")){
                $('#label-canalizacion2').addClass('hidden')

            } else {
                $('#tipomodalidad2').css('pointer-events','none').on('focus', function () {$(this).blur();});
                $('#tipomodalidad2').attr('readonly', true)
            }

            if (($('#servicio_actual_tipo').val() === "CR"))
            {
                $('.div_servicio_tomografia_resonancia').addClass('hidden')
                $('.div_servicio_mamografia').removeClass('hidden')
                $('#div_2est1, #div_2est2').removeClass()
                $('#div_2est1, #div_2est2').addClass('col-sm-3')
            }
        </script>

        <script>
            $("#btn_guardareimprimir2, #submit_button2").on("click", function(e)
            {
                e.preventDefault();
                let $submit_button = document.getElementById("submit_button2");
                let $submit_button2 = document.getElementById("btn_guardareimprimir2");

                $submit_button.setAttribute("disabled", true);
                $submit_button.innerHTML = "<div class='loader'></div>";
                $submit_button2.setAttribute("disabled", true);
                $submit_button2.innerHTML = "<div class='loader'></div>";

                let form = document.querySelector('#form2');

                if (!form.checkValidity()) {
                    form.reportValidity();
                    $submit_button2.removeAttribute("disabled");
                    $submit_button2.innerHTML = "<b>Guardar e Imprimir</b>";
                    $submit_button.removeAttribute("disabled");
                    $submit_button.innerHTML = "<b>Guardar</b>";
                }
                else {
                    let bandimprimir = $(this)[0]===$('#btn_guardareimprimir2')[0];
                    if (bandimprimir)
                    {
                        ajax_submit('1');
                    }
                    else{
                        ajax_submit('0');
                    }
                }
            });
            function ajax_submit (bandimprimir)
            {
                if($('#pacientearm2').is(':checked'))
                {
                    $('#f_pacientearm2').val('True')
                }
                else
                {
                    $('#f_pacientearm2').val('False')
                }

                if($('#urgencia2').is(':checked'))
                {
                    $('#f_urgencia2').val('True')
                }
                else
                {
                    $('#f_urgencia2').val('False')
                }

                if($('#internado2').is(':checked') )
                {
                    $('#f_internado2').val('True')
                }

                else
                {
                    $('#f_internado2').val('False')
                }

                if($('#anestesia2').is(':checked'))
                {
                    $('#f_anestesia2').val('True')
                }
                else
                {
                    $('#f_anestesia2').val('False')
                }

                if($('#contrasteev2').is(':checked') )
                {
                    $('#f_contrasteev2').val('True')
                }
                else
                {
                    $('#f_contrasteev2').val('False')
                }

                if($('#tomaagua2').is(':checked') )
                {
                    $('#f_tomaagua2').val('True')
                }
                else
                {
                    $('#f_tomaagua2').val('False')
                }

                if($('#contrastevo2').is(':checked'))
                {
                    $('#f_contrastevo2').val('True')
                }
                else
                {
                    $('#f_contrastevo2').val('False')
                }

                if($('#presente2').is(':checked'))
                {
                    $('#f_presente2').val('True')
                }
                else
                {
                    $('#f_presente2').val('False')
                }

                if($('#confirmacion2').is(':checked'))
                {
                    $('#f_confirmacion2').val('True')
                }
                else
                {
                    $('#f_confirmacion2').val('False')
                }

                if($('#canalizacion2').is(':checked') &&  $('#servicio_actual_tipo').val() !== 'MR')
                {
                    $('#f_canalizacion2').val('True')
                }
                else
                {
                    $('#f_canalizacion2').val('False')
                }

                if($('#tipoid_nn2').is(':checked'))
                {
                    $('#f_pacientenn2').val('True')
                }
                else
                {
                    $('#f_pacientenn2').val('False')
                }

                if($('#whatsapp2').is(':checked'))
                {
                    $('#f_whatsapp2').val('True')
                }
                else
                {
                    $('#f_whatsapp2').val('False')
                }

                if($('#entregadigital2').is(':checked'))
                {
                    $('#f_engregadigital2').val('True')
                }
                else
                {
                    $('#f_engregadigital2').val('False')
                }

                $('#recepcion_suspendido2').is(':checked') ? $('#f_recepcion_suspendido2').val('True') : $('#f_recepcion_suspendido2').val('False')

                const fecha_inicio_actualizar = $('#datepicker2').val();
                const hora_inicio_actualizar = $('#timepicker2').val();
                let m_fechahora_inicio = moment(fecha_inicio_actualizar + ' ' + hora_inicio_actualizar, 'DD-MM-YYYY HH:mm');
                let fechaini_formated = m_fechahora_inicio.format("YYYY-MM-DD HH:mm");
                $("#fechaold_ini").val($("#fechahora_inicio2").val())
                $('#fechahora_inicio2').val(fechaini_formated);
                $('#fechahora2_inicio2').val(fechaini_formated);
                let frm = $('#form2');

                let furl= frm.attr('action') + '?bandimprimir='+bandimprimir;
                const formData2 = new FormData(frm.get(0));

                $.ajax({
                    type: frm.attr('method'),
                    url:  furl,
                    data: formData2,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        cerrar_modal_actualizarturno();
                        if (data['imprimir'] === '1'){
                            window.open("{% url 'turno:turno_constanciaimprimir' %}?turnoid="+data['turnoid'], "_blank", "resizable=yes,top=100,left=100,width=800,height=520");
                        }
                    },
                    error: function() {
                        alert('Error al crear el turno')
                    }
                });
            }
        </script>

        <script>

            tippy_instance2 =  tippy('#btn-obrasocialinfo2',
                {
                    theme: 'obrasocial',
                    placement: 'bottom',
                    trigger: 'click',
                });

            tippy_instance_pacienteinfo2 =  tippy('#btn-pacienteinfo2',
                {
                    theme: 'paciente',
                    placement: 'bottom',
                    trigger: 'click',
                });

            var paciente_existe;
            var pacientecrear_modificacion;
            var elemento;
            function paciente_buscar_dni2()
            {
                let tipodni_v;
                if (document.getElementById('tipoid_du2').checked) {
                    tipodni_v = 'DU'
                }
                if (document.getElementById('tipoid_ci2').checked) {
                    tipodni_v = 'CI'
                }
                if (document.getElementById('tipoid_le2').checked) {
                    tipodni_v = 'LE'
                }
                if (document.getElementById('tipoid_lc2').checked) {
                    tipodni_v = 'LC'
                }
                if (document.getElementById('tipoid_pa2').checked) {
                    tipodni_v = 'PA'
                }
                if (document.getElementById('tipoid_nn2').checked) {
                    tipodni_v = 'NN'
                }
                $.ajax(
                    {
                        type: 'get',
                        url: "{% url 'turno:buscar_paciente_dni' %}",
                        data: {
                            'dni_buscar': $('#dni_buscar2').val(),
                            'tipodni': tipodni_v,
                        },
                        success: function (data) {
                            if(data['error_404'] === '')
                            {
                                $('#input_paciente_apellido2').val(data['paciente_apellido']);
                                $('#input_paciente_nombre2').val(data['paciente_nombre']);
                                $('#input_paciente_id2').val(data['paciente_id']);
                                let obs = data['paciente_datos'];
                                tippy_instance_pacienteinfo2[0].setContent(obs);
                                if(data['paciente_nn']){
                                    $('#pacientenn-apellidolabel2').html(' ' + data['paciente_nnlabel'] );
                                    $('#dni_buscar2').attr('readonly', 'true')
                                }
                            }
                            else {
                                $('#dni_buscar2').val('');
                                $('#input_paciente_apellido2').val('');
                                $('#input_paciente_nombre2').val('');
                            }
                        },
                        error: function (data) {
                            alert("Error en la validacion");
                        }
                    });
                return false;
            }

            function buscar_obrasocial2() {
                let codigo_servicio = $('#servicio_actual_codigo').val();
                $.ajax({
                    type: 'get',
                    url: "{% url 'turno:buscar_obrasocial' %}",
                    data: {
                        'obrasocial_buscar': $('#obrasocial_buscar2').val(),
                        'servicio_codigo': codigo_servicio
                    },
                    success: function (data) {
                        if(data['error_404'] === '')
                        {
                            $('#input_obrasocial_nombre2').val(data['obrasocial_nombre']);
                            $('#input_obrasocial_id2').val(data['obrasocial_id']);
                            let obs = data['obrasocial_descripcion'];
                            tippy_instance2[0].setContent(obs);
                            if (obs !== '') {
                                $('#btn-obrasocialinfo2').removeClass()
                                $('#btn-obrasocialinfo2').addClass('btn btn-flat btn-success')
                            }else{
                                $('#btn-obrasocialinfo2').removeClass()
                                $('#btn-obrasocialinfo2').addClass('btn btn-flat btn-info')
                            }
                        }
                        else {
                            $('#obrasocial_buscar2').val('');

                            $('#input_obrasocial_nombre2').val('');
                            $('#input_obrasocial_id2').val('');
                        }
                    },
                    error: function (data) {
                        alert("Error en la validacion");
                    }
                });
                return false;
            };

            function buscar_medico2() {
                $.ajax({
                    type: 'get',
                    url: "{% url 'turno:buscar_medico' %}",
                    data: {
                        'medico_buscar': $('#medico_buscar2').val()
                    },
                    success: function (data) {
                        if(data['error_404'] === '')
                        {
                            var nomape = data['medico_apellido'] + ', ' + data['medico_nombre'];
                            $('#input_medico_nombre_apellido2').val(nomape);
                            $('#input_medico_id2').val(data['medico_id']);

                        }
                        else {
                            $('#medico_buscar2').val('');
                            $('#input_medico_nombre_apellido2').val('');
                            $('#input_medico_id2').val('');
                        }
                    },
                    error: function (data) {
                        alert("Error en la validacion");
                    }
                });
                return false;
            };

            function buscar_establecimiento2() {
                $.ajax({
                    type: 'get',
                    url: "{% url 'turno:buscar_establecimiento' %}",
                    data: {
                        'establecimiento_buscar': $('#establecimiento_buscar2').val(),
                    },
                    success: function (data) {
                        if(data['error_404'] === '')
                        {
                            $('#establecimiento_nombre2').val(data['establecimiento_nombre']);
                            $('#establecimiento_id2').val(data['establecimiento_id']);
                        }
                        else {
                            $('#establecimiento_buscar2').val('');
                            $('#establecimiento_nombre2').val('');
                            $('#establecimiento_id2').val('');
                        }
                    },
                    error: function (data) {
                        alert("Error en la validacion");
                    }
                });
                return false;
            };
            function buscar_turno2(turno_normal) {
                $.ajax({
                    type: 'get',
                    url: "{% url 'turno:buscar_turno' %}",
                    data: {
                        'turno_buscar': $('#turno_buscar2').val()
                    },
                    success: function (data)
                    {
                        if(data['error_404'] === '')
                        {
                            let input_disable = '', counter = 0;
                            const lista_est = data['estudios_solicitados'];

                            if (lista_est.length <= 5) {
                                for (let i in lista_est) {
                                    counter++;
                                    $('#2est' + counter.toString()).val(lista_est[i][0])
                                    if (($('#servicio_actual_tipo').val() === "CR")) {
                                        $('#2est' + counter.toString() + '_cant').val(lista_est[i][1])
                                    }
                                }
                            }
                            else {
                                let prefixclass_codigos = 'text-blue'
                                if ($('#servicio_actual_tipo').val() === 'MR'){
                                    prefixclass_codigos = 'text-orange'
                                }

                                let est_addicionales = lista_est.length - 5;
                                var wrapper = $(".container2");


                                for (var i=0; i < est_addicionales; i++){
                                    let id = i + 6;
                                    $(wrapper).append('' +
                                        '                <div class="col-xs-2 ">\n' +
                                        '                    <div class="input-group">\n' +
                                        '                        <div class="input-group-addon"><a class=" '+prefixclass_codigos +'">' + btnadd_prefixestudios +'</a></div>\n' +
                                        '                        <input class="form-control" '+ input_disable +' type="number" name="est' + id  + '" id="2est' + id + '" minlength="1" maxlength="2" min="1" onkeydown="return event.keyCode !== 69" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>\n' +
                                        '                    </div>\n' +
                                        '\n' +
                                        '                </div>');
                                }

                                for (let ij in lista_est) {
                                    counter++;
                                    let id_input_estsol = '#2est' + counter.toString();
                                    $(id_input_estsol).val(lista_est[ij][0])
                                }
                            }
                            if(data['urgencia']){
                                $('#urgencia2').iCheck('check');
                            }else{
                                $('#urgencia2').iCheck('uncheck');

                            }
                            if(data['internado']){
                                $('#internado2').iCheck('check');
                            }else{
                                $('#internado2').iCheck('uncheck');
                                $("#establecimiento_servicio_id2").val($("#establecimiento_servicio_id2 option:first").val());
                                $('#establecimiento_servicio_id2').attr('disabled', true);

                            }

                            if(data['contrasteev']){
                                $('#contrasteev2').iCheck('check');
                            }else{
                                $('#contrasteev2').iCheck('uncheck');

                            }
                            if(data['contrastevo']){
                                $('#contrastevo2').iCheck('check');

                            }else{
                                $('#contrastevo2').iCheck('uncheck');
                            }

                            if(data['tomaagua']){
                                $('#tomaagua2').iCheck('check');

                            }else{
                                $('#tomaagua2').iCheck('uncheck');
                            }

                            if(data['anestesia']){
                                $('#anestesia2').iCheck('check');
                            }else{
                                $('#anestesia2').iCheck('uncheck');
                            }

                            if(data['confirmacion']){
                                $('#confirmacion2').iCheck('check');
                            }else{
                                $('#confirmacion2').iCheck('uncheck');
                            }

                            if(data['paciente_nn']){
                                $('#tipoid_nn2').iCheck('check');
                            }else{
                                $('#tipoid_nn2').iCheck('uncheck');
                            }

                            if(data['pacientearm']){
                                $('#pacientearm2').iCheck('check');
                            }else{
                                $('#pacientearm2').iCheck('uncheck');
                            }

                            if(data['canalizacion'] &&  $('#servicio_actual_tipo').val() !== 'MR'){
                                $('#canalizacion2').iCheck('check');
                            }else{
                                $('#canalizacion2').iCheck('uncheck');
                            }
                            if(data['presente']){
                                $('#presente2').iCheck('check');
                            }else{
                                $('#presente2').iCheck('uncheck');
                            }
                            if(data['whatsapp']){
                                $('#whatsapp2').iCheck('check');
                            }else{
                                $('#whatsapp2').iCheck('uncheck');
                            }
                            if(data['entrega_digital']){
                                $('#entregadigital2').iCheck('check');
                            }else{
                                $('#entregadigital2').iCheck('uncheck');
                            }
                            if(data['recepcion_suspendido']){
                                $('#recepcion_suspendido2').iCheck('check');
                            }else{
                                $('#recepcion_suspendido2').iCheck('uncheck');
                            }
                            //tipo id
                            switch (data['paciente_tipoid']){
                                case 'NN':
                                    $('#tipoid_nn2').iCheck('check');
                                    break;
                                case 'DU':
                                    $('#tipoid_du2').iCheck('check');
                                    break;
                                case 'CI':
                                    $('#tipoid_ci2').iCheck('check');
                                    break;
                                case 'LE':
                                    $('#tipoid_le2').iCheck('check');
                                    break;
                                case 'LC':
                                    $('#tipoid_lc2').iCheck('check');
                                    break;
                                case 'PA':
                                    $('#tipoid_pa2').iCheck('check');
                                    break;
                            }
                            $('#timepicker2').val(moment(data['fechaini']).format('HH:mm'));
                            $('#datepicker2').val(moment(data['fechaini']).format('DD/MM/YYYY'));
                            $('#dni_buscar2').val(data['paciente_dni']);
                            $('#obrasocial_buscar2').val(data['obrasocial_id']);
                            $('#medico_buscar2').val(data['medico_derivante_id']);
                            $('#observacion2').val(data['observacion']);
                            $('#observacion_noimpresa2').val(data['observacion_noimpresa']);
                            $('#establecimiento_buscar2').val(data['establecimiento_derivador_id']);
                            buscar_medico2();
                            buscar_obrasocial2();
                            paciente_buscar_dni2();
                            buscar_establecimiento2();

                            if(!turno_normal) {
                                for (let i = 1; i <= 5; i++){
                                    let id_input_estsol = '#est' + i;
                                    $(id_input_estsol).attr('readonly', true)
                                }
                                $('#dni_buscar2').attr('readonly', true);
                                $('#obrasocial_buscar2').attr('readonly', true);
                                $('#medico_buscar2').attr('readonly', true);
                                $('#urgencia2').iCheck('disable');
                                $('#internado2').iCheck('disable');
                                $('#anestesia2').iCheck('disable');
                                $('#tomaagua2').iCheck('disable');
                                $('#contrasteev2').iCheck('disable');
                                $('#contrastevo2').iCheck('disable');
                                $('#whatsapp2').iCheck('disable');
                                $('#entregadigital2').iCheck('disable');
                                $('#btn-crearpaciente2').addClass('hidden');
                                $('#btn-agregarestudio2').addClass('hidden');
                                $('#id_tipomodalidad2').val('Normal');
                                $('#id_tipomodalidad2').addClass('hidden');
                                $('#tipomodalidad2').css('pointer-events','none').on('focus', function () {$(this).blur();});
                                $('#tipomodalidad2').attr('readonly', true)
                                $('#label_tipoturno2').addClass('hidden');
                                $('#establecimiento_buscar2').attr('readonly', true);
                                $('#tipo_turno_enpartes2').val('False');
                                $('#crearturno-label-turnoenpartes2').html('El turno generado es la continuación de un turno en partes, las modificaciones se hacen sobre el turno original.')

                            }
                            if(data['estudio_terminado']  && !data['servicio_externo']) { disable_inputs(); }
                        }
                        else {
                            alert("Error al cargar el turno")
                        }
                    },
                    error: function (data) {
                        alert("Error al cargar el turno");
                    }
                });
                return false;
            }
            $('#input_paciente_id2').attr("required", false);
            $('#input_obrasocial_id2').attr("required", false);
            $('#fechahora_inicio2').attr("required", false);
            $('#fechahora_fin2').attr("required", false);
            $('#servicio2').attr("required", false);
            $('#presente2').attr("required", false);
            $('#presentefecha2').attr("required", false);
            $('#input_medico_id2').attr("required", false);
            $('#establecimiento_id2').attr("required", false);
            $('#establecimiento_buscar2').val(0);
            $('#establecimiento_buscar2').prop('readonly', true);
            $('#div_fotopm :file').attr('id', 'id_foto_pedidomedico2')
            $('#div_fotopm :file').attr('accept', '.jpg');
            $('#div_fotodoc :file').attr('id', 'id_foto_documento2')
            $('#div_fotodoc :file').attr('accept', '.jpg');
            $('#div_fotodoc2 :file').attr('id', 'id_foto_documento22')
            $('#div_fotodoc2 :file').attr('accept', '.jpg');
            buscar_establecimiento2();
            turno_id_act = '{{ object.pk }}';
            $('#turno_buscar2').val('R' + turno_id_act);
            {% if turno.turno_enpartes_primero %}
                buscar_turno2(true);
            {% else %}
                buscar_turno2(false);
            {% endif %}
        </script>
        <script>
            inputdni2 =  $("#dni_buscar2");
            $(function () {
                inputdni2.autocomplete({
                    source: "{% url 'turno:paciente_listarnormal' %}",
                    maxShowItems: 25,
                    autoFocus: true,
                    delay: 0,
                    minLength: 3
                });
            });
        </script>
        <script>
            inputcodobsocial2 =  $("#obrasocial_buscar2");
            $(function () {
                let codigo_servicio = $('#servicio_actual_codigo').val();
                inputcodobsocial2.autocomplete({
                    source: "{% url 'turno:obrasocial_listar' %}?servcod=" + codigo_servicio,
                    maxShowItems: 12,
                    autoFocus: true,
                    delay: 0,
                });
            });
            function obrasocial_autocomplete(e)
            {
                if (e.keyCode === 66 && e.ctrlKey) {
                    inputcodobsocial2.autocomplete( "search", "*" );}
            }
        </script>
        <script>
            inputcodmedico2 =  $("#medico_buscar2");
            $(function () {
                inputcodmedico2.autocomplete({
                    source: "{% url 'turno:medicosderivantes_listar' %}",
                    maxShowItems: 15,
                    autoFocus: true,
                    minLength: 3,
                    delay: 0,
                });
            });
            function medicoder_autocomplete(e){
                if (e.keyCode === 66 && e.ctrlKey) {
                    inputcodmedico2.autocomplete( "search", "*" );}
            }
        </script>
        <script>
            inputcodest2 =  $("#establecimiento_buscar2");
            $(function () {
                inputcodest2.autocomplete({
                    source: "{% url 'turno:establecimientos_listar' %}",
                    maxShowItems: 25,
                    autoFocus: true,
                    delay: 0,
                });
            });
            function establecimiento_autocomplete(e){
                if (e.keyCode === 66 && e.ctrlKey) {
                    inputcodest2.autocomplete( "search", "*" );}
            }
        </script>
        <script>
            $('#tipoid_du2,#tipoid_ci2,#tipoid_lc2,#tipoid_le2,#tipoid_pa2').on('ifChanged', function(event){
                $('#dni_buscar2').val('');
                $('#input_paciente_apellido2').val('');
                $('#input_paciente_nombre2').val('');
            });
        </script>
        <script>
            $("#whatsapp2").on('ifChecked', function () {
                $('#div_whatsapp2').removeClass('hidden');
                $('#input_telefono_whatsapp2').prop('required', true);

            });
            $("#whatsapp2").on('ifUnchecked', function () {
                $('#div_whatsapp2').addClass('hidden');
                $('#input_telefono_whatsapp2').prop('required', false);
            });

            $("#entregadigital2").on('ifChecked', function () {
                $('#div_emailentregadigital2').removeClass('hidden');
                $('#input_email_entregadigital2').prop('required', true);

            });
            $("#entregadigital2").on('ifUnchecked', function () {
                $('#div_emailentregadigital2').addClass('hidden');
                $('#input_email_entregadigital2').prop('required', false);

            });
            $("#urgencia2").on('ifChecked', function () {
                $('#internado2').iCheck('check');
            });

            $("#urgencia2").on('ifUnchecked', function () {
                $('#pacientearm2').iCheck('uncheck');
            });
            $("#internado2").on('ifUnchecked', function () {
                $('#urgencia2').iCheck('uncheck');
                $('#pacientearm2').iCheck('uncheck');
                $('#establecimiento_buscar2').val(0);
                buscar_establecimiento2();
                $('#establecimiento_buscar2').prop('readonly', true);
                $("#establecimiento_servicio_id2").val($("#establecimiento_servicio_id2 option:first").val());
                $('#establecimiento_servicio_id2').attr('disabled', true);
            });

            $("#internado2").on('ifChecked', function () {
                if($('#contrasteev2').is(':checked') &&  $('#servicio_actual_tipo').val() !== 'MR' ){
                    $('#canalizacion2').iCheck('check');
                }
                $('#establecimiento_buscar2').prop('readonly', false)
                $('#establecimiento_buscar2').val('');
                $('#establecimiento_nombre2').val('');
                $('#establecimiento_id2').val('');
                $('#establecimiento_servicio_id2').attr('disabled', false);
            });

            $("#contrastevo2").on('ifChecked', function () {
                $('#tomaagua2').iCheck('uncheck');
            });
            $("#tomaagua2").on('ifChecked', function () {
                $('#contrastevo2').iCheck('uncheck');
            });
            $("#contrasteev2").on('ifChecked', function () {
                if($('#internado2').is(':checked' &&  $('#servicio_actual_tipo').val() !== 'MR') ){
                    $('#canalizacion2').iCheck('check');
                }
            });
            $("#pacientearm2").on('ifChecked', function () {
                $('#urgencia2').iCheck('check');
            });
        </script>
        <script>
            function disable_inputs()
            {
                $('#dni_buscar2').attr('readonly', true);
                $('#datepicker2').attr('disabled', true);
                $('#timepicker2').attr('disabled', true);
                $('#btn-crearpaciente2').addClass('hidden');
                let cant_estudios = 11;
                for (let i = 1; i < cant_estudios; i++)
                {
                    if($('#2est'+i) !== undefined)
                    {
                        $('#2est'+i).attr('readonly', true);
                    }
                }
                $('#tipoid_du2').attr('disabled', true);
                $('#tipoid_lc2').attr('disabled', true);
                $('#tipoid_le2').attr('disabled', true);
                $('#tipoid_ci2').attr('disabled', true);
                $('#tipoid_pa2').attr('disabled', true);
                $('#tipoid_nn2').attr('disabled', true);
                $('#input_email_entregadigital2').attr('readonly', true);
                $('#input_telefono_whatsapp2').attr('readonly', true);
                $('#urgencia2').attr('disabled', true);
                $('#internado2').attr('disabled', true);
                $('#anestesia2').attr('disabled', true);
                $('#contrasteev2').attr('disabled', true);
                $('#contrastevo2').attr('disabled', true);
                $('#canalizacion2').attr('disabled', true);
                $('#recepcion_suspendido2').attr('disabled', true);
                $('#pacientearm2').attr('disabled', true);
                $('#confirmacion2').attr('disabled', true);
                $('#presente2').attr('disabled', true);
                $('#tipomodalidad2').attr('readonly', true);
                $('#tipomodalidad2').attr('style', 'pointer-events:none;');
                $('#btn-agregarestudio2').addClass('hidden');
            }
        </script>
    </div>
</div>
