{% extends 'base.html' %}
{% load static %}

{% block css_app %}
    <link href="{% static 'plugins/datatables-actualizado/Responsive-2.2.3/css/responsive.foundation.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'plugins/datatables-actualizado/Scroller-2.0.1/css/scroller.bootstrap.min.css' %}" rel="stylesheet" type="text/css" />

    <link href="{% static 'static_turno/turno/css/custom.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'static_turno/paciente/css/custom.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <h3>Historial de pacientes</h3>
                <style> h3 {text-align: center;}</style>
                <style> h3 {
                    color: #31708f;;
                }</style>
                <div class="box-body">
                    <div class="pull-left col-sm-8 form-group">
                        <h4 style="margin-bottom: 0px">Datos del paciente</h4>
                    </div>
                    <div class="pull-right col-sm-4 form-group" style="padding-right: 0px">
                        <label class="disable-select">
                            <input type="checkbox" class="flat-red"  id="buscar_turnoid" tabindex="-1"> <span class="text-info">Buscar paciente por Nº Orden</span>
                        </label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="paciente_busqueda" placeholder="Buscar paciente por Apellido, Nombre, DNI, LE, LC, CI, PA">
                            <span class="input-group-btn">
                            <button type="button" class="btn btn-info btn-flat" onclick="paciente_autocomplete(event)">
                                <i id="iconoSpin" class="fas fa-search"></i>
                            </button>
                         </span>
                        </div>
                        <span>*Para la búsqueda por Apellido y Nombre se requiere como mínimo 7 caracteres</span>
                        <input type="text" class="form-control hidden" id="paciente_id"  placeholder="Buscar paciente por Nombre, Apellido o Documento del Paciente">
                    </div>
                    <table id="data-table-full-paciente" class="table table-bordered table-striped  table-condensed table-small-font "  width="100%">
                        <thead>
                        <tr>
                            <th class="text-center">Apellido</th>
                            <th class="text-center">Nombre</th>
                            <th class="text-center">Tipo ID</th>
                            <th class="text-center">Número ID</th>
                            <th class="text-center">Domicilio</th>
                            <th class="text-center none">Paciente NN:</th>
                            <th class="text-center">Sexo</th>
                            <th class="text-center">Fecha de nacimiento</th>
                            <th class="text-center">Modificar</th>
                            <th class="text-center none">Paciente DB-ID: </th>
                            <th class="text-center none">País: </th>
                            <th class="text-center none">Provincia: </th>
                            <th class="text-center none">Departamento: </th>
                            <th class="text-center none">Localidad: </th>
                            <th class="text-center none">Barrio: </th>
                            <th class="text-center none">Teléfono</th>
                            <th class="text-center none">Obra social: </th>
                            <th class="text-center none">Observaciones: </th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <div class="row col-xs-12">
                        <div class="pull-left col-sm-9 form-group">
                            <h4 style="margin-bottom: 0px">Turnos asignados</h4>
                        </div>
                        <div class="pull-right col-sm-3 form-group">
                        </div>
                    </div>
                    <table id="data-table-full" class="table table-bordered table-hover table-striped table-condensed  table-small-font" width="100%" >
                        <thead>
                        <tr>
                            <th class="text-center">N° Orden</th>
                            <th class="text-center">Fecha</th>
                            <th class="none text-center">Servicio: </th>
                            <th class="text-center">Estudios Solic.</th>
                            <th class="text-center">Estado</th>
                            <th class="text-center">Urg</th>
                            <th class="text-center">Int</th>
                            <th class="text-center">Anes</th>
                            <th class="text-center">CE</th>
                            <th class="none text-center">Contraste Oral: </th>
                            <th class="none text-center">Toma Agua: </th>
                            <th class="text-center">Fotos</th>
                            <th class="none text-center">Obra Social: </th>
                            <th class="none text-center">Facturación Fecha: </th>
                            <th class="none text-center">Informe Observaciones: </th>
                            <th class="none text-center">Observación Recepción Impresa: </th>
                            <th class="none text-center">Observación Recepción No Impresa: </th>
                            <th class="text-center">Nº Informe</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="popup_actualizarpaciente" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false"> </div>
    </div>
{% endblock %}

{% block js_app %}
    <script src="{% static 'plugins/datatables-actualizado/DataTables-1.10.20/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/DataTables-1.10.20/js/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/Buttons-1.6.1/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/Responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/Responsive-2.2.3/js/responsive.bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/Scroller-2.0.1/js/dataTables.scroller.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/Select-1.3.1/js/dataTables.select.min.js' %}"></script>
    <script src="{% static 'static_turno/turno/js/datatables.init.js' %}"></script>
    <script src="{% static 'static_turno/paciente/js/datatables.init.js' %}"></script>

    <script>
        function openFoto(urllast) {
            let url = "{% url 'core:home' %}" + urllast;
            window.open(url,"_blank", "resizable=yes,top=100,left=100,width=1000,height=900");

        }
        function  abririnforme(turnoid){
            {% if 'Recepcion' in request.user.userprofile.perfil %}
                window.open("{% url 'informe:inf_informegenerar' %}?turnoid=" + turnoid + "&openpdf=1", "_blank", "resizable=yes,top=100,left=100,width=850,height=800");
            {% endif %}

            {% if 'Tipeo' in request.user.userprofile.perfil or 'Administrador' in request.user.userprofile.perfil %}
                window.open("{% url 'informe:inf_informegenerar' %}?turnoid=" + turnoid + "&tipeo=1&openpdf=1", "_blank", "resizable=yes,top=100,left=100,width=850,height=800");
            {% endif %}
        }
        $(function () {
            $("#paciente_busqueda").autocomplete({
                source: "{% url 'turno:paciente_listar' %}",
                maxShowItems: 20,
                autoFocus: true,
                delay: 0,
                minLength: 7,
                select: function(event, ui) {
                    event.preventDefault();
                    let paciente_id;
                    let label = ui.item.label.toString();
                    paciente_id = ui.item.value.toString();
                    let nombreyape_paciente = label.split(') ')[1];
                    $("#paciente_busqueda").val(nombreyape_paciente);
                    $.ajax({
                        type: 'get',
                        url: "{% url 'turno:buscar_turnoxpaciente' %}",
                        data: {
                            'paciente_id': paciente_id,
                        },
                        success: function (data) {
                            let tabla_turnos = $('#data-table-full').DataTable();
                            tabla_turnos.clear();
                            let tablaDatosPaciente = $('#data-table-full-paciente').DataTable();
                            tablaDatosPaciente.clear();
                            if (data.length < 2){
                                tabla_turnos.clear().draw();
                            }

                            for ( let i=0; i< data.length -1 ; i++) {
                                let estado, urgencia, internado, anestesia, cev, cvo, agua, fotopm, fotodoc, fotodoc2;

                                data[i].urgencia === 'True' ? urgencia = '<strong><i class="fas fa-check"></i></strong>' : urgencia = '-';
                                data[i].internado === 'True' ? internado = '<strong><i class="fas fa-check"></i></strong>' : internado = '-';
                                data[i].anestesia === 'True' ? anestesia = '<strong><i class="fas fa-check"></i></strong>' : anestesia = '-';
                                data[i].contrasteev === 'True' ? cev = '<strong><i class="fas fa-check"></i></strong>' : cev = '-';
                                data[i].contrastevo === 'True' ? cvo = 'Si' : cvo = 'No';
                                data[i].agua === 'True' ? agua = 'Si' : agua = 'No';
                                fotopm = data[i].fotopm;
                                fotodoc = data[i].fotodoc;
                                fotodoc2 = data[i].fotodoc2;

                                if (fotopm !== ''){
                                    fotopm = '<a class="btn btn-xs btn-success"  onclick=openFoto("media/'+  fotopm +'")   >PM</a>'
                                }
                                if (fotodoc !== ''){
                                    fotodoc = '<a class="btn btn-xs btn-success"  onclick=openFoto("media/'+  fotodoc +'")   >DF</a>'
                                }
                                if (fotodoc2 !== ''){
                                    fotodoc2 = '<a class="btn btn-xs btn-success"  onclick=openFoto("media/'+  fotodoc2 +'")  >DD</a>'
                                }
                                let fotos = fotopm + fotodoc + fotodoc2;
                                let informe = '';
                                estado = data[i].estado;
                                const inf_finalizado = data[i].informe_finalizado;
                                const informe_pdf_url = data[i].informe_pdf_url;
                                let idTurno = data[i].turnoId;
                                if (informe_pdf_url !== ''){
                                    informe = `<a href="` + informe_pdf_url + `" class="btn-sm btn-info" target="_blank"><i class="far fa-file-alt"></i></a>`
                                }
                                else if (inf_finalizado === 'True'){
                                    informe = `<a onclick="abririnforme('` +  idTurno + `')" class="btn-sm btn-info"><i class="far fa-file-alt"></i></a>`
                                }
                                let fecha_sort = moment(data[i].fecha, 'DD/MM/YY - HH:mm').format('YYYY-MM-DD HH:mm');
                                let pre_informe_url = "../../informe/preinforme/" + idTurno + '/?tipo=1';
                                let pre_informe = '<a href="' + pre_informe_url + '" class="btn-sm btn-warning"><i class="fa fa-id-card"></i></a>';
                                if (data[i].turno_hijo === 'True'){
                                    pre_informe = ''
                                    informe = ''
                                }
                                let ficha_tecnica
                                if (!data[i].tecnico_imprime_ficha) {
                                    ficha_tecnica = ' '
                                } else {
                                    const tec_url = "{% url 'tecnico:imprimir_ficha' %}"
                                    ficha_tecnica = '<a class="btn-sm btn-primary" href="' + tec_url +'?turnoid=' + idTurno+ '" target=_blank> <i class="fas fa-file-invoice"></i></a>'
                                }
                                var row = tabla_turnos.row.add(
                                    $('<tr>'+
                                        '<td>'+ idTurno +'</td>'+
                                        '<td data-sort="'+ fecha_sort +'">'+data[i].fecha+'</td>'+
                                        '<td>'+ data[i].servicio_nombre +'</td>'+
                                        '<td>'+ data[i].estudios +'</td>'+
                                        '<td>'+estado+'</td>'+
                                        '<td>'+ urgencia+'</td>'+
                                        '<td>'+ internado +'</td>'+
                                        '<td>'+anestesia +'</td>'+
                                        '<td>'+ cev +'</td>'+
                                        '<td>'+ cvo +'</td>'+
                                        '<td>'+ agua +'</td>'+
                                        '<td>'+ fotos +'</td>'+
                                        '<td>'+ data[i].obrasocial +'</td>'+
                                        '<td>'+ data[i].facturado +'</td>'+
                                        '<td>'+ data[i].informe_cerrado_obs +'</td>'+
                                        '<td>'+ data[i].observacion +'</td>'+
                                        '<td>'+ data[i].observacion_noimpresa +'</td>'+
                                        '<td> <strong>'+  data[i].nro_informe + ' - ' + informe + '</strong>'+
                                        {% if 'Tipeo' in request.user.userprofile.perfil or 'Administrador' in request.user.userprofile.perfil or request.user.userprofile.user_jefe_facturacion %}
                                            ' ' + pre_informe + ' ' + ficha_tecnica +
                                        {% endif %}
                                        '</td></tr>')[0]
                                ).node();
                                $(row).find('td').eq(1).attr('data-sort', fecha_sort);

                            }
                            tabla_turnos.order([[ 1, 'asc' ]]).draw();
                            let apellido, nombre, tipo_dni, dni, domicilio, pac_nn, sexo, fech_nac, pais, provincia, departamento,
                                localidad, barrio, tel, obraSocial, obs;

                            let ultimoElem = data.length -1;
                            apellido = data[ultimoElem].paciente_apellido;
                            nombre = data[ultimoElem].paciente_nombre;
                            tipo_dni = data[ultimoElem].paciente_tipoid;
                            dni = data[ultimoElem].paciente_dni;
                            domicilio = data[ultimoElem].paciente_domicilio;
                            pac_nn = data[ultimoElem].paciente_nn;
                            sexo = data[ultimoElem].paciente_sexo;
                            fech_nac = data[ultimoElem].paciente_fecnac;
                            pais = data[ultimoElem].paciente_pais;
                            provincia = data[ultimoElem].paciente_provincia;
                            departamento = data[ultimoElem].paciente_departamento;
                            localidad = data[ultimoElem].paciente_localidad;
                            barrio = data[ultimoElem].paciente_barrio;
                            tel = data[ultimoElem].paciente_tel;
                            obraSocial = data[ultimoElem].paciente_obraSocial;
                            obs = data[ultimoElem].paciente_obs;

                            let pacnn = pac_nn ? 'Si' : 'no';
                            let idPaciente = data[ultimoElem].paciente_id;
                            const pacienteUrl = '`' + "{% url 'turno:turnopaciente_crear2' %}" + '`,`' + dni + '`,`' + tipo_dni + '`'
                            let btn_accion = '<div> <a class="btn-sm btn-warning" ' + 'onclick="abrir_modal_actualizarpaciente(' + pacienteUrl + ')"><i class="fa fa-edit"></i></a> </div>';
                            tablaDatosPaciente.row.add([
                                apellido,
                                nombre,
                                tipo_dni,
                                dni,
                                domicilio,
                                pacnn,
                                sexo,
                                fech_nac,
                                btn_accion,
                                idPaciente,
                                pais,
                                provincia,
                                departamento,
                                localidad,
                                barrio,
                                tel,
                                obraSocial,
                                obs
                            ]).draw(false);

                        },
                        error: function (data) {
                            alert("Error en la validacion");
                        }
                    });
                },

                focus: function(event, ui) {
                    event.preventDefault();
                    let label = $("#paciente_dni").val(ui.item.label);
                    $("#paciente_id").val(label);
                },
                search: function(){$('#iconoSpin').addClass('fa-sync fa-spin');},
                response: function(){$('#iconoSpin').removeClass('fa-sync fa-spin');},
            });
        });
        var busqueda_turnoid = false;
        document.getElementById("buscar_turnoid").onclick = function() {
            if (this.checked){
                $('#paciente_busqueda').val('');
                $('#paciente_busqueda').attr('placeholder','Buscar paciente por Nº Orden');
                busqueda_turnoid = true;
            }
            else{
                $('#paciente_busqueda').val('');
                $('#paciente_busqueda').attr('placeholder','Buscar paciente por Apellido, Nombre, DNI, LE, LC, CI, PA');
                busqueda_turnoid = false;
            }
        };

        function paciente_autocomplete(e){
            var inputvalor =  $('#paciente_dni').val();
            if (busqueda_turnoid)
            {
                $('#paciente_busqueda').autocomplete({minLength: 1, source: "{% url 'turno:paciente_listarturnoid' %}",})
            }
            else
            {
                $('#paciente_busqueda').autocomplete({minLength: 7,             source: "{% url 'turno:paciente_listar' %}",
                })
            }
            $('#paciente_busqueda').autocomplete( "search",  inputvalor);
            $('#paciente_busqueda').autocomplete({minLength: 7,            source: "{% url 'turno:paciente_listar' %}",
            });
            return false;
        }
    </script>
    <script>
        function cerrar_modal_actualizarpaciente()
        {
            $('#popup_actualizarpaciente').modal('hide')

            return false;
        }
        function abrir_modal_actualizarpaciente(url, paciente_nroid, paciente_tipoid)
        {
            $('#popup_actualizarpaciente').load(url, function()
            {
                $(this).modal('show');
                $('#id_identificacion_tipo').trigger('focus');
                $('#id_identificacion_tipo').val(paciente_nroid);
                $('#id_identificacion_numero').val(paciente_tipoid);
                buscarpaciente_datos(paciente_nroid, paciente_tipoid);
            });
            return false;
        }
    </script>
{% endblock %}

