<div class="modal-dialog modal-xlg">
    <div class="modal-content modal-form">
        <form id="form1" role="form" action="{% url 'turno:turno_crear' %}" method="post" autocomplete="off"  enctype="multipart/form-data">
            <div class="modal-header" style="padding: 5px 15px 5px 15px">
                <div class="pull-right">
                    <a class="btn bg-blue" onclick="return turnoreservado_crear($('#datepicker').val()+'T'+ $('#timepicker').val());" title='Crear turno reservado'><b><i class="fas fa-calendar-plus"></i></b></a>
                    <a class="btn btn-warning "  id="btn-pegarturnopartes" onclick="return pegarturno_enpartes();" title='Al pegar un turno definido "En partes" los turnos dependerán del turno que se copió inicialmente'><b>Pegar: Turno en Partes</b></a>
                    <a class="btn btn-warning " onclick="return pegarturno();" title='Pegar el turno copiándolo (se conserva el original)'><i class="fa fa-copy" ></i></a>
                    <a class="btn btn-warning " onclick="return pegarturnocortado();" title="Pegar el turno cortándolo, el turno se mueve al nuevo horario (IMPORTANTE: si no se guarda un turno CORTADO se pierde el turno original)"><i class="fa fa-cut" ></i></a>
                    <a class="btn btn-danger"  data-dismiss="modal" onclick="cerrar_modal_crearturno()" style="margin-left: 10px" title="Cerrar"><i class="fas fa-times"></i></a>
                </div>
                <h4 class="modal-title" id="myModalLabel"><label id="titulo-modal" class="text-info"></label></h4>
            </div>
            <div class="modal-body" style="padding-top: 6px ; padding-bottom: 5px; font-size: small">
                {% csrf_token %}
                <label class="text-requiered-field hidden" id="crearturno-label-turnoenpartes2"></label>
                <div class="row">
                    <div class="col-xs-3" style="padding-right: 0px">
                        <div class="form-group " style="margin: 0px; padding: 0px">
                            <label style="font-size:10px">
                                <input id="tipoid_du" type="radio" name="r2" class="minimal" checked > DU&nbsp;
                            </label>
                            <label style="font-size:10px">
                                <input id="tipoid_ci" type="radio" name="r2" class="minimal"> CI&nbsp;
                            </label>
                            <label style="font-size:10px">
                                <input id="tipoid_le" type="radio" name="r2" class="minimal"> LE&nbsp;
                            </label>
                            <label style="font-size:10px">
                                <input id="tipoid_lc" type="radio" name="r2" class="minimal"> LC&nbsp;
                            </label>
                            <label style="font-size:10px">
                                <input id="tipoid_pa" type="radio" name="r2" class="minimal"> PA
                            </label>
                            <label style="font-size:10px;   pointer-events:none;">
                                <input id="tipoid_nn" type="radio" name="r2" class="minimal"> NN
                            </label>

                        </div>
                        <div class="input-group ">
                            <input type="text"  required class="form-control" id="dni_buscar" placeholder="Buscar (7 caracteres mínimo)" onfocusout="paciente_buscar_dni()"  onfocus="this.select();" autofocus>
                            <span class="input-group-btn">
                          <a  id='btn-crearpaciente' class="btn btn-success btn-flat" onclick="crearpaciente_modal('{% url 'turno:turnopaciente_crear' %}')" title="Registrar o Modificar datos de un paciente" ><i class="fas fa-user-plus"></i></a>
                        </span>
                        </div>
                    </div>
                    <div class="col-xs-4" style="padding-right: 0px">
                        <div class="form-group" >
                            <label>Apellido <b id="pacientenn-apellidolabel" style="color: #e20404"></b></label>
                            <div>
                                <input type="text" class="form-control" readonly id="input_paciente_apellido" tabindex="-1" >
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <div class="form-group">
                            <label>Nombre</label>
                            <div class="input-group ">
                                <input type="text" class="form-control"  readonly id="input_paciente_nombre" tabindex="-1">
                                <span class="input-group-btn">
                                    <a  id='btn-pacienteinfo' class="btn btn-info btn-flat" ><b>+Info.</b></a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label>Código O.S.</label>
                            <input type="text" required class="form-control" placeholder="Buscar ..." id="obrasocial_buscar" onfocusout="buscar_obrasocial()"  onfocus="this.select();" onkeydown="obrasocial_autocomplete(event)" >
                        </div>
                    </div>
                    <div class="col-xs-10">
                        <div class="form-group">
                            <label>Obra Social</label>
                            <div class="input-group ">
                                <input type="text" class="form-control" readonly id="input_obrasocial_nombre" tabindex="-1">
                                <span class="input-group-btn">
                                    <a  id='btn-obrasocialinfo' class="btn btn-info btn-flat" ><b>+Info.</b></a>
                        </span>
                            </div>
                            {{ form.obrasocial }}
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-2">

                        <div class="form-group">
                            <label>Fecha</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fas fa-calendar-alt"></i>
                                </div>
                                <input type="text" class="form-control" id="datepicker" tabindex="-1">
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-2">
                        <div class="bootstrap-timepicker">
                            <div class="form-group">
                                <label>Hora</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id='timepicker' tabindex="-1"  maxlength="4" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                                    <div class="input-group-addon">
                                        <i class="far fa-clock"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group" style="margin-bottom: 0px">
                            <div class="row">
                                <div class="col-xs-3">
                                    <label class="disable-select">
                                        <input type="checkbox" class="flat-red" name="urgencia" id="urgencia" tabindex="-1"> Urgencia
                                    </label>
                                </div>
                                <div class="col-xs-3">
                                    <label class="disable-select" id="check_ce">
                                        <input type="checkbox" class="flat-red"  name="contrasteev" id="contrasteev" tabindex="-1"> Co. Ev
                                    </label>
                                </div>
                                <div class="col-xs-3">
                                    <label class="disable-select" id="label-canalizacion">
                                        <input type="checkbox" class="flat-red"  name="canalizacion" id="canalizacion" tabindex="-1"> <b>Canalizac.</b>
                                    </label>
                                </div>
                                <div class="col-xs-3">
                                    <label class="disable-select">
                                        <input type="checkbox" class="flat-red"  name="entregadigital" id="entregadigital" tabindex="-1"> <b class="text-success">Inf. Digital</b>
                                    </label>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-xs-3">
                                    <label class="disable-select">
                                        <input type="checkbox" class="flat-red"  name="internado" id="internado" tabindex="-1"> Internado
                                    </label>
                                </div>
                                <div class="col-xs-3">
                                    <label class="disable-select" id="check_co">
                                        <input type="checkbox" class="flat-red"  name="contrastevo" id="contrastevo" tabindex="-1"> Co. Oral
                                    </label>
                                </div>

                                <div class="col-xs-3">
                                    <label class="disable-select" id="check_arm">
                                        <input type="checkbox" class="flat-red"  name="pacientearm" id="pacientearm" tabindex="-1"> <b>ARM</b>
                                    </label>
                                </div>
                                <div class="col-xs-3">
                                    <label class="disable-select">
                                        <input type="checkbox" class="flat-red"  name="whatsapp" id="whatsapp" tabindex="-1"> <b class="text-success">Whatsapp</b>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3">
                                    <label class="disable-select" id="check_anestesia">
                                        <input type="checkbox" class="flat-red"  name="anestesia" id="anestesia" tabindex="-1" > Anestesia
                                    </label>
                                </div>
                                <div class="col-xs-3">
                                    <label class="disable-select" id="check_agua">
                                        <input type="checkbox" class="flat-red"  name="tomaagua" id="tomaagua" tabindex="-1"> Agua
                                    </label>
                                </div>
                                <div class="col-xs-3">
                                    <label class="disable-select text-danger">
                                        <input type="checkbox" class="flat-red "  name="recepcion_suspendido" id="recepcion_suspendido" tabindex="-1"> SUSPENDE
                                    </label>
                                </div>
                                <div class="col-xs-3">
                                    <label class="disable-select">
                                        <input type="checkbox" class="flat-red"  name="confirmacion" id="confirmacion" tabindex="-1"> <b class="text-info">Confirma</b>
                                    </label>
                                    <label class="disable-select">
                                        <input type="checkbox" class="flat-red"  name="presente" id="presente" tabindex="-1"> <b class="text-info">Presente</b>
                                    </label>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div>
                            <div class="btn-group" >
                                <button type="button" class="btn btn-sm btn-default btn-flat text-blue " id='btn_fotopm_nuevoturno' tabindex="-1" onclick="tomarfoto_modal(1)"><i class="fas fa-camera-retro"></i> <b>PM</b></button>
                                <button type="button" class="btn btn-sm btn-default btn-flat text-green" id='subir_pm' tabindex="-1" onclick="document.getElementById('id_foto_pedidomedico').click();"><i class="fas fa-upload"></i><b> PM*</b></button>
                            </div>
                        </div>
                        <div>
                            <div class="btn-group" >
                                <button type="button" class="btn btn-sm btn-default btn-flat text-blue" id='btn_fotodni1_nuevoturno' tabindex="-1" onclick="tomarfoto_modal(2)"><i class="fas fa-camera-retro"></i> <b>DF&nbsp;</b></button>
                                <button type="button" class="btn btn-sm btn-default btn-flat text-green" id='subir_doc' tabindex="-1" onclick="document.getElementById('id_foto_documento').click();"><i class="fas fa-upload"></i> <b>DF*&nbsp;</b></button>
                            </div>
                            <div class="btn-group" >
                                <button type="button" class="btn btn-sm btn-default btn-flat text-blue" id='btn_fotodni2_nuevoturno' tabindex="-1" onclick="tomarfoto_modal(3)"><i class="fas fa-camera-retro"></i> <b>DD</b></button>
                                <button type="button" class="btn btn-sm btn-default btn-flat text-green" id='subir_doc2' tabindex="-1" onclick="document.getElementById('id_foto_documento2').click();"><i class="fas fa-upload"></i> <b>DD*&nbsp;</b></button>
                            </div>
                        </div>
                        <div class="hidden" id="fotopm_nuevoturno"></div>
                        <div class="hidden" id="fotodni1_nuevoturno"></div>
                        <div class="hidden" id="fotodni2_nuevoturno"></div>
                        <span class="text-green">*Archivo JPG max. 2MB</span>
                    </div>
                </div>
                <div class="row" style="padding-bottom: 10px">
                    <div class="col-xs-2">
                        <label id="label_tipoturno">Tipo de Turno</label>
                        {{ form.tipomodalidad }}
                    </div>
                    <div class="col-xs-5">
                        <div class="form-group hidden" id="div_emailentregadigital" style="margin-bottom: 0px">
                            <label>Email al cual se enviara el informe</label>
                            {{ form.email_entregadigital }}
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <div class="form-group hidden" id="div_whatsapp" style="margin-bottom: 0px">
                            <label>Whatsapp Contacto</label>
                            {{ form.telefono_whatsapp }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <label>Estudios Solicitados</label>
                    </div>
                    <div class="container1 form-group container-fluid">
                        <div class="col-xs-2" id="div_est1">
                            <div class="input-group">
                                <div class="input-group-addon"><a id="prefix_est1"></a></div>
                                <input  required class="form-control" type="text" name="est1" id="est1" minlength="1" maxlength="2" onkeydown="return event.keyCode !== 69" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
                                <span class="input-group-addon div_servicio_mamografia hidden"><i class="fas fa-times text-red"></i></span>
                                <input class="form-control div_servicio_mamografia hidden" max="2" min="1" step="1" value="2" name="est1_cant" id="est1_cant"/>
                            </div>

                        </div>
                        <div class="col-xs-2" id="div_est2">
                            <div class="input-group">
                                <div class="input-group-addon"><a id="prefix_est2"></a></div>
                                <input class="form-control" type="text" name="est2"  id="est2" minlength="1" maxlength="2" onkeydown="return event.keyCode !== 69" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
                                <span class="input-group-addon div_servicio_mamografia hidden"><i class="fas fa-times text-red"></i></span>
                                <input class="form-control div_servicio_mamografia hidden" max="2" min="1" step="1" value="2" name="est2_cant" id="est2_cant" />
                            </div>
                        </div>
                        <div class="div_servicio_tomografia_resonancia">
                            <div class="col-xs-2">
                                <div class="input-group">
                                    <div class="input-group-addon"><a id="prefix_est3"></a></div>
                                    <input class="form-control" type="text" name="est3" id="est3" minlength="1" maxlength="2" onkeydown="return event.keyCode !== 69" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="input-group">
                                    <div class="input-group-addon"><a id="prefix_est4"></a></div>
                                    <input tabindex="-1" class="form-control" type="text" name="est4" id="est4" minlength="1" maxlength="2"  onkeydown="return event.keyCode !== 69" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="input-group">
                                    <div class="input-group-addon"><a id="prefix_est5"></a></div>
                                    <input tabindex="-1" class="form-control" type="text" name="est5" id="est5" minlength="1" maxlength="2" onkeydown="return event.keyCode !== 69" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <a id="btn-agregarestudio" tabindex="-1" class="form-control add_form_field btn btn-default"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5" style="padding-right: 3px" >
                        <div class="col-xs-3" style="padding-left: 0px; padding-right: 5px">
                            <div class="form-group">
                                <label>Matrícula</label>
                                <input type="text" required class="form-control" placeholder="Buscar ..." id="medico_buscar" onfocusout="buscar_medico()"  onfocus="this.select();" onkeydown="medicoder_autocomplete(event)"  >

                            </div>
                        </div>
                        <div class="col-xs-9 padding-rightleft-5px"  >
                            <div class="form-group">
                                <label>Médico
                                </label>
                                <input type="text" class="form-control" readonly id="input_medico_nombre_apellido" tabindex="-1">
                                {{ form.medico_derivante }}
                                <a class="text-success" onclick="crear_medico_derivante()"><i class="fas fa-user-plus " style="font-size: small" ></i> <u>Agregar médico solicitante</u></a>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7"  style="padding-left: 3px">
                        <div class="col-xs-2 padding-rightleft-5px">
                            <div class="form-group">
                                <label>Cód. Int.</label>
                                <input type="text" required class="form-control" placeholder="Buscar ..." id="establecimiento_buscar" onfocusout="buscar_establecimiento()"  onfocus="this.select();" onkeydown="establecimiento_autocomplete(event)"  >

                            </div>
                        </div>
                        <div class="col-xs-6 padding-rightleft-5px">
                            <div class="form-group">
                                <label>Lugar de Internación</label>
                                <input type="text" class="form-control" readonly  id="establecimiento_nombre" tabindex="-1">
                                {{ form.establecimiento_derivador }}
                            </div>
                        </div>
                        <div class="col-xs-4 padding-rightleft-5px">
                            <div class="form-group">
                                <label>Servicio Int.</label>
                                {{ form.establecimiento_servicio }}
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-xs-6" style="padding-bottom: 0px">
                        <div class="form-group"  style="margin-bottom: 0px">
                            <label>Observaciones (<b class="text-red">NO</b> se imprimen en la constancia de turno)</label>
                            <div>
                                {{ form.observacion_noimpresa}}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6" style="padding-bottom: 0px;">
                        <div class="form-group" style="margin-bottom: 0px">
                            <label>Observaciones (<b class="text-green">SI</b> se imprimen en la constancia de turno)</label>
                            <div>
                                {{ form.observacion}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hidden">
                <input type="text" id="servicio_id_aux" name="servicio_id_aux" >
                <input type="text"  id="fechahora_fin" name="fechahora_fin">
                <input type="text" id="fechahora_inicio" name="fechahora_inicio">
                <input type="text" id="fechahora2_inicio" name="fechahora2_inicio" >
                <input type="text" id="fechahora2_fin" name="fechahora2_fin" >
                <input type="text" id="turno_buscar">
                {{ form.paciente }}
                {{ form.contrasteev }}
                {{ form.servicio }}
                {{ form.contrastevo }}
                {{ form.tomaagua }}
                {{ form.anestesia }}
                {{ form.urgencia }}
                {{ form.internado }}
                {{ form.habilitado }}
                {{ form.presentefecha}}
                {{ form.turno_relacionado }}
                {{ form.tiporeprogramado }}
                {{ form.turnotrabajo }}
                {{ form.canalizacion }}
                {{ form.paciente_arm }}
                {{ form.paciente_nn }}
                {{ form.presente }}
                {{ form.confirmacion }}
                {{ form.turno_numero }}
                {{ form.turno_fixreso_inicio }}
                {{ form.turno_fixreso_fin }}
                {{ form.turno_enpartes_primero }}
                {{ form.turno_recepcion_suspendido }}
                {{ form.foto_pedidomedico }}
                {{ form.foto_documento }}
                {{ form.foto_documento2 }}
            </div>
            <div class="modal-footer" style="padding-top: 5px;padding-bottom: 5px">
                <a class="btn btn-success waves-effect " id="btn_guardareimprimir">
                    <b>Guardar e Imprimir</b>
                </a>
                <a class="btn btn-success waves-effect " id="submit_button"  >
                    <b>Guardar</b>
                </a>
            </div>

        </form>

        <script>
            if (($('#servicio_actual_tipo').val() === "MR")){
                $('#label-canalizacion').addClass('hidden')

            } else {
                $('#btn-pegarturnopartes').addClass('hidden')
                $('#id_tipomodalidad').css('pointer-events','none').on('focus', function () {$(this).blur();});
                $('#id_tipomodalidad').attr('readonly', true)
            }
            if (($('#servicio_actual_tipo').val() === "CR"))
            {
                $('.div_servicio_tomografia_resonancia').addClass('hidden')
                $('.div_servicio_mamografia').removeClass('hidden')
                $('#div_est1, #div_est2').removeClass()
                $('#div_est1, #div_est2').addClass('col-sm-3')
            }
        </script>

        <script>
            $("#btn_guardareimprimir, #submit_button").on("click", function(e)
            {
                e.preventDefault();
                let $submit_button = document.getElementById("submit_button");
                let $submit_button2 = document.getElementById("btn_guardareimprimir");
                $submit_button.setAttribute("disabled", true);
                $submit_button.innerHTML = "<div class='loader'></div>";
                $submit_button2.setAttribute("disabled", true);
                $submit_button2.innerHTML = "<div class='loader'></div>";
                let form = document.querySelector('#form1');
                if (!form.checkValidity()) {
                    form.reportValidity();
                    $submit_button2.removeAttribute("disabled");
                    $submit_button2.innerHTML = "<b>Guardar e Imprimir</b>";
                    $submit_button.removeAttribute("disabled");
                    $submit_button.innerHTML = "<b>Guardar</b>";
                }
                else {
                    let bandimprimir = $(this)[0]===$('#btn_guardareimprimir')[0];
                    if (bandimprimir)
                    {
                        ajax_submit('1');
                    }
                    else{
                        ajax_submit('0');
                    }
                }
            });
            function ajax_submit (bandimprimir)
            {
                var v_contrasteev = $('#contrasteev').is(':checked');
                var v_anestesia = $('#anestesia').is(':checked');
                var fecha_inicio = $('#datepicker').val();
                var hora_inicio = $('#timepicker').val();
                var v_fechahora_inicio = fecha_inicio + ' ' + hora_inicio;
                var m_fechahora_inicio = moment(v_fechahora_inicio, 'DD-MM-YYYY HH:mm');
                var m_fechahora2_inicio = moment($('#fechahora2_inicio').val());
                var fechaini_formated = m_fechahora_inicio.format("YYYY-MM-DDTHH:mm");
                $('#fechahora_inicio').val(fechaini_formated);
                if ($('#servicio_actual_codigo').val() === '2')
                {
                    let event_interval = 50
                    let estudiocountreso = 0;
                    for (let i = 1; i <= 13; i++) {
                        let elem = '#est' + i;
                        let valor_elem = $(elem).val();
                        if (valor_elem !== undefined && valor_elem !== '') {
                            estudiocountreso++
                        }
                    }
                    let totalminutos, totalminutos2;
                    let m_fechahora_fin,m_fechahora2_fin, m_fechahora_fin_formated;
                    totalminutos2 = event_interval * estudiocountreso;
                    m_fechahora2_fin = moment(m_fechahora2_inicio).add(totalminutos2, 'minutes');
                    $('#fechahora2_fin').val(m_fechahora2_fin.format("YYYY-MM-DDTHH:mm"));
                    totalminutos = event_interval * (estudiocountreso);
                    m_fechahora_fin = moment(m_fechahora_inicio).add(totalminutos, 'minutes');
                    m_fechahora_fin_formated = moment(m_fechahora_inicio).add(totalminutos, 'minutes').format("YYYY-MM-DDTHH:mm");
                    let fechafincomp = new Date(m_fechahora_fin_formated);

                    //horas cuarentena commented
                    /*
                    // calculo dates reso
                    let fechainit = new Date(m_fechahora_fin_formated);
                    let fechainit2 = new Date(m_fechahora_fin_formated);

                    //periodo donde el turno es de 40 min los dias de semana
                    fechainit = fechainit.setHours( 21,0,0,0 );
                    fechainit2 = fechainit2.setHours( 4,30,0,0 );

                    // periodo donde el turno de es 40m los sabados
                    let fechainits1 = new Date(m_fechahora_fin_formated);
                    let fechainits2 = new Date(m_fechahora_fin_formated);
                    fechainits1.setHours( 0,0,0 );
                    fechainits2.setHours( 4,0,0 );

                    // variables bool si es sabado, domingo o finde
                    let es_sabado = fechafincomp.getDay() === 6;
                    let es_domingo = fechafincomp.getDay() === 0;
                    let es_findesemana = es_domingo || es_sabado;


                    // if para cuando los turnos son de 40 minutos (  de luenes a viernes de 21 a 4 am, sabados de 00 a 4 am )
                    if ( ( (fechafincomp > fechainit || fechafincomp < fechainit2) && !es_findesemana ) || (fechafincomp > fechainits1 && fechafincomp < fechainits2 && es_sabado))
                    {
                        // deacuerdo al numero de orden del turno (hora) ajusta la hora fin del turno
                        let string_horafin = m_fechahora2_fin.format('HH:mm:ss');
                        let eltime_order_fin;
                        if (string_horafin === '05:00:00' )
                        {
                            eltime_order_fin = 10
                        }
                        else if (string_horafin === '05:50:00')
                        {
                            eltime_order_fin = 11
                        }
                        else{
                            eltime_order_fin = document.querySelector('[data-time="'+ m_fechahora2_fin.format('HH:mm:ss') +'"]').getAttribute("data-order") * 1;
                        }

                        let resttime = 10 * eltime_order_fin;
                        m_fechahora_fin = m_fechahora2_fin.subtract(resttime, 'minutes');
                        $('#turno_fixreso_fin').val(eltime_order_fin);
                        $('#fechahora_fin').val(m_fechahora_fin.format("YYYY-MM-DDTHH:mm"));
                        $('#turno_numero_id').val(2);
                    }
                    // si es dia de semana y no esta en ese intervalo tiene un ajuste
                    else if (es_findesemana)
                    {
                        let resttime = 10 * estudiocountreso;
                        m_fechahora_fin = m_fechahora2_fin.subtract(resttime, 'minutes');
                        $('#turno_fixreso_fin').val(0);
                        $('#fechahora_fin').val(m_fechahora_fin.format("YYYY-MM-DDTHH:mm"));
                        $('#fechahora2_fin').val(m_fechahora_fin.format("YYYY-MM-DDTHH:mm"));
                    }
                    // sin ajuste
                    else
                    {
                       $('#turno_fixreso_fin').val(0);
                        $('#fechahora_fin').val(m_fechahora_fin_formated);
                    }*/
                    // horas cuarentena
                    $('#turno_fixreso_fin').val(0);
                    $('#fechahora_fin').val(m_fechahora_fin_formated);
                    // fin horas cuarentena
                }
                else
                {
                    var m_fechahora_fin;
                    var turno_count = 1;
                    var cerebro_standard = false;
                    var estudio_count = 0;
                    var turno_band = false;

                    for (var i = 1; i <= 13; i++) {
                        let elem = '#est' + i;
                        let valor_elem = $(elem).val();
                        if (valor_elem !== undefined && valor_elem !== '') {
                            estudio_count++
                        }
                        if (valor_elem === 1 || valor_elem === 3 || valor_elem === 2) {
                            cerebro_standard = true;
                        }
                    }

                    if (estudio_count <= 1 && cerebro_standard)
                    {
                        turno_band = true;
                    }

                    if (v_contrasteev || v_anestesia) {
                        if (!turno_band) {
                            turno_count = 2
                        } else {
                            turno_count = 1
                        }
                    }
                    if (turno_count === 1) {
                        m_fechahora_fin = moment(m_fechahora_inicio).add('20', 'minutes').format('DD-MM-YYYY HH:mm');
                    } else if (turno_count === 2) {
                        m_fechahora_fin = moment(m_fechahora_inicio).add('40', 'minutes').format('DD-MM-YYYY HH:mm');
                    }
                    m_fechahora_fin = moment(m_fechahora_fin, 'DD-MM-YYYY HH:m');
                    var fecfin_formated = m_fechahora_fin.format("YYYY-MM-DDTHH:mm");
                    $('#fechahora_fin').val(fecfin_formated);
                }

                $('#pacientearm').is(':checked') ? $('#f_pacientearm').val('True') : $('#f_pacientearm').val('False')
                $('#urgencia').is(':checked') ? $('#f_urgencia').val('True') : $('#f_urgencia').val('False')
                $('#internado').is(':checked') ? $('#f_internado').val('True') :$('#f_internado').val('False')
                $('#anestesia').is(':checked') ? $('#f_anestesia').val('True') : $('#f_anestesia').val('False')
                $('#contrasteev').is(':checked') ? $('#f_contrasteev').val('True') : $('#f_contrasteev').val('False')
                $('#tomaagua').is(':checked') ? $('#f_tomaagua').val('True') : $('#f_tomaagua').val('False')
                $('#contrastevo').is(':checked') ? $('#f_contrastevo').val('True') : $('#f_contrastevo').val('False')
                $('#presente').is(':checked') ? $('#f_presente').val('True') : $('#f_presente').val('False')
                $('#confirmacion').is(':checked') ? $('#f_confirmacion').val('True') : $('#f_confirmacion').val('False')
                $('#canalizacion').is(':checked') &&  $('#servicio_actual_tipo').val() !== 'MR' ? $('#f_canalizacion').val('True')  : $('#f_canalizacion').val('False')
                $('#tipoid_nn').is(':checked') ? $('#f_pacientenn').val('True') : $('#f_pacientenn').val('False')
                $('#recepcion_suspendido').is(':checked') ? $('#f_recepcion_suspendido').val('True') : $('#f_recepcion_suspendido').val('False')

                let frm = $('#form1');
                let furl= frm.attr('action') + '?bandimprimir='+bandimprimir;
                const formData1 = new FormData(frm.get(0));
                $.ajax({
                    type: frm.attr('method'),
                    url:  furl,
                    data: formData1,
                    success: function (data) {
                        cerrar_modal_crearturno();
                        if (data['imprimir'] === '1'){
                            window.open("{% url 'turno:turno_constanciaimprimir' %}?turnoid="+data['turnoid'], "_blank", "resizable=yes,top=100,left=100,width=800,height=520");
                        }
                    },
                    error: function(data) {
                        alert('Error al crear el turno')
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            }
        </script>

        <script>
            tippy_instance =  tippy('#btn-obrasocialinfo', {
                theme: 'obrasocial',
                placement: 'bottom',
                trigger: 'click',
            });

            tippy_instance_pacienteinfo =  tippy('#btn-pacienteinfo', {
                theme: 'paciente',
                placement: 'bottom',
                trigger: 'click',
            });

            var paciente_existe;
            var pacientecrear_modificacion;
            var elemento;
            function pegarturno()
            {
                elemento = $('#copytext');
                elemento.focus();
                document.execCommand("paste");
                let v = $('#copytext').val();
                $('#turno_buscar').val(v);
                let turno_id = v.replace('R', '');

                $.ajax({
                    type: 'get',
                    url: "{% url 'turno:consulta_tipoturno' %}",
                    data: {
                        'turno_id': turno_id,
                    },
                    success: function (data) {
                        if(data['consulta_exito'])
                        {
                            buscar_turno(true,1);
                        }
                    },
                    error: function (data) {
                        alert("Error: No se pudo copiar el turno correctamente");

                    }
                });
            }
            function pegarturnocortado()
            {
                elemento = $('#copytext');
                elemento.focus();
                document.execCommand("paste");
                let v = $('#copytext').val();
                $('#turno_buscar').val(v);

                let turno_id = v.replace('R','');
                buscar_turno(true,2);

                $.ajax({
                    type: 'get',
                    url: "{% url 'turno:actualizar_turno_cortado' %}",
                    data: {
                        'turno_id': turno_id,
                        'turno_estado': 'Deshabilitado',
                    },
                    success: function (data) {
                        if(data['actualizar_exito'])
                        {
                            //web socket eliminar turno
                            const evento_id = turno_id;
                            const message_type = 'eliminar';
                            const message_user = '{{ user }}';
                            const servicio = $('#servicio_actual_codigo').val();

                            chatSocket.send(JSON.stringify({
                                'message': evento_id,
                                'message_type': message_type,
                                'message_user': message_user,
                                'message_servicio': servicio,
                                'message_body' : 'na',

                                // los otros datos no son necesarios
                                'turno_resofix': 'na',
                                'turno_fechaini2': 'na',
                                'turno_fechafin2': 'na',

                                'turno_id': 'na',
                                'turno_fechaini': 'na',
                                'turno_fechafin': 'na',
                                'turno_presente': 'na',
                                'turno_confirmacion': 'na',
                                'turno_estudio_terminado': 'na',
                                'turno_whatsapp': 'na',
                                'turno_pacientearm': 'na',
                                'turno_pacienteid': 'na',

                                'turno_anestesia': 'na',
                                'turno_cev': 'na',
                                'turno_cvo': 'na',
                                'turno_agua': 'na',
                                'turno_urgencia': 'na',
                                'turno_internado': 'na',
                                'turno_suspendido': 'na',

                                'turno_nombre': 'na',
                                'turno_apellido': 'na',
                                'turno_documento': 'na',
                                'turno_establecimiento': 'na',
                                'turno_codigos': 'na',
                                'turno_codigoscompleto': 'na',
                                'turno_sexo': 'na',
                                'turno_fotopm': 'na',
                                'turno_fotodoc1': 'na',
                                'turno_fotodoc2': 'na',
                            }));
                        }
                    },
                    error: function (data) {
                        alert("Error: No se pudo eliminar el turno");
                    }
                });
            }

            function pegarturno_enpartes()
            {
                elemento = $('#copytext');
                elemento.focus();
                document.execCommand("paste");
                let v = $('#copytext').val();
                $('#turno_buscar').val(v);
                let turno_id = v.replace('R', '');

                $.ajax(
                    {
                        type: 'get',
                        url: "{% url 'turno:consulta_tipoturno' %}",
                        data: {
                            'turno_id': turno_id,
                        },
                        success: function (data) {
                            if(data['consulta_exito'])
                            {
                                let  tipoturno = data['tipoturno'];
                                if (tipoturno !== 'Normal')
                                {
                                    $('#turnorelacionado_id').val(turno_id);
                                    buscar_turno(false);
                                }
                                else{
                                    $('#turnorelacionado_id').val('');
                                    iziToast.show({
                                        title: 'Error: El turno copiado debe ser "En Partes"',
                                        color: 'red',
                                        position: 'center',
                                        timeout: 1700,
                                        progressBar: false,
                                        close: false,

                                    });
                                }
                            }
                        },
                        error: function (data) {
                            alert("Error: No se pudo copiar el turno correctamente");
                        }
                    });
            }

            function paciente_buscar_dni()
            {
                let tipodni_v;
                if (document.getElementById('tipoid_du').checked) {
                    tipodni_v = 'DU'
                }
                if (document.getElementById('tipoid_ci').checked) {
                    tipodni_v = 'CI'
                }
                if (document.getElementById('tipoid_le').checked) {
                    tipodni_v = 'LE'
                }
                if (document.getElementById('tipoid_lc').checked) {
                    tipodni_v = 'LC'
                }
                if (document.getElementById('tipoid_pa').checked) {
                    tipodni_v = 'PA'
                }
                if (document.getElementById('tipoid_nn').checked) {
                    tipodni_v = 'NN'
                }

                $.ajax({
                    type: 'get',
                    url: "{% url 'turno:buscar_paciente_dni' %}",
                    data: {
                        'dni_buscar': $('#dni_buscar').val(),
                        'tipodni': tipodni_v,
                    },
                    success: function (data) {
                        if(data['error_404'] === '')
                        {
                            $('#input_paciente_apellido').val(data['paciente_apellido']);
                            $('#input_paciente_nombre').val(data['paciente_nombre']);
                            $('#input_paciente_id').val(data['paciente_id']);
                            let obs = data['paciente_datos'];
                            tippy_instance_pacienteinfo[0].setContent(obs);
                            if(data['paciente_nn']){
                                $('#pacientenn-apellidolabel').html(' ' + data['paciente_nnlabel'] );
                                $('#dni_buscar').attr('readonly', 'true')
                            }
                        }
                        else {
                            iziToast.show({
                                title: 'No se encuentran pacientes con el número ingresado',
                                color: 'blue',
                                position: 'center',
                                timeout: 2000,
                                progressBar: false,
                                close: false,
                            });
                            $('#dni_buscar').val('');
                            $('#input_paciente_apellido').val('');
                            $('#input_paciente_nombre').val('');
                        }
                    },
                    error: function (data) {
                        alert("Error en la validacion");
                    }
                });
                return false;
            }
            function buscar_obrasocial()
            {
                let codigo_servicio = $('#servicio_actual_codigo').val();
                $.ajax({
                    type: 'get',
                    url: "{% url 'turno:buscar_obrasocial' %}",
                    data: {
                        'obrasocial_buscar': $('#obrasocial_buscar').val(),
                        'servicio_codigo': codigo_servicio
                    },
                    success: function (data) {
                        if(data['error_404'] === '')
                        {
                            $('#input_obrasocial_nombre').val(data['obrasocial_nombre']);
                            $('#input_obrasocial_id').val(data['obrasocial_id']);
                            let obs = data['obrasocial_descripcion'];
                            tippy_instance[0].setContent(obs);
                            if (obs !== '') {
                                $('#btn-obrasocialinfo').removeClass()
                                $('#btn-obrasocialinfo').addClass('btn btn-flat btn-success')
                            }else{
                                $('#btn-obrasocialinfo').removeClass()
                                $('#btn-obrasocialinfo').addClass('btn btn-flat btn-info')
                            }

                        }
                        else {
                            $('#obrasocial_buscar').val('');

                            $('#input_obrasocial_nombre').val('');
                            $('#input_obrasocial_id').val('');
                        }
                    },
                    error: function (data) {
                        alert("Error en la validacion");
                    }
                });
                return false;
            }

            function buscar_medico()
            {
                $.ajax({
                    type: 'get',
                    url: "{% url 'turno:buscar_medico' %}",
                    data: {
                        'medico_buscar': $('#medico_buscar').val()
                    },
                    success: function (data) {
                        if(data['error_404'] === '')
                        {
                            let nomape = data['medico_apellido']
                            $('#input_medico_nombre_apellido').val(nomape);
                            $('#input_medico_id').val(data['medico_id']);

                        }
                        else
                        {
                            $('#medico_buscar').val('');

                            $('#input_medico_nombre_apellido').val('');
                            $('#input_medico_id').val('');
                        }
                    },
                    error: function (data) {
                        alert("Error en la validacion");
                    }
                });
                return false;
            }

            function buscar_establecimiento()
            {
                $.ajax({
                    type: 'get',
                    url: "{% url 'turno:buscar_establecimiento' %}",
                    data: {
                        'establecimiento_buscar': $('#establecimiento_buscar').val()
                    },
                    success: function (data)
                    {
                        if(data['error_404'] === '')
                        {
                            $('#establecimiento_nombre').val(data['establecimiento_nombre']);
                            $('#establecimiento_id').val(data['establecimiento_id']);
                        }
                        else
                        {
                            $('#establecimiento_buscar').val('');
                            $('#establecimiento_nombre').val('');
                            $('#establecimiento_id').val('');
                        }
                    },
                    error: function (data)
                    {
                        alert("Error en la validacion");
                    }
                });
                return false;
            }
            function buscar_turno(turno_normal, tipo_pegado=0)
            {
                $.ajax(
                    {
                        type: 'get',
                        url: "{% url 'turno:buscar_turno' %}",
                        data:
                            {
                                'turno_buscar': $('#turno_buscar').val()
                            },
                        success: function (data)
                        {
                            if(data['error_404'] === '')
                            {
                                let input_disable = '';

                                var counter = 0;
                                var lista_est = data['estudios_solicitados'];

                                if (lista_est.length <= 5) {
                                    for (let i in lista_est) {
                                        counter++;
                                        $('#est' + counter.toString()).val(lista_est[i][0])
                                        if (($('#servicio_actual_tipo').val() === "CR")) {
                                            $('#est' + counter.toString() + '_cant').val(lista_est[i][1])
                                        }
                                    }
                                }
                                else
                                {
                                    let prefixclass_codigos = 'text-blue'
                                    if ($('#servicio_actual_tipo').val() === 'MR'){
                                        prefixclass_codigos = 'text-orange'
                                    }

                                    let est_addicionales = lista_est.length - 5;
                                    var wrapper = $(".container1");

                                    for (var i=0; i < est_addicionales; i++)
                                    {
                                        let id = i + 6;
                                        $(wrapper).append('' +
                                            '                <div class="col-xs-2 ">\n' +
                                            '                    <div class="input-group">\n' +
                                            '                        <div class="input-group-addon"><a class="'+prefixclass_codigos +'">' + btnadd_prefixestudios +'</a></div>\n' +
                                            '                        <input class="form-control" '+ input_disable +' type="number" name="est' + id  + '" id="est' + id + '" minlength="1" maxlength="2" min="1" onkeydown="return event.keyCode !== 69" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>\n' +
                                            '                    </div>\n' +
                                            '\n' +
                                            '                </div>');
                                    }

                                    for (var ij in lista_est)
                                    {
                                        counter++;
                                        let id_input_estsol = '#est' + counter.toString();
                                        $(id_input_estsol).val(lista_est[ij][0])
                                    }
                                }

                                data['urgencia'] ? $('#urgencia').iCheck('check') : $('#urgencia').iCheck('uncheck');

                                data['internado'] ? $('#internado').iCheck('check') : $('#internado').iCheck('uncheck');

                                data['contrasteev'] ? $('#contrasteev').iCheck('check') : $('#contrasteev').iCheck('uncheck');

                                data['contrastevo'] ? $('#contrastevo').iCheck('check') : $('#contrastevo').iCheck('uncheck');

                                data['tomaagua'] ? $('#tomaagua').iCheck('check') : $('#tomaagua').iCheck('uncheck');

                                data['anestesia'] ? $('#anestesia').iCheck('check') : $('#anestesia').iCheck('uncheck');

                                data['confirmacion'] ? $('#confirmacion').iCheck('check') : $('#confirmacion').iCheck('uncheck');

                                data['paciente_nn'] ? $('#tipoid_nn').iCheck('check') : $('#tipoid_nn').iCheck('uncheck');

                                data['pacientearm'] ? $('#pacientearm').iCheck('check') : $('#pacientearm').iCheck('uncheck');

                                data['canalizacion'] &&  $('#servicio_actual_tipo').val() !== 'MR' ? $('#canalizacion').iCheck('check') : $('#canalizacion').iCheck('uncheck');

                                data['presente'] ? $('#presente').iCheck('check') : $('#presente').iCheck('uncheck');

                                data['whatsapp'] ? $('#whatsapp').iCheck('check') : $('#whatsapp').iCheck('uncheck');

                                data['entrega_digital'] ? $('#entregadigital').iCheck('check') : $('#entregadigital').iCheck('uncheck');

                                switch (data['paciente_tipoid']){
                                    case 'NN':
                                        $('#tipoid_nn').iCheck('check');
                                        break;
                                    case 'DU':
                                        $('#tipoid_du').iCheck('check');
                                        break;
                                    case 'CI':
                                        $('#tipoid_ci').iCheck('check');
                                        break;
                                    case 'LE':
                                        $('#tipoid_le').iCheck('check');
                                        break;
                                    case 'LC':
                                        $('#tipoid_lc').iCheck('check');
                                        break;
                                }

                                $('#dni_buscar').val(data['paciente_dni']);
                                $('#obrasocial_buscar').val(data['obrasocial_id']);
                                $('#medico_buscar').val(data['medico_derivante_id']);
                                $('#observacion').val(data['observacion']);
                                $('#observacion_noimpresa').val(data['observacion_noimpresa']);
                                $('#establecimiento_buscar').val(data['establecimiento_derivador_id']);

                                buscar_medico();
                                buscar_obrasocial();
                                paciente_buscar_dni();
                                buscar_establecimiento();

                                if(!turno_normal)
                                {
                                    for (let i = 1; i <= 5; i++){
                                        let id_input_estsol = '#est' + i;
                                        $(id_input_estsol).attr('readonly', true)
                                    }
                                    $('#dni_buscar').attr('readonly', true);
                                    $('#obrasocial_buscar').attr('readonly', true);
                                    $('#medico_buscar').attr('readonly', true);
                                    $('#urgencia').iCheck('disable');
                                    $('#internado').iCheck('disable');
                                    $('#anestesia').iCheck('disable');
                                    $('#tomaagua').iCheck('disable');
                                    $('#contrasteev').iCheck('disable');
                                    $('#contrastevo').iCheck('disable');
                                    $('#whatsapp').iCheck('disable');
                                    $('#entregadigital').iCheck('disable');
                                    $('#btn-crearpaciente').addClass('hidden');
                                    $('#btn-agregarestudio').addClass('hidden');
                                    $('#id_tipomodalidad').val('Normal');
                                    $('#id_tipomodalidad').addClass('hidden');
                                    $('#label_tipoturno').addClass('hidden');
                                    $('#establecimiento_buscar').attr('readonly', true);
                                    $('#tipo_turno_enpartes').val('False');
                                    $('#crearturno-label-turnoenpartes').html('El turno generado es la continuación de un turno en partes, las modificaciones se hacen sobre el turno original.')
                                }
                                if(tipo_pegado === 1){
                                    iziToast.show({
                                        title: 'Turno Copiado, Guardar Cambios para confirmar.',
                                        color: 'green',
                                        position: 'center',
                                        timeout: 1500,
                                        progressBar: false,
                                        close: false,

                                    });
                                }
                                else if (tipo_pegado ===2){
                                    iziToast.show({
                                        title: 'Turno Cortado, Guardar Cambios para confirmar.',
                                        color: 'green',
                                        position: 'center',
                                        timeout: 1500,
                                        progressBar: false,
                                        close: false,

                                    });
                                }

                            }
                            else {
                                $('#turno_buscar').val('');
                                //instancia de notificacion
                                iziToast.show({
                                    title: 'No se selecciono ningún turno para Copiar/Cortar',
                                    color: 'red',
                                    position: 'center',
                                    timeout: 1500,
                                    progressBar: false,
                                    close: false,

                                });

                                $('#turno_buscar').focus();
                            }
                        },
                        error: function (data) {
                            alert("Error al generar el turno");
                        }
                    });
                return false;
            }
            $('#input_paciente_id').attr("required", false);
            $('#input_obrasocial_id').attr("required", false);
            $('#fechahora_inicio').attr("required", false);
            $('#fechahora_fin').attr("required", false);
            $('#presente').attr("required", false);
            $('#presentefecha').attr("required", false);
            $('#input_medico_id').attr("required", false);
            $('#establecimiento_id').attr("required", false);
            $('#establecimiento_buscar').val(0);
            $('#establecimiento_buscar').prop('readonly', true);
            $("#establecimiento_servicio_id").val($("#establecimiento_servicio_id option:first").val());
            $('#establecimiento_servicio_id').attr('disabled', true);
            $('#id_foto_pedidomedico, #foto_documento, #foto_documento2').attr('accept', '.jpg');
            buscar_establecimiento();

        </script>
        <script>
            var inputdni =  $("#dni_buscar");
            $(function () {
                inputdni.autocomplete({
                    source: "{% url 'turno:paciente_listarnormal' %}",
                    maxShowItems: 25,
                    autoFocus: true,
                    delay: 0,
                    minLength: 7
                });
            });

        </script>
        <script>
            var inputcodobsocial =  $("#obrasocial_buscar");
            $(function () {
                inputcodobsocial.autocomplete({
                    source: "{% url 'turno:obrasocial_listar' %}?servcod=" + $('#servicio_actual_codigo').val(),
                    maxShowItems: 12,
                    autoFocus: true,
                    delay: 0,
                });
            });
            function obrasocial_autocomplete(e){
                if (e.keyCode === 66 && e.ctrlKey)
                {
                    inputcodobsocial.autocomplete( "search", "*" );
                }
            }
        </script>
        <script>
            var inputcodmedico =  $("#medico_buscar");
            $(function ()
            {
                inputcodmedico.autocomplete(
                    {
                        source: "{% url 'turno:medicosderivantes_listar' %}",
                        maxShowItems: 5,
                        autoFocus: true,
                        minLength: 4,
                        delay: 0,
                    });
            });
            function medicoder_autocomplete(e)
            {
                if (e.keyCode === 66 && e.ctrlKey) {
                    inputcodmedico.autocomplete( "search", "*" );}
            }
        </script>

        <script>
            var inputcodest =  $("#establecimiento_buscar");
            $(function ()
            {
                inputcodest.autocomplete(
                    {
                        source: "{% url 'turno:establecimientos_listar' %}",
                        maxShowItems: 25,
                        autoFocus: true,
                        delay: 0,
                    });
            });
            function establecimiento_autocomplete(e)
            {
                if (e.keyCode === 66 && e.ctrlKey) {
                    inputcodest.autocomplete( "search", "*" );}
            }
        </script>

        <script>
            $('#tipoid_du,#tipoid_ci,#tipoid_lc,#tipoid_le,#tipoid_pa').on('ifChanged', function(event)
            {
                $('#dni_buscar').val('');
                $('#input_paciente_apellido').val('');
                $('#input_paciente_nombre').val('');
            });
        </script>

        <script>
            $("#whatsapp").on('ifChecked', function ()
            {
                $('#div_whatsapp').removeClass('hidden');
                $('#input_telefono_whatsapp').prop('required', true);

            });
            $("#whatsapp").on('ifUnchecked', function ()
            {
                $('#div_whatsapp').addClass('hidden');
                $('#input_telefono_whatsapp').prop('required', false);
                // si tildo para poner un num y despues se arrepiente, limpia el campo
                document.getElementById("input_telefono_whatsapp").value = "";
            });

            $("#entregadigital").on('ifChecked', function ()
            {
                $('#div_emailentregadigital').removeClass('hidden');
                $('#input_email_entregadigital').prop('required', true);

            });
            $("#entregadigital").on('ifUnchecked', function ()
            {
                $('#div_emailentregadigital').addClass('hidden');
                $('#input_email_entregadigital').prop('required', false);
                document.getElementById("input_email_entregadigital").value = "";
            });
            $("#urgencia").on('ifChecked', function ()
            {
                $('#internado').iCheck('check');
            });

            $("#urgencia").on('ifUnchecked', function ()
            {
                $('#pacientearm').iCheck('uncheck');

            });
            $("#internado").on('ifUnchecked', function ()
            {
                $('#urgencia').iCheck('uncheck');
                $('#pacientearm').iCheck('uncheck');
                $('#establecimiento_buscar').val(0);

                buscar_establecimiento();
                $('#establecimiento_buscar').prop('readonly', true);
                $("#establecimiento_servicio_id").val($("#establecimiento_servicio_id option:first").val());
                $('#establecimiento_servicio_id').attr('disabled', true);

            });

            $("#internado").on('ifChecked', function () {
                if($('#contrasteev').is(':checked') && $('#servicio_actual_codigo').val() === '1')
                {
                    $('#canalizacion').iCheck('check');
                }
                $('#establecimiento_buscar').prop('readonly', false)
                $('#establecimiento_buscar').val('');
                $('#establecimiento_nombre').val('');
                $('#establecimiento_id').val('');
                $('#establecimiento_servicio_id').attr('disabled', false);

            });

            $("#contrastevo").on('ifChecked', function () {
                $('#tomaagua').iCheck('uncheck');
            });
            $("#tomaagua").on('ifChecked', function () {
                $('#contrastevo').iCheck('uncheck');
            });
            $("#contrasteev").on('ifChecked', function () {
                if($('#internado').is(':checked') && $('#servicio_actual_codigo').val() === '1'){
                    $('#canalizacion').iCheck('check');
                }
            });
            $("#pacientearm").on('ifChecked', function () {
                $('#urgencia').iCheck('check');
            });
        </script>
    </div>
</div>
