{% extends "base.html" %}
{% load static %}

{% block css_app %}
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/DataTables-1.10.20/css/dataTables.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/Responsive-2.2.3/css/responsive.foundation.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/Select-1.3.1/css/select.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/Buttons-1.6.1/css/buttons.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'bower_components/daterangepicker/daterangepicker.css' %}">
{% endblock %}

{% block content %}
    <div class="box" style="padding: 10px; margin-bottom: 25px">
            <h3 class="text-center text-blue margin-bottom">
            <strong style="padding-left: 15px">INSUMO - REPORTE DE MOVIMIENTOS</strong>
            </h3>
        <div class="margin-bottom">
            <h4 class="text-navy margin-bottom">1. Reporte: Detalle de Movimientos Insumo por Periodo</h4>
            <div class="row">
                <div class="col-sm-8">
                        <div class="col-xs-4" style="padding:0 ">
                            <label>Buscar Insumo</label>
                            <input onchange="cambiarinsumo_input(this.value,1)"
                                   class="form-control input-sm insumo-codigo"
                                   value=""
                                   id="insumo-1"
                                   name="insumo-1"
                                   placeholder="Buscar por Código o Nombre de Insumo"
                                   required>
                        </div>
                        <div class="col-xs-8" style="padding:0 ">
                            <label>Insumo Seleccionado</label>
                            <select class="form-control input-sm" onchange="cambiarinsumo_select(this.value,1)" id="select-insumos-1">
                                <option value="1" selected="selected" disabled>---</option>
                                {% for ins in insumos %}
                                    <option value="{{ ins.codigo }}" data-pres="{{ ins.unidad_tipo }}">{{ ins.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Seleccionar Periodo:</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-right" id="date-range"/>
                        </div>
                    </div>
                </div>
            </div>
            <a class="btn btn-success" onclick="generar_reporte_1()"><i class="fas fa-file-pdf"></i> </span> <strong>Generar Reporte de Mov. </strong></a>
        </div>
        <div class="margin-bottom">
            <h4 class="text-navy margin-bottom">2. Reporte: Farmacia Ingresos por Periodo</h4>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Seleccionar Periodo:</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-right" id="date-range-2"/>
                        </div>
                    </div>
                </div>
            </div>
            <a class="btn btn-success" onclick="generar_reporte_2()"><i class="fas fa-file-excel"></i> </span> <strong>Generar Reporte Ingresos</strong></a>
        </div>
        <div class="margin-bottom">
            <h4 class="text-navy margin-bottom">3. Reporte: Farmacia Egresos por Periodo</h4>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Seleccionar Periodo:</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-right" id="date-range-3"/>
                        </div>
                    </div>
                </div>
            </div>
            <a class="btn btn-success" onclick="generar_reporte_3()"><i class="fas fa-file-excel"></i> </span> <strong>Generar Reporte Egresos</strong></a>
        </div>
    </div>
{% endblock %}

{% block js_app %}
    <script src="{% static 'plugins/datatables-actualizado/DataTables-1.10.20/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/DataTables-1.10.20/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/Responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/Responsive-2.2.3/js/responsive.bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/Select-1.3.1/js/dataTables.select.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/Buttons-1.6.1/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/Buttons-1.6.1/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/pdfmake-0.1.36/pdfmake.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/pdfmake-0.1.36/vfs_fonts.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/JSZip-2.5.0/jszip.min.js' %}"></script>
    <script src="{% static 'bower_components/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'plugins/input-mask/jquery.inputmask.js' %}"></script>
    <script src="{% static 'plugins/input-mask/jquery.inputmask.date.extensions.js' %}"></script>
    <script src="{% static 'plugins/input-mask/jquery.inputmask.extensions.js' %}"></script>

    <script>
        $('#date-range, #date-range-2').inputmask("d/m/y - d/m/y", { 'placeholder': 'dd/mm/yyyy - dd/mm/yyyy' });
        var datepick_range = $('#date-range').daterangepicker({
            opens: 'left',
            linkedCalendars: false,
            showDropdowns: true,
            autoApply: true,
            locale: {
                "format": "DD/MM/YYYY",
                "separator": " - ",
                "applyLabel": "Confirmar Fechas",
                "cancelLabel": "Cancelar",
                "fromLabel": "Desde",
                "toLabel": "a",
                "customRangeLabel": "Custom",

                "daysOfWeek": [
                    "Do",
                    "Lu",
                    "Ma",
                    "Mi",
                    "Ju",
                    "Vi",
                    "Sa"
                ],
                "monthNames": [
                    "Enero",
                    "Febrero",
                    "Marzo",
                    "Abril",
                    "Mayo",
                    "Junio",
                    "Julio",
                    "Agosto",
                    "Septiembre",
                    "Octubre",
                    "Noviembre",
                    "Diciembre"
                ],
                "firstDay": 1
            }})
        var datepick_range_2 = $('#date-range-2').daterangepicker({
            opens: 'left',
            linkedCalendars: false,
            showDropdowns: true,
            autoApply: true,
            locale: {
                "format": "DD/MM/YYYY",
                "separator": " - ",
                "applyLabel": "Confirmar Fechas",
                "cancelLabel": "Cancelar",
                "fromLabel": "Desde",
                "toLabel": "a",
                "customRangeLabel": "Custom",

                "daysOfWeek": [
                    "Do",
                    "Lu",
                    "Ma",
                    "Mi",
                    "Ju",
                    "Vi",
                    "Sa"
                ],
                "monthNames": [
                    "Enero",
                    "Febrero",
                    "Marzo",
                    "Abril",
                    "Mayo",
                    "Junio",
                    "Julio",
                    "Agosto",
                    "Septiembre",
                    "Octubre",
                    "Noviembre",
                    "Diciembre"
                ],
                "firstDay": 1
            }})
        var datepick_range_3 = $('#date-range-3').daterangepicker({
            opens: 'left',
            linkedCalendars: false,
            showDropdowns: true,
            autoApply: true,
            locale: {
                "format": "DD/MM/YYYY",
                "separator": " - ",
                "applyLabel": "Confirmar Fechas",
                "cancelLabel": "Cancelar",
                "fromLabel": "Desde",
                "toLabel": "a",
                "customRangeLabel": "Custom",

                "daysOfWeek": [
                    "Do",
                    "Lu",
                    "Ma",
                    "Mi",
                    "Ju",
                    "Vi",
                    "Sa"
                ],
                "monthNames": [
                    "Enero",
                    "Febrero",
                    "Marzo",
                    "Abril",
                    "Mayo",
                    "Junio",
                    "Julio",
                    "Agosto",
                    "Septiembre",
                    "Octubre",
                    "Noviembre",
                    "Diciembre"
                ],
                "firstDay": 1
            }})

        $("#insumo-1").autocomplete({
                source: "{% url 'tecnico:insumo_listar' %}",
                maxShowItems: 15,
                autoFocus: true,
                delay: 0,
        });
        function cambiarinsumo_select(insumoCodigo, nroOrden) {
            $('#insumo-'+nroOrden).val(insumoCodigo)
            $('#insumo-presentacion-'+nroOrden).val($('#select-insumos-'+nroOrden).find(':selected').data('pres'))
        }
        function cambiarinsumo_input(insumoCodigo, nroOrden) {
            $('#select-insumos-'+nroOrden).val(insumoCodigo)
            $('#insumo-presentacion-'+nroOrden).val($('#select-insumos-'+nroOrden).find(':selected').data('pres'))
        }


        function generar_reporte_1() {
            let insumo_codigo = $('#insumo-1').val()
            if (insumo_codigo !== ''){
                let startdate = datepick_range.data('daterangepicker').startDate;
                startdate = startdate.format('DD-MM-YYYY')
                let enddate = datepick_range.data('daterangepicker').endDate;
                enddate = enddate.format('DD-MM-YYYY')
                const url = '{% url 'tecnico:insumo_movimientos_reporte' %}?insumoCodigo=' + insumo_codigo  + '&fechaini=' +startdate + '&fechafin=' + enddate
                window.open(url, '_blank');
            }

        }
        function generar_reporte_2() {
            let startdate = datepick_range_2.data('daterangepicker').startDate;
            startdate = startdate.format('DD-MM-YYYY')
            let enddate = datepick_range_2.data('daterangepicker').endDate;
            enddate = enddate.format('DD-MM-YYYY')
            const url = '{% url 'tecnico:insumo_movimientos_reporte_ingresos_excel' %}?fechaini=' +startdate + '&fechafin=' + enddate
            window.open(url, '_blank');
        }
        function generar_reporte_3() {
            let startdate = datepick_range_3.data('daterangepicker').startDate;
            startdate = startdate.format('DD-MM-YYYY')
            let enddate = datepick_range_3.data('daterangepicker').endDate;
            enddate = enddate.format('DD-MM-YYYY')
            const url = '{% url 'tecnico:insumo_movimientos_reporte_egresos_excel' %}?fechaini=' +startdate + '&fechafin=' + enddate
            window.open(url, '_blank');
        }
    </script>
{% endblock %}
