.input-bg-color {

  background-color : #F3F4F4; !important

}

.bg-white{
    background-color: #ffffff;
}

tr.selected{
    background-color: #D9E3FD !important;
    font-weight: bold !important;
}

