{% load humanize %}
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header" style="padding: 5px 15px 5px 15px">
            <button type="button" class="btn btn-danger pull-right" data-dismiss="modal" title="Cerrar"><i class="fas fa-times"></i></button>
            <h4 class="modal-title"><label class="text-info">Agregar Insumo</label></h4>
        </div>
        <div class="box" style="border-top:0">
            <div class="box-body">
                <div class="table-responsive">
                    <table id="tabla_addinsumo" class="table table-bordered table-striped table-small-font table-condensed text-center" >
                        <thead>
                        <tr>
                            <th class="hidden">ID</th>
                            <th>Código</th>
                            <th>Insumo</th>
                            <th>Unidad</th>
                            <th>Uso Min.</th>
                            <th>Uso Max.</th>
                            <th class="hidden">Botones medidas</th>
                            <th>Agregar</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for insumo in insumosxtecnico %}
                            <tr class="" id="{{ insumo.insumo_id }}">
                                <td class="hidden"><input type="hidden" id="ins_{{insumo.id}}" name="ins_{{insumo.id}}" value="{{insumo.id}}"></td>
                                <td>{{insumo.codigo}}</td>
                                <td>{{insumo.nombre}}</td>
                                <td>{{insumo.unidad|floatformat:'.1'}}</td>
                                <td>{{insumo.uso_minimo|floatformat:'.1'}}</td>
                                <td>{{insumo.uso_maximo|floatformat:'.1'}}</td>
                                <td class="hidden">{{insumo.botones_medidas}}</td>
                                <td><button type="button" class="btn-xs btn-primary btn-flat btnsele" id="btnsele" name="btnsele" style="border: 0"> <i class="fa fa-plus"></i></button></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function ()
    {
        let datatable_addinsumo = $('#tabla_addinsumo').DataTable(
            {
                'paging'      : true,
                'lengthChange': false,
                'searching'   : true,
                'ordering'    : false,
                'info'        : true,
                'autoWidth'   : false,
                "pageLength": 10,
                dom: "<'row'<'pull-left'f>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-5'><'col-sm-7'p>>",
                "language":
                    {
                        "emptyTable": "Sin insumos asignados.",
                        "search":"",
                        "searchPlaceholder": "Buscar..",
                        "paginate": {
                            "next": '>',
                            "previous": '<'
                        }

                    }
            });
        $('#tabla_addinsumo tbody').on( 'click', 'button.btnsele', function ()
        {
            let row = datatable_addinsumo.row( $(this).parents('tr') );
            let rowdata = row.data();

            return seleccionar_fila(rowdata)
        })
    })
</script>
<script>
    $(document).ready(function() {
        {% for insumo in insumos %}
            if (($('#ins_'+{{insumo.insumo_id}}).attr('value'))=="1")
            {
                let row = document.getElementById({{insumo.insumo_id}});
                row.parentNode.removeChild(row);
            }
        {% endfor %}
    });
</script>