{% extends "base.html" %}
{% load static %}

{% block css_app %}
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/DataTables-1.10.20/css/dataTables.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/Buttons-1.6.1/css/buttons.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/Responsive-2.2.3/css/responsive.foundation.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/Select-1.3.1/css/select.bootstrap.min.css' %}">
{% endblock %}

{% block content %}
    <div class="box">
        <div class="box-header">
            <a class="btn btn-default  text-green"  style="margin-left: 6px"  onClick="window.location.reload()"><i class="fas fa-sync"></i> Actualizar</a>
        </div>
        <div class="box-body">
            <div class="text-center">
                <table id="tabla-protocolo" class="table table-bordered table-striped table-small-font table-condensed" >
                    <thead>
                    <tr>
                        <th class="text-center">Nª Orden</th>
                        <th class="text-center">Paciente</th>
                        <th class="text-center">Fecha turno</th>
                        <th class="text-center">Fecha médico marca corrección</th>
                        <th class="text-center">Servicio</th>
                        <th class="text-center">Técnico</th>
                        <th class="text-center">Médico</th>
                        <th class="text-center">Observaciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for estudio in estudios_corregir %}
                        <tr>
                            <td>{{ estudio.id }}</td>
                            <td>
                                {% if estudio.paciente.paciente_nn %}
                                    {{ estudio.paciente.paciente_nnlabel }}
                                {% else %}
                                    {{ estudio.paciente.apellido }}, {{ estudio.paciente.nombre }}
                                {% endif %}
                            </td>
                            <td>{{ estudio.fechahora_inicio|date:'d/m/Y H:i' }}</td>
                            <td>{{ estudio.informe_tec_corregir_ini|date:'d/m/Y H:i' }}</td>
                            <td>{{ estudio.servicio.nombre }}</td>
                            <td>{{ estudio.usuario_tecnico.last_name }}, {{ estudio.usuario_tecnico.first_name }}</td>
                            <td>{% if estudio.usuario_medico %} {{ estudio.usuario_medico.last_name }}, {{ estudio.usuario_medico.first_name }} {% else %} Médico Guardia {% endif %}</td>
                            <td>{{ estudio.informe_observaciones|default:'---' }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="popup" class="modal fade" role="dialog"></div>
{% endblock %}

{% block js_app %}
    <script src="{% static 'plugins/datatables-actualizado/DataTables-1.10.20/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/DataTables-1.10.20/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/Responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/Responsive-2.2.3/js/responsive.bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/Select-1.3.1/js/dataTables.select.min.js' %}"></script>
{% endblock%}
