{% extends "base.html" %}
{% load static %}
{% block css_app %}
    <style>
        table.tablaEstudio.dataTable thead {background-color:lightblue}
        table.tablaInsumos.dataTable thead {background-color:darkseagreen}
        .custom-gutter > [class*='col-']
        {
            padding-right:5px;
            padding-left:5px;
        }

    </style>
    <link rel="stylesheet" href="{% static 'bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables/datatables-select.css' %}">
    <link href="{% static 'bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'plugins/timepicker/bootstrap-timepicker.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block titulo %}
{% endblock %}

{% block content %}
    <div id="popup_corregirpaciente" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content modal-form">
                <div class="modal-header">
                    <div class="pull-right">&nbsp;
                        <a class="btn btn-danger"  data-dismiss="modal" title="Cerrar" style="margin-left: 10px"><i class="fas fa-times"></i></a>
                    </div>
                    <h4 class="modal-title" id="myModalLabel"><label class="text-info">Indicar datos a corregir del Paciente</label></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label>Descripción de los datos a corregir</label>
                                <textarea cols="50" rows="5" class="form-control input-bg-color" style="resize: none;"
                                          maxlength="240" id="paciente_corregir_texto"
                                          value="{{ turno.paciente.corregir_texto }}" ></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a  class="btn btn-success waves-effect waves-light"  onclick="guardarCorregir('{{ turno.paciente.id}}')">
                        <b>Guardar</b>
                    </a>
                </div>

            </div>
        </div>

    </div>

    <form method="post" id="form" role="form" action="{% url 'tecnico:protocolo_alta' turno.id %}" autocomplete="off">
        {% csrf_token %}
        {% if estudios_corregir %}
            <div class="col-md-12" >
                <h4 class="text-danger"><strong>LOS SIGUIENTES ESTUDIOS REQUIEREN ATENCIÓN:</strong></h4>
                {% for estudio in estudios_corregir %}
                    <div class="col-sm-12 bg-danger" style="margin-bottom: 10px">
                        <strong><a class="pull-right btn btn-success btn-sm" style="margin-top: 10px" onclick="informe_tec_corregido({{ estudio.id }})"><i class="fas fa-check"></i> Marcar como resuelto</a></strong>

                        <p><strong>Nº Orden: {{ estudio.id }} - Paciente: {{ estudio.paciente.apellido }}, {{ estudio.paciente.nombre }}</strong></p>
                        <p><strong>Fecha del estudio: {{ estudio.fechahora_inicio|date:"d/m/Y H:i" }}</strong></p>
                        {% if estudio.usuario_medico  %}
                            <p><strong>Médico: {{ estudio.usuario_medico.last_name }}, {{ estudio.usuario_medico.first_name }}</strong></p>
                        {% else %}
                            <p><strong>Médico: Médico Guardia</strong></p>
                        {% endif %}
                        <p><strong class="text-red">Técnico Responsable: {{ estudio.usuario_tecnico.last_name }}, {{ estudio.usuario_tecnico.first_name }}</strong></p>
                        <label>Observaciones: </label>
                        <p readonly> {{ estudio.informe_observaciones }} </p>
                    </div>

                {% endfor %}
            </div>
        {% endif %}
        <div class="col-md-12" >
            {% if turno.estudio_finalizado_sistema and not turno.servicio.is_servicio_externo %}
                <div class="bg-warning color-palette padding-rightleft-5px">
                    <strong><i class="fas fa-check-double"></i>
                        Estudio En Partes Origen: Habilitado y Finalizado Por Sistema.
                    </strong>
                    <em>
                        El estado original del estudio era "No Realizado" o "Cancelado" se habilita por sistema debido a que las partes relacionadas marcaron todo el conjunto de estudios como "Finalizado Para Informar"
                    </em>
                </div>
            {% endif %}

            {% if protocolo_estado != 'No Realizado' %}
                <div class="bg-gray padding-rightleft-5px">
                    <strong class="text-black">
                        <i class="fas fa-info-circle"></i>
                        Estado: ESTUDIO {{ protocolo_estado|upper }}
                    </strong>
                </div>
            {% endif %}
            <div class="box container">
                <h1>Nº Orden: <span style="color: #599fcf">{{ turno.id }}</span>
                    {% if turno.estudio_terminado or turno.estudio_suspendido_completar or turno.estudio_suspendido_paciente %}
                        {% if request.user.userprofile.user.userprofile.user_jefe_tecnico %}
                            <a role="button" class="btn-lg btn-warning pull-right" style="margin-left: 5px" onclick="protocolo_cambiar_estado()" ><i class="far fa-edit"></i> Modificar Estado</a>
                        {% endif %}
                        <a class="btn-lg btn-primary pull-right" href="{% url 'tecnico:imprimir_ficha' %}?turnoid={{ turno.id }}" target=_blank> <i class="fa fa-print"></i> Imprimir</a>
                    {% endif %}
                    {% for turnoid, codigos_url in urls_imagenes.items %}
                        <a class="btn btn-sm margin-r-5 text-orange pull-right" style="background: rgba(18,96,114,0.93);  border: 1px solid white;" href="{{ codigos_url.1 }}" target="_blank"><strong><i class="fas fa-external-link-square-alt"></i> {{ codigos_url.2 }}</strong></a>
                    {% endfor %}
                </h1>
                <hr  style="margin-top: 5px; margin-bottom: 5px">

                <div class="box-header ">
                    <h3 class="box-title">Datos del Paciente</h3>
                    {% if not turno.estudio_terminado  %}
                        <a class="btn btn-default pull-right" id="habilitaredicion" onclick="crear_modal_corregir_paciente('{{ turno.paciente.id }}')"><strong><i class="fas fa-exclamation-triangle" style="color: #E52B02"></i> Marcar corrección</strong></a>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-sm-10">
                        {% if turno.paciente_nn %}
                            <div class="row custom-gutter" style="padding: 1% 1% 1% 1%">
                                <div class="col-md-12"><label>Paciente NN</label>
                                    <input  class="form-control" readonly value="{{ turno.paciente.paciente_nnlabel }}">
                                </div>
                            </div>
                        {% endif %}

                        <div class="row custom-gutter" style="padding: 1% 1% 1% 1%">
                            <div class="col-md-6" ><label>Apellido</label>
                                <input  class="form-control" readonly value="{{ turno.paciente.apellido }}" name="paciente_apellido" id="paciente_apellido">

                            </div>
                            <div class="col-md-6"><label>Nombre</label>
                                <input  class="form-control" readonly value="{{ turno.paciente.nombre }}" name="paciente_nombre" id="paciente_nombre" >

                            </div>
                        </div>

                        <div class="row custom-gutter" style="padding: 1% 1% 1% 1%">
                            <div class="col-md-2"><label>Sexo</label>
                                <div class="form-group" >
                                    <select class="form-control"  name="paciente_sexo" id="paciente_sexo" readonly>
                                        <option value="Masculino" {% if turno.paciente.sexo == 'Masculino' %}selected="selected"{% endif %}>Masculino</option>
                                        <option value="Femenino" {% if turno.paciente.sexo == 'Femenino' %}selected="selected"{% endif %}>Femenino</option>
                                    </select>
                                </div>

                            </div>
                            <div class="col-md-3"><label>Fecha Nacimiento</label>
                                <div class="input-group" >
                                    <div class="input-group-addon">
                                        <i class="fas fa-calendar-alt"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" id="datepicker_fechanacimiento" name="paciente_fecnac" data-inputmask="'alias': 'dd/mm/yyyy'" readonly>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <label>Obra Social</label>
                                <input class="form-control" readonly value="{{ turno.obrasocial.nombre }}" name="obrasocial_nombre" id="obrasocial_nombre">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="btn-group-vertical">
                            <label></label>
                            <a class="btn btn-app {% if turno.foto_documento %} bg-olive {% else %} btn-default {% endif %}" {% if turno.foto_documento %}href="{{ turno.foto_documento.url }}" disabled {% endif %}  target="_blank"><i class="{% if not turno.foto_documento %} fas fa-times text-danger {% else %}far fa-file-image  {% endif %}"></i> DNI Frente </a>
                            <label></label>
                            <a class="btn btn-app {% if turno.foto_documento2 %} bg-olive {% else %} btn-default {% endif %}" {% if turno.foto_documento2 %}href="{{ turno.foto_documento2.url }}" disabled {% endif %}  target="_blank"><i class="{% if not turno.foto_documento2 %} fas fa-times text-danger {% else %}far fa-file-image  {% endif %}"></i> DNI Dorso</a>
                        </div>
                    </div>
                </div>
                <hr style="margin-top:5px;    margin-bottom: 5px">

                <div class="box-header ">
                    <h3 class="box-title">Datos del Estudio</h3>
                    {% if request.GET.tipo == 2 or request.GET.tipo == '2' %}
                        <a class="btn btn-default pull-right" id="habilitarEdicionEstudio" onclick="editar_estudio()"><strong><i class="fas fa-exclamation-triangle" style="color: #E52B02"></i> Habilitar edición</strong></a>
                    {% endif %}
                </div>

                <div class="row custom-gutter" style="padding: 1% 1% 1% 1%">
                    <div class="col-md-2" ><label>Fecha</label>
                        <input class="form-control" readonly  id="i_fechaturno" value="{{ turno.fechahora_inicio|date:'d-m-Y' }}" />
                    </div>
                    <div class="col-md-1"><label>Turno</label>
                        <input class="form-control" readonly  id="i_horaturno" value="{{ turno.fechahora_inicio|date:'H:i' }}" /></div>
                    <div class="col-md-1" ><label>Ingreso</label>
                        <input class="form-control" id="i_horaingreso" type="time" />
                    </div>

                    <div class="col-md-4">
                        <div class="col-md-6 disable-select"><label tabindex="-1" id="label_urgencia">{{ form.urgencia }} Urgencia</label></div>
                        <div class="col-md-6 disable-select"><label tabindex="-1" id="label_contrasteev">{{ form.contrasteev }} Contraste Ev</label></div>
                        <div class="col-md-6 disable-select"><label tabindex="-1" id="label_internado">{{ form.internado }} Internado</label></div>
                        <div class="col-md-6 disable-select"><label tabindex="-1" id="label_contrastevo">{{ form.contrastevo }} Contraste Oral</label> </div>
                        <div class="col-md-6 disable-select"><label tabindex="-1" id="label_anestesia">{{ form.anestesia }} Anestesia</label></div>
                    </div>

                    <div class="col-md-2"></div>

                    <div class="col-md-2">
                        <div class="btn-group-vertical" style="padding-left: 20px">
                            <a class="btn btn-app {% if turno.foto_pedidomedico %} bg-olive {% else %} btn-default {% endif %}"
                               {% if turno.foto_pedidomedico %}href="{{ turno.foto_pedidomedico.url }}" disabled {% endif %} target="_blank">
                                <i class="{% if not turno.foto_pedidomedico %} fas fa-times text-danger {% else %}far fa-file-image  {% endif %}"></i> Ped. Médico
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row custom-gutter" style="padding: 0% 1% 1% 1%">
                    <div class="col-md-4 "><label>Prof. Solicitante</label><input class="form-control" disabled value="{{ turno.medico_derivante.apellido }}, {{ turno.medico_derivante.nombre }}" >
                    </div>
                    <div class="col-md-4 "><label>Establecimiento</label><input class="form-control" disabled value="{{ turno.establecimiento_derivador.nombre }}" >
                    </div>
                </div>
                <hr  style="margin-top: 5px; margin-bottom: 5px">
                <div class="row" style="padding: 1% 1% 1% 1%">
                    <div class="col-sm-4">
                        <label>Observaciones generales del estudio</label>
                        {{ form.estudio_observacion_nota }}
                    </div>
                    <div class="col-sm-4">
                        <label>Observaciones para el Médico Informante</label>
                        {{ form.estudio_observacion_medico }}
                    </div>
                    <div class="col-sm-4">
                        <label>Datos a solicitar al paciente</label>
                        <ul>
                            <li>1. Motivo de la consulta.</li>
                            <li>2. <strong>Antec. Quirúrgicos (imprescindible) de no existir, consignar igualmente.</strong></li>
                            <li>3. Comorbilidades</li>
                            <li>4. Situaciones (de existir) relacionadas con el estudio</li>
                        </ul>
                    </div>
                </div>
                <br>
                <div class="row" style="padding: 1% 1% 1% 1%">
                    <div class="col-sm-12 bg-info">
                        <h4 class="text-red"><strong>NOTIFICACIÓN IMPORTANTE</strong></h4>
                        <h5> <strong>ACLARACIÓN SOBRE EL ACCESS NUMBER (Nº DE ACCESO) Y LA GENERACIÓN DEL LINK DE LAS IMÁGENES</strong></h5>
                        <p>
                            Si el procedimiento para relacionar las imágenes médicas al expediente del paciente no es realizado correctamente, esto puede llevar a dos casos posibles:
                        </p>
                        <p>
                            <strong class="text-danger">
                                1. El médico no podra visualizar los estudios al momento de informar, por lo tanto generará un retraso sobre la finalización del informe.
                            </strong>
                        </p>
                        <p>
                            <strong class="text-danger">
                                2. En los casos mas graves, si se ingresan datos incorrectos(de otro paciente o expediente), se estarán adjuntando estudios médicos que no corresponden.
                            </strong>
                        </p>
                        <p>Por último se remarca la importancia de corroborar todo antes de enviar las imágenes al PACS, ya que si tienen error y además fueron enviadas,
                            <strong>se debe realizar la tarea de avisar al área de informática para su eliminación y posteriormente confirmar que el link de las imágenes generado sea el correcto para el expediente.</strong>
                        </p>
                        <p>A fecha de hoy en varios servicios ya ocurrieron situaciones que provocaron tanto errores menores como muy graves, por lo cual se encomienda trabajar con conciencia y responsabilidad.</p>
                        <p>Cualquier duda o inconveniente avisar al superior del servicio, y si es requerido al área de Informática.</p>
                    </div>
                </div>

                {% if turno.servicio.usa_access_number %}
                    <div class="row" style="padding: 1% 1% 1% 1%">
                        <div class="col-sm-12 bg-warning">
                            {% if turno.servicio.tipo == 'MR' %}
                                <h4>El <strong>N° de acceso</strong> para el estudio actual es:  <strong class="text-green" id="accessnumber_carga"></strong><strong><em class="text-black">(Contador del estudio: 1,2,3..etc.)</em></strong> </h4>
                                <p>
                                    Al cargar los datos en la consola del equipo, se debe completar el campo llamado <span><u>N° de acceso</u></span> con el valor:
                                    <strong class="text-green" id="accessnumber_carga1"></strong> <strong>+ <em>(Un contador de estudio que empieza en 1)</em></strong>
                                </p>
                                <p>Por ejemplo: Si los estudios a realizarse corresponden a dos regiones 34.XX.XX y 34.XX.XX, para el primer estudio el campo se debe completar con:
                                    <strong class="text-green" id="accessnumber_carga2"></strong><strong class="text-green">1</strong>
                                    y para el segundo estudio con: <strong class="text-green" id="accessnumber_carga3"></strong><strong class="text-green">2</strong>, nótese los dos guiones medios y que no lleva ningún espacio de por medio.
                                </p>
                                <p>
                                    Para el caso de estudios que se generan juntos (eje: <strong>Angioresonancia + Cerebro,Hipofisis y Oido</strong>), se lo considera como si fuera uno:
                                    <strong class="text-green" id="accessnumber_carga0"></strong><strong class="text-green">1</strong>
                                </p>
                                <p>**Si no se cumple con el requisito correctamente, el sistema no podrá relacionar las imagénes de manera directa con el expediente digital del paciente, por consecuencia el médico informante deberá hacer la busqueda manual de las imágenes</p>
                            {% else %}
                                <h4>El <strong>N° de acceso</strong> para el estudio actual es:  <strong class="text-green" id="accessnumber_carga4"></strong></h4>
                                <p>Al cargar los datos en la consola del equipo, se debe completar el campo llamado <span><u>Access Number</u><sup>1</sup></span> con el valor: <strong class="text-green" id="accessnumber_carga5"></strong> <strong>(verificar que sea exactamente igual, sin espacios o carácteres de más)</strong></p>
                                <p class="small"> 1) Dependiendo del equipo el nombre del campo puede variar como: N° solicitado, N° de acceso, Número de acceso, Accession No, etc.</p>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row " style="padding: 1% 1% 1% 1%">
                        <a class="btn btn-default pull-right" id="btn-correccion-accessnumber" onclick="correccion_accessnumber()"><strong>Método Corrección Link 1: Agregar Nº Acceso Alternativo</strong></a>

                        <div class="col-sm-12 bg-warning hidden"  id="div-correcion-accessnumber">
                            <h4 class="text-blue"><strong>Registro Access Number Alternativo</strong></h4>
                            <p>En los casos que no se pueda ingresar al sistema para ver el número de acceso al momento de realizar la carga de los datos en la consola del equipo.</p>

                            <p>Se habilita como <strong>método alternativo </strong>, ingresar (en la consola del equipo) como <stron>Access Number</stron> el número de protocolo que se le asigna al paciente, tal cual como se venia trabajando previo al nuevo sistema.</p>
                            <p>Posteriormente, ese mismo número debe ser registrado en el campo de abajo, cuando ya se pueda acceder al sistema para cargar la ficha del paciente</p>
                            <label>
                                Access Number (Alternativo) - Nº Protocolo
                                <input class="form-control"  id="accessnumber_alt" name="accessnumber_alt" value="{{ turno.estudio_accessnumber|default:'' }}" />
                            </label>
                            <p>**Verficar que el número sea exactamente igual al ingresado en la consola y corresponda efectivamente al paciente actual, (la búsqueda de las imágenes dependerá del mismo.)</p>
                        </div>
                    </div>
                {% endif %}

                {% if turno.estudio_finalizado %}
                    <a class="btn btn-default pull-right" style="margin-bottom: 15px" id="btn-agregar-url-imagenes" onclick="agregar_url_imagenes()"><strong>Método Corrección Link 2: Agregar Link Imágenes VM Manual</strong></a>
                {% endif %}
                <div class="hidden" id="div-carga-url">
                    <div class="row bg-warning" style="padding: 1% 1% 1% 1%">
                        <h4 class="text-blue"><strong>Registro del Link a las Imágenes del estudio por medio del la dirección web en Visual Médical</strong> </h4>
                        <div class="row">
                            <div class="col-xs-3">
                                <label>1. Descripción del Estudio</label>(Ejemplo: TCSE-TC CEREBRO)
                                <input class="form-control " type="text" name="url-imagen-desc" id="url-imagen-desc" size=20/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <label>2. Url-Link a las imágenes</label> (Ejemplo: http://190.227.183.242:8081/viewer/index.php/pacientes?monitor...)
                                <input class="form-control " type="text" name="url-imagen" id="url-imagen" size=100/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="box">
                <div class="box-body">
                    <div class="table-responsive col-md-6">
                        {% if turno_en_partes %}
                            <table  class="table table-bordered table-striped text-center table-condensed table-small-font"
                            >
                                <thead style="background-color: rgba(243,212,98,0.68)">
                                <tr>
                                    <th colspan="4">
                                        Estudio en Partes
                                    </th>
                                </tr>
                                <tr>
                                    <th >Nº Orden</th>
                                    <th >Fecha - Hora</th>
                                    <th >Codigos Realizados</th>
                                    <th> Observaciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for tur in turnos_hijos %}
                                    <tr>
                                        <td>{{ tur.id }} </td>
                                        <td> {{ tur.fechahora_inicio|date:"d/m/Y - H:i" }}</td>
                                        <td> {% if tur.estudio_finalizado %}{{ tur.estudios_solaux }}{% else %}---{% endif %}</td>
                                        <td>{{ tur.estudio_observacion_nota|default:"---" }}</td>

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                        {% if turno.estudio_finalizado or turno.estudio_terminado or turno.estudio_suspendido_paciente or turno.estudio_suspendido_completar or turno.estudio_cancelado or turno.estudio_reprograma %}
                            {% if request.user.userprofile.user_jefe_tecnico %}
                                <a class="btn btn-default " onclick="ajustar_protocolo_numeracion()"><i class="fas fa-list-ol text-blue"></i></i> <strong class="text-blue">Corregir Numeración de Protocolos</strong></a>
                                <a class="btn btn-default " onclick="ajuste_agregar_codigo()"><i class="fas fa-plus-circle text-success"></i> <strong class="text-success">Agregar Código</strong></a>
                                <a class="btn btn-default " onclick="ajuste_remover_codigo()"><i class="fas fa-minus-circle text-danger"></i> <strong class="text-danger">Remover Código</strong></a>
                            {% endif %}
                        {% endif %}

                        {% if request.GET.tipo == 1 or request.GET.tipo == '1' %}
                            <button class="btn btn-primary" type="button" id="agregarEstudio" onclick="agregar();controlNumeroProtocolo()"><i class="glyphicon glyphicon-plus"></i> Agregar estudio</button>
                        {% endif %}
                        <table id="tabla_estudio" class="tablaEstudio table table-bordered table-striped text-center table-condensed table-small-font">
                            {%  if not request.GET.tipo == 1 and not request.GET.tipo == '1' %}
                                <caption style="color: #FFFFFF">*</caption>
                            {% endif %}

                            <thead >
                            <tr>
                                <th >Código del estudio</th>
                                {% if turno.servicio.tipo == 'CR' %}<th >Cantidad</th>{% endif %}
                                <th >Número de protocolo</th>
                                {% if request.GET.tipo == 1  or request.GET.tipo == '1' %}<th >Eliminar</th>{% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <br>

                        <table id="tabla_anestesia" class=" hidden table table-bordered table-striped text-center table-condensed table-small-font"
                               style="background-color: rgba(238,156,101,0.61)">
                            <thead >
                            <tr>
                                <th >Códigos de Anestesia</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <select class="form-control" id="select_anestesia" name="select_anestesia">
                                        <option value="">---</option>
                                        {% for anestesia in anestesias %}
                                            <option value="{{ anestesia.codigo }}">{{ anestesia.codigo }} - {{ anestesia.nombre }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-responsive col-md-6">
                        {% if request.GET.tipo == 1 or request.GET.tipo == '1' or request.user == turno.usuario_tecnico %}
                            <a onclick="return abrir_modal('{% url 'tecnico:ingresar_insumo' %}')" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> Agregar insumo</a>
                        {% endif %}
                        <table id="tabla_insumo"  style="width: 100%" class="tablaInsumos table table-bordered table-striped text-center table-condensed table-small-font">
                            <thead >
                            <tr>
                                <th >Código</th>
                                <th >Insumo</th>
                                <th >Cantidad</th>
                                {% if request.GET.tipo == 1  or request.GET.tipo == '1' or request.user == turno.usuario_tecnico %}<th >Eliminar</th>{% endif %}
                            </tr>
                            </thead>
                            <tfoot class="text-info text-left">
                            <tr>
                                <td colspan="4">
                                    <em>
                                        - Los insumos de contraste deben registrarse en las unidades correspondientes al insumo (ml).
                                    </em>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <em>
                                        - Tener en cuenta los decimales cuando corresponda, por ejemplo para el E-Z-CAT (225 ml) el medio frasco se debe registrar como 112.5
                                    </em>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div>
                {% if protocolo_valid_date %}
                    {% if not turno.estudio_terminado and not turno.estudio_reprograma and not turno.estudio_cancelado and not turno.estudio_suspendido_paciente and not turno.estudio_suspendido_completar %}
                        <a class="btn-lg btn-primary pull-right"  id="submitbutton"> <b>Finalizar Estudio</b></a>
                    {% elif turno.usuario_tecnico == request.user  %}
                        {% if request.GET.corregido == "1" %}
                            <a class="btn-lg btn-primary pull-right"  onclick="submitform(7)" > <b>Guardar Cambios</b></a>
                        {% else %}
                            <a class="btn-lg btn-primary pull-right"  onclick="submitform(6)" > <b>Guardar Cambios</b></a>
                        {% endif %}
                        {% if turno.servicio.tipo == 'MR' %}
                            {% if not turno.estudio_partes_finalizado and turno.tipomodalidad == 'En partes' %}
                                <a id="btn-cerrarestudio" class="btn-lg btn-warning pull-right" style="margin-right: 10px" onclick="cerrar_estudio()" > <b>Cerrar estudio: Pasar a Tipeo</b></a>
                            {% elif turno.turno_relacionado and not turno.turno_relacionado.estudio_partes_finalizado %}
                                <a id="btn-cerrarestudio" class="btn-lg btn-warning pull-right" style="margin-right: 10px" onclick="cerrar_estudio()" > <b>Cerrar estudio: Pasar a Tipeo</b></a>
                            {% elif turno.estudio_suspendido_completar or turno.estudio_suspendido_paciente %}
                                <a id="btn-cerrarestudio" class="btn-lg btn-warning pull-right" style="margin-right: 10px" onclick="cerrar_estudio()" > <b>Cerrar estudio: Pasar a Tipeo</b></a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% else %}
                    <div class="bg-danger pull-right padding-rightleft-5px">
                        <strong>No se pueden finalizar estudios de un mes POSTERIOR a la fecha actual del sistema. (Eje: si es Abril no se puede hacer estudios de Mayo)</strong>
                        <p>*Si es cambio de mes, esperar hasta que la fecha pase al siguiente mes y refrescar la página para empezar con los estudios del nuevo mes.</p>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="hidden">
            <div>{{ form.estudio_fechahora_ingreso }}</div>
            <div>{{ form.fechahora_inicio }}</div>
            <input  value="" id="submittipo" name="submittipo" >
            <input  value="0" id="editdatospaciente" name="editdatospaciente" >
            <input  readonly value="{{ turno.paciente.id }}" name="paciente_id" id="paciente_id">
            <input  readonly value="{{ turno.obrasocial.id }}" name="obrasocial_id" id="obrasocial_id">
            {{ form.paciente }}
            {{ form.medico_derivante }}
            {{ form.obrasocial }}
            {{ form.usuario_creacion }}
            <input  value="0" name="turno_partes_finalizado" id="turno_partes_finalizado">
            <input class="form-control hidden" value="0" id="selectcount" name="selectcount" >
            <input class="form-control hidden" value="0" id="insumocount" name="insumocount" >
            <div id="protocolos" class="">
            </div>
        </div>
    </form>
    <div id="popup" class="modal fade" role="dialog"></div>
    <div class="hidden">
        <div id="divsubmit">
            <div class="btn-group-vertical">
                <a  class="btn btn-success " onclick="toastNormal()" id="submitbutton1" >Finalizado Normalmente</a>
                <a class="btn btn-warning " onclick="toastSuspPac()" id="submitbutton2" >Suspendido - Paciente</a>
                <a class="btn btn-warning " onclick="toastSuspComp()" id="submitbutton3" >Suspendido - Completar</a>
                <a class="btn btn-danger " onclick="toastReprog()" id="submitbutton4" >Cancelado - Reprograma</a>
                <a class="btn btn-danger " onclick="toastCancel()" id="submitbutton5" >Cancelado</a>
            </div>
        </div>
    </div>

{% endblock %}
{% block js_app %}
    <script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.select.min.js' %}"></script>
    <script src="{% static 'bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'plugins/timepicker/bootstrap-timepicker.min.js' %}"></script>
    <script>
        $(document).ready(function()
        {
            const accessnumber = '{{ turno.servicio.prefix_access_number }}' + '-' + '{{ turno.id }}-'
            const accessnumber_tomo = '{{ turno.servicio.prefix_access_number }}' + '-' + '{{ turno.id }}'
            $('#accessnumber_carga').text(accessnumber)
            $('#accessnumber_carga0').text(accessnumber)
            $('#accessnumber_carga2').text(accessnumber)
            $('#accessnumber_carga3').text(accessnumber)
            $('#accessnumber_carga1').text(accessnumber)
            $('#accessnumber_carga4').text(accessnumber_tomo)
            $('#accessnumber_carga5').text(accessnumber_tomo)
            $('input').iCheck(
                {
                    checkboxClass: 'icheckbox_flat-green',
                    radioClass: 'iradio_flat-green',
                });
            const elem_interfaz_horaingreso = $('#i_horaingreso');
            const fecha_turno = '{{ turno.fechahora_inicio|date:'Y-m-d' }}';
            {% if turno.estudio_fechahora_ingreso %}
                elem_interfaz_horaingreso.val('{{ turno.estudio_fechahora_ingreso|date:'H:i' }}');
            {% else %}
                elem_interfaz_horaingreso.val(moment().format('HH:mm'));
                $('#fechahoraingreso').val(fecha_turno + ' ' + elem_interfaz_horaingreso.val());
            {% endif %}
            elem_interfaz_horaingreso.on('change', function() {
                $('#fechahoraingreso').val(fecha_turno + ' ' + elem_interfaz_horaingreso.val());
            });
            {% if turno.estudio_terminado or turno.estudio_suspendido_completar or turno.estudio_suspendido_paciente %}
                $('#estudio_observacion').prop('readonly', true);
            {% endif %}
            $('#datepicker_fechanacimiento').datepicker(
                {
                    autoclose: true,
                    format: 'dd-mm-yyyy'
                });
            $('#datepicker_fechanacimiento').prop('disabled', true);
        });

        let paciente_fechanac = '{{ turno.paciente.fecnac|date:'d-m-Y' }}';
        $('#datepicker_fechanacimiento').val(paciente_fechanac);
        $('#paciente_sexo').prop('disabled', true);
    </script>

    <script>
        function abrir_modal(url)
        {
            $('#popup').load(url, function()
            {
                $(this).modal('show');
            });
            return false;
        }
        function cerrar_modal()
        {
            $('#popup').modal('hide');
            return false;
        }
    </script>
    
    <script>
        function editar_estudio()
        {
            iziToast.question({
                timeout: 20000,
                close: false,
                overlay: true,
                displayMode: 'once',
                id: 'question',
                zindex: 999,
                title: '¿Habilitar edición del Estudio?',
                position: 'center',
                color: 'red',
                buttons: [
                    ['<button><b>SI</b></button>', function (instance, toast) {
                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                        habilitar_campos();
                    }, true],
                    ['<button>NO</button>', function (instance, toast) {
                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                    }],
                ],
            });
        }

        function habilitar_campos() {
            $('#label_urgencia').attr('style', 'pointer-events:auto');
            $('#label_internado').attr('style', 'pointer-events:auto');
            $('#label_anestesia').attr('style', 'pointer-events:auto');
            $('#label_contrasteev').attr('style', 'pointer-events:auto');
            $('#label_contrastevo').attr('style', 'pointer-events:auto')
        }
    </script>

    <script>
        function crear_modal_corregir_paciente(pacienteId)
        {
            $('#popup_corregirpaciente').modal('show');
            $.ajax({
                type: 'get',
                url: "{% url 'informe:traertexto' %}",
                data: {
                    'paciente': pacienteId,
                },
                success: function (data)
                {
                    $('#paciente_corregir_texto').val( data['texto_corregir']);
                },
                error: function (data) {
                    alert("Error al guardar la modificación");
                }
            });
            return false;
        }
        function cerrar_modal_corregir_paciente()
        {
            $('#popup_corregirpaciente').modal('hide');
            return false;
        }
    </script>

    <script>
        function guardarCorregir(pacienteId){
            $.ajax({
                type: 'get',
                url: "{% url 'informe:corregirpaciente' %}",
                data: {
                    'observacion': $('#paciente_corregir_texto').val(),
                    'corregir': 1, // despyes la view lo evaluo como true
                    'paciente': pacienteId,
                },
                success: function (data)
                {
                    iziToast.question({
                        timeout: 2000,
                        close: false,
                        overlay: true,
                        displayMode: 'once',
                        id: 'question',
                        zindex: 999,
                        title: 'Se guardó correctamente la observación a corregir',
                        position: 'center',
                        color: 'blue',

                    });
                    cerrar_modal_corregir_paciente();

                },
                error: function (data) {
                    alert("Error al guardar la modificación");
                }
            })
        }
    </script>
    <script>
        var nroEstudio = 0;
        var nroEstudio_angio = 0;
        let selectcounter, protocolo_estudiocounter, selectid_init, select_element, protocolo, protocolo_numero_mostrar;
        let textappend_protocolos = '';
        let elem_divprotocolos = document.getElementById('protocolos');
        let protocolo_basecount = {{ nro_protocolo_count }};
        let protocolo_prefix ='{{ nro_protocolo_prefix }}';
        var tabla_estudiossolicitados = $('#tabla_estudio').DataTable(
            {
                'dom': '',
                "language": {
                    "emptyTable": "No hay protocolos asignados."
                },
                'paging'      : false,
                'lengthChange': false,
                'searching'   : false,
                'ordering'    : false,
                'info'        : true,
                'autoWidth'   : false
            });
        function agregar(is_angio, estudio_cantidad)
        {
            nroEstudio++;
            selectcounter = nroEstudio;
            $('#selectcount').val(selectcounter);
            elemento = document.createElement('select');
            elemento.setAttribute("class", "form-control" );
            elemento.id = 'serestudio_'+nroEstudio;
            elemento.name= 'serestudio_'+nroEstudio;
            var option;
            var paddingCodEstudio;
            {% for estudio in estudios %}
                option = document.createElement("option");
                option.value = '{{ estudio.id }}';
                paddingCodEstudio = '{{ estudio.codigo }}';
                paddingCodEstudio = paddingCodEstudio.padStart(2,'0');
                option.text = '{{ turno.servicio.protocolo_prefix }}' + paddingCodEstudio + " - " + '{{ estudio.nombre }}';
                elemento.appendChild(option);
            {% endfor %}
            var protocolo = document.createElement('input');
            protocolo.type = "text";
            protocolo.id = "protocolo_" + nroEstudio;
            protocolo.name = "protocolo_" + nroEstudio;
            protocolo.className = 'form-control';
            protocolo.readOnly = true;
            protocolo_estudiocounter = protocolo_basecount + nroEstudio - nroEstudio_angio;
            protocolo_estudiocounter = (protocolo_estudiocounter + '').padStart(4, "0"); // agrega ceros a la izquierda hasta length 4 del string
            {% if turno.estudio_finalizado or turno.estudio_suspendido_completar or turno.estudio_suspendido_paciente %}
                protocolo_numero_mostrar = {{turno.estudio_protocolocount}} + nroEstudio - nroEstudio_angio;
                protocolo_numero_mostrar = '{{ turno.estudio_protocoloprefix }}' + (protocolo_numero_mostrar + '').padStart(4, "0");
                protocolo.setAttribute('value', protocolo_numero_mostrar);
            {% else %}
                protocolo.setAttribute('value',protocolo_prefix + protocolo_estudiocounter);
            {% endif %}
            if (is_angio) {
                protocolo.setAttribute('value', '---')
                nroEstudio_angio++
            }
            var deleteButton = document.createElement('button');
            deleteButton.type = "button";
            deleteButton.className = "btn btn-danger quitarEstudio";
            deleteButton.innerHTML = "<i class='far fa-trash-alt'> </i>";
            var buttonDisabled = document.createElement('button');
            buttonDisabled.type = "button";
            buttonDisabled.className = "btn btn-danger {% if turno_en_partes %} quitarEstudio {% else %} disabled {% endif %}";
            buttonDisabled.innerHTML = "<i class='far fa-trash-alt'> </i>";
            var cantidad_estudios = document.createElement('input');
            cantidad_estudios.type = "number";
            cantidad_estudios.id = "protocolo_cantidad_" + nroEstudio;
            cantidad_estudios.name = "protocolo_cantidad" + nroEstudio;
            cantidad_estudios.className = 'form-control';
            cantidad_estudios.setAttribute('value', estudio_cantidad);
            cantidad_estudios.setAttribute('max', 2);
            cantidad_estudios.setAttribute('min', 1);
            let tipodealta_protocolo = '{{ request.GET.tipo }}' !== '' ? {{ request.GET.tipo }} : 2;
            if (tipodealta_protocolo === 1)
            {
                if (elemento.id==="serestudio_1") {
                    tabla_estudiossolicitados.row.add([
                        elemento.outerHTML,
                        {% if turno.servicio.tipo == 'CR' %} cantidad_estudios.outerHTML, {% endif %}
                        protocolo.outerHTML,
                        buttonDisabled.outerHTML,
                    ]).draw();
                }
                else
                {
                    tabla_estudiossolicitados.row.add([
                        elemento.outerHTML,
                        {% if turno.servicio.tipo == 'CR' %} cantidad_estudios.outerHTML, {% endif %}
                        protocolo.outerHTML,
                        deleteButton.outerHTML,
                    ]).draw();
                }
            }
            else if (tipodealta_protocolo === 2)
            {
                tabla_estudiossolicitados.row.add([
                    elemento.outerHTML,
                    {% if turno.servicio.tipo == 'CR' %} cantidad_estudios.outerHTML, {% endif %}
                    protocolo.outerHTML,
                ]).draw();
            }
        }
        {% for estudio in  turno.estudiosolicitado_set.all %}
            {% if estudio.servicio_estudio.codigo == '99'  %}
                agregar(true, {{ estudio.cantidad }});
            {% else %}
                agregar(false, {{ estudio.cantidad }});
            {% endif %}
        {% endfor %}
        {% for estudio in  turno.estudiosolicitado_set.all %}
            selectid_init = '#serestudio_' + '{{ forloop.counter }}';
            select_element = $(selectid_init);
            select_element.val({{ estudio.servicio_estudio.id }});
            protocolo = select_element.text();
            textappend_protocolos += `<input class="form-control hidden" value="` + protocolo + `" id="prot` + {{ forloop.counter }} + `" `+ ` name="prot` + {{ forloop.counter }} + `" >`;
        {% endfor %}
        elem_divprotocolos.innerHTML = textappend_protocolos;
        let insumo_counter = 0;
        let textinput_insumo;
        let tabla_insumos = $('#tabla_insumo').DataTable(
            {
                'paging': false,
                'dom': '',
                "language":
                    {
                        "emptyTable": "Sin insumos asignados."
                    },
                columnDefs: [
                    { className: 'text-center', targets: "tbody"},
                    {"width": "10%", "targets": 0},
                    {"width": "40%", "targets": 1},
                    {"width": "45%", "targets": 2},
                    {"width": "5%", "targets": 3},
                ],

            });
        $('#tabla_insumo tbody').on( 'click', 'button.quitarEstudio', function ()
        {
            tabla_insumos.row($(this).parents('tr')).remove().draw();
            let estudiocount = $('#insumocount').val() - 1;
            $('#insumocount').val(estudiocount);
        });
        function seleccionar_fila(rowdata)
        {
            $('#popup').modal('hide');
            insumo_counter++;
            $('#insumocount').val(insumo_counter);
            var i = 0;
            i = rowdata[0].indexOf(">");
            var insumo_id = "ins_";
            var id = 0;
            if(i !== (0))
            {
                id=rowdata[0].substr(i+1);
                insumo_id=insumo_id+id;
            }
            else
            {
                alert(i+" "+rowdata[0]);
            }
            var deleteButton = document.createElement('button');
            deleteButton.type = "button";
            deleteButton.className = "btn btn-danger quitarEstudio";
            deleteButton.innerHTML = "<i class='far fa-trash-alt'> </i>";
            deleteButton.id = "btnbor"+id;
            let cant_min = rowdata[4].replace(",",".")
            let cant_max = rowdata[5].replace(",",".")
            let inputcantidad =
                '<input ' +
                'style="width: 95%" ' +
                'required ' +
                'class="form-control" ' +
                'type="number" step="0.01" ' +
                'max="' + cant_max + '" ' +
                'min="' + cant_min + '" ' +
                'id="cant_ins_' +
                rowdata[1] +
                '" name="cant_ins_' + rowdata[1] + '" >\n';

            let botones_cantidad =
                '<span class="input-group-btn">\n' +
                '                   <button type="button" class="btn btn-info " style="font-size:15px;font-weight: bold;" onclick="set_todo('+ rowdata[1] + ',' + rowdata[3] +')">1</button>\n' +
                '                      <button type="button" class="btn btn-info " style="font-size:15px;font-weight: bold;" onclick="set_unmedio('+ rowdata[1] + ',' + rowdata[3] +')">½</button>\n' +
                '                      <button type="button" class="btn btn-info " style="font-size:15px;font-weight: bold;" onclick="set_uncuarto('+ rowdata[1] + ',' + rowdata[3] +')">¼</button>\n' +
                '</span>\n';

            if (rowdata[6] === 'True')
            {
                inputcantidad = '<div class="input-group input-group-sm">' + inputcantidad + botones_cantidad + '</div>'
            }
            // agrego a la tabla los insumos elegidos
            tabla_insumos.row.add([
                rowdata[1],
                rowdata[2],
                inputcantidad,
                deleteButton.outerHTML
            ]);

            tabla_insumos.draw();
            // input hidden con el id de insumo , numerado por un counter para usarlo en el view de alta de protocotlo
            textinput_insumo = '<input class="form-control hidden" value="'+ rowdata[1] +'" id="insumo"'+ insumo_counter+ ' name="insumo'+ insumo_counter + '" >';
            elem_divprotocolos.innerHTML += textinput_insumo;

            /*Cambiar el valor del insumo: 0 - No utilizado (tabla 1) 1 - Utilizado (tabla 2) */
            $("#" + insumo_id).val("1");
        }

        // funcion agregar insumo cuando se carga por primera vez la pagina
        function agregarinsumo(insumo_id, insumo_codigo, insumo_nombre, insumo_cantidad, insumo_min, insumo_max)
        {
            // incremento la cuenta de insumos agregados
            insumo_counter++;
            $('#insumocount').val(insumo_counter);

            // boton delete
            let deleteButton = document.createElement('button');
            deleteButton.type = "button";
            deleteButton.className = "btn btn-danger quitarEstudio";
            deleteButton.innerHTML = "<i class='far fa-trash-alt'> </i>";
            deleteButton.id = "btnbor"+insumo_counter;

            // input cantidad
            let inputcantidad =
                '<input class="form-control"' +
                '  step="0.01" type="number"' +
                'max="' + insumo_max + '" ' +
                'min="' + insumo_min + '" ' +
                ' name="cant_ins_' +
                insumo_codigo + '"' +
                ' value="' + insumo_cantidad +'"/> ';
            tabla_insumos.row.add([
                insumo_codigo,
                insumo_nombre,
                inputcantidad,
                {% if request.GET.tipo == 1 or request.GET.tipo == '1' or request.user == turno.usuario_tecnico %}
                    deleteButton.outerHTML
                {% endif %}
            ]);
            tabla_insumos.draw();
            textinput_insumo = '<input class="form-control hidden" value="'+ insumo_codigo +'" id="insumo'+ insumo_counter + '" name="insumo'+ insumo_counter + '" >';
            elem_divprotocolos.innerHTML += textinput_insumo;
        }

        let insumo_cantidad_usada, insumo_cantidad_uso_max, insumo_cantidad_uso_min = ''
        {% for insumo in  turno.turnoinsumo_set.all %}
            insumo_cantidad_usada = '{{ insumo.cantidad_usada }}'.replace(",", ".")
            insumo_cantidad_uso_max = '{{ insumo.insumo.uso_maximo }}'.replace(",", ".")
            insumo_cantidad_uso_min = '{{ insumo.insumo.uso_minimo }}'.replace(",", ".")
            agregarinsumo({{ insumo.insumo.id }},{{ insumo.insumo.codigo }},'{{ insumo.insumo.nombre }}', insumo_cantidad_usada, insumo_cantidad_uso_min, insumo_cantidad_uso_max);
        {% endfor %}
        function set_todo(idinput, unidadfrasco)
        {
            $('#cant_ins_'+idinput).val(unidadfrasco)
        }

        function set_unmedio(idinput, unidadfrasco)
        {
            $('#cant_ins_'+idinput).val(1/2 * unidadfrasco)
        }

        function set_uncuarto(idinput, unidadfrasco)
        {
            $('#cant_ins_'+idinput).val(1/4 * unidadfrasco)
        }
    </script>
    <script>
        function submitform(tipo)
        {
            $('#submittipo').val(tipo);
            let form = document.querySelector('form');
            if (!form.checkValidity())
            {
                form.reportValidity();
            }
            else
            {
                try
                {
                    document.getElementsByTagName("form")[0].submit();
                } catch (err)
                {
                    alert('Error al registar el informe tecnico')
                }
            }
        }
        const template = document.getElementById('divsubmit');
        template.style.display = 'block';
        tippy('#submitbutton',
            {
                trigger: 'click',
                animateFill: 'false',
                interactive: true,
                theme: "tomato", //fondo blanco
                content: template,
            })
    </script>

    {% if turno.estudio_terminado %}
        <script>
            $('#label_urgencia').attr('style', 'pointer-events:none');
            $('#label_internado').attr('style', 'pointer-events:none');
            $('#label_anestesia').attr('style', 'pointer-events:none');
            $('#label_contrasteev').attr('style', 'pointer-events:none');
            $('#label_contrastevo').attr('style', 'pointer-events:none')
        </script>
    {% endif %}

    <script>
        $('#tabla_estudio tbody').on( 'click', 'button.quitarEstudio', function ()
        {
            tabla_estudiossolicitados
                .row( $(this).parents('tr') )
                .remove()
                .draw();
            controlNumeroProtocolo();
        });
    </script>

    <script>
        function controlNumeroProtocolo() {
            var protocoloCodInicial = document.getElementById('protocolo_1');
            var contadorProtocolo = parseInt(protocoloCodInicial.value.toString().slice(6));
            for (let i = 2; i < document.getElementById('tabla_estudio').rows.length; i++){
                contadorProtocolo +=1;
                try {
                    document.getElementById('tabla_estudio').rows[i].cells[1].lastChild.value =
                        protocoloCodInicial.value.toString().slice(0, 6) + contadorProtocolo.toString().padStart(4, "0");
                }
                catch (e) {
                    console.log(e)
                }
            }
        }
    </script>
    <script>
        function toastNormal(){
            let texto_boton_finalizar = ''
            {% if turno_en_partes %}
                texto_boton_finalizar = '(Falta completar más partes)'
            {% endif %}
            iziToast.question({
                timeout: 0,
                close: false,
                overlay: true,
                displayMode: 'once',
                id: 'question',
                zindex: 999,
                title: '¿FINALIZAR NORMALMENTE?',
                position: 'center',
                color: 'green',
                buttons: [
                    ['<button><b>SI <span class="text-red">' + texto_boton_finalizar + '</span></b></button>', function (instance, toast) {
                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                        submitform(1);
                    }],
                    {% if turno_en_partes %}

                        ['<button><b >SI <span class="text-blue">(No requiere más partes, Se cierra el estudio)</span></b></button>', function (instance, toast) {
                            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                            $("#turno_partes_finalizado").val(1)
                            submitform(1);
                        }],
                    {% endif %}
                    ['<button>NO</button>', function (instance, toast) {
                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                    }],
                ],
            });
        }

        function toastSuspPac(){
            iziToast.question({
                timeout: 0,
                close: false,
                overlay: true,
                displayMode: 'once',
                id: 'question',
                zindex: 999,
                title: '¿SUSPENDER ESTUDIO (paciente)?',
                position: 'center',
                color: 'yellow',
                buttons: [
                    ['<button><b>SI</b></button>', function (instance, toast) {
                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                        submitform(4);
                    }, true],
                    ['<button>NO</button>', function (instance, toast) {
                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                    }],
                ],
            });
        }

        function toastSuspComp(){
            iziToast.question({
                timeout: 0,
                close: false,
                overlay: true,
                displayMode: 'once',
                id: 'question',
                zindex: 999,
                title: '¿SUSPENDER ESTUDIO (a completar)?',
                position: 'center',
                color: 'yellow',
                buttons: [
                    ['<button><b>SI</b></button>', function (instance, toast) {
                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                        submitform(5);
                    }, true],
                    ['<button>NO</button>', function (instance, toast) {
                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                    }],
                ],
            });
        }

        function toastReprog(){
            iziToast.question({
                timeout: 0,
                close: false,
                overlay: true,
                displayMode: 'once',
                id: 'question',
                zindex: 999,
                title: '¿CANCELAR ESTUDIO (a reprogramar)?',
                position: 'center',
                color: 'red',
                buttons: [
                    ['<button><b>SI</b></button>', function (instance, toast) {
                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                        submitform(2);
                    }, true],
                    ['<button>NO</button>', function (instance, toast) {
                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                    }],
                ],
            });
        }

        function toastCancel(){
            let texto_boton_finalizar = ''
            {% if turno_en_partes %}
                texto_boton_finalizar = '(No se realiiza informe)'
            {% endif %}

            iziToast.question({
                timeout: 0,
                close: false,
                overlay: true,
                displayMode: 'once',
                id: 'question',
                zindex: 999,
                title: '¿CANCELAR ESTUDIO?',
                position: 'center',
                color: 'red',
                buttons: [
                    ['<button><b>SI <span class="text-blue">' + texto_boton_finalizar +'</span></b></button>', function (instance, toast) {
                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                        submitform(3);
                    }],
                    {% if turno_en_partes %}
                        ['<button><b>SI <span class="text-success">(Se realiza el informe sobre los estudios finalizados)</span></b></button>', function (instance, toast) {
                            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                            $("#turno_partes_finalizado").val(1)
                            submitform(3);
                        }],
                    {% endif %}
                    ['<button>NO</button>', function (instance, toast) {
                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                    }],
                ],
            });
        }
    </script>
    <script>
        $('#id_anestesia').on('ifUnchecked', function(){
            $('#tabla_anestesia').addClass('hidden');
            $('#select_anestesia').removeAttr('required')
        });
        $('#id_anestesia').on('ifChecked', function(){
            $('#tabla_anestesia').removeClass('hidden');
            $('#select_anestesia').attr('required', true)
        });

        if($('#id_anestesia').is(':checked'))
        {
            $('#tabla_anestesia').removeClass('hidden');
            $('#select_anestesia').attr('required', true)
        }
        {% if turno.anestesia and turno.anestesia_codigo %}
            $('#select_anestesia option[value="{{ turno.anestesia_codigo }}"]').attr("selected", "selected");
        {% endif %}
    </script>
    <script>
        function cerrar_estudio()
        {
            iziToast.question({
                close: false,
                timeout: 0,
                overlay: true,
                id: 'question',
                color: 'yellow',
                zindex: 999,
                title: '¿Desea cerrar el estudio y todas sus partes relacionadas? (Se realiza informe sobre los estudios finalizados hasta el momento )' ,
                position: 'center',
                buttons: [
                    ['<button><b>SI</b></button>', function (instance, toast)
                    {
                        $.ajax({
                            type: 'get',
                            url: "{% url 'tecnico:estudio_cerrar' %}",
                            data: {
                                'turnoid': '{{ turno.id }}',
                            },
                            success: function (data) {
                                instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                                if(!data['estudio_cerrado'])
                                {
                                    alert("Error: No se pudo completar la acción")
                                }else{
                                    alert("Expediente pasado a tipeo para su informe")
                                    $('#btn-cerrarestudio').addClass('hidden')
                                }
                            },
                            error: function () {
                                instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                                alert("Error Servidor: No se pudo completar la operación");
                            }
                        });
                    }],
                    ['<button>NO</button>', function (instance, toast) {
                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                    }],
                ],
            });
        }
    </script>

    <script>
        function informe_tec_corregido(turnoid) {
            {
                iziToast.question({
                    close: false,
                    timeout: 0,
                    overlay: true,
                    id: 'question',
                    color: 'yellow',
                    zindex: 999,
                    title: '¿Ya se solucionaron todos los inconvenientes marcados por el médico?' ,
                    position: 'center',
                    buttons: [
                        ['<button><b>SI, Marcar como resuelto</b></button>', function (instance, toast)
                        {
                            $.ajax({
                                type: 'get',
                                url: "{% url 'informe:informe_tec_corregido' %}",
                                data: {
                                    'turnoid': turnoid,
                                },
                                success: function (data) {
                                    instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                                    if(!data['success'])
                                    {
                                        alert("Error: No se pudo completar la operación")
                                    } else {
                                        window.location.reload();
                                    }
                                },
                                error: function () {
                                    instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                                    alert("Error Servidor: No se pudo completar la operación");
                                }
                            });
                        }],
                        ['<button>NO</button>', function (instance, toast) {
                            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                        }],
                    ],
                });
            }
        }

        function agregar_url_imagenes() {
            $('#div-carga-url').removeClass('hidden')
            $('#btn-agregar-url-imagenes').addClass('hidden')
        }
        function correccion_accessnumber() {
            $('#div-correcion-accessnumber').removeClass('hidden')
            $('#btn-correccion-accessnumber').addClass('hidden')
        }
    </script>
    {% if request.user.userprofile.user_jefe_tecnico %}
        <script>
            function ajustar_protocolo_numeracion()
            {
                const turno_id = '{{ turno.id }}'
                let ajuste_valor = ''
                iziToast.question({
                    timeout: 0,
                    drag: false,
                    close: true,
                    overlay: true,
                    color: 'blue',
                    zindex: 99999,
                    title: 'Ajustar la numeración para todos los protocolos del expediente actual por : ' ,
                    position: 'center',
                    inputs: [
                        ['<input type="number" placeholder="Valor positivo o negativo">', 'change', function (instance, toast, input, e) {
                            ajuste_valor = input.value;
                        }, true],
                    ],
                    buttons: [
                        ['<button><b>Confirmar</b></button>', function (instance, toast)
                        {
                            if (ajuste_valor !== '' && turno_id !== '')
                            {
                                $.ajax({
                                    headers:{'X-CSRFToken':'{{ csrf_token }}'},
                                    type: 'post',
                                    url: "{% url 'tecnico:protocolo_ajuste_numeracion' %}",
                                    data: {
                                        'turnoid': turno_id,
                                        'ajuste_valor': ajuste_valor,
                                    },
                                    success: function (data) {
                                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                                        if(!data['ajuste_realizado'])
                                        {
                                            alert("Error: No se pudo realizar la acción solicitada")
                                        } else {
                                            location.reload();
                                        }
                                    },
                                    error: function () {
                                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                                        alert("Error: No se pudo realizar la acción solicitada");
                                    }
                                });
                            }
                        }],
                    ],
                });
            }
        </script>

        <script>
            function ajuste_agregar_codigo()
            {
                const turno_id = '{{ turno.id }}'
                iziToast.question({
                    timeout: 0,
                    drag: false,
                    close: true,
                    overlay: true,
                    color: 'green',
                    zindex: 99999,
                    title: 'Agregar nuevo código' ,
                    position: 'center',
                    inputs: [
                        ['<select id="ajuste_select_agregar_codigo">'
                        {% for estudio in estudios %}
                            + '<option value="{{ estudio.id }}">{{ turno.servicio.protocolo_prefix }} {{ estudio.codigo|add:0|stringformat:"02d" }} - {{ estudio.nombre }}'
                        {% endfor %}
                        + '</select>'],
                    ],
                    buttons: [
                        ['<button><b>Confirmar</b></button>', function (instance, toast)
                        {
                            let codigo_estudio_id = $('#ajuste_select_agregar_codigo').val()
                            if (codigo_estudio_id !== '' && turno_id !== '')
                            {
                                $.ajax({
                                    headers:{'X-CSRFToken':'{{ csrf_token }}'},
                                    type: 'post',
                                    url: "{% url 'tecnico:protocolo_ajuste_agregar_codigo' %}",
                                    data: {
                                        'turnoid': turno_id,
                                        'codigo_estudio_id': codigo_estudio_id,
                                    },
                                    success: function (data) {
                                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                                        if(!data['ajuste_realizado'])
                                        {
                                            alert("Error: No se pudo realizar la acción solicitada")
                                        } else {
                                            location.reload();
                                        }
                                    },
                                    error: function () {
                                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                                        alert("Error: No se pudo realizar la acción solicitada");
                                    }
                                });
                            }
                        }],
                    ],
                });
            }

            function ajuste_remover_codigo()
            {
                const turno_id = '{{ turno.id }}'
                iziToast.question({
                    timeout: 0,
                    drag: false,
                    close: true,
                    overlay: true,
                    color: 'red',
                    zindex: 99999,
                    title: 'Remover Código' ,
                    position: 'center',
                    inputs: [
                        ['<select id="ajuste_select_remover_codigo">'
                        {% for estudio_sol in  turno.estudiosolicitado_set.all %}
                            + '<option value="{{ estudio_sol.servicio_estudio.id }}">{{ turno.servicio.protocolo_prefix }} {{ estudio_sol.servicio_estudio.codigo|add:0|stringformat:"02d" }} - {{ estudio_sol.servicio_estudio.nombre }}'
                        {% endfor %}
                        + '</select>'],
                    ],
                    buttons: [
                        ['<button><b>Confirmar</b></button>', function (instance, toast)
                        {
                            let codigo_estudio_id = $('#ajuste_select_remover_codigo').val()
                            if (codigo_estudio_id !== '' && turno_id !== '')
                            {
                                $.ajax({
                                    headers:{'X-CSRFToken':'{{ csrf_token }}'},
                                    type: 'post',
                                    url: "{% url 'tecnico:protocolo_ajuste_remover_codigo' %}",
                                    data: {
                                        'turnoid': turno_id,
                                        'codigo_estudio_id': codigo_estudio_id,
                                    },
                                    success: function (data) {
                                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                                        if(!data['ajuste_realizado'])
                                        {
                                            alert("Error: No se pudo realizar la acción solicitada")
                                        } else {
                                            location.reload();
                                        }
                                    },
                                    error: function () {
                                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                                        alert("Error: No se pudo realizar la acción solicitada");
                                    }
                                });
                            }
                        }],
                    ],
                });
            }

            function protocolo_cambiar_estado()
            {
                const turno_id = '{{ turno.id }}'
                iziToast.warning({
                    timeout: 0,
                    drag: false,
                    close: true,
                    overlay: true,
                    color: 'orange',
                    zindex: 99999,
                    title: 'Cambiar el Estado del estudio (Nº Orden ' + turno_id + ') a:' ,
                    position: 'center',
                    inputs: [
                        ['<select id="select-protocolo-estado">'
                        + '<option value="1">Finalizado</option>'
                        + '<option value="2">Suspendido Paciente</option>'
                        + '<option value="3">Suspendido Completar</option>'
                        + '<option value="4">Cancelado Reprograma</option>'
                        + '<option value="5">Cancelado</option>'
                        + '</select>'],
                    ],
                    buttons: [
                        ['<button><b>Confirmar</b></button>', function (instance, toast)
                        {
                            const estado = $('#select-protocolo-estado').val()
                            if (estado !== '' && turno_id !== '')
                            {
                                $.ajax({
                                    headers:{'X-CSRFToken':'{{ csrf_token }}'},
                                    type: 'post',
                                    url: "{% url 'tecnico:protocolo_cambiar_estado' %}",
                                    data: {
                                        'turnoId': turno_id,
                                        'estado': estado,
                                    },
                                    success: function (data) {
                                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                                        if(!data['estado_cambiado'])
                                        {
                                            alert(data['message']);
                                        } else {
                                            location.reload();
                                        }
                                    },
                                    error: function () {
                                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                                        alert("Error al conectarse con el servidor");
                                    }
                                });
                            }
                        }],
                    ],
                });
            }
        </script>
    {% endif %}
{% endblock %}
