{% extends 'base.html' %}
{% load static %}
{% block css_app %}
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/DataTables-1.10.20/css/dataTables.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/Buttons-1.6.1/css/buttons.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/Responsive-2.2.3/css/responsive.foundation.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/Select-1.3.1/css/select.bootstrap.min.css' %}">
{% endblock %}
{% block content %}

<div id='panel-table' class="col-md-12 col-sm-12 col-xs-12  panel" style="opacity: 0">
    <br>
    <div class="box" style="overflow-x:auto;">
        <table style="width: 100%" id="tabla-protocolo" class="table table-striped table-bordered table-hover table-condensed table-responsive" >
            <thead>
                <h3>Corrección de estudios</h3>
                    <style> h3 {text-align: center;}</style>
                    <style> h3 {
                        color: #31708f;;
                    }</style>
                <tr>
                    <th class="text-center all" style="vertical-align: middle">Corregido</th>
                    <th class="text-center all" style="vertical-align: middle">Fecha - Hora</th>
                    <th class="text-center all" style="vertical-align: middle">Nº ID</th>
                    <th class="text-center all" style="vertical-align: middle">(Sexo) Apellidos, Nombres</th>
                    <th class="text-center all" style="vertical-align: middle">Estudios Sol.</th>
                    <th class="text-center all" style="vertical-align: middle">Insumos</th>
                    <th class="text-center all" style="vertical-align: middle">Observaciones</th>
                    <th class="text-center all" style="vertical-align: middle">Modificar</th>
                </tr>
            </thead>
            <tbody>
            {% if object_list %}
            {% for turno in object_list %}
            <tr>
                <td class="text-center">
                    <span class="input-group-btn">
                        <a id="buttonCheck_{{turno.pk}}" type="button" class="btn-sm btn-warning" onclick="toastCorregido('{{turno.pk}}')">
                            <i id="iconoCheck_{{turno.pk}}" class="fa fa-edit"></i>
                        </a>
                    </span>
                </td>
                <td class="text-center">
                    {{turno.fechahora_inicio|date:"d/m/y"}} <strong>- {{ turno.fechahora_inicio|date:'H:i' }}</strong>
                </td>
                <td class="text-center">{{ turno.paciente.identificacion_numero }}</td>
                <td class="text-center">({% if turno.paciente.sexo == 'Masculino' %}
                    <span class="text-blue">M</span>{% elif turno.paciente.sexo == 'Femenino' %}
                    <span style="color:#951932">F</span>
                {% else %}{{turno.paciente.sexo}}{% endif %}) {% if turno.paciente.paciente_nn %}{{ turno.paciente.paciente_nnlabel }} {% else %}{{turno.paciente.apellido}}, {{turno.paciente.nombre}}{% endif %}
                </td>
                <td class="text-center">{{ turno.estudios_solaux }}</td>
                <td class="text-center">
                    {% for insumo in turno.turnoinsumo_set.all %}
                      <strong>{{ insumo.insumo.nombre }}: {{ insumo.cantidad_usada }} <br></strong>
                    {% endfor %}
                </td>
                <td class="text-center">{{turno.estudio_corregir_texto}}</td>
                <td class="text-center">
                    <a class="btn-sm bg-gray-light"
                       title="Ver informe técnico del paciente"
                       onclick="iniciarprotocolo('{% url 'tecnico:protocolo_alta' turno.id  %}?tipo=2&corregido=1', false)">
                        <i class="far fa-file-alt" style="font-size: medium"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block js_app %}
<script src="{% static 'plugins/datatables-actualizado/DataTables-1.10.20/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-actualizado/DataTables-1.10.20/js/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/datatables-actualizado/Buttons-1.6.1/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/datatables-actualizado/Buttons-1.6.1/js/buttons.bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/datatables-actualizado/Responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-actualizado/Responsive-2.2.3/js/responsive.bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/datatables-actualizado/Buttons-1.6.1/js/buttons.colVis.min.js' %}"></script>
<script src="{% static 'plugins/datatables-actualizado/Select-1.3.1/js/dataTables.select.min.js' %}"></script>
<script>
    window.onload = function () { document.getElementById("panel-table").style["opacity"] = "1";}
</script>
<script>
function toastCorregido(turnoId) {
    iziToast.question({
                timeout: 20000,
                close: false,
                overlay: true,
                displayMode: 'once',
                id: 'question',
                zindex: 999,
                title: '¿Desea marcar el estudio como corregido?',
                position: 'center',
                color: 'green',
                buttons: [
                    ['<button><b>SI</b></button>', function (instance, toast) {
                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                        marcarCorregido(turnoId);
                        let icono = document.getElementById('iconoCheck_'+turnoId.toString());
                        icono.classList.remove("fa-edit");
                        icono.classList.add("fa-check");

                        let button = document.getElementById('buttonCheck_'+turnoId.toString());
                        button.classList.remove("btn-warning");
                        button.classList.add("btn-success");

                    }, true],
                    ['<button>NO</button>', function (instance, toast) {
                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                    }],
                ],
            });
}
</script>
<script>
    function marcarCorregido(turnoId){
        $.ajax({
            type: 'get',
            url: "{% url 'tecnico:est_marcar_corregido' %}",
            data: {
                'turno_id': turnoId,
            },
            success: function (data) {
                alert("Estudio corregido");
            }, // fin success
            error: function (data) {
                alert("Error en la validacion");
            }
        });
    }
</script>
<script>
    function iniciarprotocolo(urlredirect, iniciar)
    {
        if (iniciar){
            iziToast.question({
                timeout: 20000,
                close: false,
                overlay: true,
                displayMode: 'once',
                id: 'question',
                zindex: 999,
                title: '¿Corregir el Estudio?',
                position: 'center',
                color: 'blue',
                buttons: [
                    ['<button><b>SI</b></button>', function (instance, toast) {
                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                        window.location.href = urlredirect
                    }, true],
                    ['<button>NO</button>', function (instance, toast) {
                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                    }],
                ],
            });
        }
        else{
            window.location.href = urlredirect
        }
    }
</script>

<script>
!function($) {
    "use strict";
    var DataTable = function() {
        this.$dataTableButtons = $("#tabla-protocolo")
    };
    DataTable.prototype.createDataTableButtons = function() {
        0 !== this.$dataTableButtons.length && this.$dataTableButtons.DataTable({
            responsive: {
                    details: {
                    type: 'inline',
                    target: 1
                    }
                },
            columnDefs: [
                { className: 'text-center', targets: "_all"},
                {"width": "5%", "targets": 0},
                {"width": "10%", "targets": 1},
                {"width": "10%", "targets": 2},
                {"width": "20%", "targets": 3},
                {"width": "10%", "targets": 4},
                {"width": "10%", "targets": 5},
                {"width": "30%", "targets": 6},
                {"width": "5%", "targets": 7},
            ],
            dom:    "",
            paging: false,
            language: {
                    "sEmptyTable":     "---",
                    select: {
                        rows: ""
                    },
                  },
            select: true
        });
    },
    DataTable.prototype.init = function() {
        this.createDataTableButtons();
    },
    $.DataTable = new DataTable, $.DataTable.Constructor = DataTable
}(window.jQuery),

function ($) {
    "use strict";
    $.DataTable.init();
}(window.jQuery);
</script>

{% endblock %}
