{% extends "base.html" %}
{% load static %}
{% block css_app %}
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/DataTables-1.10.20/css/dataTables.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/Buttons-1.6.1/css/buttons.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/Responsive-2.2.3/css/responsive.foundation.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-actualizado/Select-1.3.1/css/select.bootstrap.min.css' %}">
    <link href="{% static 'bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <div class="box">
        <div class="box-header">
            <button class="btn btn-primary dropdown-toggle " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><strong>{{ servicio.nombre }}</strong> - Protocolos mes actual: {{ servicio.protocolo_count }} </button>
            {% if request.user.userprofile.user_jefe_tecnico %}
                <a class="btn btn-default " onclick="ajustar_protocolo_numeracion()"><i class="fas fa-list-ol text-blue"></i></i> <strong class="text-blue">Corregir Numeración Servicio</strong></a>
            {% endif %}
            <a class="btn btn-default  text-green pull-right"  style="margin-left: 6px"  onClick="window.location.reload()"><i class="fas fa-sync"></i> Actualizar</a>
            <a class="btn btn-default text-navy" style="margin-left: 6px" onclick="open_datepicker()"><strong >{{fecha_filtro|date:"SHORT_DATE_FORMAT"}}</strong> <i class="fas fa-calendar-day"></i> <input style="opacity: 0;height: 0;width: 0;" class="" id="datepicker_input"><strong></strong></a>
        </div>
        <div class="box-body">
            <div class="text-center">
                <table id="tabla-protocolo" class="table table-bordered table-striped table-small-font table-condensed" >
                    <thead>
                    <tr>
                        <th class="text-center">Fecha - Hora</th>
                        <th class="text-center">Nº Identif.</th>
                        <th class="text-center">(Sexo) Apellido, Nombre</th>
                        <th class="text-center">Estudios Sol.</th>
                        <th class="text-center">AN</th>
                        <th class="text-center">CO</th>
                        <th class="text-center">CE</th>
                        <th class="text-center">Int.</th>
                        <th class="text-center">Urg.</th>
                        <th class="text-center">Estado</th>
                        <th class="text-center">Acción</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for turno in turnos %}
                        <tr class="turnoid{{ turno.id }}"
                        {% if turno.estudio_finalizado %}
                            style="background-color: rgba(92,167,59,0.36)"
                        {% elif turno.estudio_reprograma or turno.estudio_cancelado%}
                            style="background-color: rgba(230, 176, 170, 1)"
                        {% elif turno.estudio_suspendido_completar or turno.estudio_suspendido_paciente %}
                            style="background-color: rgba(246, 221, 204, 1)"
                        {% endif %} >
                            <td >
                                {{turno.fechahora_inicio|date:"d/m/y"}} <strong>- {{ turno.fechahora_inicio|date:'H:i' }}</strong>
                            </td>
                            <td class="text-center">{{ turno.paciente.identificacion_numero }}</td>
                            <td class="text-center">({% if turno.paciente.sexo == 'Masculino' %}
                                <span class="text-blue">M</span>{% elif turno.paciente.sexo == 'Femenino' %}
                                <span style="color:#951932">F</span>{% else %}{{turno.paciente.sexo}}{% endif %}) {% if turno.paciente.paciente_nn %}{{ turno.paciente.paciente_nnlabel }} {% else %}{{turno.paciente.apellido}}, {{turno.paciente.nombre}}{% endif %}</td>
                            <td class="text-center">{{ turno.estudios_solaux }}</td>
                            {% if turno.anestesia %}
                                <td ><strong><i class="fas fa-check"></i></strong></td>
                            {% else %}
                                <td >-</td>
                            {% endif %}
                            {% if turno.contrastevo or turno.tomaagua%}
                                <td ><strong><i class="fas fa-check"></i></strong></td>
                            {% else %}
                                <td >-</td>
                            {% endif %}
                            {% if turno.contrasteev %}
                                <td ><strong><i class="fas fa-check"></i></strong></td>
                            {% else %}
                                <td >-</td>
                            {% endif %}
                            {% if turno.internado %}
                                <td ><strong><i class="fas fa-check"></i></strong></td>
                            {% else %}
                                <td  >-</td>
                            {% endif %}
                            {% if turno.urgencia %}
                                {% if turno.paciente_arm %}
                                    <td ><span class="label label-danger">ARM</span></td>
                                {% else %}
                                    <td ><strong><i class="fas fa-check"></i></strong></td>
                                {% endif %}
                            {% else %}
                                <td >-</td>
                            {% endif %}
                            <td >
                                {% if turno.estudio_cancelado %}
                                    <span class="label label-danger">Cancelado</span>
                                {% elif turno.estudio_reprograma %}
                                    <span class="label label-danger">Re-programa</span>
                                {% elif turno.estudio_finalizado %}
                                    <span class="label label-success">Finalizado</span>
                                {% elif turno.estudio_suspendido_completar %}
                                    <span class="label label-warning">Suspendido</span>
                                {% elif turno.estudio_suspendido_paciente %}
                                    <span class="label label-warning">Suspendido</span>
                                {% elif turno.presente%}
                                    <span class="label label-info">Presente</span>
                                {% else %}
                                    <span class="label label-default">No realizado</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if request.user.userprofile.user_listado_tecnico_avanzado or request.user.userprofile.perfil == 'Tipeo' %}
                                     PACIENTE DB-ID: <strong>{{ turno.paciente.id }}</strong>
                                {% else %}
                                    {% if turno.estudio_terminado or turno.estudio_reprograma or turno.estudio_cancelado or turno.estudio_suspendido_completar or turno.estudio_suspendido_paciente %}
                                        <a class="btn-sm bg-gray-light"
                                           title="Ver informe técnico del paciente"
                                           onclick="iniciarprotocolo('{% url 'tecnico:protocolo_alta' turno.id  %}?tipo=2', false)">
                                            <i class="far fa-file-alt" style="font-size: medium"></i> <strong>Nº{{ turno.id }}</strong>
                                        </a>
                                        <a class="btn-sm bg-gray-light"
                                           title="Imprimir informe técnico del paciente "
                                           href="{% url 'tecnico:imprimir_ficha' %}?turnoid={{ turno.id }}" target=_blank><i class="fa fa-print" style="font-size: medium"></i>
                                        </a>
                                    {% else %}
                                        <a class="btn-sm btn-primary"
                                           title="Registrar ficha técnica del paciente"
                                           onclick="iniciarprotocolo('{% url 'tecnico:protocolo_alta' turno.id %}?tipo=1', true)"><i class="far fa-address-card" style="font-size: medium"></i>
                                        </a>
                                    {% endif %}
                                    {% if turno.informe_finalizado %}
                                        <a onclick="abririnforme('{{ turno.id }}')"
                                           class="btn-sm btn-primary" ><i class="far fa-file-pdf"></i>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="popup" class="modal fade" role="dialog"></div>
{% endblock %}

{% block js_app %}
    <script src="{% static 'plugins/datatables-actualizado/DataTables-1.10.20/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/DataTables-1.10.20/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/Responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/Responsive-2.2.3/js/responsive.bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-actualizado/Select-1.3.1/js/dataTables.select.min.js' %}"></script>
    <script src="{% static 'bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.es.js' %}"></script>
    <script src="{% static 'plugins/reconnect-websocket/reconnecting-websocket.min.js' %}"></script>
    <script>
    function  abririnforme(turnoid)
    {
       window.open("{% url 'informe:inf_informegenerar' %}?turnoid=" + turnoid + "&openpdf=1", "_blank", "resizable=yes,top=100,left=100,width=850,height=800");
    }
    </script>

    <script>
        let table_protocolos = $('#tabla-protocolo').DataTable({
            select: 'single',
            "pageLength": 1000,
            dom: '',
            columnDefs: [
                { className: "text-center", targets: "_all" },
            ],

        });
        let roomName = 'turnobrightspeed';
        let ws_scheme = window.location.protocol === "https:" ? "wss" : "ws";
        let chatSocket = new ReconnectingWebSocket( ws_scheme + '://' + window.location.host + '/ws/turno/' + roomName + '/');
        chatSocket.onmessage = function(e)
        {
            let data = JSON.parse(e.data);
            let t_servicio = data['message_servicio'];
            let t_suspendido = data['turno_suspendido'];

            let date_turno = new Date(data['turno_fechaini'])
            let date_start = moment().set({hour:6,minute:0,second:0,millisecond:0})
            let date_end = date_start.clone()
            date_end.add(1, 'days')
            let turno_add = moment(date_turno).isBetween(date_start, date_end);
            if ((t_servicio === '{{ servicio.codigo }}' || t_servicio === {{ servicio.codigo }}) && turno_add )
            {
                let message = data['message']; //turnoid o fecha
                let message_type = data['message_type'];
                let t_resofix = data['turno_resofix'];
                let t_id = data['turno_id'];
                let t_fechaini = data['turno_fechaini'];
                let t_fechaini2 = data['turno_fechaini2'];
                let t_pres = data['turno_presente'];
                let t_estudio_terminado = data['turno_estudio_terminado'];
                let t_anes = data['turno_anestesia'];
                let t_cev = data['turno_cev'];
                let t_cvo = data['turno_cvo'];
                let t_agua = data['turno_agua'];
                let t_urg = data['turno_urgencia'];
                let t_int = data['turno_internado'];
                let t_pacnom = data['turno_nombre'];
                let t_pacape = data['turno_apellido'];
                let t_pacdoc = data['turno_documento'];
                let t_pacientearm = data['turno_pacientearm'];
                let t_sexo = data['turno_sexo'];
                let t_codigocompletos = data['turno_codigoscompleto'];

                if (t_suspendido){
                    let class_delete = '.turnoid' + message;
                    table_protocolos.row(class_delete).remove().draw( false );
                }
                if (message_type === 'eliminar' && !t_suspendido)
                {
                    let class_delete = '.turnoid' + message;
                    table_protocolos.row(class_delete).remove().draw( false );
                }
                else if (message_type === 'eliminarycrear' && !t_suspendido )
                {
                    let m_fechaini = moment(t_fechaini, 'YYYY-MM-DDTHH:mm');
                    let string_fechaini = m_fechaini.format('DD/MM/YY') + ' - <strong>' + m_fechaini.format('HH:mm') + '</strong>';
                    let labelsexo = '';
                    if (t_sexo === 'Masculino')
                    {
                        labelsexo = '(<span class="text-blue">M</span>) '
                    }
                    else if (t_sexo === 'Femenino')
                    {
                        labelsexo = '(<span style="color:#951932">F</span>) '
                    }
                    let paciente_nombrecompleto = t_pacape + ', ' + t_pacnom;
                    paciente_nombrecompleto = labelsexo + paciente_nombrecompleto.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
                    let anestesia = '-';
                    if (t_anes)
                    {
                        anestesia = '<strong><i class="fas fa-check"></i></strong>'
                    }
                    let urgencia = '-';
                    if (t_urg)
                    {
                        if (t_pacientearm)
                        {
                            urgencia = '<span class="label label-danger">ARM</span>'
                        }
                        else
                        {
                            urgencia = '<strong><i class="fas fa-check"></i></strong>'
                        }
                    }
                    let internado = '-';
                    if (t_int)
                    {
                        internado = '<strong><i class="fas fa-check"></i></strong>'
                    }
                    let contrasteev = '-';
                    if (t_cev)
                    {
                        contrasteev = '<strong><i class="fas fa-check"></i></strong>'
                    }
                    let contrastevo = '-';
                    if (t_cvo || t_agua)
                    {
                        contrastevo = '<strong><i class="fas fa-check"></i></strong>'
                    }
                    let estado = '<span class="label label-default">No realizado</span>'
                    if (t_pres)
                    {
                        estado = '<span class="label label-info">Presente</span>'
                    }
                    let url = '/tecnico/protocoloalta/' + t_id +'/?tipo=1';
                    let iniciar_estudio_btn = '<a class="btn-sm btn-primary" title="Registrar ficha técnica del paciente" onclick="iniciarprotocolo(\'' + url + '\', true)"><i class="far fa-address-card" style="font-size: medium"></i></a>';
                    let newrow = table_protocolos.row.add([
                        string_fechaini,
                        t_pacdoc,
                        paciente_nombrecompleto,
                        t_codigocompletos,
                        anestesia,
                        contrastevo,
                        contrasteev,
                        internado,
                        urgencia,
                        estado,
                        iniciar_estudio_btn,
                    ]).draw().node();
                    let turnoid = 'turnoid' + t_id;
                    $( newrow ).addClass(turnoid)
                }

                else if ((message_type === 'eliminaryactualizar' || message_type === 'mover') && !t_suspendido)
                {
                    let class_delete = '.turnoid' + message;
                    table_protocolos.row(class_delete).remove().draw( false );
                    let m_fechaini = moment(t_fechaini, 'YYYY-MM-DDTHH:mm');
                    let string_fechaini = m_fechaini.format('DD/MM/YY') + ' - <strong>' + m_fechaini.format('HH:mm') + '</strong>';
                    let labelsexo = '';
                    if (t_sexo === 'Masculino')
                    {
                        labelsexo = '(<span class="text-blue">M</span>) '
                    }
                    else if (t_sexo === 'Femenino')
                    {
                        labelsexo = '(<span style="color:#951932">F</span>) '
                    }
                    let paciente_nombrecompleto = t_pacape + ', ' + t_pacnom;
                    paciente_nombrecompleto = labelsexo + paciente_nombrecompleto.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
                    let anestesia = '-';
                    if (t_anes)
                    {
                        anestesia = '<strong><i class="fas fa-check"></i></strong>'
                    }
                    let urgencia = '-';
                    if (t_urg)
                    {
                        if (t_pacientearm)
                        {
                            urgencia = '<span class="label label-danger">ARM</span>'
                        }
                        else
                        {
                            urgencia = '<strong><i class="fas fa-check"></i></strong>'
                        }
                    }
                    let internado = '-';
                    if (t_int)
                    {
                        internado = '<strong><i class="fas fa-check"></i></strong>'
                    }
                    let contrasteev = '-';
                    if (t_cev)
                    {
                        contrasteev = '<strong><i class="fas fa-check"></i></strong>'
                    }
                    let contrastevo = '-';
                    if (t_cvo || t_agua)
                    {
                        contrastevo = '<strong><i class="fas fa-check"></i></strong>'
                    }
                    let estado = '<span class="label label-default">No realizado</span>'
                    if (t_pres)
                    {
                        estado = '<span class="label label-info">Presente</span>'
                    }
                    let url = '/tecnico/protocoloalta/' + t_id +'/?tipo=1';
                    let iniciar_estudio_btn = '<a class="btn-sm btn-primary" title="Registrar ficha técnica del paciente" onclick="iniciarprotocolo(\'' + url + '\', true)"><i class="far fa-address-card" style="font-size: medium"></i></a>';
                    let newrow = table_protocolos.row.add([
                        string_fechaini,
                        t_pacdoc,
                        paciente_nombrecompleto,
                        t_codigocompletos,
                        anestesia,
                        contrastevo,
                        contrasteev,
                        internado,
                        urgencia,
                        estado,
                        iniciar_estudio_btn,
                    ]).draw().node();
                    let turnoid = 'turnoid' + t_id;
                    $( newrow ).addClass(turnoid)
                }
            }
        };
    </script>
    <script type="text/javascript">
        function abrir_modal(url)
        {
            $('#popup').load(url, function()
            {
                $(this).modal('show');
            });
            return false;
        }
        function cerrar_modal()
        {
            $('#popup').modal('hide');
            return false;
        }
    </script>
    <script>
        function iniciarprotocolo(urlredirect, iniciar)
        {
            if (iniciar){
                iziToast.question({
                    timeout: 20000,
                    close: false,
                    overlay: true,
                    displayMode: 'once',
                    id: 'question',
                    zindex: 999,
                    title: '¿Iniciar el Estudio?',
                    position: 'center',
                    color: 'blue',
                    buttons: [
                        ['<button><b>SI</b></button>', function (instance, toast) {
                            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                            window.location.href = urlredirect
                        }, true],
                        ['<button>NO</button>', function (instance, toast) {
                            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                        }],
                    ],
                });
            }
            else{
                window.location.href = urlredirect
            }
        }
    </script>
    <script>
        $('#datepicker_input').datepicker({
            autoclose: true,
            todayHighlight: true,
            language: 'es',
           todayBtn: "linked",
        });
        function open_datepicker() {
            $('#datepicker_input').datepicker("show");
        }
        $('#datepicker_input').datepicker().on('changeDate', function (e) {
            let base_url = "{% url 'tecnico:listado_estudiossolicitados' servicio.codigo %}";
            let date = $('#datepicker_input').val();
            window.location.href = base_url + "?date=" + date.replace(/[/]/g, '-') + "&vista=consulta";
            $(this).val("").datepicker("update");
        });
    </script>

    <script>
        {% if request.GET.error == 'estudiofinalizado' %}
            iziToast.show({
                timeout: 0,
                close: true,
                overlay: true,
                displayMode: 'once',
                id: 'error',
                zindex: 999,
                title:  'Error al finalizar, El estudio ya se encuentra registrado.',
                position: 'center',
                color: 'red',
            });

        {% elif request.GET.error == 'estudiovencidoeditar' %}
            iziToast.show({
                timeout: 0,
                close: true,
                overlay: true,
                displayMode: 'once',
                id: 'error',
                zindex: 999,
                title:  'No se pueden modificar estudios con fecha mayor a 7 días.',
                position: 'center',
                color: 'red',
            });
        {% endif %}
    </script>

    {% if request.user.userprofile.user_jefe_tecnico %}
    <script>
        function ajustar_protocolo_numeracion()
        {
            const servicio_id = '{{ servicio.id }}'
            let ajuste_valor = ''

            iziToast.question({
                timeout: 0,
                drag: false,
                close: true,
                overlay: true,
                color: 'blue',
                zindex: 99999,
                title: 'Cuenta actual de protocolo para el servicio {{ servicio.nombre }}: ' ,
                position: 'center',
                inputs: [
                    ['<input type="number" placeholder="Valor positivo o cero">', 'change', function (instance, toast, input, e) {
                    ajuste_valor = input.value;
                    }, true],
                ],
                buttons: [
                    ['<button><b>Confirmar</b></button>', function (instance, toast)
                    {
                        if (ajuste_valor !== '' && servicio_id !== '')
                        {
                            $.ajax({
                                headers:{'X-CSRFToken':'{{ csrf_token }}'},
                                type: 'post',
                                url: "{% url 'tecnico:protocolo_ajuste_numeracion_servicio' %}",
                                data: {
                                    'servicio_id': servicio_id,
                                    'ajuste_valor': ajuste_valor,
                                },
                                success: function (data) {
                                    instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                                    if(!data['ajuste_realizado'])
                                    {
                                        alert("Error: No se pudo realizar la acción solicitada")
                                    } else {
                                        location.reload();
                                    }
                                },
                                error: function () {
                                    instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                                    alert("Error: No se pudo realizar la acción solicitada");
                                }
                            });
                        }
                    }],
                ],

            });
        }
    </script>
    {% endif %}
{% endblock %}
